Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-18178 add test cases
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  features/telemetry/connectors/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/ConnectorStarterIT.java
  features/telemetry/protocols/openconfig/itests/src/test/resources/META-INF/opennms/applicationContext-openconfig-components.xml
Due: trigger-coverage, trigger-build

NMS-18531: Add doc update
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Due: trigger-coverage, trigger-docs

NMS-18295 : Disable loading of events from filesystem. (#7991)
  features/bsm/daemon/src/test/java/org/opennms/netmgt/bsm/daemon/BsmdIT.java
  features/discovery/src/test/java/org/opennms/netmgt/discovery/NewSuspectLocationTest.java
  features/events/collector/src/test/java/org/opennms/netmgt/collection/EventMetricsCollectorIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/JoeSnmpTrapHandlerIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/Snmp4JTrapHandlerIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdIT.java
  features/vaadin-snmp-events-and-metrics/src/test/java/org/opennms/features/vaadin/events/EventFormTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/main/java/org/opennms/netmgt/config/EventConfUtil.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfDaoReloadTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfDataTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfMatcherTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfPriorityTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventconfFactoryIT.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventconfFactorySaveTest.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/OpenNMSITCase.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/BroadcastEventProcessorIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  smoke-test/src/test/java/org/opennms/smoketest/IntegrationAPIIT.java
Due: trigger-coverage, trigger-build

new fixes
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigEventEditDrawer.vue
  ui/src/components/EventConfigurationDetail/eventXmlValidator.ts
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

test cases for event config detail store
  ui/tests/components/EventConfiguration/eventConfigDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18178 fix integration test issue
  features/telemetry/protocols/openconfig/itests/src/test/resources/META-INF/opennms/applicationContext-openconfig-components.xml
Due: trigger-coverage, trigger-build

implement changes
  ui/src/containers/EventConfigurationDetail.vue
  ui/tests/components/EventConfiguration/eventConfigurationDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18552 : Resolve conflicts and added test cases.
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18531: Support Environment variables in metadata (#8018)
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/ConnectionPool.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/main/resources/xsds/opennms-datasources.xsd
  core/ipc/rpc/mock-impl/src/main/java/org/opennms/core/rpc/mock/MockEntityScopeProvider.java
  core/mate/api/src/main/java/org/opennms/core/mate/api/EntityScopeProvider.java
  core/mate/api/src/main/java/org/opennms/core/mate/api/EnvironmentScope.java
  core/mate/api/src/test/java/org/opennms/core/mate/api/EnvironmentScopeTest.java
  core/mate/model/src/main/java/org/opennms/core/mate/model/EntityScopeProviderImpl.java
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  smoke-test/src/main/resources/opennms-overlay/etc/opennms-datasources.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-18964: Add to release notes
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-18178 queue config mismatch changes
  features/telemetry/config/jaxb/src/main/java/org/opennms/netmgt/telemetry/config/model/ConnectorTwinConfig.java
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisherImpl.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherTest.java
Due: trigger-coverage, trigger-build

NMS-18537: Fix ipaddress issue when checking IP ranges in Discovery
  core/web-assets/package-lock.json
  core/web-assets/src/main/assets/js/vendor/ipaddress-js.js
  core/web-assets/src/test/javascript/ipaddress.test.js
Due: trigger-coverage, trigger-build

Dont try to add empty labels
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-build

revert some changes caused by bad merge changes
  core/lib/src/main/java/org/opennms/core/utils/EmptyKeyRelaxedTrustProvider.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms7467NetworkBuilder.java
Due: trigger-coverage, trigger-build

implement deletion of deleteEventConfigEventBySourceId and service
  ui/src/components/EventConfigurationDetail/Dialog/DeleteEventConfigEventDialog.vue
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18537: Fix ipaddress issue when checking IP ranges in Discovery (#8023)
  core/web-assets/package-lock.json
  core/web-assets/src/main/assets/js/vendor/ipaddress-js.js
  core/web-assets/src/test/javascript/ipaddress.test.js
Due: trigger-coverage, trigger-build

implement FE: Delete a specifc event by source and event ID
  ui/src/components/EventConfigurationDetail/Dialog/DeleteEventConfigEventDialog.vue
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

Fix an error as result of merge issue
  opennms-rrd/opennms-rrd-model/src/test/resources/jrb-dump.xml
  opennms-rrd/opennms-rrd-model/src/test/resources/rrd-dump.xml
Due: trigger-coverage, trigger-build

fix changes
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18552 : Handle PR review changes.
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
Due: trigger-coverage, trigger-build

testcase for eventconfiguration dialogue
  ui/tests/components/EventConfiguration/ChangeEventConfigSourceStatusDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18534: Update structured node list documentation (#8012)
  docs/modules/operation/images/structured-node-list/category-filter-match-all.png
  docs/modules/operation/images/structured-node-list/node-action-menu.png
  docs/modules/operation/images/structured-node-list/node-advanced-filters-panel.png
  docs/modules/operation/images/structured-node-list/node-customize-columns-button.png
  docs/modules/operation/images/structured-node-list/node-download-menu.png
  docs/modules/operation/images/structured-node-list/node-edit-button.png
  docs/modules/operation/images/structured-node-list/node-extended-search.png
  docs/modules/operation/images/structured-node-list/node-filter-button.png
  docs/modules/operation/images/structured-node-list/node-header-with-next.png
  docs/modules/operation/images/structured-node-list/node-header-with-prev.png
  docs/modules/operation/images/structured-node-list/node-list-search-filter.png
  docs/modules/operation/images/structured-node-list/node-preferences-button.png
  docs/modules/operation/images/structured-node-list/node-preferences.png
  docs/modules/operation/images/structured-node-list/node-structure-overview.png
  docs/modules/operation/pages/deep-dive/structured-node-list/introduction.adoc
Due: trigger-coverage, trigger-docs

NMS-18964: Simplify opennms datasources xml by removing defaults (#8020)
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/ConnectionPool.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/main/resources/xsds/opennms-datasources.xsd
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/newts-repository-converter/src/test/resources/opennms-home/etc/opennms-datasources.xml.template
  opennms-base-assembly/src/main/filtered/etc/opennms-datasources.xml
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tmpl
  opennms-install/src/test/resources/etc/opennms-datasources.xml
Due: trigger-coverage, trigger-build, trigger-docs

test cases for DeleteEventConfigSourceDialog
  ui/tests/components/EventConfiguration/DeleteEventConfigSourceDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18236: Fixed reviews
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
Due: trigger-coverage, trigger-build

Update features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-build

NMS-18532 review change and add test case
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigClientIT.java
Due: trigger-coverage, trigger-build

NMS-18976: Don't create empty Prometheus label when there are no categories (#8028)
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-build

NMS-18178-latest-queue-mismatch formate changes
  container/features/src/main/resources/features.xml
  features/telemetry/config/jaxb/src/main/java/org/opennms/netmgt/telemetry/config/model/ConnectorTwinConfig.java
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisherImpl.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherTest.java
Due: trigger-coverage, trigger-build

EventConfigFilesUploadReportDialog test cases
  ui/tests/components/EventConfiguration/eventConfigFilesUploadReportDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

enable trivy-scan
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-build

add trivy-test
  .circleci/main/commands/oci/scan-image-trivy.yml
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

enable experimental path
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-build

rename the job
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

undo a change
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

oops
  .circleci/main/jobs/oci/oci.index
  .circleci/main/jobs/oci/trivy-test-individual.yml
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
