Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Update whatsnew (#7863)
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Add detectors to the minions requisition at creation time
  features/minion/heartbeat/consumer/src/main/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumer.java
Due: trigger-coverage, trigger-build

Remove Minion requisition
  opennms-base-assembly/src/main/filtered/etc/foreign-sources/Minions.xml
Due: trigger-coverage, trigger-build

Removing the test for the minions.xml file.
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
Due: trigger-coverage, trigger-build

NMS-18178 minor change
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorTwinConfig.java
Due: trigger-coverage, trigger-build

Added two entries to whatsnew.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update docs
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update deprecation header
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

update ova related doc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Empty list instead of empty table
  ui/src/components/Common/EmptyList.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/styles/vars.scss
Due: trigger-coverage, trigger-build, trigger-ui

lint fix
  ui/src/styles/vars.scss
Due: trigger-coverage, trigger-build, trigger-ui

update whatsnew (from Scott)
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

remove reference to opennms.properties
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

update doc for consistency
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

initial scafolding for event conf
  ui/src/components/EventConfiguration/EventConfigurationTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/main/router/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18085: Update BeanUtils to remove DefaultLocatorFactory (#7799) (#7862)
  core/spring-web/pom.xml
  core/spring-web/src/main/java/org/opennms/core/spring/web/ContextLoaderListener.java
  core/spring/pom.xml
  core/spring/src/main/java/org/opennms/core/spring/BeanFactoryReference.java
  core/spring/src/main/java/org/opennms/core/spring/BeanUtils.java
  core/spring/src/main/java/org/opennms/core/spring/ContextRegistry.java
  core/spring/src/test/java/org/opennms/core/spring/BeanRefContextTest.java
  core/spring/src/test/java/org/opennms/core/spring/ContextRegistryTest.java
  core/spring/src/test/resources/META-INF/opennms/applicationContext-alarmd.xml
  core/spring/src/test/resources/META-INF/opennms/applicationContext-daemon.xml
  core/spring/src/test/resources/META-INF/opennms/applicationContext-dao.xml
  core/spring/src/test/resources/beanRefContext.xml
  opennms-base-assembly/pom.xml
  opennms-config/src/test/java/org/opennms/netmgt/config/WmiPeerFactoryTest.java
  opennms-config/src/test/resources/beanRefContext.xml
  opennms-config/src/test/resources/test-dao-context.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BSFNotificationStrategy.java
  opennms-services/src/main/java/org/opennms/netmgt/scriptd/Scriptd.java
  opennms-services/src/main/java/org/opennms/netmgt/scriptd/helper/AlarmEventSynchronization.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-build

update more
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update whatsnew (#7866)
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Release Notes for OpenNMS Horizon 34.0.0
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-build, trigger-docs

NMS-18215: Excluding vulnerable okio versions
  core/tracing/jaeger-osgi/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-18205 Fix flaky test
  smoke-test/src/test/java/org/opennms/smoketest/rest/SituationRestServicesIT.java
Due: trigger-coverage, trigger-build

NMS-18216: Bumped commons-fileupload version
  pom.xml
Due: trigger-coverage, trigger-build

Fix composable templates link
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

WIP
  container/features/src/main/resources/features.xml
  core/fileutils/src/main/java/org/opennms/core/fileutils/DotDUpdateWatcher.java
  features/telemetry/protocols/netflow/parser/pom.xml
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/InformationElementDatabase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/InformationElementXmlProvider.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/xml/IpfixDotD.java
  features/telemetry/protocols/netflow/parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-base-assembly/src/main/filtered/etc/ipfix.d/.readme
Due: trigger-coverage, trigger-build

depedabot prs
  core/web-assets/package-lock.json
  core/web-assets/package.json
  ui/package.json
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

downgrade the package of jquery ui
  core/web-assets/package-lock.json
  core/web-assets/package.json
Due: trigger-coverage, trigger-build

Update antora.yml
  docs/antora.yml
Due: trigger-coverage, trigger-docs

Revert "Merge pull request #7037 from WilssoN93/enable-async-snmp-poller"
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/opennms-snmppoller-graph.properties
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerException.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/jmx/SnmpPollerd.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/jmx/SnmpPollerdMBean.java
Due: trigger-coverage, trigger-build

NMS-18154 : Implement Rest API to filter event conf by uei, vendor and source name.
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEventDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18154 : Implement Rest API to filter event conf by uei, vendor and source name.
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18224: Updated activemq version
  pom.xml
Due: trigger-coverage, trigger-build

Add missing issue to changelog and whatsnew
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Add missing items
  docs/antora.yml
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-18225: Updated netty version
  pom.xml
Due: trigger-coverage, trigger-build

Initial EventConf table
  ui/src/components/Common/TableCard.vue
  ui/src/components/EventConfiguration/EventConfigTabContainer.vue
  ui/src/components/EventConfiguration/EventConfigurationTable.vue
  ui/src/components/EventConfiguration/data.ts
  ui/src/containers/EventConfiguration.vue
  ui/src/stores/eventConfigStore.ts
  ui/src/styles/_transitionDataTable.scss
  ui/src/types/eventConfig.d.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

intial changes to routes
  ui/src/components/EventConfiguration/EventConfigDetails.vue
  ui/src/main/router/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

remove most references to 11
  .circleci/build-triggers.override.json
  docs/modules/deployment/pages/minion/centos-rhel7/install-minion.adoc
  docs/modules/deployment/pages/minion/centos-rhel8/install-minion.adoc
  docs/modules/deployment/pages/minion/centos-rhel9/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel7/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel8/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  tools/packages/minion/minion.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-build, trigger-docs

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
