Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

Update docs/modules/deployment/pages/upgrade/basic.adoc
  docs/modules/deployment/pages/upgrade/basic.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/deployment/pages/upgrade/ubuntu/up-ubuntu.adoc
  docs/modules/deployment/pages/upgrade/ubuntu/up-ubuntu.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14250: Performance of time series integration layer: free samples as soon as possible for garbage collection
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesWriter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13971: Basic upgrade procedure
  docs/modules/deployment/pages/upgrade/basic.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13971: Basic upgrade procedure
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

PE-208-quartz Fix File type path with separator character (?) - cleanup#40
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Apply suggestions from code review
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13971: upgrade docs
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/diff.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

PE-208-quartz Reset query part when change eternal source type - cleanup#40
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Configuration/configuration.types.d.ts
  ui/src/components/Configuration/hooks/provisionD.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-208-quartz Fix username/password in advanced options - VMWare type - cleanup#40
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/hooks/provisionD.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-208-quartz Commenting - cleanup#40
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/hooks/provisionD.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14244: Fixed test
  opennms-webapp-rest/src/test/resources/v1/availability.json
Due: trigger-coverage, trigger-coverage=false, trigger-build

Draft docs for NMS-11810, Database Reports, Andrew Konstantaras. Ready for review.
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/admin/webui/grafana-dashboard-box.adoc
  docs/modules/operation/pages/admin/webui/grafana-dashboard-box.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Added suggestion from @mmahacek
  docs/modules/operation/pages/admin/webui/grafana-dashboard-box.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS14193:Users with ROLE_USER face Access Denied when accessing Resource Graphs from Reports Section
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13971: Upgrade docs from v30->2022
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/upgrade/basic.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/diff.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13972: Housekeeping docs v30->2022
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
  docs/modules/operation/pages/service-assurance/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs
