Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

Update docs/modules/operation/pages/deep-dive/admin/configuration/system-proxies.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/system-proxies.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix doc formatting for collectd packages
  docs/modules/operation/pages/deep-dive/performance-data-collection/collectd/collection-packages.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15276: Expand flow thresholding documentation
  docs/modules/operation/pages/deep-dive/flows/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16103: Node structure UI updates, selectable columns
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Nodes/ColumnSelectDropdown.vue
  ui/src/components/Nodes/FlowTooltipCell.vue
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodeTooltipCell.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/containers/Nodes.vue
  ui/src/lib/utils.ts
  ui/src/main.ts
  ui/src/store/nodeStructure/actions.ts
  ui/src/store/nodeStructure/mutations.ts
  ui/src/store/nodeStructure/state.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16048: Handle unknown log destination gracefully
  docs/modules/operation/pages/deep-dive/events/event-definition.adoc
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/processor/HibernateEventWriter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16027: Updated Usage Stats Sharing banner wording
  features/datachoices/src/main/resources/web/modal.ftl.html
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13893: Basic BMP Setup
  docs/modules/reference/pages/telemetryd/protocols/bmp/basic-bmp.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

override the jasperreports repo so itext resolves properly
  opennms-base-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update to newer executors with jq
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix unused dh-systemd dep
  debian/control
  makedeb.sh
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16104: make sure OIA exports match OIA jars
  container/karaf/src/main/filtered-resources/etc/custom.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

zip validation fix for newer jdks
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

no build network
  opennms-container/horizon/build_container_image.sh
  opennms-container/launch_yum_server.sh
  opennms-container/sentinel/build_container_image.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

pass as a joption instead
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix jetty.xml to validate properly
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13893: Basic BMP Setup
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/basic-bmp.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/bmp.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/minion.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/peer-status.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/setup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13893: Basic BMP Setup
  docs/modules/reference/pages/telemetryd/protocols/bmp/bmp.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

clean up Jest OSGi dependency and guava transitive dep
  container/features/src/main/resources/features.xml
  dependencies/jest-complete-osgi/pom.xml
  dependencies/owasp/pom.xml
  dependencies/pom.xml
  features/alarms/history/elastic/pom.xml
  features/flows/api/pom.xml
  features/flows/elastic/pom.xml
  features/jest/client/pom.xml
  features/jest/dependencies/pom.xml
  features/jest/feature/pom.xml
  features/jest/pom.xml
  features/opennms-es-rest/pom.xml
  features/situation-feedback/elastic/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14811: Quick install script for first time evaluator and training
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16028: Allow metadata in snmp-config.xml
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpProfileMapper.java
  core/snmp/profile-mapper/src/main/java/org/opennms/core/snmp/profile/mapper/impl/SnmpProfileMapperImpl.java
  core/test-api/snmp/src/main/java/org/opennms/core/test/snmp/ProxySnmpAgentConfigFactory.java
  opennms-alarms/snmptrap-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/AbstractTrapReceiverTest.java
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpConfigAccessService.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/SnmpDetectorWithProfilesTest.java
  opennms-provision/opennms-detector-simple/src/test/resources/org/opennms/netmgt/provision/detector/snmp-config-with-profiles.xml
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/NodeInfoScan.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/NodeScan.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
  opennms-webapp/src/main/java/org/opennms/web/admin/nodeManagement/SnmpConfigServlet.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update README.md
  README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16123: Address comments on PR for NMS-16103
  ui/src/components/Nodes/ColumnSelectDropdown.vue
  ui/src/components/Nodes/FlowTooltipCell.vue
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodeTooltipCell.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

DP-82: Add meta descriptions to each page in the reference guide
  docs/modules/reference/pages/configuration/core-docker.adoc
  docs/modules/reference/pages/configuration/file-editor.adoc
  docs/modules/reference/pages/configuration/filters/components.adoc
  docs/modules/reference/pages/configuration/filters/filters.adoc
  docs/modules/reference/pages/configuration/filters/parameters.adoc
  docs/modules/reference/pages/configuration/filters/rule-formats.adoc
  docs/modules/reference/pages/configuration/minion-confd/jmx-exporter.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
  docs/modules/reference/pages/configuration/minion-confd/test-confd.adoc
  docs/modules/reference/pages/configuration/minion-docker.adoc
  docs/modules/reference/pages/configuration/sentinel-features.adoc
  docs/modules/reference/pages/configuration/tuning-activemq.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16123: More items in Node Structure info dialog
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodesTable.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16123: Node preferences dialog with column selection, reordering
  ui/src/components/Nodes/ColumnSelectDropdown.vue
  ui/src/components/Nodes/ColumnSelectionPanel.vue
  ui/src/components/Nodes/NodePreferencesDialog.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/store/nodeStructure/actions.ts
  ui/src/store/nodeStructure/mutations.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Change Antora image to b8850 in executors.yml
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13893: Basic BMP Setup
  docs/modules/reference/pages/telemetryd/protocols/bmp/adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/bmp.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/integration-adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/parser.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/peer-status.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/setup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

use more environment-agnostic pom2version
  opennms-container/set-build-environment.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update example-build-triggers.override.json !docs
  .circleci/example-build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DP-82: Add meta descriptions to each page in the reference guide
  docs/modules/reference/pages/configuration/install-jdbc-driver.adoc
  docs/modules/reference/pages/configuration/receive-snmp-traps.adoc
  docs/modules/reference/pages/configuration/selinux.adoc
  docs/modules/reference/pages/configuration/sentinel-features.adoc
  docs/modules/reference/pages/configuration/ttl-rpc.adoc
  docs/modules/reference/pages/configuration/tuning-activemq.adoc
  docs/modules/reference/pages/configuration/tuning-kafka.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/nsclient.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/prometheus.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/tca.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/vmware-cim.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/vmware.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/wmi.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/wsman.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/performance-data-collection/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16125: Node structure store to pinia
  ui/src/components/Nodes/ColumnSelectionPanel.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/store/index.ts
  ui/src/store/nodeStructure/actions.ts
  ui/src/store/nodeStructure/index.ts
  ui/src/store/nodeStructure/mutations.ts
  ui/src/store/nodeStructure/state.ts
  ui/src/stores/nodeStructureStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15695: Added missing configuration files for Sentinel
  features/container/sentinel/src/main/filtered-resources/etc/datacollection-config.xml
  features/container/sentinel/src/main/filtered-resources/etc/resource-types.d/flows-resource.xml
  opennms-config-jaxb/src/main/resources/xsds/datacollection-config.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use bind mounts to mount RPMs
  .circleci/config.yml
  opennms-container/fetch-build-rpms.sh
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/build_container_image.sh
  opennms-container/launch_yum_server.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
  opennms-container/set-build-environment.sh
  opennms-container/stop_yum_server.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15765: Metadata for nsclient-config.xml and wmi-config.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/WmiPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/WmiPeerFactoryTest.java
  protocols/nsclient/src/main/java/org/opennms/protocols/nsclient/config/NSClientPeerFactory.java
  protocols/nsclient/src/test/java/org/opennms/protocols/nsclient/config/NSClientPeerFactoryTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/configuration/filters/parameters.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

DP-82: Add meta descriptions to each page in the reference guide
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use bind mounts to mount RPMs (#6647)
  .circleci/config.yml
  opennms-container/fetch-build-rpms.sh
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/build_container_image.sh
  opennms-container/launch_yum_server.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
  opennms-container/set-build-environment.sh
  opennms-container/stop_yum_server.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
