Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/notifications/strategies/slack.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/slack.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16050: Document the note to increase the maximum connection when pool size is increased
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16050: Document the note to increase the maximum connection when pool size is increased
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16045: Upgrade vue and other dependencies
  .circleci/main/executors.yml
  .circleci/main/jobs/build/build-ui.yml
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/pom.xml
  ui/src/components/Common/ShimFeatherMegaMenu/index.d.ts
  ui/src/components/Common/ShimFeatherMegaMenu/index.ts
  ui/src/components/Device/DCBModal.vue
  ui/src/components/Resources/TimeControls.vue
  ui/tsconfig.json
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Follow-up change to Bonnie's PR for NMS-16050
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Release notes for Horizon 32.0.2
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Added NMS-16050 to release notes for Horizon 32.0.2
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Further copy-edit to Horizon 32.0.2 release notes
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Added forgotten Debian portion of Horizon 32.0.2 release notes
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16057: Prevent query in response to client for invalid Node filterRule Rest call
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16037: Node structure page, initial version
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  ui/package.json
  ui/src/components/Device/DCBTable.vue
  ui/src/components/Nodes/NodeHierarchyPanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/containers/NodeDetails.vue
  ui/src/containers/Nodes.vue
  ui/src/router/index.ts
  ui/src/services/categoryService.ts
  ui/src/services/index.ts
  ui/src/services/monitoringLocationService.ts
  ui/src/store/hierarchy/actions.ts
  ui/src/store/hierarchy/index.ts
  ui/src/store/hierarchy/mutations.ts
  ui/src/store/hierarchy/state.ts
  ui/src/store/index.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

stray dependency cleanup, fallout from dependabot updates
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-3552: Syslogd doc updates
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix spacing
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

use --no-audit to make npm install not fail
  core/web-assets/package.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16058: Node structure union/intersection
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/containers/Nodes.vue
  ui/src/store/index.ts
  ui/src/store/nodeStructure/actions.ts
  ui/src/store/nodeStructure/index.ts
  ui/src/store/nodeStructure/mutations.ts
  ui/src/store/nodeStructure/state.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15806: don't just null-check, also look for empties
  features/api-layer/common/src/main/java/org/opennms/features/apilayer/common/collectors/CollectionSetMapper.java
  features/collection/api/src/test/java/org/opennms/netmgt/collection/support/GenericTypeResourceTest.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16031: change the wording of the unmatched bean log, and make it a trace
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultPluginRegistry.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16031: clarify policy behavior in the operation manual
  docs/modules/operation/pages/deep-dive/provisioning/policies.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16031: interface metadata policy only applies to discovered interfaces
  docs/modules/reference/pages/provisioning/policies/metadata.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

minor style guide update to policies page
  docs/modules/operation/pages/deep-dive/provisioning/policies.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15806: don't just null-check, also look for empties
  features/api-layer/src/main/java/org/opennms/features/apilayer/collectors/CollectionSetMapper.java
  features/collection/api/src/test/java/org/opennms/netmgt/collection/support/GenericTypeResourceTest.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16065: Fix GeoMap issues after vue-leaflet 0.7.0 upgrade
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MarkerCluster.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16036: Password gate, redirect to main page, smoke test
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/AbstractBasePasswordChangeActionServlet.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/NewPasswordActionServlet.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/PasswordGateActionServlet.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16068: Create pinia stores, but do not yet use them
  ui/src/stores/appStore.ts
  ui/src/stores/authStore.ts
  ui/src/stores/configurationStore.ts
  ui/src/stores/deviceStore.ts
  ui/src/stores/eventStore.ts
  ui/src/stores/fakeMenuData.ts
  ui/src/stores/fileEditorStore.ts
  ui/src/stores/helpStore.ts
  ui/src/stores/ifServiceStore.ts
  ui/src/stores/infoStore.ts
  ui/src/stores/ipInterfacesStore.ts
  ui/src/stores/logStore.ts
  ui/src/stores/mapStore.ts
  ui/src/stores/menuStore.ts
  ui/src/stores/nodeStore.ts
  ui/src/stores/pluginStore.ts
  ui/src/stores/resourceStore.ts
  ui/src/stores/scvStore.ts
  ui/src/stores/searchStore.ts
  ui/src/stores/usageStatisticsStore.ts
  ui/src/stores/useGraphStore.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16031: clarify wording a bit as per feedback
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultPluginRegistry.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix some weird transient dependency stuff going on with jest in smoke tests
  features/flows/api/pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Clarify newts polling interval configuration
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix missing dependency (????)
  features/flows/processing/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

move to latest 4.0 instead
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15504: Prevent angular expr eval without app
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/schedule-editor.tpl.html
  opennms-webapp/src/main/webapp/admin/snmpInterfaces.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/includes/search-box.jsp
  opennms-webapp/src/main/webapp/locations/index.jsp
  opennms-webapp/src/main/webapp/minion/index.jsp
  opennms-webapp/src/main/webapp/report/index.jsp
  opennms-webapp/src/main/webapp/status/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
