Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-15087: Update Debian/Ubuntu Upgrade Instructions
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update the antora version in the make file
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the antora version in the make file (#5539)
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

change the reload to use milliseconds so testing can go quicker
  core/web-assets/src/main/java/org/opennms/web/assets/impl/AssetLocatorImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

make the return from getSize more explicit
  core/web-assets/src/main/assets/js/apps/timeline-resize/index.js
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

asdf understands .node-version, just use that
  core/web-assets/.tool-versions
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14715: normalize moment.js loading
  core/web-assets/src/main/assets/js/apps/onms-date-formatter/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/ReportDetails.js
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/lib/onms-datetimepicker/index.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/ScheduleOptions.js
  core/web-assets/src/main/assets/js/vendor/bootstrap-js.js
  core/web-assets/src/main/assets/js/vendor/moment-js.js
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14715: print the angular version to ease debugging
  core/web-assets/src/main/assets/js/vendor/angular-js.js
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14715: make sure jQuery is loaded before angular
  core/web-assets/src/main/assets/js/vendor/angular-js.js
  core/web-assets/src/test/javascript/__mocks__/beforeTest.js
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14715: node 16/npm 8 to match 31.x, use latest frontend maven plugin
  core/web-assets/.node-version
  core/web-assets/ci.js
  core/web-assets/package-lock.json
  core/web-assets/package.json
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15008: PR feedback and testing updates
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpUtils.java
  core/snmp/proxy-rpc-impl/src/main/java/org/opennms/netmgt/snmp/proxy/common/SnmpProxyRpcModule.java
  core/snmp/proxy-rpc-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-provision/opennms-detector-simple/src/main/java/org/opennms/netmgt/provision/detector/snmp/SnmpDetector.java
  opennms-provision/opennms-detector-simple/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add karaf option to set attributes for SCV credentials
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvSetCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14584: update leaflet to 1.9.3
  core/web-assets/package-lock.json
  core/web-assets/package.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13918: fix severity image import
  core/web-assets/src/main/assets/js/apps/geomap-js/index.js
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/flows/setup.adoc
  docs/modules/operation/pages/deep-dive/flows/setup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15027: Add JSON support for the Kafka producer for flows.
  container/features/src/main/resources/features.xml
  docs/modules/operation/pages/deep-dive/flows/setup.adoc
  features/flows/itests/pom.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/KafkaFlowForwarderIT.java
  features/flows/kafka-persistence/pom.xml
  features/flows/kafka-persistence/src/main/java/org/opennms/netmgt/flows/persistence/KafkaFlowForwarder.java
  features/flows/kafka-persistence/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15027: Add missing bundle to sentinel-flows feature
  container/features/src/main/resources/features-sentinel.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfAreaDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfAreaDaoHibernate.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/OspfAreaDao.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/OspfAreaDao.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/enlinkd/adapters/updaters/ospf/src/main/java/org/opennms/netmgt/enlinkd/OspfAreaOnmsTopologyUpdater.java
  features/enlinkd/adapters/updaters/ospf/src/main/java/org/opennms/netmgt/enlinkd/OspfAreaOnmsTopologyUpdater.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfAreaTableTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfAreaTableTracker.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15008: Add null check for credentials
  core/snmp/proxy-rpc-impl/src/main/java/org/opennms/netmgt/snmp/proxy/common/SnmpProxyRpcModule.java
  opennms-provision/opennms-detector-simple/src/main/java/org/opennms/netmgt/provision/detector/snmp/SnmpDetector.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14736: include jasypt-encryption feature on startup
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

jira/NMS-14736 encryption property jasypt
  docs/modules/deployment/pages/minion/secure-karaf.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

jira/NMS-14736: Docs updates as requested by Bonrob2
  docs/modules/deployment/pages/minion/secure-karaf.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14736: note that encrypted passwords are invalid if changing `encryption.name`
  docs/modules/deployment/pages/minion/secure-karaf.adoc
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

the passive voice was changed
  docs/modules/deployment/pages/minion/secure-karaf.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

minor wording changes
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-7784: Ospf Area Topology Map (#5544)
  core/schema/src/main/liquibase/32.0.0/changelog.xml
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/NodeDiscoveryOspf.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfAreaTableTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfIfTableTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfIpAddrTableGetter.java
  features/enlinkd/adapters/updaters/ospf/src/main/java/org/opennms/netmgt/enlinkd/OspfAreaOnmsTopologyUpdater.java
  features/enlinkd/daemon/src/main/java/org/opennms/netmgt/enlinkd/EnhancedLinkd.java
  features/enlinkd/daemon/src/main/resources/META-INF/opennms/applicationContext-enhancedLinkd.xml
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/ImportAsExternUserType.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfArea.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfAreaTopologyEntity.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfIf.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfLink.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfLinkTopologyEntity.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/OspfAreaDao.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/TopologyEntityCache.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/TopologyEntityDao.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfAreaDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/TopologyEntityCacheImpl.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/TopologyEntityDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/OspfTopologyService.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/OspfTopologyServiceImpl.java
  features/enlinkd/service/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/enlinkd/service/impl/src/test/java/org/opennms/netmgt/enlinkd/service/ServiceTest.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdBuilderITCase.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms10205bEnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms7918EnIT.java
  features/enlinkd/tests/src/test/resources/META-INF/opennms/applicationContext-enhancedLinkdTest.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyFactory.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DC-407 Have a smoke test in OpenNMS repo to make sure the cloud plugin runs
  smoke-test/pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClientUtil.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestHealthClient.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/SshClient.java
  smoke-test/src/test/java/org/opennms/smoketest/OpenNMSCloudPluginIT.java
  smoke-test/src/test/resources/cert/horizon/pas_server.crt
  smoke-test/src/test/resources/cert/horizon/server_pkcs8_key.pem
  smoke-test/src/test/resources/cert/horizon/servertruststore.pem
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15008: Fix NPEs in tests
  core/snmp/proxy-rpc-impl/src/main/java/org/opennms/netmgt/snmp/proxy/common/SnmpProxyRpcModule.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

remove references to Manage Remote Pollers from search-actions file
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

remove references to Manage Remote Pollers from search-actions file (#5553)
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14934: Disable autocompletion
  opennms-webapp/src/main/webapp/admin/notification/noticeWizard/buildPathOutage.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

OIA-52: Implement deletion of SCV entries
  features/api-layer/common/src/main/java/org/opennms/features/apilayer/common/scv/SecureCredentialsVaultImpl.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/dominion-grpc-impl/src/main/java/org/opennms/features/scv/dominion/grpc/DominionSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: treating 'bits' type as their root type octetstring
  features/mib-compiler/src/main/java/org/opennms/features/mibcompiler/services/JsmiMibParser.java
  features/mib-compiler/src/test/java/org/opennms/features/mibcompiler/NMS14640Test.java
  features/mib-compiler/src/test/resources/CISCO-ENVMON-MIB.mib
  features/mib-compiler/src/test/resources/CISCO-SMI.mib
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15008: Null-check the attribute before using it
  core/snmp/proxy-rpc-impl/src/main/java/org/opennms/netmgt/snmp/proxy/common/SnmpProxyRpcModule.java
  opennms-provision/opennms-detector-simple/src/main/java/org/opennms/netmgt/provision/detector/snmp/SnmpDetector.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15100: Change needed to a file name reference in documentation
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
  docs/modules/operation/pages/deep-dive/bsm/reduce-functions.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
