Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

PE-209: add datetime at the end of archive file
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

this has not even been anything for ages...
  bin/functions.pl
  dependencies/pom.xml
  dependencies/smslib/pom.xml
  features/notifications/sms-strategy/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

add background context menu, focus / rm focus on multiple
  ui/src/components/Topology/ContextMenu.vue
  ui/src/components/Topology/NetworkGraph.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

I think this explains better where that "null" string was coming from. Better set it to "" so in js Truthy evaluation handle the parameter properly.
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14057: OpenNMS points to the wrong URL when trying to generate graphs
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
Due: trigger-coverage, trigger-coverage=false, trigger-build

Added the same fix for the other attribute that could cause issues when "null" string is sent.
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14065: Document Missing Handlers
  docs/modules/reference/pages/provisioning/handlers/requisition-plugin.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

PE-209: fix test
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14059: Add support for pre-authorization (complementing pre-authentication)
  docs/modules/operation/pages/user-management/pre-authentication.adoc
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilter.java
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/header-preauth.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14059: Better input handling
  features/springframework-security/pom.xml
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilter.java
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilterTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14019: Clean the data directory before creating the package
  opennms-assemblies/minion/src/main/filtered/debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-build

add default focus / no focus msg component
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Topology/ContextMenu.vue
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/NoFocusMsg.vue
  ui/src/components/Topology/composables.ts
  ui/src/services/topologyService.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
  ui/src/types/topology.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14057: OpenNMS points to the wrong URL (#4416)
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix OIA snapshot deps in minion/sentinel features generation
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

make sure OIA snapshot repo is in full assembly as well
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14061: Always return results
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-209: Prevent archive config file already exist exception (#4422)
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14000: always fix permissions for log directory
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13888: Stop escaping '=' and update trap value documentation
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsEventParameter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-13888: Still reformat ISO control characters
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventDatabaseConstants.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/processor/HibernateEventWriterIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsEventParameter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13888: Size argument isn't needed
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventDatabaseConstants.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13888: Minor doc change
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Release Notes for OpenNMS Horizon 29.0.8
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14045: Add a test for properly configuring trap forwarders
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JStrategyTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-208 Fix build fail on Feather DS upgrade to v0.10.1 - cleanup-work#1a
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Layout/Search.vue
  ui/src/components/Map/MapSearch.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

*facepalm* _sonatype_, not _opennms_ snapshots :/
  opennms-base-assembly/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

this has not even been anything for ages...
  bin/functions.pl
  dependencies/pom.xml
  dependencies/smslib/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-208 Add button top space - cleanup-work#15
  ui/src/components/Configuration/ConfigurationDrawer.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-208 Typo - cleanup-work#11
  opennms-webapp/src/main/webapp/admin/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix some duplicate dependencies that throw warnings
  core/ipc/twin/grpc/itests/pom.xml
  core/ipc/twin/kafka/itests/pom.xml
  core/snmp/api/pom.xml
  features/telemetry/protocols/openconfig/itests/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

use maven-enforcer-plugin to block bad dependencies
  dependencies/jaxb/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

clean up resolution issues with JDK9+ and updated dependencies
  debian/libopennms-java.dirs
  debian/rules
  opennms-base-assembly/pom.xml
  opennms-base-assembly/src/assembly/daemon.xml
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-bootstrap/src/main/java/org/opennms/bootstrap/Bootstrap.java
  opennms-services/pom.xml
  opennms-webapp-rest/pom.xml
  opennms-webapp/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

remove final vestiges of SMS gateway stuff
  core/upgrade/src/test/resources/etc2/opennms.properties
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build

ignore angular and flot
  .github/dependabot.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
