Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

fix the variable names
  opennms-container/core/CONFD_README.md
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/core/container-fs/etc/opennms.properties.d/_container.newts.properties
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-build

Clean up environment variables
  opennms-container/core/CONFD_README.md
  opennms-container/core/container-fs/etc/org.apache.karaf.shell.cfg
Due: trigger-coverage, trigger-build

maybe we don't need password
  opennms-container/core/CONFD_README.md
  opennms-container/core/container-fs/etc/opennms.properties.d/_container.timeseries.properties
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-build

NMS-19530: Exclude outdated jackson-databind version
  container/features/src/main/resources/features.xml
  container/karaf/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
Due: trigger-coverage, trigger-build

attempt 2
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

NMS-19713: Add Rest API for SNMP Collection profiles (#8493)
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigrationTest.java
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/DatacollectionJsonHelper.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoaderTest.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionProfileDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDefDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DatacollectionJsonHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceParseTest.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.ts
  ui/src/components/SnmpDataCollectionCreate/SystemDefForm.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/containers/SnmpDataCollectionCreate.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
  ui/tests/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19713: Add Rest API for profiles
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19713: More updates to upload
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19769: Add XMLtoDBParity test
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DatacollectionConfigEquivalence.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionXmlToDbParityIT.java
Due: trigger-coverage, trigger-build

NMS-19769: Add integration tests to validate Rest API
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DatacollectionConfigEquivalence.java
Due: trigger-coverage, trigger-build

Allow Prometheus JMX Exporter to be configured using environment variable..
  opennms-container/core/CONFD_README.md
  opennms-container/core/Dockerfile
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/core/container-fs/etc/templates/prom-jmx-exporter-config.yaml.tmpl
Due: trigger-coverage, trigger-build

DCB: Add inline SSH configuration capture via capture: scripting statement
  docs/modules/operation/pages/deep-dive/device-config-backup/ssh.adoc
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshInteraction.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/Statement.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/StatementTest.java
Due: trigger-coverage, trigger-build, trigger-docs

Feedback
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
Due: trigger-coverage, trigger-build

MOAR TESTS
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplTest.java
Due: trigger-coverage, trigger-build

DCB: Emit configChanged event when stored config differs from new backup
  features/device-config/api/pom.xml
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigConstants.java
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigUtil.java
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
Due: trigger-coverage, trigger-build

WIP / tests
  features/device-config/api/src/test/java/org/opennms/features/deviceconfig/service/DeviceConfigUtilTest.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorTest.java
Due: trigger-coverage, trigger-build

NMS-19769: Add Integration tests to validate migration to DB (#8503)
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DatacollectionConfigEquivalence.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionXmlToDbParityIT.java
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DatacollectionConfigEquivalence.java
Due: trigger-coverage, trigger-build

NMS-19770: Add support to download datcollection config file
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/containers/SnmpDataCollection.vue
  ui/src/services/snmpDataCollectionService.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

use UBI 10
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
  smoke-test/src/main/java/org/opennms/smoketest/containers/MockCloudContainer.java
Due: trigger-coverage, trigger-build

Add configChanged event
  core/schema/src/main/liquibase/36.0.0/changelog.xml
Due: trigger-coverage, trigger-build

liquibase changelog
  core/schema/src/main/liquibase/36.0.0/changelog.xml
Due: trigger-coverage, trigger-build

fix eventconf in changelog
  core/schema/src/main/liquibase/36.0.0/changelog.xml
Due: trigger-coverage, trigger-build

Docs
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
  docs/modules/operation/pages/deep-dive/device-config-backup/introduction.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
Due: trigger-coverage, trigger-docs

NMS-19770: Add support to download datacollection config file (#8504)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/containers/SnmpDataCollection.vue
  ui/src/services/snmpDataCollectionService.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Verify we have printable characters in the captured output
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
Due: trigger-coverage, trigger-build

broke my own test...
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
Due: trigger-coverage, trigger-build

NMS-19643: Removed snmp-config.xml encryption feature
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/DecryptSnmpConfigCommand.java
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/EncryptSnmpConfigCommand.java
  docs/modules/operation/pages/deep-dive/provisioning/snmp-encryption.adoc
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEncryptionIT.java
  opennms-dao/pom.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultSnmpConfigDao.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/jaxb/NMS19643IT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19126 : Fix some more issues
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultDataCollectionConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
Due: trigger-coverage, trigger-build

NMS-19126: Few more guards in Rest API
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionSqlHelper.java
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/DataCollectionConfigLookupUtils.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  ui/src/mappers/snmpDataCollection.mapper.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19126: Remove older manage collections page from menu
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp/src/main/webapp/admin/index.jsp
  opennms-webapp/src/main/webapp/admin/snmpmanage.jsp
Due: trigger-coverage, trigger-build

NMS-19126: Update docs
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/snmp-datacollection-config-rest-api.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/collectd/collection-packages.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/resource-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/adhoc-collection.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-index.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/config/upgrade/pom.xml
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19113: Use metadata in service configuration
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/service/Service.java
  opennms-config-model/src/main/resources/defaults/service-configuration.xml
  opennms-config-model/src/main/resources/xsds/service-configuration.xsd
  opennms-config/pom.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/ServiceConfigFactory.java
Due: trigger-coverage, trigger-build

NMS-19113: Add scv to private package
  opennms-config/pom.xml
Due: trigger-coverage, trigger-build

NMS-19126: Fix smoke test
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

fix cortex plugin repo link
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-build

update the links for moved plugins
  index.html
Due: trigger-coverage, trigger-build

Update index.html
  index.html
Due: trigger-coverage, trigger-build
