Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Add a cleanup step to build with tarball
  .circleci/main/commands/executions/run-build-with-tar.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14197: Update doc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14465: Add missing bundles to Minion feature
  container/features/src/main/resources/features-minion.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-12981: Update Alarm Not Found Error message to include that it could have been cleared
  opennms-webapp/src/main/webapp/errors/alarmidnotfound.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14379: assure that error modal dialog will only open once
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/TopologyUI.java
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14437: Add documentation to describe negate search terms in alarms advanced search
  docs/modules/operation/pages/alarms/alarm-advanced-search.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

store minion assemblies
  .circleci/main/commands/executions/run-build-with-tar.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14252: use the Atlassian updates to jackson1
  dependencies/activemq/pom.xml
  dependencies/cxf/pom.xml
  dependencies/jackson1/pom.xml
  dependencies/pom.xml
  dependencies/spring/pom.xml
  features/datachoices/pom.xml
  features/rest/common/pom.xml
  features/rest/model/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

this has not even been anything for ages...
  bin/functions.pl
  dependencies/pom.xml
  dependencies/smslib/pom.xml
  features/notifications/sms-strategy/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14410: Minor fixes
  opennms-base-assembly/src/main/filtered/bin/install
  opennms-base-assembly/src/main/filtered/bin/upgrade
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14323: Migrate Trap configuration wiki to docs
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/sources/trap-config.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-12981: Update Alarm Not Found Error message to include that it could have been cleared (#4993)
  opennms-webapp/src/main/webapp/errors/alarmidnotfound.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14197: Add newts as a feature, add doc for parallel TSDB writes (#4972)
  container/features/pom.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
  features/newts/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/sentinel/repository/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 29.0.11
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

change what we store from minion target folder
  .circleci/main/commands/executions/run-build-with-tar.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use save and fetch artifact to for minion tar file
  .circleci/main/commands/cache/cache.yml
  .circleci/main/commands/executions/run-build-with-tar.yml
  .circleci/main/commands/executions/run-integration-tests.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix a typo in save-artifacts
  .circleci/main/commands/cache/cache.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14323: Migrate Trap configuration wiki to docs
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  docs/modules/operation/pages/events/sources/trap-config.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14212: Event docs cleanup
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/event-definition.adoc
  docs/modules/operation/pages/events/event-tokens.adoc
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/operation/pages/events/eventbus.adoc
  docs/modules/operation/pages/events/introduction.adoc
  docs/modules/operation/pages/events/sources/eif-adapter.adoc
  docs/modules/operation/pages/events/sources/kafka.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  docs/modules/operation/pages/events/sources/syslog.adoc
  docs/modules/operation/pages/notifications/concepts.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14043: Negate search terms in alarms advanced search (#4918)
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeAlarmTextFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeCategoryFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeDescriptionSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeIPAddrLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeLogMessageSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/NegativeNodeNameLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/ServiceOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/SeverityOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AcknowledgeAlarmByFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/filter/NegativeIPLikeFilter.java
  opennms-webapp/src/main/webapp/includes/alarm-advquerypanel.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14287:DCB:Add Rest end point to delete device config
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

tweak how we fetch artifacts
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/jobs/oci/minion-image.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

HELM-272: Hard-code values for Helm API properties call for affectedNodeCount and situationAlarmCount to prevent invalid HQL query (#4958)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/upgrade/git-diff.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

clean up the minion target folder
  .circleci/main/commands/executions/run-build-with-tar.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Testing #exp:build-with-tar keyword
  .circleci/pyscripts/generate_main.py
  .circleci/pyscripts/library/libyaml.py
  .circleci/pyscripts/process_mapping.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add debugging #exp:build-with-tar keyword
  .circleci/pyscripts/process_mapping.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

second round of debugging #exp:build-with-tar keyword
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14352: Update terminology
  docs/modules/development/pages/rest/heatmap.adoc
  docs/modules/development/pages/rest/rtc.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/service-assurance/monitors/CiscoPingMibMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/StrafePingMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14281: Update terminology
  docs/modules/operation/pages/admin/webui/dashboard.adoc
  docs/modules/operation/pages/elasticsearch/features/event-forwarder-mapping-table.adoc
  docs/modules/operation/pages/provisioning/fine-grained.adoc
  docs/modules/operation/pages/provisioning/policies.adoc
  docs/modules/operation/pages/topology/graphml-asset-topology-provider.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

third round of debugging #exp:build-with-tar keyword
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add additional debugging for #exp:build-with-tar keyword
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
