Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20090: Bumped PostgrSQL JDBC version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20087: Bumped ActiveMQ version
  pom.xml
Due: trigger-coverage, trigger-build

Fix a few issues with docs (#8665)
  docs/antora.yml
  docs/modules/deployment/pages/time-series-storage/newts/cassandra-jmx.adoc
  docs/modules/deployment/pages/time-series-storage/newts/cassandra-newts-jmx.adoc
  docs/modules/deployment/pages/time-series-storage/newts/configuration.adoc
  docs/modules/development/pages/rest/snmp-datacollection-config-rest-api.adoc
  docs/modules/development/pages/source-copyright.adoc
  docs/modules/reference/pages/configuration/system-properties.adoc
  docs/modules/reference/pages/karaf-shell/karaf-shell.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml-examples.adoc
  docs/modules/write-the-docs/pages/build-docs.adoc
Due: trigger-coverage, trigger-docs

NMS-20093: Restore xstream and kotlin-stdlib dependencyManagement pins
  pom.xml
Due: trigger-coverage, trigger-build

roll the agg bits back out; that can go in separately
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/flows/postgres/pom.xml
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/AggregatedFlow.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/AggregatingFlowRepository.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FixedWindowAggregation.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowAggWriter.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowAggregator.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowInput.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowProration.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/PostgresAggregatingFlowRepository.java
  features/flows/postgres/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FixedWindowAggregationTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FlowAggIT.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FlowAggregatorTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/PostgresFlowDisabledTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/ProportionalSumParityTest.java
Due: trigger-coverage, trigger-build

NMS-20094: bring flow aggregation feature into OpenNMS
  container/features/src/main/resources/features.xml
  features/flows/aggregation/pom.xml
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/AbstractAggregatingFlowRepository.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/AggregatedFlow.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/AggregatedFlowSink.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FixedWindowAggregation.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FlowAggregator.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FlowInput.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FlowProration.java
  features/flows/aggregation/src/test/java/org/opennms/netmgt/flows/aggregation/FixedWindowAggregationTest.java
  features/flows/aggregation/src/test/java/org/opennms/netmgt/flows/aggregation/FlowAggregatorTest.java
  features/flows/aggregation/src/test/java/org/opennms/netmgt/flows/aggregation/ProportionalSumParityTest.java
  features/flows/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-build

NMS-20055: Avoid nested properties update for blocked fields
  opennms-web-api/src/main/java/org/opennms/web/api/RestUtils.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultRequisitionAccessService.java
  opennms-web-api/src/test/java/org/opennms/web/api/RestUtilsTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AssetRecordResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/CategoryRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeCategoriesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeSnmpInterfacesRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20081: add OnmsChip seam wrapper and sweep chips
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsChip.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Configuration/ConfigurationThreadPools.vue
  ui/src/components/Device/DCBModalConfigDiffContent.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/containers/SnmpDataCollectionSourceDetail.vue
  ui/tests/onms-ui/OnmsChip.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsMenu seam wrapper and OnmsMenuItem type; sweep menus
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsMenu.vue
  ui/packages/onms-ui/src/index.ts
  ui/packages/onms-ui/src/types.ts
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBTableStatusDropdown.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Menu/utils.ts
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeDownloadDropdown.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/containers/SnmpDataCollection.vue
  ui/tests/components/Menu/utils.test.ts
  ui/tests/onms-ui/OnmsMenu.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsTabs family seam wrappers and sweep tabs usage
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsTab.vue
  ui/packages/onms-ui/src/components/OnmsTabList.vue
  ui/packages/onms-ui/src/components/OnmsTabPanel.vue
  ui/packages/onms-ui/src/components/OnmsTabPanels.vue
  ui/packages/onms-ui/src/components/OnmsTabs.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/EventConfiguration/EventConfigTabContainer.vue
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Nodes/InterfacesTabs.vue
  ui/src/components/Resources/Graph.vue
  ui/src/components/SnmpConfiguration/SnmpConfigAdvancedTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/containers/SnmpDataCollection.vue
  ui/src/containers/SnmpDataCollectionSourceDetail.vue
  ui/src/containers/TrapdConfiguration.vue
  ui/tests/onms-ui/OnmsTabs.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsToggleSwitch/OnmsRadioButton seam wrappers and sweep
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsRadioButton.vue
  ui/packages/onms-ui/src/components/OnmsToggleSwitch.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/TrapdConfiguration/GeneralConfiguration.vue
  ui/tests/onms-ui/OnmsRadioButton.test.ts
  ui/tests/onms-ui/OnmsToggleSwitch.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsInputNumber seam wrapper and sweep
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsInputNumber.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/SnmpConfiguration/SnmpConfigDefaultsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigPairedFieldInputs.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/TrapdConfiguration/GeneralConfiguration.vue
  ui/tests/onms-ui/OnmsInputNumber.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: fix OnmsInputNumber pt merge clobbering unsafePt
  ui/packages/onms-ui/src/components/OnmsInputNumber.vue
  ui/tests/onms-ui/OnmsInputNumber.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsDrawer seam wrapper and sweep drawers
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsDrawer.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/tests/onms-ui/OnmsDrawer.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsSearchInput composite and sweep search fields
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsSearchInput.vue
  ui/packages/onms-ui/src/icons/SearchGlyph.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/components/FileEditor/Search.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/tests/onms-ui/OnmsSearchInput.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsPanel/OnmsCard seam wrappers and sweep
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsCard.vue
  ui/packages/onms-ui/src/components/OnmsPanel.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Common/TogglePanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/ZenithConnect/ZenithConnectRegister.vue
  ui/tests/onms-ui/OnmsCard.test.ts
  ui/tests/onms-ui/OnmsPanel.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: bump onms-ui to 0.2.0; document tranche-2 seam surface
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/package.json
  ui/packages/onms-ui/src/index.ts
  ui/tests/onms-ui/package.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: final-review fixes — test hygiene and README caveat
  ui/packages/onms-ui/README.md
  ui/tests/onms-ui/OnmsDrawer.test.ts
  ui/tests/onms-ui/OnmsMessageDialog.test.ts
  ui/tests/onms-ui/OnmsTabs.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsPopover seam wrapper and sweep
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsPopover.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/src/components/Resources/TimeControls.vue
  ui/tests/onms-ui/OnmsPopover.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsListbox/OnmsMultiSelect/OnmsDatePicker seam wrappers and sweep
  ui/eslint.config.js
  ui/packages/onms-ui/src/components/OnmsDatePicker.vue
  ui/packages/onms-ui/src/components/OnmsListbox.vue
  ui/packages/onms-ui/src/components/OnmsMultiSelect.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Logs/Logs.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Resources/TimeControls.vue
  ui/src/components/SCV/SCVList.vue
  ui/tests/onms-ui/OnmsDatePicker.test.ts
  ui/tests/onms-ui/OnmsListbox.test.ts
  ui/tests/onms-ui/OnmsMultiSelect.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20055: Add some more tests
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20095: Remove orphaned Karaf feature definitions
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  features/jmx-config-generator/pom.xml
  features/jmx-config-generator/src/main/filtered/features.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-build

Clean up references to PostgreSQL in the aggregation code
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/AggregatedFlow.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FixedWindowAggregation.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FlowAggregator.java
  features/flows/aggregation/src/main/java/org/opennms/netmgt/flows/aggregation/FlowProration.java
  features/flows/aggregation/src/test/java/org/opennms/netmgt/flows/aggregation/ProportionalSumParityTest.java
Due: trigger-coverage, trigger-build

NMS-20081: add OnmsColumn typed re-export and table event types
  ui/packages/onms-ui/src/components/OnmsColumn.ts
  ui/packages/onms-ui/src/index.ts
  ui/packages/onms-ui/src/types.ts
  ui/tests/onms-ui/OnmsColumn.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: add OnmsTable seam wrapper with baked th scope=col
  ui/packages/onms-ui/src/components/OnmsTable.vue
  ui/packages/onms-ui/src/index.ts
  ui/tests/onms-ui/OnmsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: migrate simple tables to OnmsTable/OnmsColumn
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/TrapdConfiguration/SnmpV3UserManagement.vue
  ui/src/components/UsageStatistics/UsageStatisticsTable.vue
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
  ui/src/components/ZenithConnect/ZenithConnectView.vue
  ui/src/containers/ZenithConnectSuccess.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: migrate client-paginated tables to OnmsTable/OnmsColumn
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: migrate lazy server-paginated tables to OnmsTable/OnmsColumn
  ui/packages/onms-ui/src/components/OnmsTable.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/IpInterfacesTable.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: migrate RRD row-editor and virtual-scroll tables to OnmsTable
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileSourcesTab.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: convert DCBTable to paginated OnmsTable, drop custom infinite scroll
  ui/src/components/Device/DCBTable.vue
  ui/src/stores/deviceStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: preserve DCB page size across search/filter refetches; pagination tests
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/Device/DCBTableStatusDropdown.vue
  ui/tests/deviceConfigBackupPagination.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: bump onms-ui to 0.3.0; ban direct DataTable/Column imports
  ui/eslint.config.js
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/package.json
  ui/packages/onms-ui/src/index.ts
  ui/tests/onms-ui/package.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: init DCB paginator page size from store to survive remount
  ui/src/components/Device/DCBTable.vue
  ui/tests/deviceConfigBackupPagination.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20029: address tranche-1 PR review follow-ups (trim resync, toast dedup release, version single-source, SPDX, severity map)
  ui/packages/onms-ui/package.json
  ui/packages/onms-ui/src/components/OnmsInputText.vue
  ui/packages/onms-ui/src/components/OnmsToastHost.vue
  ui/packages/onms-ui/src/composables/useOnmsToast.ts
  ui/packages/onms-ui/src/index.ts
  ui/src/composables/useSnackbar.ts
  ui/tests/onms-ui/OnmsInputText.test.ts
  ui/tests/onms-ui/package.test.ts
  ui/tests/onms-ui/useOnmsToast.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20055: More coverage for some of missed Rest API
  opennms-web-api/src/main/java/org/opennms/web/api/RestUtils.java
  opennms-web-api/src/test/java/org/opennms/web/api/RestUtilsTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsIpInterfaceResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsMonitoredServiceResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsSnmpInterfaceResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
