Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

cleanup main.yml file
  .circleci/config.yml
  .circleci/main/@main.yml
  .circleci/main/jobs/deb_builds.yml
  .circleci/main/jobs/integration_test.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fix a small typo
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14326 Fix failing smoke tests
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14326: Ignore failing smoke test for now (#4777)
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14266 remove tools/phonebook/pom-xml
  opennms-tools/phonebook/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/operation/pages/admin/logging/introduction.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Rename yml template files after processing
  .circleci/scripts/generateMainYamlFile.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from code review
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

test combining deb builds
  .circleci/main/@main.yml
  .circleci/main/jobs/deb_builds.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

disable horizon and sentinel for now
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fix the dependency on horizon,sentinel debs
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14345 Change upper bound value
  ui/src/components/Configuration/ConfigurationThreadPools.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14301: Configure port for juniper devices (#4762)
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-gz.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-set.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-txt.dcb
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14207: Add doc for SCV
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/scv-configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14018 Opaque data type
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/DoubleAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/ErrorAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/OpaqueTypeAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/UnsupportedAdapter.java
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/NumericAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/OpaqueAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
  opennms-config-jaxb/src/main/resources/xsds/datacollection-config.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - remove accidental changes
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - bugfix
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix test
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix issue with storing double as int
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix review issues
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/UnsupportedAdapter.java
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/OpaqueAttributeType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14280: Fixed smoke test
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/SupportPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13918:Map Pins Missing Since Upgrade
  core/web-assets/src/main/assets/js/apps/geomap-js/index.js
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix review issues 2
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

cleanup job name and rename yml file
  .circleci/main/@main.yml
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

enable additional build steps
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

help asdf find the right JDK
  .tool-versions
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/operation/pages/admin/scv-configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

adding debug statements to debian-pkg-build
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-11052: PassiveStatus and LoopDetector docs (#4672)
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors/LoopDetector.adoc
  docs/modules/reference/pages/service-assurance/monitors/PassiveStatusMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

get rid of range on pax-logging because it could _downgrade_ if karaf is updated
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14209: clean up newts/cassandra test dependencies
  dependencies/cassandra-test/pom.xml
  dependencies/cassandra-test/src/license/THIRD-PARTY.properties
  dependencies/pom.xml
  features/distributed/kv-store/blob/blob-itests/pom.xml
  features/newts/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14209: clean up zookeeper, curator, cassandra-driver dependencies
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  core/test-api/kafka/pom.xml
  dependencies/cassandra-test/pom.xml
  dependencies/newts/pom.xml
  features/distributed/coordination/shell/src/license/THIRD-PARTY.properties
  features/distributed/coordination/zookeeper/pom.xml
  features/distributed/coordination/zookeeper/src/license/THIRD-PARTY.properties
  features/distributed/coordination/zookeeper/src/main/java/org/opennms/features/distributed/coordination/zookeeper/ZookeeperDomainManager.java
  features/distributed/dao/distributed/pom.xml
  features/sentinel/repository/pom.xml
  features/sentinel/repository/src/license/THIRD-PARTY.properties
  opennms-assemblies/sentinel/src/license/THIRD-PARTY.properties
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14324: DCB Rest API sort by location, status
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigQueryResult.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

enable additional steps in debian pkg build
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

enable cache for oci
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-10393: There is no documentation on the instrumentation log reader
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/webui/log-reader.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14345 Center tooltip horizontally - Circle:PowerGrid
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/store/topology/getters.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Update docs/modules/operation/pages/admin/webui/log-reader.adoc
  docs/modules/operation/pages/admin/webui/log-reader.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14337: Update Business Service Monitoring docs (#4763)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/bsm/bsmd.adoc
  docs/modules/operation/pages/bsm/business-service-definition.adoc
  docs/modules/operation/pages/bsm/business-service-map.adoc
  docs/modules/operation/pages/bsm/change-icons.adoc
  docs/modules/operation/pages/bsm/edges.adoc
  docs/modules/operation/pages/bsm/introduction.adoc
  docs/modules/operation/pages/bsm/map-functions.adoc
  docs/modules/operation/pages/bsm/operational-status.adoc
  docs/modules/operation/pages/bsm/reduce-functions.adoc
  docs/modules/operation/pages/bsm/root-cause-impact-analysis.adoc
  docs/modules/operation/pages/bsm/share-bsm-view.adoc
  docs/modules/operation/pages/bsm/simulation-mode.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs
