Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-17732: Handle formatting
  core/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinPublisher.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

refactor: Remove OpenNMS managed Nexus repositories
  .circleci/scripts/structure-settings.xml
  .circleci/settings.xml
  container/bridge/rest/pom.xml
  container/features/pom.xml
  container/shared/pom.xml
  container/spring-extender/pom.xml
  core/profiler/pom.xml
  dependencies/cassandra-test/pom.xml
  dependencies/hibernate/pom.xml
  dependencies/jackson1/pom.xml
  dependencies/jasper/pom.xml
  dependencies/javamail/pom.xml
  dependencies/jrobin/pom.xml
  dependencies/jrrd/pom.xml
  dependencies/jrrd2/pom.xml
  dependencies/newts/pom.xml
  dependencies/oia/pom.xml
  dependencies/rancid/pom.xml
  dependencies/spring-security-core/pom.xml
  dependencies/spring-security/pom.xml
  dependencies/spring-test/pom.xml
  dependencies/spring-web/pom.xml
  dependencies/spring/pom.xml
  features/jmx-config-generator/pom.xml
  features/minion/repository/pom.xml
  features/opennms-osgi-core-rest/pom.xml
  features/ticketing/jira-client/pom.xml
  features/vaadin-components/graph/pom.xml
  features/vaadin-dashboard/pom.xml
  features/vaadin/pom.xml
  integrations/opennms-vmware/pom.xml
  opennms-assemblies/webapp-full/pom.xml
  opennms-base-assembly/pom.xml
  opennms-full-assembly/pom.xml
  opennms-services/pom.xml
  pom.xml
  runtests.sh
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Remove End-of-Life dependencies
  bin/functions.pl
  container/features/pom.xml
  container/noop-jetty-extension/pom.xml
  core/spring/pom.xml
  debian/control
  features/config/osgi/cm/pom.xml
  features/container/sentinel/pom.xml
  features/measurements/api/pom.xml
  features/topology-map/pom.xml
  features/ui-extension/pom.xml
  integrations/opennms-jasper-extensions/pom.xml
  opennms-full-assembly/pom.xml
  pom.xml
  smoke-test/pom.xml
  tools/packages/minion/minion.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Add release notes for Horizon 34 with EOL note
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

chore: Use minimal PostgreSQL 13 instead of 11 in tests
  .circleci/scripts/postgres.sh
  .circleci/scripts/smoke.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/PostgreSQLContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17851: Zenith Connect Registration service with json store
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/pom.xml
  features/zenith-connect/persistence/pom.xml
  features/zenith-connect/persistence/src/license/THIRD-PARTY.properties
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectPersistenceException.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectPersistenceService.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectRegistration.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectRegistrations.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/impl/ZenithConnectPersistenceServiceImpl.java
  features/zenith-connect/persistence/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/zenith-connect/persistence/src/test/java/org/opennms/features/zenithconnect/persistence/impl/ZenithConnectPersistenceServiceImplIT.java
  features/zenith-connect/persistence/src/test/resources/META-INF/opennms/applicationContext-zenithconnect-persistence.xml
  features/zenith-connect/pom.xml
  features/zenith-connect/rest/pom.xml
  features/zenith-connect/rest/src/license/THIRD-PARTY.properties
  features/zenith-connect/rest/src/main/java/org/opennms/features/zenithconnect/rest/api/ZenithConnectRestService.java
  features/zenith-connect/rest/src/main/java/org/opennms/features/zenithconnect/rest/impl/DefaultZenithConnectRestService.java
  features/zenith-connect/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/zenith-connect/rest/src/test/java/org/opennms/features/zenithconnect/rest/impl/DefaultZenithConnectRestServiceIT.java
  features/zenith-connect/rest/src/test/resources/META-INF/opennms/applicationContext-zenithconnect-rest.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(add new method).
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/SpogInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Fixed XSS #1 and #2
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Fixed XSS #3
  opennms-webapp/src/main/java/org/opennms/web/nodelabel/NodeLabelChangeServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/admin/nodelabel.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "NMS-17318: Allow basic auth credentials / scv metadata in external requisition URL"
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/ImportJob.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ImportSchedulerIT.java
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

docs: Improve README
  README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17875: Fixed XSS #4
  opennms-webapp/src/main/webapp/element/node.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Fixed XSS #5
  features/vaadin-surveillance-views/src/main/java/org/opennms/features/vaadin/surveillanceviews/ui/SurveillanceViewTable.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Fixed XSS #6
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/list.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Fixed XSS #7
  opennms-webapp/src/main/java/org/opennms/web/controller/notification/NotificationFilterController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
