Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-20163: Check ReST coverage per module rather than per class
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiResourceCoverageTest.java
Due: trigger-coverage

NMS-20163: Refuse to generate the documents outside a forked JVM
  opennms-openapi-docs/pom.xml
  opennms-openapi-docs/src/main/java/org/opennms/openapi/OpenApiDocWriter.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiDocsContentTest.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiResourceCoverageTest.java
Due: trigger-coverage

NMS-20125: Node List parity enhancements (#8736)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpInterfaceRestServiceIT.java
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodeInterfacesPanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useInterfaceListing.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/containers/Nodes.vue
  ui/src/services/index.ts
  ui/src/services/ipInterfaceService.ts
  ui/src/services/snmpInterfaceService.ts
  ui/src/stores/nodeStore.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/AssetFilterPanel.test.ts
  ui/tests/components/Nodes/ColumnSelectionDrawer.test.ts
  ui/tests/components/Nodes/NodeAdvancedFiltersDrawer.test.ts
  ui/tests/components/Nodes/NodeInterfacesPanel.test.ts
  ui/tests/components/Nodes/NodesTable.test.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
  ui/tests/components/Nodes/hooks/useInterfaceListing.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
  ui/tests/containers/Nodes.test.ts
  ui/tests/services/ipInterfaceService.test.ts
  ui/tests/services/snmpInterfaceService.test.ts
  ui/tests/stores/nodeStore.test.ts
  ui/tests/stores/nodeStructureStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20175: trim default node list columns to reduce header cramping
  ui/src/components/Nodes/utils.ts
  ui/tests/components/Nodes/NodesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20175: align expanded interface list with the first data column
  ui/src/components/Nodes/NodesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20111: Port BSFNotificationStrategy to JSR-223
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BSFNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/BSFNotificationStrategyIT.java
Due: trigger-coverage, trigger-build

NMS-20111: Apply adversarial-review findings
  docs/modules/operation/pages/deep-dive/notifications/bonus-strategies.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/scripting.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BSFNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/BSFNotificationStrategyIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20111: Document the scripted notification strategy
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/scripting.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20175: rename Node Structure naming to Node List
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodeInterfacesPanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/containers/Nodes.vue
  ui/src/main/App.vue
  ui/src/stores/nodeListStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/AssetFilterPanel.test.ts
  ui/tests/components/Nodes/ColumnSelectionDrawer.test.ts
  ui/tests/components/Nodes/ExtendedSearchPanel.test.ts
  ui/tests/components/Nodes/NodeAdvancedFiltersDrawer.test.ts
  ui/tests/components/Nodes/NodeInterfacesPanel.test.ts
  ui/tests/components/Nodes/NodesTable.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
  ui/tests/containers/Nodes.test.ts
  ui/tests/stores/nodeListStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20175: reorder outages toggle under down-nodes-only in Advanced Filters
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20175: match chip order to Advanced Filters toggle order
  ui/src/components/Nodes/NodesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20051: Fix JEXL sandbox bypass (#8754)
  opennms-util/src/main/java/org/opennms/core/utils/jexl/OnmsJexlUberspect.java
  opennms-util/src/test/java/org/opennms/core/utils/jexl/OnmsJexlSandboxBypassTest.java
Due: trigger-coverage, trigger-build

NMS-20030: Fix v2 alarm rest api access issue (#8755)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AlarmRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20174: Fix Vue menu not rendering in Safari/Firefox on JSP pages
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
Due: trigger-coverage, trigger-build

NMS-20168: Update Netty to 4.2.16.Final
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

NMS-20174: Never use saved REST/API requests as post-login redirect target
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/LoginModuleUtils.java
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/LoginModuleUtilsTest.java
Due: trigger-coverage, trigger-build

NMS-20174: Don't let blocked localStorage prevent the menu app from mounting
  ui/src/services/localStorageService.ts
  ui/src/services/themeService.ts
  ui/tests/services/localStorageService.test.ts
  ui/tests/services/themeService.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20175: Node List UI Fixes - less default columns, indentation (#8756)
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodeInterfacesPanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/components/Nodes/utils.ts
  ui/src/containers/Nodes.vue
  ui/src/main/App.vue
  ui/src/stores/nodeListStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/AssetFilterPanel.test.ts
  ui/tests/components/Nodes/ColumnSelectionDrawer.test.ts
  ui/tests/components/Nodes/ExtendedSearchPanel.test.ts
  ui/tests/components/Nodes/NodeAdvancedFiltersDrawer.test.ts
  ui/tests/components/Nodes/NodeInterfacesPanel.test.ts
  ui/tests/components/Nodes/NodesTable.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
  ui/tests/containers/Nodes.test.ts
  ui/tests/stores/nodeListStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20174: Fix logout from JSP pages silently failing in Firefox
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/tests/components/Menu/UserSelfServiceMenuItem.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20174: Cache-bust the Vue menu bundle links in bootstrap.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
Due: trigger-coverage, trigger-build

NMS-18217: remove legacy JSP node list page and DefaultNodeListService
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-services/src/test/resources/opennmsPageSequence.xml
  opennms-web-api/src/main/java/org/opennms/web/svclayer/NodeListService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/NodeListCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/NodeListModel.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-legacy.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp-rest/src/test/resources/menu/menu-template.json
  opennms-webapp/src/main/java/org/opennms/web/controller/node/NodeListController.java
  opennms-webapp/src/main/java/org/opennms/web/element/ElementUtil.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/nodeList.jsp
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/nodelist.tag
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/pagedList.tag
  ui/tests/components/Menu/menu-template-test.json
  ui/tests/components/Menu/utils.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18217: fix remaining smoke tests and stale comments referencing removed node list
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/ProvisioningNewUIIT.java
  ui/src/components/Nodes/hooks/useInterfaceListing.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18217: update smoke tests for legacy node list removal
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
  smoke-test/src/test/java/org/opennms/smoketest/NodeListPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/ui/NodeListIT.java
Due: trigger-coverage, trigger-build

NMS-20174: Update stale isInvalidSavedRequestUrl javadoc
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/LoginModuleUtils.java
Due: trigger-coverage, trigger-build

NMS-20111: Trim the whats-new entry to a single line
  docs/modules/operation/pages/deep-dive/notifications/strategies/scripting.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20168: Update Netty to 4.2.16.Final (#8748)
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

NMS-20174: Fix Menubar/SideMenu issues in Firefox and Safari on JSP pages (#8758)
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/LoginModuleUtils.java
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/LoginModuleUtilsTest.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/src/services/localStorageService.ts
  ui/src/services/themeService.ts
  ui/tests/components/Menu/UserSelfServiceMenuItem.test.ts
  ui/tests/services/localStorageService.test.ts
  ui/tests/services/themeService.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20166: Improve the OpenAPI Docs UI page (#8746)
  ui/src/containers/OpenAPI.vue
  ui/tests/containers/OpenAPI.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20161: Remove the unresolvable firstEvent fetch from the v1 alarm criteria
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AlarmRestServiceBase.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AlarmStatsRestService.java
Due: trigger-coverage, trigger-build

trapd config management commands
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/SnmpDelConfigCommand.java
  features/events/shell-commands/pom.xml
  features/events/shell-commands/src/main/java/org/opennms/netmgt/events/commands/TrapdAddConfigCommand.java
  features/events/shell-commands/src/main/java/org/opennms/netmgt/events/commands/TrapdDelConfigCommand.java
Due: trigger-coverage, trigger-build

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-20111: Updates BSF in Notifd to JSR-223 (#8718)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/notifications/bonus-strategies.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/scripting.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BSFNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/BSFNotificationStrategyIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20113: Review fixes for the webhook notification strategy
  docs/modules/operation/pages/deep-dive/notifications/strategies/webhook.adoc
  opennms-services/src/main/java/org/opennms/netmgt/notifd/WebhookNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/WebhookNotificationStrategyTest.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20113: Fix three escaped tokens in the webhook documentation
  docs/modules/operation/pages/deep-dive/notifications/strategies/webhook.adoc
Due: trigger-coverage, trigger-docs

NMS-20113: Replace the Slack and Mattermost notification channels with a generic webhook
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/notifications/bonus-strategies.adoc
  docs/modules/operation/pages/deep-dive/notifications/introduction.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/mattermost.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/slack.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/webhook.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/AbstractSlackCompatibleNotificationStrategy.java
  opennms-services/src/main/java/org/opennms/netmgt/notifd/MattermostNotificationStrategy.java
  opennms-services/src/main/java/org/opennms/netmgt/notifd/SlackNotificationStrategy.java
  opennms-services/src/main/java/org/opennms/netmgt/notifd/WebhookNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/MattermostNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/MattermostNotificationStrategyTestServlet.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/SlackCompatibleNotificationStrategyTest.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/SlackNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/WebhookNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/WebhookNotificationStrategyTest.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/WebhookNotificationStrategyTestServlet.java
  opennms-services/src/test/resources/WebhookNotificationStrategyTest/WEB-INF/web.xml
Due: trigger-coverage, trigger-build, trigger-docs

Potential fix for pull request finding
  docs/modules/operation/pages/deep-dive/notifications/introduction.adoc
  opennms-services/src/main/java/org/opennms/netmgt/notifd/WebhookNotificationStrategy.java
Due: trigger-coverage, trigger-build, trigger-docs

Update plugins.sh
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-build

NMS-20100: PrimeVue Notifications page with a General configuration tab (#8709)
  .gitignore
  opennms-config/src/main/java/org/opennms/netmgt/config/DestinationPathManager.java
  opennms-config/src/main/java/org/opennms/netmgt/config/NotificationManager.java
  opennms-config/src/test/java/org/opennms/netmgt/config/DestinationPathManagerRollbackTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/NotificationManagerRollbackTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/NoticesTable.vue
  ui/src/components/AdminNotifications/NotificationExplanationsCard.vue
  ui/src/components/AdminNotifications/NotificationQueriesCard.vue
  ui/src/composables/useBrowserNotifications.ts
  ui/src/composables/useRole.ts
  ui/src/containers/Notifications.vue
  ui/src/main/App.vue
  ui/src/main/router/index.ts
  ui/src/services/index.ts
  ui/src/services/noticesService.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/noticesStore.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notices.ts
  ui/src/types/notificationConfig.ts
  ui/tests/composables/useBrowserNotifications.test.ts
  ui/tests/stores/noticesStore.test.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui
