Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-15867: Fix Sonar issue (rel noopener)
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

must be some kind of subtle dependency interaction here, revert zookeeper for now
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  core/ipc/twin/kafka/itests/src/test/java/org/opennms/core/ipc/twin/kafka/KafkaTwinIT.java
  core/test-api/kafka/pom.xml
  features/distributed/coordination/zookeeper/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

remove temporary debugging again
  core/ipc/twin/kafka/itests/src/test/java/org/opennms/core/ipc/twin/kafka/KafkaTwinIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15780: Admin password change prompt
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/AbstractBasePasswordChangeActionServlet.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/PasswordGateActionServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/src/main/webapp/account/selfService/newPassword.jsp
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  opennms-webapp/src/main/webapp/login.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15867: Admin password gate, updated wording
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15866: Smoke test for admin password gate
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/AbstractBasePasswordChangeActionServlet.java
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15752: Allow Elasticsearch credentials to be stored in SCV
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
  features/alarms/history/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/jest/client/pom.xml
  features/jest/client/src/main/java/org/opennms/features/jest/client/RestClientFactory.java
  features/jest/client/src/main/java/org/opennms/features/jest/client/credentials/CredentialsParser.java
  features/jest/client/src/test/java/org/opennms/features/jest/client/credentials/CredentialsParserTest.java
  features/opennms-es-rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/situation-feedback/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

update to work with modern jfreechart, do some sonar cleanup too
  opennms-web-api/src/main/java/org/opennms/web/charts/ChartException.java
  opennms-web-api/src/main/java/org/opennms/web/charts/ChartUtils.java
  opennms-web-api/src/test/java/org/opennms/web/charts/ChartUtilsIT.java
  opennms-webapp/src/main/java/org/opennms/web/graph/PurdyChartServlet.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump protobuf to 3.16.3
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix zookeeper loading (again)
  container/features/src/main/resources/features-core.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

try bumping logback-classic to get past a maven error
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update vite to latest 3.x (and related)
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

use minimist 1.2.8 everywhere
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build(deps-dev): update tar and ansi-regex
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update parser too
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build(deps-dev): word-wrap 1.2.5
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build(deps-dev): tough-cookie to 4.1.3
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build(deps-dev): update ini 1.x references to 1.3.8
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

attempt to use arm VMs for docker image generation
  .circleci/main/executors.yml
  .circleci/main/jobs/oci/horizon-image-single-arch.yml
  .circleci/main/jobs/oci/minion-image-single-arch.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use jar-no-fork
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

verify already happens as part of install
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15647: Fixed tests
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/XmlCollectorTestUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15647: Fixed another test
  features/wsman/src/test/java/org/opennms/netmgt/collectd/WSManCollectorTest.java
  features/wsman/src/test/java/org/opennms/netmgt/poller/monitors/WSManMonitorTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15760: Allow metadata in jira.properties
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
  features/ticketing/jira-integration/pom.xml
  features/ticketing/jira-integration/src/main/java/org/opennms/netmgt/ticketer/jira/JiraTicketerPlugin.java
  features/ticketing/jira-integration/src/main/java/org/opennms/netmgt/ticketer/jira/commands/AbstractJiraCommand.java
  features/ticketing/jira-integration/src/main/java/org/opennms/netmgt/ticketer/jira/commands/ShowConfigCommand.java
  features/ticketing/jira-integration/src/main/java/org/opennms/netmgt/ticketer/jira/commands/VerifyCommand.java
  features/ticketing/jira-integration/src/main/resources/OSGI-INF/blueprint/blueprint-jira-ticketer.xml
  features/ticketing/jira-integration/src/test/java/org/opennms/netmgt/ticketer/jira/JiraTicketerPluginTest.java
  features/ticketing/jira-integration/src/test/resources/opennms-home/etc/jira.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15764: Allow metadata expressions in remote-repository.xml
  features/reporting/repository/pom.xml
  features/reporting/repository/src/main/java/org/opennms/features/reporting/repository/remote/DefaultRemoteRepository.java
  features/reporting/repository/src/test/java/org/opennms/features/reporting/repository/remote/NMS15764IT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15764: Fixed JCEKS SCV applicationContext
  features/reporting/repository/src/test/java/org/opennms/features/reporting/repository/remote/NMS15764IT.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15758: Allow metadata expressions in HTTP datacollection config
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  features/collection/collectors/src/main/java/org/opennms/netmgt/collectd/HttpCollector.java
  features/collection/collectors/src/test/java/org/opennms/netmgt/collectd/NMS15758IT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15764: Allow metadata expressions in remote-repository.xml
  features/reporting/repository/pom.xml
  features/reporting/repository/src/main/java/org/opennms/features/reporting/repository/remote/DefaultRemoteRepository.java
  features/reporting/repository/src/test/java/org/opennms/features/reporting/repository/remote/NMS15764IT.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

modified tpl and adoc for issue NMS-16025
  docs/modules/reference/pages/configuration/core-docker.adoc
  opennms-container/core/container-fs/confd/templates/newts.properties.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

override spring-ext repo that is not responding, we do not need it
  container/features/pom.xml
  container/spring-extender/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/reference/pages/configuration/core-docker.adoc
  docs/modules/reference/pages/configuration/core-docker.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

build(deps-dev): also upgrade jest-environment-jsdom and jest-jasmine2
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15865: Add Bluecat DHCP/NTP collection
  opennms-base-assembly/src/main/filtered/etc/datacollection/bluecat.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Docs: Add foreignSource note to newSuspect event sample
  docs/modules/operation/pages/deep-dive/provisioning/directed-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16033: Update docs on default RRD
  docs/modules/operation/pages/deep-dive/performance-data-collection/collectd/collection-packages.adoc
  docs/modules/operation/pages/deep-dive/retention.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke
