Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-15819: Fixed typos in applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

wait a reasonable time for the vertices to appear
  smoke-test/src/test/java/org/opennms/smoketest/TopologyIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16165: add missing JDBC resource type
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/postgresql-resource.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16168: Added missing dependency
  opennms-assemblies/webapp-full/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16116: Update node structure page to accept query strings
  ui/src/App.vue
  ui/src/components/Nodes/ManagementIPTooltipCell.vue
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/useIpInterfaceQuery.ts
  ui/src/components/Nodes/hooks/useNodeExport.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/components/Nodes/utils.ts
  ui/src/containers/Nodes.vue
  ui/src/stores/nodeStore.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

bump protobuf to latest 3.x
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16116: Bump typescript to 5.2.2, needed for types/ramda
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16044: Fixed URL to geographical map
  features/vaadin-dashlets/dashlet-map/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/MapDashlet.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15746: Added CSRF token to form
  opennms-webapp/src/main/webapp/admin/nodemanagement/deletenode.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix protobuf feature dependencies
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump to latest Drools 8.x
  dependencies/drools/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15459: Upgrade to Drools 8.34.0.Final
  dependencies/drools/pom.xml
  features/ticketing/drools-integration/src/main/java/org/opennms/netmgt/ticketd/DroolsTicketerServiceLayer.java
  opennms-alarms/integration-tests/src/test/java/org/opennms/netmgt/alarmd/itests/AlarmdBlackboxIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/drools-engine.d/nodeParentRules/LocationMonitorRules.drl
  opennms-base-assembly/src/main/filtered/etc/examples/drools-engine.d/nodeParentRules/NodeParentRules.drl
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/CorrelationExample.java
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/DroolsCorrelationEngine.java
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/DroolsStreamUtils.java
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/dependencyRules/DependencyRules.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/droolsFusion/DroolsFusion.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/locationMonitorRules/LocationMonitorRules.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/nodeParentRules/NodeParentRules.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/persistState/PersistState.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/persistStateStreaming/PersistStateStreaming.drl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix some drools API changes
  opennms-alarms/drools-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsNorthbounder.java
  opennms-alarms/drools-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsNorthbounderConfigDaoIT.java
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/DroolsCorrelationEngine.java
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/DroolsStreamUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump snmp4j to the latest 2.x
  container/karaf/src/main/filtered-resources/etc/custom.properties
  dependencies/snmp4j-agent/pom.xml
  dependencies/snmp4j/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

2020 is now in maintenance mode, do a minimal build
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15790: Transport bootstrap.jsp args in context
  opennms-webapp/src/main/java/org/opennms/web/utils/Bootstrap.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/graph/results-error.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/graph/results.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix some feature-related dependency stuff
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix jetty.xml to validate properly
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump jetty, netty, and snappy-java to latest versions
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16116: Node structure add queries for flows, ipaddress, monitoringLocations, snmp
  ui/package.json
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/containers/Nodes.vue
  ui/src/stores/nodeStore.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

fix
  ui/src/components/Nodes/ExtendedSearchPanel.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15790: Fix bootstrap callers
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
  opennms-webapp/src/main/webapp/admin/discovery/config-done.jsp
  opennms-webapp/src/main/webapp/admin/discovery/edit-config.jsp
  opennms-webapp/src/main/webapp/admin/discovery/edit-scan.jsp
  opennms-webapp/src/main/webapp/admin/discovery/scan-done.jsp
  opennms-webapp/src/main/webapp/admin/interfaceDeleted.jsp
  opennms-webapp/src/main/webapp/admin/updateSnmp.jsp
  opennms-webapp/src/main/webapp/element/availability.jsp
  opennms-webapp/src/main/webapp/element/interface-metadata.jsp
  opennms-webapp/src/main/webapp/element/interface.jsp
  opennms-webapp/src/main/webapp/element/node-metadata.jsp
  opennms-webapp/src/main/webapp/element/rescan.jsp
  opennms-webapp/src/main/webapp/element/service-metadata.jsp
  opennms-webapp/src/main/webapp/element/snmpinterface.jsp
  opennms-webapp/src/main/webapp/errors/elementidnotfound.jsp
  opennms-webapp/src/main/webapp/hardware/list.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15667: Interpolate Mate in threshold label and resource-filters
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/BaseThresholdDefConfigWrapper.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdEntity.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSetImpl.java
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/ThresholdExpressionTestCase.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Create Opennms
  Opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Create Open
  Open
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

extra debugging to try to narrow down failures
  smoke-test/src/test/java/org/opennms/smoketest/ClassificationRulePageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16197: Node structure add more query params, fix search issues
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/lib/utils.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15774: Brief overview of the metadata changes
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix version mismatch in jolokia
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
