Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

testing - disable horizon rpm build filters
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/admin/webui/surveillance-view.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/trends.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

bad idea - disable smoke tests
  .circleci/main/workflows/workflows_v2.json
  .circleci/scripts/lib-docker.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix npe and how the type is determined
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/sampleread/aggregation/NewtsConverterUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix coverage trigger
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "only run coverage"
  .circleci/build-triggers.override.json
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14907: potential fix for coverage build issue
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bad idea - disable filters for smoke tests
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14476: "Latest" Links for Docs
  docs/modules/write-the-docs/pages/write-docs.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

tag docker image as latest
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

tweak how we set image name
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Remove unused contants
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bad idea - override source tag
  .circleci/scripts/lib-docker.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix the path to environment script
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14800: Ignore smoke test for new UI (temporarily)
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/write-the-docs/pages/write-docs.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/quick-start/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

bump to latest testcontainers
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

set parameters for auto-merge of 31 to develop
  .circleci/main/parameters.yml
  .nightly
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update circle build parameters for develop
  .circleci/main/parameters.yml
  .nightly
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

foundation-2022 auto-merges to release-31.x now instead of 30
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

30.x -> 31.x
  index.html
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

exclude drools in OpenNMS container
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14800: Fix Plugin menubar link element name to fix smoke test
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14853: Add unit test
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
  opennms-provision/opennms-provisiond/src/test/resources/single_node.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14844: Documentation for Appliance Cloud Connect
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14754: added changes so metadata-test command shows in karaf shell
  container/features/src/main/resources/features.xml
  core/mate/shell-commands/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14800: Vue and old menubar sync (part of UI Preview Foldin) (#5411)
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
  ui/.env
  ui/.env.development
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/App.vue
  ui/src/assets/LogoHorizon.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/Search.vue
  ui/src/main.ts
  ui/src/services/index.ts
  ui/src/services/menuService.ts
  ui/src/store/index.ts
  ui/src/store/menu/actions.ts
  ui/src/store/menu/index.ts
  ui/src/store/menu/mutations.ts
  ui/src/store/menu/state.ts
  ui/src/types/mainMenu.d.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14801: Add Menu Rest Service (#5405)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/HttpMenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/Notices.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/TopMenuEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/MenuXml.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/package-info.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp/src/main/java/org/opennms/web/navigate/RoleBasedNavBarEntry.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

lib-docker, use the largest file size for docker images
  .circleci/scripts/lib-docker.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

set build environment before running docker image load command
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

initial commit on attemping to line up Vue and Classic AppBars 1:1 along with color update for chromatic black to new vue color
  core/web-assets/package-lock.json
  core/web-assets/src/main/assets/js/apps/onms-central-search/quicksearch.html
  core/web-assets/src/main/assets/static/fonts/OpenSans-Regular.ttf
  core/web-assets/src/main/assets/static/fonts/OpenSans-SemiBold.ttf
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/Search.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

tweak working directory
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14844: Documentation for Appliance Cloud Connect
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14913: Enlink daemon doc restructure
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13572: Allow the Horizon container to run on OpenShift 4.x (tested on v4.11.7) without customer security context settings:
  opennms-container/horizon/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13572: Add a smoke test with a random uid and test the nocap jvm
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/StackModel.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/TestContainerUtils.java
  smoke-test/src/test/java/org/opennms/smoketest/OpenShiftCompatIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

hard code version information
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
