Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

disable plugins
  opennms-container/core/plugins.sh
  opennms-container/minion/plugins.sh
  opennms-container/sentinel/plugins.sh
Due: trigger-coverage, trigger-build

NMS-19113: Don't need to use scv, also fix review comments
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/service/Service.java
  opennms-config-model/src/test/java/org/opennms/netmgt/config/service/ServiceEnabledTest.java
  opennms-config/pom.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/ServiceConfigFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/ServiceConfigFactoryInterpolationTest.java
Due: trigger-coverage, trigger-build

fix cortex plugin repo link
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-build

disable plugins 2
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
Due: trigger-coverage, trigger-build

NMS-19113: Simplify resolution, no need to handle all edge cases
  opennms-config-model/src/main/java/org/opennms/netmgt/config/service/Service.java
  opennms-config-model/src/test/java/org/opennms/netmgt/config/service/ServiceEnabledTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/ServiceConfigFactoryInterpolationTest.java
Due: trigger-coverage, trigger-build

remove plugins logic
  opennms-container/core/Dockerfile
  opennms-container/core/plugins.sh
  opennms-container/minion/Dockerfile
  opennms-container/minion/plugins.sh
  opennms-container/sentinel/plugins.sh
Due: trigger-coverage, trigger-build

NMS-19698: Use recent activemq-client version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19698: Review changes
  pom.xml
Due: trigger-coverage, trigger-build

Port LoadDataHWForecastTest and account for confidence bounds
  features/measurements/impl/src/test/java/org/opennms/netmgt/measurements/filters/impl/LoadData.java
  features/measurements/impl/src/test/java/org/opennms/netmgt/measurements/filters/impl/LoadDataHWForecastTest.java
  features/measurements/impl/src/test/resources/trendline.txt
Due: trigger-coverage, trigger-build

Potential fix for pull request finding
  features/measurements/impl/src/test/java/org/opennms/netmgt/measurements/filters/impl/LoadData.java
Due: trigger-coverage, trigger-build

Potential fix for pull request finding
  features/measurements/impl/src/test/java/org/opennms/netmgt/measurements/filters/impl/LoadDataHWForecastTest.java
Due: trigger-coverage, trigger-build

Merge remote-tracking branch 'origin/foundation-2023' into foundation-2024
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-build

NMS-19795: Fix password gate client side complexity check regex
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
Due: trigger-coverage, trigger-build

smoke tests
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Due: trigger-coverage, trigger-build

Update whatsnew doc and breaking changes
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

fix review comments
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update reference to event conf doc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

some more updates to docs
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-19780: Bumped mina version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19779: Bumped netty version
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19773: Emit an event when config changes between DCB backup intervals (#8507)
  core/schema/src/main/liquibase/36.0.0/changelog.xml
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
  docs/modules/operation/pages/deep-dive/device-config-backup/introduction.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  features/device-config/api/pom.xml
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigConstants.java
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigUtil.java
  features/device-config/api/src/test/java/org/opennms/features/deviceconfig/service/DeviceConfigUtilTest.java
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorTest.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
Due: trigger-coverage, trigger-build, trigger-docs

test new jetty
  pom.xml
Due: trigger-coverage, trigger-build

regenerate package-lock file for web-assets
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-build

Update backshift version to 1.3.5
  core/web-assets/package-lock.json
  core/web-assets/package.json
Due: trigger-coverage, trigger-build

NMS-19719: Bring Data Collection Config from plugins to DB
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/config/SnmpCollectionExtensionManager.java
  features/api-layer/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoaderImpl.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDb.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDbImpl.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoaderTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDbIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionXmlToDbParityIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/lib/snmpDataCollectionHelpers.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19799: Add csp frame-ancestors directive
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/http-security-headers.adoc
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19719: Some more updates
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/config/SnmpCollectionExtensionManager.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDb.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDbImpl.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/SnmpDataCollectionSyncToDbIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfLifecycleIT.java
Due: trigger-coverage, trigger-build

NMS-19801: Fixed find-java.sh calls
  container/shared/src/main/resources/etc/container.init
  features/container/sentinel/src/main/filtered-resources/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/bin/support_pack.sh
  opennms-base-assembly/src/main/filtered/bin/support_pack.sh
Due: trigger-coverage, trigger-build

Update index.html
  index.html
Due: trigger-coverage, trigger-build

Set home path dynamically
  opennms-base-assembly/src/main/filtered/bin/configure-snmp.sh
  opennms-base-assembly/src/main/filtered/bin/datacollection-validation.sh
  opennms-base-assembly/src/main/filtered/bin/ensure-user-ping.sh
  opennms-base-assembly/src/main/filtered/bin/fix-karaf-setup.sh
Due: trigger-coverage, trigger-build

Update pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

Fix .d.ts -> .ts
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/types/snmpDataCollection.ts
  ui/src/types/timeSeries.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19782: Bumped PostgreSQL library version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19781: Bumped BouncyCastle library version
  pom.xml
Due: trigger-coverage, trigger-build

drop support for legacy kafka
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/minion/container-fs/etc/featuresBoot.d/templates/kafka-rpc.boot
  opennms-container/minion/container-fs/etc/featuresBoot.d/templates/kafka-sink.boot
  opennms-container/minion/container-fs/etc/featuresBoot.d/templates/kafka-twin.boot
Due: trigger-coverage, trigger-build

remove other properties
  opennms-container/minion/container-fs/etc/org.opennms.core.ipc.rpc.kafka.cfg
  opennms-container/minion/container-fs/etc/org.opennms.core.ipc.sink.kafka.cfg
  opennms-container/minion/container-fs/etc/org.opennms.core.ipc.sink.offheap.cfg
  opennms-container/minion/container-fs/etc/org.opennms.core.ipc.twin.kafka.cfg
Due: trigger-coverage, trigger-build

remove references to plugin
  opennms-container/minion/Dockerfile
Due: trigger-coverage, trigger-build

Changes for PR review
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/lib/timeSeriesHelpers.ts
  ui/src/stores/snmpDataCollectionCreationStore.ts
  ui/src/stores/snmpDataCollectionStore.ts
  ui/src/types/snmpDataCollection.ts
  ui/tests/containers/SnmpDataCollectionSourceDetail.test.ts
  ui/tests/lib/timeSeriesHelpers.test.ts
Due: trigger-coverage, trigger-build, trigger-ui
