Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

make sure OIA is loaded by flow features
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14423: Document allowed characters in service-names (#5160)
  docs/modules/reference/pages/service-assurance/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

sample change
  .circleci/main/workflows/build-deploy.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13057: Update PG installation documentation to use SCRAM
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14572: fix properties conflicting with minion/sentinel
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

backport oia fix
  .circleci/main/workflows/build-deploy.yml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-8567: PassiveStatusd Daemon Doc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karaf.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karafstartupmonitor.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ticketer.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/development/pages/oia/introduction.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13057: Update PG installation documentation to use SCRAM (#5163)
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14397 EnhancedLinkd Collection priority Scheduling
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/CollectorGroupTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14397 EnhancedLinkd Collection priority Scheduling
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/development/pages/oia/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

validate karaf features
  container/features/pom.xml
  container/features/src/main/resources/custom.properties
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14491: Add various strategies to usage statistics report
  features/datachoices/pom.xml
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the tarball-assembly-only
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14491: Adding dependencies to karaf feature
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14576: Add new 'P' prefix to m_collect field
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsSnmpInterface.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/MatchingIpInterfacePolicy.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/MatchingSnmpInterfacePolicy.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 30.0.2
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-14014: Bind Minion to privileged ports
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/minion/introduction.adoc
  docs/modules/deployment/pages/minion/port-bind.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix missing high-scale-lib dependency in clean builds
  dependencies/cassandra-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Updated Release Notes for OpenNMS Horizon 30.0.2
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Running a full OpenNMS Horizon 30.0.2 build
  .circleci/epoch
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13584: Migrate Notification wiki pages into docs
  docs/modules/operation/pages/notifications/commands.adoc
  docs/modules/operation/pages/notifications/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/minion/introduction.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update minion-confd.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update install.adoc
  docs/modules/deployment/pages/minion/install.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/notifications/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13584: Migrate Notification wiki pages into docs
  docs/modules/operation/pages/notifications/commands.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/notifications/commands.adoc
  docs/modules/operation/pages/notifications/concepts.adoc
  docs/modules/operation/pages/notifications/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14611: "Quick Start" guide for operations section of docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/beyond-quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/users.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14611: "Quick Start" guide for operations section of docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14611: "Quick Start" guide for operations section of docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/introduction.adoc
  docs/modules/operation/pages/deep-dive/user-management/introduction.adoc
  docs/modules/operation/pages/deep-dive/user-management/pre-authentication.adoc
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-config.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-groups.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-maintenance.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-oncall.adoc
  docs/modules/operation/pages/quick-start/users.adoc
  docs/modules/operation/pages/user-management/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14572: provisioning adapters should be in optional
  opennms-full-assembly/src/assembly/core.xml
  opennms-full-assembly/src/assembly/optional.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
