Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

Update features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
Due: trigger-coverage, trigger-build

css fix
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix
  ui/src/components/MibCompiler/PendingMibFiles.vue
Due: trigger-coverage, trigger-build, trigger-ui

update file content
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/containers/EditMibFile.vue
  ui/src/containers/MibCompiler.vue
  ui/src/main/router/index.ts
  ui/src/stores/mibCompilerStore.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

compile mib
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/services/mibCompilerService.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

generate events
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/services/mibCompilerService.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

download file
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
Due: trigger-coverage, trigger-build, trigger-ui

user newer image !smoke
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-build

NMS-19563: Provide functionality to enable/disable status of snmp collection (#8329)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSourceDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19259: enable/disable reloadDataCollection from DB
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
Due: trigger-coverage, trigger-build

Fixing errors by updating vue-tsc and adding an explanation
  ui/DEVELOPMENT.md
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19709: Remove Event landing page, replace with updated Event List page
  docs/modules/reference/pages/service-assurance/monitors/PageSequenceMonitor.adoc
  opennms-services/src/test/resources/opennmsPageSequence.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-legacy.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp-rest/src/test/resources/menu/menu-template.json
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/list.jsp
  opennms-webapp/src/main/webapp/event/advsearch.jsp
  opennms-webapp/src/main/webapp/event/eventhelp.jsp
  opennms-webapp/src/main/webapp/event/severity.jsp
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19681: Remove Alarm landing page
  opennms-services/src/test/resources/opennmsPageSequence.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-legacy.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp-rest/src/test/resources/menu/menu-template.json
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmFilterController.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/alarm/advsearch.jsp
  opennms-webapp/src/main/webapp/alarm/alarmhelp.jsp
  opennms-webapp/src/main/webapp/alarm/severity.jsp
  opennms-webapp/src/test/java/org/opennms/web/controller/NavBarControllerTest.java
  smoke-test/src/test/java/org/opennms/smoketest/AlarmsPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

NMS-19154: Updates as per PR review
  docs/modules/operation/pages/deep-dive/snmp-configuration/snmp-config-ui-lookup.adoc
  docs/modules/operation/pages/deep-dive/snmp-configuration/snmp-config-ui-manage-definitions.adoc
  docs/modules/operation/pages/deep-dive/snmp-configuration/snmp-config-ui-manage-profiles.adoc
Due: trigger-coverage, trigger-docs

Use a wizard to combine items that needs attention
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AccountRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/WelcomeModal/WelcomeModal.vue
  ui/src/containers/Home.vue
  ui/src/main/App.vue
  ui/src/services/accountService.ts
  ui/src/services/index.ts
  ui/src/services/usageStatisticsService.ts
  ui/src/types/usageStatistics.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
Due: trigger-coverage, trigger-build, trigger-ui

merge changes from f22 to f23
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  features/amqp/alarm-northbounder/pom.xml
  features/amqp/event-forwarder/pom.xml
  features/amqp/event-receiver/pom.xml
  features/minion/core/features/src/main/resources/features.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
Due: trigger-coverage, trigger-build

NMS-19544: Fix donut graph top alignment
  core/web-assets/src/main/assets/js/apps/status-box/index.js
Due: trigger-coverage, trigger-build

do we need this?
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19396: Review changes
  features/newts-repository-converter/pom.xml
  features/newts-repository-converter/src/main/java/org/opennms/features/newts/converter/NewtsConverter.java
  features/newts-repository-converter/src/test/java/org/opennms/features/newts/converter/NewtsConverterIT.java
Due: trigger-coverage, trigger-build

update snmp-config-ui-lookup.adoc
  docs/modules/operation/pages/deep-dive/snmp-configuration/snmp-config-ui-lookup.adoc
Due: trigger-coverage, trigger-docs

fix smoke test
  smoke-test/src/test/java/org/opennms/smoketest/EventsPageIT.java
Due: trigger-coverage, trigger-build

fix smoke tests
  smoke-test/src/test/java/org/opennms/smoketest/AlarmsPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

Attempt to move the changes to v2 api
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AccountRestServiceImpl.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/AccountRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/accountService.ts
  ui/src/services/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19171: MIB Compiler UI for uploading files (#8452)
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/services/mibCompilerService.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Merge remote-tracking branch 'origin/foundation-2023' into foundation-2024
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  features/amqp/alarm-northbounder/pom.xml
  features/amqp/event-forwarder/pom.xml
  features/amqp/event-receiver/pom.xml
  features/minion/core/features/src/main/resources/features.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19259: Move loading of config to separate class
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultDataCollectionConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
Due: trigger-coverage, trigger-build

revert some of the changes
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/containers/Home.vue
  ui/src/types/usageStatistics.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix a typo
  container/karaf/src/main/filtered-resources/etc/overrides.properties
Due: trigger-coverage, trigger-build

fixes
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

changes
  ui/src/containers/MibCompiler.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19259: Few more fixes
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/datacollection/SnmpDataCollectionMigration.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoader.java
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/containers/SnmpDataCollectionCreate.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Potential fix for pull request finding
  ui/src/components/WelcomeModal/WelcomeModal.vue
Due: trigger-coverage, trigger-build, trigger-ui

only update requestion if node label has changed
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
Due: trigger-coverage, trigger-build

NMS-19259: Move reload to Rest service
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
Due: trigger-coverage, trigger-build

NMS-19617: Enable light/dark mode for Vue UI
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/nodeList.jsp
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/Search.vue
  ui/src/components/Menu/SearchResult.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Resources/TimeControls.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/src/main/main.ts
  ui/src/services/themeService.ts
  ui/src/stores/nodeStore.ts
  ui/src/styles/themes.scss
Due: trigger-coverage, trigger-build, trigger-ui

small bug fix
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  ui/src/main/App.vue
Due: trigger-coverage, trigger-build, trigger-ui

first attempt to support existing properties.
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/productupdateenrollment/ProductUpdateEnrollmentStatusDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/web/internal/DataChoiceRestServiceImpl.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/web/internal/WizardGateServiceImpl.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-web-api/src/main/java/org/opennms/web/api/WizardGateService.java
  ui/src/main/App.vue
  ui/src/types/usageStatistics.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19176: Fixed the reviews
  features/mib-compiler/rest/pom.xml
  features/mib-compiler/rest/src/main/java/org/opennms/features/mibcompiler/rest/internal/MibCompilerRestServiceImpl.java
  features/mib-compiler/rest/src/test/java/org/opennms/features/mibcompiler/rest/internal/MibCompilerRestServiceImplIT.java
Due: trigger-coverage, trigger-build
