Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-15005: Role access check in UI for External Requisition
  ui/src/router/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/admin/housekeeping/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15051: Fix serialization test
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14650: clean up PID handling for startup
  debian/opennms-server.opennms.init
  debian/opennms-server.postinst
  debian/rules
  opennms-assemblies/minion/src/main/filtered/debian/rules
  opennms-assemblies/sentinel/src/main/filtered/debian/rules
  opennms-base-assembly/src/main/filtered/bin/fix-permissions
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-base-assembly/src/main/filtered/bin/update-package-permissions
  opennms-base-assembly/src/main/filtered/etc/opennms.service
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15008: Stop duplicating location information
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/PollerClientRpcModule.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/SnmpMonitor.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15051: Fix test
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15051: Fix casting in test
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14855: add minion detector and policy for appliance (#5565)
  features/minion/heartbeat/consumer/src/main/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumer.java
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13020: Added meta-data handling for 'RESOLVED:' notifications
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BroadcastEventProcessor.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix class name reference in Kafka Producer docs
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Remove v30 references from time series docs
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15106: Update QS style
  docs/modules/operation/pages/quick-start/baseline.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/notification-config.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14919: fix top-level walker to handled excluded paths
  opennms-bootstrap/src/main/java/org/opennms/bootstrap/FilesystemPermissionValidator.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Upgrade to OpenTracing 0.32
  core/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  core/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcClientFactory.java
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcServerProcessor.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcClientFactory.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
  core/ipc/sink/camel/client/src/main/java/org/opennms/core/ipc/sink/camel/client/CamelRemoteMessageDispatcherFactory.java
  core/ipc/sink/camel/server/src/main/java/org/opennms/core/ipc/sink/camel/server/CamelSinkServerProcessor.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
  core/tracing/api/src/main/java/org/opennms/core/tracing/util/TracingInfoCarrier.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update okhttp and okio verions to be compatible with OpenTelemetry
  features/endpoints/grafana/client/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update Jaeger client library and Apache Thrift to current versions.
  core/tracing/jaeger-osgi/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add basic test to make sure we can init the library
  core/tracing/jaeger-tracer/pom.xml
  core/tracing/jaeger-tracer/src/test/java/org/opennms/core/tracing/jaeger/JaegerTracerWrapperTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add Kotlin dependency for okhttp/okio
  container/features/src/main/resources/features.xml
  features/endpoints/grafana/client/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix extract by implementing TracingInfoCarrier.iterator() and add test
  core/tracing/api/src/main/java/org/opennms/core/tracing/util/TracingInfoCarrier.java
  core/tracing/jaeger-tracer/pom.xml
  core/tracing/jaeger-tracer/src/main/java/org/opennms/core/tracing/jaeger/JaegerTracerWrapper.java
  core/tracing/jaeger-tracer/src/test/java/org/opennms/core/tracing/jaeger/JaegerTracerWrapperTest.java
  core/tracing/jaeger-tracer/src/test/resources/log4j2-test.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix itests that break when they don't have an Identity configured
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/HeartbeatSinkIT.java
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/HeartbeatSinkPerfIT.java
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/KafkaLargeBufferSinkIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix OpenTracing inject/extract at runtime.
  core/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  core/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcClientFactory.java
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcServerProcessor.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcClientFactory.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
  core/ipc/sink/camel/client/src/main/java/org/opennms/core/ipc/sink/camel/client/CamelRemoteMessageDispatcherFactory.java
  core/ipc/sink/camel/server/src/main/java/org/opennms/core/ipc/sink/camel/server/CamelSinkServerProcessor.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
  core/tracing/api/src/main/java/org/opennms/core/tracing/util/TracingInfoCarrier.java
  core/tracing/jaeger-osgi/pom.xml
  core/tracing/jaeger-tracer/src/main/java/org/opennms/core/tracing/jaeger/JaegerTracerWrapper.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add a basic smoke test for Jaeger
  smoke-test/src/test/java/org/opennms/smoketest/JaegerTracingIT.java
  smoke-test/src/test/resources/jaeger/jaeger.boot
  smoke-test/src/test/resources/jaeger/jaeger.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

If we can pull out an exception, include that in the failure stack trace
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DC-407 Have a smoke test in OpenNMS repo to make sure the cloud plugin runs
  smoke-test/pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClientUtil.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestHealthClient.java
  smoke-test/src/test/java/org/opennms/smoketest/OpenNMSCloudPluginIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

backport dependabot update to qs 6.5.3
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14988: Set additional entity expansion options
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15106: Update QS style
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/notification-config.adoc
  docs/modules/operation/pages/quick-start/notifications.adoc
  docs/modules/operation/pages/quick-start/performance-data.adoc
  docs/modules/operation/pages/quick-start/service-assurance.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
  docs/modules/operation/pages/quick-start/users.adoc
  docs/modules/operation/pages/quick-start/visualize-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14937: Added test coverage
  smoke-test/src/test/java/org/opennms/smoketest/WebappIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14988: Restrict DOCTYPE declarations only for ReST endpoints
  core/test-api/xml/src/main/java/org/opennms/core/test/xml/XmlTest.java
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/ValidatingMessageBodyReader.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15106: Update Quick Start style
  docs/modules/operation/pages/quick-start/baseline.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/notification-config.adoc
  docs/modules/operation/pages/quick-start/notifications.adoc
  docs/modules/operation/pages/quick-start/performance-data.adoc
  docs/modules/operation/pages/quick-start/service-assurance.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
  docs/modules/operation/pages/quick-start/users.adoc
  docs/modules/operation/pages/quick-start/visualize-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix Jaeger tracing in Minion
  core/tracing/jaeger-osgi/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix error message to be correct for non-Horizon
  opennms-container/common.mk
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix health check log messages
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/notification-config.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Make the Jaeger test end-to-end for both Horizon and Minion
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/StackModel.java
  smoke-test/src/test/java/org/opennms/smoketest/JaegerTracingIT.java
  smoke-test/src/test/resources/jaeger/jaeger.boot
  smoke-test/src/test/resources/jaeger/jaeger.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15134: Default to direction 'unknown' when the direction field is not present in Netflow9 or IPFIX flows.
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/IpFixMessageBuilder.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/Netflow9MessageBuilder.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/IpfixMessageBuilderTest.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/Netflow9MessageBuilderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add support for JAEGER_ENDPOINT, fix spelling of JAEGER_AGENT_HOST
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
  opennms-container/minion/CONFD_README.md
  opennms-container/minion/container-fs/confd/conf.d/jaeger.boot.toml
  opennms-container/minion/container-fs/confd/templates/jaeger.boot.tmpl
  opennms-container/minion/minion-config-schema.yml.in
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-14918: Alarms and Events: filter and advanced search / method POST is not supported
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmQueryServlet.java
  opennms-webapp/src/main/java/org/opennms/web/event/EventQueryServlet.java
  opennms-webapp/src/test/java/org/opennms/web/event/NMS12517_Test.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
