Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

Add update to installation path for DEB and RPM
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update whatsnew.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-19099 ; fixed test case issue
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
Due: trigger-coverage, trigger-build

Naming updates and consistency in Event Config pages
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Add properties back that git merge removed
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19177: UI library updates H35 December 2025
  core/web-assets/package-lock.json
  core/web-assets/package.json
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19083: Removed non-functional webconsole
  container/features/src/main/resources/karaf/standard.xml
  core/test-api/karaf/pom.xml
  core/test-api/karaf/src/test/java/org/opennms/core/test/karaf/test/FeatureInstallKarafIT.java
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-build

NMS-19070: Identify a trap with OID instead of variable position
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/NMS19070IT.java
  features/events/traps/src/test/resources/org/opennms/netmgt/trapd/eventconf.xml
  features/vaadin-snmp-events-and-metrics/src/main/java/org/opennms/features/vaadin/events/MaskVarbindField.java
  opennms-config-model/src/main/java/org/opennms/netmgt/eventd/datablock/EventConfData.java
  opennms-config-model/src/main/java/org/opennms/netmgt/eventd/datablock/EventKey.java
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/EventMatchers.java
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Varbind.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/eventd/datablock/EventMaskByOidTest.java
  opennms-config-model/src/test/java/org/opennms/netmgt/xml/eventconf/VarbindTest.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19082 review change and add docs
  docs/modules/operation/pages/deep-dive/kafka-producer/enable-kafka.adoc
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/KafkaProducerManager.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterActivator.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterFactory.java
Due: trigger-coverage, trigger-build, trigger-docs

Fix js-yaml
  core/web-assets/package-lock.json
  core/web-assets/package.json
Due: trigger-coverage, trigger-build

Autocomplete for vendors list on release 35.x
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-webapp/src/main/java/org/opennms/web/controller/SendEventController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/sendevent.jsp
Due: trigger-coverage, trigger-build

NMS-19099: New branch updates for release-35
  core/schema/src/main/liquibase/35.0.0/changelog.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEventDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

DOCS: Add some documentation for Scriptd
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/events/scriptd.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/scriptd.adoc
Due: trigger-coverage, trigger-docs

Switch decode string and decode value in event definition user interface on release 35.x
  ui/src/components/EventConfigEventCreate/VarbindsDecode.vue
Due: trigger-coverage, trigger-build, trigger-ui

css fix
  ui/src/components/EventConfigEventCreate/VarbindsDecode.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19134: Expose rest endpoint for creating source
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/AddEventConfSourceRequest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

Test coverage for Create Event Config dialog
  ui/src/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.vue
  ui/src/containers/EventConfiguration.vue
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19177: UI library updates H35 December 2025 (#8166)
  core/web-assets/package-lock.json
  core/web-assets/package.json
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19184: Silence sass deprecation warnings
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/webpack.config.js
Due: trigger-coverage, trigger-build

NMS-19092: Handle PR Review Changes.
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/EventConfChange.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/statement/UpdateEventConfEventStatement.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseEventConfUpgrader.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseUpgrader.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
  features/config/upgrade/src/main/resources/changelog-eventconf/35.0.0/changelog.xml
  features/config/upgrade/src/main/resources/changelog-eventconf/changelog.xml
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
Due: trigger-coverage, trigger-build

style changes for card on node table
  ui/src/containers/Nodes.vue
Due: trigger-coverage, trigger-build, trigger-ui

change pagination
  ui/src/components/Nodes/NodesTable.vue
  ui/src/stores/nodeStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

pagination fixes
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19135: Expose rest endpoint to get events by vendor
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

change package version of fontawesome to froawesome 4 to 6
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/style/font-awesome.scss
Due: trigger-coverage, trigger-build

NMS-19082 review changes
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/KafkaProducerManager.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterActivator.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterFactory.java
Due: trigger-coverage, trigger-build

NMS-19099: fix bug
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

changes back ported for release-35.x
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

enable automatic re-run
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

NMS-19184: Silence sass deprecation warnings (#8173)
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/webpack.config.js
Due: trigger-coverage, trigger-build

DOCS: Add some documentation for Scriptd (#8168)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/events/scriptd.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/scriptd.adoc
Due: trigger-coverage, trigger-docs

NMS-19130: Add docs for event conf to DB feature
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

FE: Update fortawesome icons from 4.x to 6.7.2
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/style/font-awesome.scss
Due: trigger-coverage, trigger-build

FE: Update fortawesome icons from 4.x to 6.7.2
  core/web-assets/package.json
  core/web-assets/src/main/assets/style/font-awesome.scss
Due: trigger-coverage, trigger-build

changes in lock.json
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-build

NMS-19134: fix copilot suggestions
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/AddEventConfSourceRequest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

pagination fixes (#8176)
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
Due: trigger-coverage, trigger-build, trigger-ui
