Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-14767: rework javadoc config, generate jars on prod builds
  .circleci/main/commands/executions/run-build.yml
  features/datachoices/pom.xml
  integrations/opennms-jasper-extensions/src/main/java/org/opennms/netmgt/jasper/grafana/GrafanaPanelDatasource.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/vacuumd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14727: enable publishing jars to Maven Central
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/jobs/publish.yml
  .circleci/main/workflows/workflows_v2.json
  deploy/pom.xml
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15045: Update Event Tokens docs
  docs/modules/operation/pages/deep-dive/events/event-tokens.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14589: remove POI which is no longer needed
  opennms-webapp/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15326: Add additional property fallbacks to preserve original behavior
  core/soa/src/main/java/org/opennms/core/soa/lookup/ServiceLookupBuilder.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/vacuumd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14779: update backshift to a version with POW support
  core/web-assets/package-lock.json
  core/web-assets/package.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

only do publish-maven for this test
  .circleci/build-triggers.override.json
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/jobs/publish.yml
  .circleci/main/workflows/workflows_v2.json
  deploy/settings.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15499: Add RHEL9 to Requirements
  docs/antora.yml
  docs/modules/deployment/pages/core/system-requirements.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14727: put everything back for the merge
  .circleci/build-triggers.override.json
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/jobs/publish.yml
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update cortex plugin docs for featuresBoot file
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

remove extra character from last commit
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix OPENNMS_HOME variable
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update cortex plugin doc typo
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15307: Fixed XSS issue
  opennms-config/src/main/java/org/opennms/netmgt/config/WebRoleManagerImpl.java
  opennms-webapp/src/main/java/org/opennms/web/admin/roles/AdminRoleServlet.java
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/list.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15302: Added security-related HTTP headers
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddHeaderFilter.java
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddStrictTransportSecurityHeaderFilter.java
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14727: wait until publish completes, not just build
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

merge fix, new pom
  deploy/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

merge fix: 31.0.6-SNAPSHOT -> 32.0.0-SNAPSHOT
  deploy/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update opennms-web-api/src/main/java/org/opennms/web/servlet/AddHeaderFilter.java
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddHeaderFilter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update opennms-web-api/src/main/java/org/opennms/web/servlet/AddStrictTransportSecurityHeaderFilter.java
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddStrictTransportSecurityHeaderFilter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15302: Review changes
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Apply changes from review
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update cortex plugin docs for featuresBoot file (#5885)
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15450: Compile fix
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DP-17: Add CLI to Glossary
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix some karaf bundle start-level issues
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15086: Synchronize calls to RRD summary endpoint
  opennms-webapp/src/main/java/org/opennms/web/controller/RrdSummaryController.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15302: Fixed source headers
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddHeaderFilter.java
  opennms-web-api/src/main/java/org/opennms/web/servlet/AddStrictTransportSecurityHeaderFilter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15352: Remove duplicate SNMP intfs from returned list
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsSnmpInterface.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpInterfaceRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-12808: Document the function hiding Meta-Data values with keynames containing "password" or "secret"
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
