Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

fix dup ids, dup definitions render list
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphDataTable.vue
  ui/src/store/graph/actions.ts
Due: trigger-build, trigger-ui

PE-202: fix AdminPageIT and sync admin index with develop
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
Due: trigger-build

fix test
  ui/tests/resourceGraphs.test.ts
Due: trigger-build, trigger-ui

br to \n
  ui/tests/resourceGraphs.test.ts
Due: trigger-build, trigger-ui

PE-202: remove unwanted files
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/JSONObjectDeserializer.java
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/JSONObjectSerialIzer.java
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/TopLevelElementToClass.java
  features/config/dao/impl/src/test/java/org/opennms/features/config/dao/impl/util/TopLevelElementToClassTest.java
  package-lock.json
Due: trigger-build

update docs to "29"
  docs/antora.yml
Due: trigger-docs

update docs to "2021"
  docs/antora.yml
Due: trigger-docs

NMS-13954 vue/chart.js resource graphs
  ui/package.json
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphContainer.vue
  ui/src/components/Resources/GraphDataTable.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/components/Resources/NodeResourceList.vue
  ui/src/components/Resources/ResourceList.vue
  ui/src/components/Resources/Resources.vue
  ui/src/components/Resources/TimeControls.vue
  ui/src/components/Resources/plugins/HtmlLegendPlugin.ts
  ui/src/components/Resources/utils/Consolidator.ts
  ui/src/components/Resources/utils/LegendFormatter.ts
  ui/src/components/Resources/utils/RpnToJexlConverter.class.ts
  ui/src/components/Resources/utils/RrdGraphConverter.class.ts
  ui/src/components/Resources/utils/RrdGraphVisitor.class.ts
  ui/src/containers/ResourceGraphs.vue
  ui/src/router/index.ts
  ui/src/services/graphService.ts
  ui/src/services/index.ts
  ui/src/services/resourceService.ts
  ui/src/store/graph/actions.ts
  ui/src/store/graph/index.ts
  ui/src/store/graph/mutations.ts
  ui/src/store/graph/state.ts
  ui/src/store/index.ts
  ui/src/store/resource/actions.ts
  ui/src/store/resource/getters.ts
  ui/src/store/resource/index.ts
  ui/src/store/resource/mutations.ts
  ui/src/store/resource/state.ts
  ui/src/types/index.ts
  ui/tests/resourceGraphs.test.ts
  ui/yarn.lock
Due: trigger-build, trigger-ui

Update docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/data-collection.adoc
Due: trigger-docs

NMS-13945: Use current string attrs for threshold filters
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/CollectionResourceWrapper.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingVisitorImpl.java
Due: trigger-build

NMS-13707: Review changes
  docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/thresholding.adoc
Due: trigger-docs

PE-150 Migrate wsman-config.xml to new CM - change configs
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  opennms-config-model/src/main/resources/defaults/wsman-config.xml
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - change implementation
  features/wsman/pom.xml
  features/wsman/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultWSManConfigDao.java
  features/wsman/src/main/resources/META-INF/opennms/component-dao.xml
  features/wsman/src/test/java/org/opennms/netmgt/dao/jaxb/WSManConfigDaoJaxbTest.java
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - fix config
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - move DefaultWSManConfigDao to new Package
  features/wsman/src/main/java/org/opennms/netmgt/dao/cm/DefaultWSManConfigDao.java
  features/wsman/src/main/resources/META-INF/opennms/component-dao.xml
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - fix tests
  features/wsman/pom.xml
  features/wsman/src/main/java/org/opennms/netmgt/config/wsman/credentials/Definition.java
  features/wsman/src/main/java/org/opennms/netmgt/config/wsman/credentials/WsmanConfig.java
  features/wsman/src/main/java/org/opennms/netmgt/dao/cm/DefaultWSManConfigDao.java
  features/wsman/src/test/java/org/opennms/netmgt/config/wsman/credentials/WsmanConfigTest.java
  features/wsman/src/test/resources/wsman-config-bad.xml
  features/wsman/src/test/resources/wsman-config.xml
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalCoverageMetaIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - move DefaultWSManConfigDao to new Package
  features/wsman/src/main/java/org/opennms/netmgt/dao/cm/DefaultWSManConfigDao.java
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - fix tests
  features/wsman/src/main/java/org/opennms/netmgt/dao/cm/DefaultWSManConfigDao.java
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - change configs
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - rebase
  features/wsman/src/main/java/org/opennms/netmgt/dao/cm/DefaultWSManConfigDao.java
Due: trigger-build

PE-150 Migrate wsman-config.xml to new CM - fix tests
  integration-tests/config/src/test/java/org/opennms/netmgt/config/CmWillItUnmarshalIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
Due: trigger-build

Update docs/modules/operation/pages/flows/thresholding.adoc
  docs/modules/operation/pages/flows/thresholding.adoc
Due: trigger-docs

NMS-13805 Create a new event to send for an invalid requisition
  core/api/src/main/java/org/opennms/core/network/IPValidationException.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/provision/service/vmware/VmwareImporter.java
  opennms-base-assembly/src/main/filtered/etc/eventconf.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.requisitioning.events.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventUtils.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/RequisitionInterface.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/RequisitionNode.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/InvalidRequisitionDataIT.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
  opennms-provision/opennms-provisiond/src/test/resources/import_invalidAssetFieldName.xml
  opennms-provision/opennms-provisiond/src/test/resources/import_invalidRequisition.xml
  opennms-provision/opennms-provisiond/src/test/resources/import_legacyAssetFieldName.xml
  opennms-provision/opennms-provisiond/src/test/resources/import_multiplePrimaryInterfaces.xml
  opennms-provision/opennms-requisition-dns/src/test/java/org/opennms/netmgt/provision/service/dns/HandlerTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/RequisitionRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/RequisitionRestServiceIT.java
Due: trigger-build

NMS-13777: Integrate device config persistence with Poller (#4138)
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/poller/api/src/main/java/org/opennms/netmgt/poller/PollStatus.java
  opennms-base-assembly/pom.xml
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/poller/DefaultPollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManager.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManagerDaoImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableServiceConfig.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/AbstractSnmpCollectorIT.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/SnmpCollectorMinMaxValIT.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/SnmpCollectorWithMibPropertiesIT.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/SnmpCollectorWithPointerLikeExtendedPropertiesIT.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockQueryManager.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/OpenNMSIntegrationTestCaseIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/HttpNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/MattermostNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/SlackNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/DeviceConfigPersistenceIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PathOutageManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollContextIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerRpcTimeoutIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/mock/MockPollContext.java
  opennms-services/src/test/java/org/opennms/netmgt/statsd/StatsdIT.java
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-deviceConfigDao.xml
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-test-sessionFactory.xml
Due: trigger-build

NMS-13797: Address review comments
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
Due: trigger-build

NMS-13950: Add more fields, move persistence to serviceadaptor
  core/schema/src/main/liquibase/30.0.0/changelog.xml
  features/device-config/monitor-adaptor/pom.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/monitor-adaptor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigIT.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/pom.xml
  opennms-base-assembly/pom.xml
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/poller/DefaultPollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManager.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManagerDaoImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableServiceConfig.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockQueryManager.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PathOutageManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollContextIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerRpcTimeoutIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/mock/MockPollContext.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollableServiceConfigIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollablesIT.java
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-test-deviceConfig.xml
Due: trigger-build

NMS-13707: Added docs for Flow Thresholding
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/setup.adoc
  docs/modules/operation/pages/flows/thresholding.adoc
  docs/modules/reference/pages/telemetryd/protocols/ipfix.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow5.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow9.adoc
  docs/modules/reference/pages/telemetryd/protocols/sflow.adoc
  opennms-base-assembly/src/main/filtered/etc/telemetryd-configuration.xml
Due: trigger-build, trigger-docs

NMS-13945: Cleanup of unused rrd repository
  features/collection/thresholding/api/src/main/java/org/opennms/netmgt/threshd/api/ThresholdingService.java
  features/collection/thresholding/api/src/main/java/org/opennms/netmgt/threshd/api/ThresholdingSessionKey.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/AbstractThresholdEvaluatorState.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/CollectionResourceWrapper.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/DefaultThresholdingSetPersister.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingServiceImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSessionImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSessionKeyImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSetImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingVisitorImpl.java
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/CollectionResourceWrapperIT.java
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/MockCollectionResourceWrapper.java
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/MockSession.java
  features/collection/thresholding/impl/src/test/resources/test-thresholds-bug3554.xml
  features/collection/thresholding/itests/src/test/java/org/opennms/netmgt/threshd/LatencyThresholdingSetIT.java
  features/collection/thresholding/itests/src/test/java/org/opennms/netmgt/threshd/ThresholdingSessionIT.java
  features/collection/thresholding/itests/src/test/java/org/opennms/netmgt/threshd/ThresholdingVisitorIT.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/thresholding/FlowThresholding.java
  features/perspectivepoller/src/main/java/org/opennms/netmgt/perspectivepoller/PerspectivePollerd.java
  features/telemetry/protocols/adapters/src/main/java/org/opennms/netmgt/telemetry/protocols/collection/AbstractCollectionAdapter.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/LatencyStoringServiceMonitorAdaptor.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectdIntegrationTest.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectdTest.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockThresholdingService.java
Due: trigger-build

NMS-13887: Altered Karaf configuration to default to java.rmi.server.hostname
  container/shared/src/main/resources/etc/org.apache.karaf.management.cfg
Due: trigger-build

NMS-13914: create submodules for device config rest endpoint
  features/device-config/rest/api/pom.xml
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDto.java
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigService.java
  features/device-config/rest/impl/pom.xml
  features/device-config/rest/impl/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigService.java
  features/device-config/rest/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/impl/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigServiceIT.java
Due: trigger-build

rename Service -> RestService
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/impl/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/impl/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

add integration test
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigService.java
  features/device-config/rest/impl/pom.xml
  features/device-config/rest/impl/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigService.java
  features/device-config/rest/impl/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigServiceIT.java
Due: trigger-build

NMS-13914: create submodules for device config rest endpoint
  features/device-config/rest/api/pom.xml
  features/device-config/rest/impl/pom.xml
  features/device-config/rest/pom.xml
Due: trigger-build

trying registration.export=true -> still not there
  features/device-config/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
Due: trigger-build

still not there
  container/features/src/main/resources/features.xml
Due: trigger-build

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
