Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

feat(delta-v): migrate Collectd to real RPC client via KafkaRpcClientFactory
  core/daemon-loader-collectd/pom.xml
  core/daemon-loader-collectd/src/main/java/org/opennms/core/daemon/loader/LocalCollectorClient.java
  core/daemon-loader-collectd/src/main/java/org/opennms/core/daemon/loader/LocalCollectorRequestBuilder.java
  core/daemon-loader-collectd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-collectd.xml
Due: trigger-coverage, trigger-build

feat(delta-v): migrate Enlinkd to real RPC client via KafkaRpcClientFactory
  core/daemon-loader-enlinkd/pom.xml
  core/daemon-loader-enlinkd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-enlinkd.xml
Due: trigger-coverage, trigger-build

refactor(delta-v): retrofit PerspectivePollerd to use shared RPC fragment
  core/daemon-loader-perspectivepoller/pom.xml
  core/daemon-loader-perspectivepoller/src/main/java/org/opennms/core/daemon/loader/NoOpTracerRegistry.java
  core/daemon-loader-perspectivepoller/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-perspectivepoller.xml
Due: trigger-coverage, trigger-build

NMS-19519: Review changes
  opennms-config/src/main/java/org/opennms/netmgt/config/UserManager.java
Due: trigger-coverage, trigger-build

fix(delta-v): resolve runtime issues for Minion-mandatory RPC migration
  container/features/src/main/resources/features.xml
  core/daemon-loader-collectd/pom.xml
  core/daemon-loader-collectd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-collectd.xml
  core/daemon-loader-collectd/src/main/resources/kafka-rpc-client-factory.xml
  core/daemon-loader-discovery/pom.xml
  core/daemon-loader-discovery/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-discovery.xml
  core/daemon-loader-discovery/src/main/resources/kafka-rpc-client-factory.xml
  core/daemon-loader-enlinkd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-enlinkd.xml
  core/daemon-loader-enlinkd/src/main/resources/kafka-rpc-client-factory.xml
  core/daemon-loader-perspectivepoller/src/main/resources/kafka-rpc-client-factory.xml
  core/daemon-loader-pollerd/pom.xml
  core/daemon-loader-pollerd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-pollerd.xml
  core/daemon-loader-pollerd/src/main/resources/kafka-rpc-client-factory.xml
  core/daemon-loader-provisiond/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-provisiond.xml
  core/daemon-loader-provisiond/src/main/resources/kafka-rpc-client-factory.xml
  core/snmp/proxy-rpc-impl/pom.xml
  opennms-container/delta-v/collectd-daemon-overlay/etc/collectd-configuration.xml
  opennms-container/delta-v/collectd-daemon-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/discovery-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/enlinkd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/pollerd-daemon-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/pollerd-daemon-overlay/etc/poller-configuration.xml
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-icmp/opennms-icmp-best/pom.xml
  opennms-icmp/opennms-icmp-proxy-rpc-impl/pom.xml
  opennms-provision/opennms-detectorclient-rpc/pom.xml
Due: trigger-coverage, trigger-build

docs: add Plan Status Dashboard to README.md
  README.md
Due: trigger-coverage, trigger-build

docs: add Minion-only network listeners design spec
  docs/plans/2026-03-13-minion-only-listeners-design.md
Due: trigger-coverage, trigger-docs

don't pass xml as environment variable
  opennms-container/minion/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/resources/minion-overlay/deploy/confd-telemetry-feature.xml
Due: trigger-coverage, trigger-build

Skip failing tests for now
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/UploadedFileRenameDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

docs(delta-v): add Minion-only listeners implementation plan
  docs/plans/2026-03-13-minion-only-listeners-implementation.md
Due: trigger-coverage, trigger-docs

Updates as per PR review
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/components/SnmpConfiguration/SnmpConfigViewTab.vue
  ui/src/containers/SnmpConfiguration.vue
  ui/src/stores/snmpConfigStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

Add ui/CLAUDE.md
  ui/CLAUDE.md
Due: trigger-coverage, trigger-build, trigger-ui

more updates
  ui/.eslintrc
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

Profiles pagination
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

feat(delta-v): delete Eventd TCP/UDP listeners — events arrive via Kafka only
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/listener/TcpListener.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/listener/UdpListener.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/listener/XmlEventProcessor.java
  features/events/daemon/src/main/resources/META-INF/opennms/applicationContext-eventDaemon.xml
  features/events/sink/dispatcher/src/main/java/org/opennms/features/events/sink/dispatcher/EventdConfigBean.java
  features/events/syslog/src/test/java/org/opennms/netmgt/syslogd/CustomEventdConfigManager.java
  features/events/syslog/src/test/resources/overrideEventdPort.xml
  opennms-base-assembly/src/main/filtered/bin/send-event.pl
  opennms-base-assembly/src/main/filtered/etc/eventd-configuration.xml
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/EventdConfig.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/eventd/EventdConfiguration.java
  opennms-config-model/src/main/resources/xsds/eventd-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/eventd/EventdConfigurationTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/EventdConfigManager.java
Due: trigger-coverage, trigger-build

use features.d instead of deploy
  smoke-test/src/main/resources/minion-overlay/features.d/confd-telemetry-feature.xml
Due: trigger-coverage, trigger-build

feat(delta-v): replace Syslogd UDP listener with KafkaSinkBridge via Minion
  core/daemon-loader-syslogd/pom.xml
  core/daemon-loader-syslogd/src/main/java/org/opennms/core/daemon/loader/KafkaSinkBridge.java
  core/daemon-loader-syslogd/src/main/java/org/opennms/core/daemon/loader/LocalMessageConsumerManager.java
  core/daemon-loader-syslogd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-syslogd.xml
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

feat(delta-v): add Telemetryd standalone container (TSID=18), remove listeners from daemon-side
  README.md
  container/features/src/main/resources/features.xml
  core/daemon-loader-telemetryd/pom.xml
  core/daemon-loader-telemetryd/src/main/java/org/opennms/core/daemon/loader/KafkaSinkBridge.java
  core/daemon-loader-telemetryd/src/main/java/org/opennms/core/daemon/loader/LocalMessageDispatcherFactory.java
  core/daemon-loader-telemetryd/src/main/java/org/opennms/core/daemon/loader/SpringDaemonLifecycleManager.java
  core/daemon-loader-telemetryd/src/main/java/org/opennms/core/daemon/loader/TelemetryMessageConsumerManager.java
  core/daemon-loader-telemetryd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-telemetryd.xml
  core/pom.xml
  docs/superpowers/plans/2026-03-12-perspectivepollerd-migration.md
  features/container/sentinel/pom.xml
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/telemetryd-overlay/etc/featuresBoot.d/telemetryd.boot
  opennms-container/delta-v/telemetryd-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/telemetryd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/telemetryd-overlay/etc/org.opennms.features.kafka.producer.client.cfg
  opennms-container/delta-v/webapp-overlay/system/org/opennms/karaf/opennms/36.0.0-SNAPSHOT/opennms-36.0.0-SNAPSHOT-features.xml
Due: trigger-coverage, trigger-build, trigger-docs

docs: update README for 19-service architecture with Minion-only ingress
  README.md
Due: trigger-coverage, trigger-build

fixes
  ui/src/components/EventConfiguration/Dialog/UploadedFileRenameDialog.vue
  ui/tests/components/EventConfiguration/Dialog/UploadedFileRenameDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19602: exception on interface rescan page
  opennms-webapp/src/main/webapp/element/rescan.jsp
Due: trigger-coverage, trigger-build

add a logic to put anything under overlay/deploy into home/deploy
  opennms-container/minion/container-fs/entrypoint.sh
  smoke-test/src/main/resources/minion-overlay/deploy/confd-telemetry-feature.xml
Due: trigger-coverage, trigger-build

fixes
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfiguration/EventConfigTabContainer.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

revert changes
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/EventConfiguration/Dialog/UploadedFileRenameDialog.vue
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/UploadedFileRenameDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfiguration/EventConfigTabContainer.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix(delta-v): resolve runtime issues for Telemetryd standalone container
  container/features/src/main/resources/features.xml
  opennms-container/delta-v/telemetryd-overlay/etc/telemetryd-configuration.xml
  opennms-container/delta-v/webapp-overlay/system/org/opennms/karaf/opennms/36.0.0-SNAPSHOT/opennms-36.0.0-SNAPSHOT-features.xml
Due: trigger-coverage, trigger-build

changes
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-build

new changes
  ui/src/components/TrapConfiguration/CreateSnmpV3User.vue
Due: trigger-coverage, trigger-build, trigger-ui

changes
  ui/tests/components/EventConfiguration/EventConfigTabContainer.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix(delta-v): resolve Syslogd and Minion runtime issues
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/ApacheHTTPD.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/LinuxKernel.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/NetgearProsafeSmartSwitch.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/OpenSSH.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/OpenWrt.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/POSIX.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/Postfix.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/Procmail.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslog/Sudo.syslog.xml
Due: trigger-coverage, trigger-build

refactor(delta-v): disable Telemetryd adapters for Sentinel deployment model
  opennms-container/delta-v/telemetryd-overlay/etc/telemetryd-configuration.xml
Due: trigger-coverage, trigger-build

refactor(delta-v): remove Minion's webapp dependency
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

fix(delta-v): add InterfaceToNodeCache wait to test-e2e.sh
  opennms-container/delta-v/test-e2e.sh
Due: trigger-coverage, trigger-build

feat(delta-v): add HikariCP connection pool configs for all daemons
  opennms-container/delta-v/bsmd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/collectd-daemon-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/discovery-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/enlinkd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/eventtranslator-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/pollerd-daemon-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/rtcd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/scriptd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/syslogd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/telemetryd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/ticketer-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
  opennms-container/delta-v/trapd-overlay/etc/org.opennms.netmgt.distributed.datasource.cfg
Due: trigger-coverage, trigger-build

feat(delta-v): bake JARs into Docker images, eliminate bind mounts
  opennms-container/delta-v/.gitignore
  opennms-container/delta-v/Dockerfile.daemon
  opennms-container/delta-v/Dockerfile.minion
  opennms-container/delta-v/Dockerfile.webapp
  opennms-container/delta-v/build.sh
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

NMS-19598: Add dynamic import
  core/ipc/twin/shell/pom.xml
Due: trigger-coverage, trigger-build

feat(delta-v): add syslog E2E test with Cisco LINK-3-UPDOWN alarm lifecycle
  core/schema/src/main/resources/sql/eventconf_events.sql
  core/schema/src/main/resources/sql/eventconf_sources.sql
  opennms-container/delta-v/syslogd-overlay/etc/syslog/Cisco.syslog.xml
  opennms-container/delta-v/syslogd-overlay/etc/syslogd-configuration.xml
  opennms-container/delta-v/test-syslog-e2e.sh
Due: trigger-coverage, trigger-build

docs: add Java 21 daemon upgrade design spec
  docs/superpowers/specs/2026-03-13-java21-daemon-upgrade-design.md
Due: trigger-coverage, trigger-docs

docs: update Java 21 daemon upgrade spec with review fixes
  docs/superpowers/specs/2026-03-13-java21-daemon-upgrade-design.md
Due: trigger-coverage, trigger-docs

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
