Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

chore: Upgrade PostgreSQL from 10 to 13 for tests
  .cicd-assets/postgres/compose.yaml
  .cicd-assets/postgres/init/init.sql
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabase.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

docs: Fix links and headline inconsistencies
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/newsfeed-configuration.adoc
  docs/modules/operation/pages/deep-dive/events/event-tokens.adoc
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
  docs/modules/reference/pages/telemetryd/protocols/jti.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17918: Add templates in etc and add tests for composable templates
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ComposableTemplateInitializer.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/AggregatedFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ComposableAggFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ComposableFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/aggregate/opennms-netflow_agg-aliases.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/aggregate/opennms-netflow_agg-index.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/aggregate/opennms-netflow_agg-mappings.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/aggregate/opennms-netflow_agg-settings.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/default/opennms-netflow-aliases.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/default/opennms-netflow-index.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/default/opennms-netflow-mappings.json
  opennms-base-assembly/src/main/filtered/etc/netflow-templates/default/opennms-netflow-settings.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17918: Add missing elastic client feature on sentinel
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17918: Enable composable templates on smoke-test
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ComposableTemplateInitializer.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  smoke-test/src/main/java/org/opennms/smoketest/containers/ElasticsearchContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17918: Add doc for composable template
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17918: Try to run smoke test
  smoke-test/src/main/java/org/opennms/smoketest/containers/ElasticsearchContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17733: Add Elastic Rest Client for composable Template support (#7730)
  container/features/src/main/resources/features.xml
  features/elastic/client/pom.xml
  features/elastic/client/src/main/java/org/opennms/features/elastic/client/DefaultElasticRestClient.java
  features/elastic/client/src/main/java/org/opennms/features/elastic/client/ElasticRestClient.java
  features/elastic/client/src/main/java/org/opennms/features/elastic/client/ElasticRestClientFactory.java
  features/elastic/client/src/main/java/org/opennms/features/elastic/client/commands/TemplateCommand.java
  features/elastic/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/elastic/client/src/test/java/org/opennms/features/elastic/client/ElasticRestClientIT.java
  features/elastic/client/src/test/resources/templates/component-mappings.json
  features/elastic/client/src/test/resources/templates/component-settings.json
  features/elastic/client/src/test/resources/templates/index-template/index-template.json
  features/elastic/client/src/test/resources/templates/test-ilm-policy.json
  features/elastic/pom.xml
  features/pom.xml
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add a default password
  .circleci/scripts/postgres.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/api/src/main/java/org/opennms/features/scv/utils/ScvUtils.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

force integration build
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "force integration build"
  .circleci/example-build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

force CI to run integration tests
  features/elastic/client/src/test/java/org/opennms/features/elastic/client/ElasticRestClientIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17951 Postgres fails to come up in integration tests (#7737)
  .circleci/scripts/postgres.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update postgres.sh
  .circleci/scripts/postgres.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

set mock data
  .circleci/scripts/postgres.sh
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17951: Set password for JDBC based detectors
  opennms-provision/opennms-detector-jdbc/src/test/java/org/opennms/netmgt/provision/detector/JDBCDetectorIT.java
  opennms-provision/opennms-detector-jdbc/src/test/java/org/opennms/netmgt/provision/detector/JdbcQueryDetectorIT.java
  opennms-provision/opennms-detector-jdbc/src/test/java/org/opennms/netmgt/provision/detector/JdbcStoredProcedureDetectorIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17056: Bumped xstream version
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Enable use of PKCS12 for SCV.
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
  features/scv/scvcli/pom.xml
  features/scv/scvcli/src/main/filtered/scvcli-filtered.properties
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  opennms-base-assembly/src/main/filtered/etc/opennms.properties.d/scv.properties
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties.d/scv.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  opennms-base-assembly/src/main/filtered/etc/opennms.properties.d/scv.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Enable use of PKCS12 for SCV.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  features/container/minion/src/main/filtered-resources/etc/org.opennms.features.scv.cfg
  features/scv/api/pom.xml
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/scvcli/src/main/filtered/scvcli-filtered.properties
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17871 : Rebase Changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/container/minion/src/main/filtered-resources/etc/org.opennms.features.scv.cfg
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17871 : Rebase changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17871 : Handle PR Review Changes.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
