Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

Add verify step for CircleCI configuraiton
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add verify-config step
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: added graph configuration for provision Thread pool metrics
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/opennms-graph.properties
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/opennms-provisiond-graph.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15144: Link on Netflow9 to main Netflow doc is broken
  docs/modules/reference/pages/telemetryd/protocols/netflow9.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15121: Document deviceconfig tftp maximumReceiveSize
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Add verify-config step (#5686)
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Don't deliver-TweakWorkflow
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14878: Limit script file locations for GpDetector and ScriptPolicy
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
  opennms-provision/opennms-detector-generic/src/main/java/org/opennms/netmgt/provision/detector/generic/client/GpClient.java
  opennms-provision/opennms-detector-generic/src/test/java/org/opennms/netmgt/provision/detector/generic/GpDetectorTest.java
  opennms-provision/opennms-provision-api/src/main/java/org/opennms/netmgt/provision/ScriptUtil.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/ScriptPolicy.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/policies/ScriptPolicyTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

remove DOCKER_CLI_EXPERIMENTAL and DOCKER_IMAGE_VERSION from circleci yaml file
  .circleci/main/aliases/general.yml
  .circleci/main/jobs/oci/horizon-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/horizon-image-single-arch.yml
  .circleci/main/jobs/oci/minion-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/minion-image-single-arch.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15180: Review Enhanced Linkd and Topology Documentation
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/DeleteTopologyCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14634: Add alt text to Operations
  docs/modules/operation/pages/deep-dive/bsm/business-service-map.adoc
  docs/modules/operation/pages/deep-dive/bsm/introduction.adoc
  docs/modules/operation/pages/deep-dive/bsm/map-functions.adoc
  docs/modules/operation/pages/deep-dive/bsm/operational-status.adoc
  docs/modules/operation/pages/deep-dive/bsm/reduce-functions.adoc
  docs/modules/operation/pages/deep-dive/bsm/root-cause-impact-analysis.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/bridge-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/cdp-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/lldp-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3/is-is-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3/ospf-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/graphml-asset-topology-provider.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix integration test reporting
  .circleci/main/commands/executions/run-integration-tests.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Sync up find command for junit report XML files and dumps
  .circleci/main/commands/executions/run-smoke-tests.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15172: Removed fixed width from notification badge style
  core/web-assets/src/main/assets/style/opennms-theme.scss
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/alarms/alarm-notes.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-sound-flash.adoc
  docs/modules/operation/pages/deep-dive/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/deep-dive/alarms/history.adoc
  docs/modules/operation/pages/deep-dive/alarms/ifttt-integration.adoc
  docs/modules/operation/pages/deep-dive/alarms/introduction.adoc
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
  docs/modules/operation/pages/deep-dive/device-config-backup/ssh.adoc
  docs/modules/operation/pages/deep-dive/events/event-debugging.adoc
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
  docs/modules/operation/pages/deep-dive/notifications/strategies/mattermost.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/introduction.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/resource-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-property-extenders/pointer-like-index.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-property-extenders/property-extenders.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-property-extenders/regex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

remove DOCKER_CLI_EXPERIMENTAL and DOCKER_IMAGE_VERSION from circleci yaml file (#5690)
  .circleci/main/aliases/general.yml
  .circleci/main/jobs/oci/horizon-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/horizon-image-single-arch.yml
  .circleci/main/jobs/oci/minion-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/minion-image-single-arch.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch-linux-amd64.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Disable additional Docker environment
  .circleci/main/aliases/general.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

disable alias
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15195: upgrade sshd to match Karaf 4.3.9
  container/features/src/main/resources/features-core.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14658: Missing reference to logmsg dest component
  docs/modules/operation/pages/deep-dive/events/event-definition.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14634: Add alt text to Operation
  docs/modules/operation/pages/deep-dive/database-reports/database.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/availability.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/event.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/serial.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/traffic-rates.adoc
  docs/modules/operation/pages/deep-dive/topology/graphml-asset-topology-provider.adoc
  docs/modules/operation/pages/deep-dive/topology/topology.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/events/event-definition.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke
