Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

fix missing backtick
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15584: Update to alarm docs (#6033)
  docs/modules/operation/images/alarms/acked_alarm_detail.png
  docs/modules/operation/images/alarms/acked_alarm_overview.png
  docs/modules/operation/images/alarms/cleared_alarm_detail.png
  docs/modules/operation/images/alarms/cleared_alarm_overview.png
  docs/modules/operation/images/alarms/escalated_alarm_detail.png
  docs/modules/operation/images/alarms/escalated_alarm_overview.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-example.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-handling.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-notes.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-related-events.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarm-sound-flash.adoc
  docs/modules/operation/pages/deep-dive/alarms/alarmd.adoc
  docs/modules/operation/pages/deep-dive/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/deep-dive/alarms/history.adoc
  docs/modules/operation/pages/deep-dive/alarms/introduction.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

cavernous death metal
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15642: update common poller config with rrd-status parameter
  docs/modules/reference/pages/service-assurance/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update debian changelog files as well
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

note kafka 3.x updates in documentation
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

additional JDBC collections for database performance
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

point to newts properties file
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

missing changelog header
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix to match style guide
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

OpenJDK 11 or 17
  docs/antora.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15803: Minion container doc update
  docs/modules/deployment/pages/minion/docker/minion.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix doc build issue
  docs/modules/reference/pages/service-assurance/introduction.adoc
  docs/modules/reference/pages/service-assurance/monitors/DskTableMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15776: Added docs and modified defaults
  docs/modules/operation/pages/deep-dive/provisioning/scalability.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-provision/opennms-detectorclient-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-dns.xml
  opennms-provision/opennms-detectorclient-rpc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15768: Fixed scan-interval handling
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/StringIntervalAdapter.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/StringIntervalPropertyEditor.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/StringIntervalAdapterTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Review changes
  docs/modules/operation/pages/deep-dive/provisioning/scalability.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

silent curl, holy curl
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

enable bash strict mode
  opennms-container/minion/plugins.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15788: audit other usages of curl in opennms-container/
  opennms-container/core/container-fs/health.sh
  opennms-container/core/plugins.sh
  opennms-container/minion/plugins.sh
  opennms-container/sentinel/plugins.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15738: enable asynchronous polling by default
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15738: update the docs for default async polling, and disabling
  docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix rendering of link to async polling
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

bump jasperreports to 6.20.5
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15704: Added tests
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/FilesystemRestServiceTest.java
  opennms-webapp-rest/src/test/resources/NMS-15704/NMS-15704-1.xml
  opennms-webapp-rest/src/test/resources/NMS-15704/NMS-15704-2.xml
  opennms-webapp-rest/src/test/resources/NMS-15704/hostname_exfiltrate.dtd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15597: Catch I/O Exceptions and add some additional information
  opennms-provision/opennms-detector-simple/src/main/java/org/opennms/netmgt/provision/detector/snmp/HostResourceSWRunDetector.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Docs: Update `rrd-status` default value for v32.
  docs/modules/reference/pages/service-assurance/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

-F does not work with -O, also some other cleanup
  opennms-container/core/plugins.sh
  opennms-container/minion/plugins.sh
  opennms-container/sentinel/plugins.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-12589: Remove the "Help" text on the Threshold Groups
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/thresholds/editGroup.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix spring security exported version
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15806: fix some bounds-checking on possible null values
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/resource/TimeseriesResourceStorageDao.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15809: Avoid errors in postinstall scripts when directories are empty
  debian/opennms-server.postinst
  tools/packages/minion/minion.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add values to rrd-status docs
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

DP-58: Fix internal HTTP links
  docs/modules/deployment/pages/core/admin-password-reset.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/introduction.adoc
  docs/modules/deployment/pages/core/setup-message-broker.adoc
  docs/modules/deployment/pages/core/system-requirements.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/deployment/pages/minion/introduction.adoc
  docs/modules/deployment/pages/minion/off-heap-storage.adoc
  docs/modules/deployment/pages/minion/system-requirements.adoc
  docs/modules/development/pages/rest/CORS.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix code to match newer dnsjava APIs
  core/test-api/dns/src/main/java/org/opennms/core/test/dns/DNSServer.java
  integrations/opennms-dns-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/DnsProvisioningAdapter.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15816: Avoid acquiring JDBC connection while in the context of a Spring transaction - process one after the other instead.
  core/db/src/main/java/org/opennms/core/db/HikariCPConnectionFactory.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15816: Add some documentation to describe the use of the new flag.
  docs/modules/troubleshooting/pages/other-issues.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
