Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Small version updates !smoke
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

Remove design docs
  ui/docs/superpowers/plans/2026-07-13-feather-themes-variables-token-migration.md
  ui/docs/superpowers/specs/2026-07-13-feather-themes-variables-token-migration-design.md
Due: trigger-coverage, trigger-ui

NMS-19978: ship stax2-api to satisfy aalto-xml's OSGi import in opennms-core-camel (#8624)
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20026: Fix TicketNotificationStrategy wiring
  features/notifications/ticket-strategy/src/main/java/org/opennms/netmgt/notifd/TicketNotificationStrategy.java
  features/notifications/ticket-strategy/src/test/java/org/opennms/netmgt/notifd/TicketNotificationStrategyTest.java
Due: trigger-coverage, trigger-build

NMS-20027: compute flow proportional sums with Painless instead of the drift plugin
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ProportionalSumAggregation.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ProportionalSumQuery.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/RawFlowQueryService.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/SearchQueryProvider.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/agg/AggregatedFlowQueryService.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/agg/AggregatedSearchQueryProvider.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/agg/series_top_n.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/agg/series_totals.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_missing.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_others.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_terms.ftl
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ProportionalSumQueryTest.java
  features/flows/itests/pom.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/AggregatedFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  pom.xml
Due: trigger-coverage, trigger-build, trigger-docs

use reWriteBatchedInserts, document synchronous_commit
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowDataSourceProvider.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/PostgresFlowRepository.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/PostgresFlowRepositoryIT.java
Due: trigger-coverage, trigger-build, trigger-docs

Add retention info to docs; remove external retention section (script isn't commited anywhere yet); clarify purpose
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
Due: trigger-coverage, trigger-docs

NMS-20045: Replace Vaadin surveillance views, part 1: kv-store persistence + REST API
  features/pom.xml
  features/surveillance-views/pom.xml
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/SurveillanceView.java
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/SurveillanceViewDao.java
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/SurveillanceViewDataService.java
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/SurveillanceViewDef.java
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/impl/DefaultSurveillanceViewDataService.java
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/impl/SurveillanceViewJsonStore.java
  features/surveillance-views/src/main/resources/META-INF/opennms/component-dao.xml
  features/surveillance-views/src/test/java/org/opennms/netmgt/surveillance/views/DefaultSurveillanceViewDataServiceAlarmIT.java
  features/surveillance-views/src/test/java/org/opennms/netmgt/surveillance/views/DefaultSurveillanceViewDataServiceRtcIT.java
  features/surveillance-views/src/test/java/org/opennms/netmgt/surveillance/views/SurveillanceViewDaoIT.java
  opennms-base-assembly/pom.xml
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SurveillanceViewDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SurveillanceViewRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SurveillanceViewStatusDTO.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SurveillanceViewRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20045: address review feedback
  features/surveillance-views/src/main/java/org/opennms/netmgt/surveillance/views/impl/DefaultSurveillanceViewDataService.java
  features/surveillance-views/src/main/resources/META-INF/opennms/component-dao.xml
  features/surveillance-views/src/test/java/org/opennms/netmgt/surveillance/views/DefaultSurveillanceViewDataServiceRtcIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SurveillanceViewRestService.java
Due: trigger-coverage, trigger-build

NMS-20045: fix integration-test classpath for embedded CXF v2 contexts
  features/bsm/rest/impl/pom.xml
  features/status/rest/pom.xml
Due: trigger-coverage, trigger-build

NMS-19931: Bumped jackson-databind version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19996: Bumped netty version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20034: Bumped mina version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19961: Prevent old bcprov-jdk18on version from being included
  features/minion/core/repository/src/assembly/repo.xml
  features/minion/repository/src/assembly/repo.xml
Due: trigger-coverage, trigger-build

Update filters for create-merge-foundation-branch
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

NMS-19981: Add Apache-2.0 attribution for vendored FeatherDS code
  ui/README.md
  ui/THIRD-PARTY-LICENSE.md
  ui/src/composables/useOutsideClick.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20046: Handle Poller/Collect RPC executor shutdown
  features/collection/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-collector.xml
  features/collection/client-rpc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/collection/client-rpc/src/test/java/org/opennms/netmgt/collection/client/rpc/CollectorExecutorLifecycleTest.java
  features/poller/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-poller.xml
  features/poller/client-rpc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/poller/client-rpc/src/test/java/org/opennms/netmgt/poller/client/rpc/PollerExecutorLifecycleTest.java
Due: trigger-coverage, trigger-build

Revert "NMS-20046: Handle Poller/Collect RPC executor shutdown"
  features/collection/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-collector.xml
  features/collection/client-rpc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/collection/client-rpc/src/test/java/org/opennms/netmgt/collection/client/rpc/CollectorExecutorLifecycleTest.java
  features/poller/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-poller.xml
  features/poller/client-rpc/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/poller/client-rpc/src/test/java/org/opennms/netmgt/poller/client/rpc/PollerExecutorLifecycleTest.java
Due: trigger-coverage, trigger-build

NMS-19981: Restore Leaflet keyboard nav (WCAG 2.1.1); handle focus-scroll via CSS
  ui/src/components/Map/LeafletMap.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20006: bound local RPC execution to a fixed, configurable timeout
  core/ipc/rpc/api/src/main/java/org/opennms/core/rpc/api/RpcExceptionUtils.java
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcClientFactory.java
  core/ipc/rpc/camel/src/test/java/org/opennms/core/rpc/camel/LocalRpcTimeoutTest.java
  docs/modules/reference/pages/configuration/ttl-rpc.adoc
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19981: Open map popups below the marker; stop autoPan map-jump
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/utils.ts
Due: trigger-coverage, trigger-build, trigger-ui

add new publish-docker job
  .circleci/example-build-triggers.override.json
  .circleci/main/@main.yml
  .circleci/main/jobs/publish-docker.yml
  .circleci/main/workflows/workflows_v2.json
  .circleci/pyscripts/process_generate.py
  .circleci/scripts/lib-docker.sh
  .circleci/scripts/publish-azure.sh
  .circleci/scripts/publish-dockerhub.sh
Due: trigger-coverage, trigger-build

NMS-20046: Handle Poller/Collect RPC executor shutdown
  features/collection/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-collector.xml
  features/collection/client-rpc/src/test/java/org/opennms/netmgt/collection/client/rpc/CollectorExecutorLifecycleTest.java
  features/poller/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-poller.xml
  features/poller/client-rpc/src/test/java/org/opennms/netmgt/poller/client/rpc/PollerExecutorLifecycleTest.java
Due: trigger-coverage, trigger-build

enable the publish-docker job path
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

Add a place holder for publish-docker
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-build

force a build to make sure everything is working well
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-19981: Keep legacy JSP text/link colors readable in dark mode
  ui/src/styles/opennms-styles.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20049: harden smoke test login against CSRF/session race
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-build

NMS-19981: Force native <select> to light rendering on legacy pages
  ui/src/styles/opennms-styles.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19723: Mask credentials for Trapd config Rest API
  features/config/test/src/test/java/org/opennms/features/config/service/config/FakeXsdForTest.java
  features/config/upgrade/src/main/resources/changelog-cm/36.0.0/changelog-cm.xml
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/TrapdSchemaHashTest.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/Snmpv3User.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/TrapdConfiguration.java
  opennms-config-jaxb/src/main/resources/xsds/trapd-configuration-1.1.xsd
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/trapd/TrapdConfigurationTest.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/MaskedCredential.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SecurityHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/TrapdRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/TrapdRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/Snmpv3UserDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/SecurityHelperTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/TrapdRestServiceIT.java
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
  ui/src/components/TrapdConfiguration/TrapdAdvancedConfiguration.vue
  ui/src/lib/securityHelper.ts
  ui/src/lib/snmpValidator.ts
  ui/src/lib/trapdValidator.ts
  ui/src/mappers/trapdConfig.mapper.ts
  ui/src/types/trapConfig.d.ts
  ui/tests/components/TrapdConfiguration/CreateSnmpV3User.test.ts
  ui/tests/components/TrapdConfiguration/TrapdAdvancedConfiguration.test.ts
  ui/tests/lib/trapdValidatorForm.test.ts
  ui/tests/mappers/trapdConfig.mapper.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19723: Backfill trapd SNMPv3 user ids at startup via UpgradeConfigService
  features/config/upgrade/pom.xml
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfill.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfillIT.java
Due: trigger-coverage, trigger-build

NMS-19723: Consolidate trapd CM config-name constant into TrapdConfiguration
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfill.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfillIT.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/TrapdConfiguration.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
Due: trigger-coverage, trigger-build

NMS-19723: Move SCV expression pattern into ScvUtils
  features/scv/api/src/main/java/org/opennms/features/scv/utils/ScvUtils.java
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SecurityHelper.java
Due: trigger-coverage, trigger-build

NMS-19723: Reject duplicate SNMPv3 user ids in Trapd config requests
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/TrapdRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/TrapdRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19537: Using metadata cache for thresholding
  core/mate/model/pom.xml
  core/mate/model/src/main/java/org/opennms/core/mate/model/CachedEntityScopeProviderImpl.java
  core/mate/model/src/test/java/org/opennms/core/mate/model/CachedEntityScopeProviderIT.java
  core/mate/model/src/test/java/org/opennms/core/mate/model/EntityScopeProviderIT.java
  features/collection/thresholding/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
