Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

cleaning things up
  docs/modules/deployment/pages/core/install.adoc
  docs/modules/deployment/pages/minion/centos-rhel10/install-minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/repos/rhel-centos/meridian-rhel10.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel10/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
Due: trigger-coverage, trigger-docs

NMS-20286: Accept read-only fields in wsman-config update bodies !smoke
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/WsmanConfigUpdate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/WsmanDataCollectionFileUpdate.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/WsmanConfigRestServiceIT.java
Due: trigger-coverage, trigger-build

Update features/wsman/src/main/java/org/opennms/core/wsman/utils/CachingWSManClientFactory.java
  features/wsman/src/main/java/org/opennms/core/wsman/utils/CachingWSManClientFactory.java
Due: trigger-coverage, trigger-build

NMS-20031: Vue Node Details screen
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MarkerPopup.vue
  ui/src/components/Map/utils.ts
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/components/Nodes/NodeCategoriesPanel.vue
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/src/components/Nodes/NodeNotificationsPanel.vue
  ui/src/components/Nodes/NodeSnmpAttributes.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/src/components/Nodes/utils.ts
  ui/src/containers/NodeDetails.vue
  ui/src/stores/mapStore.ts
  ui/src/stores/nodeListStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/containers/NodeDetails.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

use newer executors
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-build

Fix trapd REST docs: XML upload is POST /api/v2/trapd/upload/xml (#8843)
  docs/modules/development/pages/rest/trapd-rest-api.adoc
Due: trigger-coverage, trigger-docs

cleaning things up (#8846)
  docs/modules/deployment/pages/core/install.adoc
  docs/modules/deployment/pages/minion/centos-rhel10/install-minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/repos/rhel-centos/meridian-rhel10.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel10/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
Due: trigger-coverage, trigger-docs

Bump wsman to 1.3.6 to get latest CXF bus killing fix
  pom.xml
Due: trigger-coverage, trigger-build

Update wsman to 1.3.7 to get the CXF bus fix _for real_
  pom.xml
Due: trigger-coverage, trigger-build

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-20296: Export the dashboard to PDF !smoke
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/Dashboard/DashboardToolbar.vue
  ui/src/components/Dashboard/defaultLayout.ts
  ui/src/components/Dashboard/utils/dashboardExport.ts
  ui/src/components/Resources/utils/graphExport.ts
  ui/src/services/dashboardService.ts
  ui/src/stores/dashboardStore.ts
  ui/src/types/dashboard.ts
  ui/tests/components/Dashboard/DashboardToolbar.test.ts
  ui/tests/components/Dashboard/dashboardExport.test.ts
  ui/tests/services/dashboardService.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19927: Metadata-Driven Kafka Metric Topic Routing
  container/features/src/main/resources/features.xml
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
  docs/modules/operation/pages/deep-dive/kafka-producer/shell-commands.adoc
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  docs/modules/reference/pages/karaf-shell/karaf-shell.adoc
  features/kafka/producer/pom.xml
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterActivator.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterFactory.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/MetricTopicRouter.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/shell/KafkaProducerTopics.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/shell/MetricRoutingTest.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/CollectionSetMapperTest.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/collection/KafkaPersisterIT.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/collection/KafkaPersisterRoutingTest.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/collection/MetricTopicRouterTest.java
  features/kafka/producer/src/test/resources/applicationContext-test-kafka-collection.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19927: Review changes
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
Due: trigger-coverage, trigger-docs

NMS-19458: Review changes
  core/upgrade/src/test/resources/etc2/opennms.properties
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/poller/PollerConfigurationTest.java
  opennms-config-jaxb/src/test/resources/org/opennms/netmgt/config/poller/poller-configuration-1.8.xml
Due: trigger-coverage, trigger-build

NMS-20289: Eventd drops every event until the webapp loads the database eventconf (#8844)
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/EventConfDbBootstrap.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/processor/HibernateEventWriter.java
  features/events/daemon/src/main/resources/META-INF/opennms/applicationContext-eventDaemon.xml
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventConfDbBootstrapTest.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/processor/HibernateEventWriterSanityTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfParallelLoadTest.java
Due: trigger-coverage, trigger-build

NMS-16241: Bumped camel version
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  core/camel/src/main/java/org/opennms/core/camel/CustomHttpClientConfigurer.java
  core/ipc/grpc/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  core/ipc/rpc/jms-impl/src/main/resources/META-INF/opennms/applicationContext-rpc-client-jms.xml
  core/ipc/rpc/jms-impl/src/main/resources/OSGI-INF/blueprint/blueprint-rpc-server.xml
  core/ipc/rpc/kafka/src/main/resources/META-INF/opennms/applicationContext-rpc-client-kafka.xml
  core/ipc/rpc/kafka/src/main/resources/OSGI-INF/blueprint/blueprint-rpc-kafka-server.xml
  core/ipc/sink/camel/client/src/main/resources/OSGI-INF/blueprint/blueprint-ipc-client.xml
  core/ipc/sink/camel/server/src/main/resources/META-INF/opennms/applicationContext-ipc-sink-camel-server.xml
  core/ipc/sink/camel/server/src/main/resources/OSGI-INF/blueprint/blueprint-ipc-server.xml
  core/ipc/twin/jms/itests/src/test/resources/OSGI-INF/blueprint/blueprint-empty.xml
  core/ipc/twin/jms/publisher/src/main/resources/META-INF/opennms/applicationContext-twin-jms-publisher.xml
  core/ipc/twin/jms/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint-twin-subscriber.xml
  core/test-api/camel/src/main/resources/META-INF/opennms/applicationContext-queuingservice-mq-vm.xml
  core/test-api/camel/src/main/resources/blueprint-empty-camel-context.xml
  core/tracing/jaeger-tracer/src/main/resources/META-INF/opennms/applicationContext-tracer-jaeger.xml
  dependencies/camel/pom.xml
  features/activemq/component/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/amqp/alarm-northbounder/src/main/resources/OSGI-INF/blueprint/blueprint-alarm-northbounder.xml
  features/amqp/event-forwarder/src/main/resources/OSGI-INF/blueprint/blueprint-event-forwarder.xml
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/discovery/src/main/resources/META-INF/opennms/applicationContext-discovery.xml
  features/eif-adapter/src/main/resources/OSGI-INF/blueprint/blueprint-eif-adapter.xml
  features/events/daemon/src/main/resources/META-INF/opennms/applicationContext-eventDaemon.xml
  features/events/sink/dispatcher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/events/traps/src/test/resources/OSGI-INF/blueprint/blueprint-empty.xml
  opennms-icmp/opennms-icmp-proxy-rpc-impl/src/test/resources/pinger.xml
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

NMS-20286: Manage Kerberos message encryption on the WS-Man page !smoke
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/WsmanConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/WsmanConfigDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/WsmanConfigUpdate.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/WsmanConfigRestServiceIT.java
  ui/src/components/ManageWsman/WsmanDefinitionsTable.vue
  ui/src/components/ManageWsman/WsmanHelpPanel.vue
  ui/src/components/ManageWsman/WsmanSettingsFields.vue
  ui/src/components/ManageWsman/wsmanDisplay.ts
  ui/src/components/ManageWsman/wsmanForm.ts
  ui/src/types/wsmanAdmin.ts
  ui/tests/components/ManageWsman/WsmanDefaultsCard.test.ts
  ui/tests/components/ManageWsman/WsmanDefaultsDialog.test.ts
  ui/tests/components/ManageWsman/WsmanDefinitionDialog.test.ts
  ui/tests/components/ManageWsman/WsmanDefinitionsTable.test.ts
  ui/tests/components/ManageWsman/wsmanForm.test.ts
  ui/tests/containers/ManageWsman.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20287: Update to wsman 1.3.7 and add support for new features (#8845)
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/wsman-kerberos.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/wsman.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanShellDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanWqlDetector.adoc
  docs/modules/reference/pages/service-assurance/monitors/WsManMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/WsManShellMonitor.adoc
  features/wsman/src/main/java/org/opennms/core/wsman/utils/CachingWSManClientFactory.java
  features/wsman/src/main/java/org/opennms/core/wsman/utils/ShellCommandUtils.java
  features/wsman/src/main/java/org/opennms/netmgt/collectd/WsManCollector.java
  features/wsman/src/main/java/org/opennms/netmgt/config/wsman/credentials/Definition.java
  features/wsman/src/main/java/org/opennms/netmgt/config/wsman/credentials/WsmanAgentConfig.java
  features/wsman/src/main/java/org/opennms/netmgt/config/wsman/credentials/WsmanConfig.java
  features/wsman/src/main/java/org/opennms/netmgt/dao/WSManConfigDao.java
  features/wsman/src/main/java/org/opennms/netmgt/poller/monitors/WsManMonitor.java
  features/wsman/src/main/java/org/opennms/netmgt/poller/monitors/WsManShellMonitor.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsManDetector.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsManDetectorFactory.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsManShellDetector.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsManShellDetectorFactory.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsManWQLDetector.java
  features/wsman/src/main/java/org/opennms/netmgt/provision/detector/wsman/WsmanEndpointUtils.java
  features/wsman/src/main/resources/META-INF/services/org.opennms.netmgt.poller.ServiceMonitor
  features/wsman/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/wsman/src/main/resources/xsds/wsman-config.xsd
  features/wsman/src/test/java/org/opennms/core/wsman/utils/CachingWSManClientFactoryTest.java
  features/wsman/src/test/java/org/opennms/core/wsman/utils/ShellCommandUtilsTest.java
  features/wsman/src/test/java/org/opennms/netmgt/config/wsman/credentials/WsmanConfigTest.java
  features/wsman/src/test/java/org/opennms/netmgt/dao/jaxb/WSManConfigDaoJaxbTest.java
  features/wsman/src/test/java/org/opennms/netmgt/poller/monitors/WsManShellMonitorTest.java
  features/wsman/src/test/java/org/opennms/netmgt/provision/detector/wsman/WsManShellDetectorTest.java
  features/wsman/src/test/java/org/opennms/netmgt/provision/detector/wsman/WsmanEndpointUtilsTest.java
  features/wsman/src/test/resources/wsman-config-endpoints.xml
  features/wsman/src/test/resources/wsman-config.xml
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/WsManAssetProvisioningAdapter.java
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/minion/DetectorsCommandIT.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/MonitorsListCommandIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19458: Added entries to whatsnew.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Revert "NMS-20061: Use jline version 3.30.16"
  container/karaf/pom.xml
  container/karaf/src/main/internal/features-processing.xml
  container/shared/pom.xml
  container/shared/src/main/internal/features-processing.xml
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

fix header for migrating even filesafter upgrade
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
Due: trigger-coverage, trigger-docs

Docs: clean up What's new
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Docs: update whatsnew page
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

force a build
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-15222: Rewrite xpath expressions to allow JSON element names starting with a number (#8841)
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  protocols/xml/src/main/java/org/opennms/protocols/json/collector/AbstractJsonCollectionHandler.java
  protocols/xml/src/main/java/org/opennms/protocols/json/collector/JsonXpathRewriter.java
  protocols/xml/src/test/java/org/opennms/protocols/json/collector/JsonXpathRewriterTest.java
  protocols/xml/src/test/java/org/opennms/protocols/json/collector/NMS15222IT.java
  protocols/xml/src/test/resources/NMS-15222-xml-datacollection-config.xml
  protocols/xml/src/test/resources/NMS-15222.json
Due: trigger-coverage, trigger-build, trigger-docs

add missing import
  ui/src/main/App.vue
Due: trigger-coverage, trigger-build, trigger-ui

switch validateJrb validateRrd
  protocols/xml/src/test/java/org/opennms/protocols/json/collector/NMS15222IT.java
Due: trigger-coverage, trigger-build

Re-apply NMS-20061: use jline 3.30.16, not the version Karaf pins (CVE-2026-56740)
  container/karaf/pom.xml
  container/karaf/src/main/internal/features-processing.xml
  container/shared/pom.xml
  container/shared/src/main/internal/features-processing.xml
  features/minion/repository/pom.xml
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

Revert "Re-apply NMS-20061: use jline 3.30.16, not the version Karaf pins (CVE-2026-56740)"
  container/karaf/pom.xml
  container/karaf/src/main/internal/features-processing.xml
  container/shared/pom.xml
  container/shared/src/main/internal/features-processing.xml
  features/minion/repository/pom.xml
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

Reapply "Re-apply NMS-20061: use jline 3.30.16, not the version Karaf pins (CVE-2026-56740)"
  container/karaf/pom.xml
  container/karaf/src/main/internal/features-processing.xml
  container/shared/pom.xml
  container/shared/src/main/internal/features-processing.xml
  features/minion/repository/pom.xml
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20031: fix Categories edit link, remove padding from panel titles
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/components/Nodes/NodeCategoriesPanel.vue
  ui/src/components/Nodes/NodeNotificationsPanel.vue
  ui/src/components/Nodes/NodeSnmpAttributes.vue
Due: trigger-coverage, trigger-build, trigger-ui
