Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14298: DCB add config name to REST API
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

OIA-37: testing OIA cache issue 0.8.6
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Added a HashMap to cache credentials in memory
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvValidateCommand.java
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvValidateCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-12410 Topology Provider for CDP,LLDP,OSPF,ISIS,Bridge Topologies
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdgeStatusProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdHopCriteria.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSearchProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdStatusProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdVertex.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/ComponentTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-12410 Topology Provider for CDP,LLDP,OSPF,ISIS,Bridge Topologies
  features/topology-map/org.opennms.features.topology.api/src/main/java/org/opennms/features/topology/api/topo/AbstractTopologyProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-12410 Topology Provider for CDP,LLDP,OSPF,ISIS,Bridge Topologies
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdStatusProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14305 Prevent username/password being added using advanced options section
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/copy/advancedKeys.ts
  ui/src/components/Configuration/copy/requisitionTypes.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14161:Event/Alarm advanced search not passing search terms
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: Added tests
  opennms-services/src/test/java/org/opennms/netmgt/collectd/AbstractSnmpCollectorIT.java
  opennms-services/src/test/resources/org/opennms/netmgt/config/datacollection-config-value-mapping.xml
  protocols/xml/src/main/java/org/opennms/protocols/xml/config/XmlObject.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS14060IT.java
  protocols/xml/src/test/resources/NMS-14060-xml-datacollection-config.xml
  protocols/xml/src/test/resources/NMS-14060.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

add null check for username and password
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvValidateCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: Added docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/performance-data-collection/snmp-property-extenders/value-mapping.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

added thread-safe implementation for the credentials map
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fixed test error and format
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14298: DCB add 'configName' to Rest API (#4710)
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
  ui/src/components/Device/DCBTable.vue
  ui/src/types/deviceConfig.d.ts
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

missed removing the load from the constructor
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14227: SCV: Add Shell command to validate Credentials (#4709)
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvValidateCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/reference/pages/provisioning/detectors/LoopDetector.adoc
  docs/modules/reference/pages/service-assurance/monitors/PassiveStatusMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14185: Expose Secure Credentials Vault via Integration API: address PR comments
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/api-layer/common/pom.xml
  features/api-layer/common/src/main/java/org/opennms/features/apilayer/common/scv/SecureCredentialsVaultImpl.java
  features/api-layer/core/pom.xml
  features/api-layer/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14185: Expose Secure Credentials Vault via Integration API
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/api-layer/core/pom.xml
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/scv/SecureCredentialsVaultImpl.java
  features/api-layer/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14185: Expose Secure Credentials Vault via Integration API: PR comment: handle OIA_PREFIX for getAliases correctly
  features/api-layer/common/src/main/java/org/opennms/features/apilayer/common/scv/SecureCredentialsVaultImpl.java
  features/api-layer/common/src/test/java/org/opennms/features/apilayer/common/scv/SecureCredentialsVaultImplTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fixed multi thread access scenario
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14129: Log all executed statements
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14309: Rename ROLE_CONFIG_EDITOR to ROLE_FILESYSTEM_EDITOR
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

collection doc typo fix
  docs/modules/operation/pages/performance-data-collection/collectd/collection-packages.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13684: Document Jetty SSL Setup (#3870)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/http-ssl.adoc
  docs/modules/operation/pages/admin/https/https-client.adoc
  docs/modules/operation/pages/admin/https/https-server.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/user-management/security-roles.adoc
  docs/modules/operation/pages/user-management/security-roles.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14309: Rename ROLE_CONFIG_EDITOR to ROLE_FILESYSTEM_EDITOR (#4719)
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-11065: WmiMonitor
  docs/modules/reference/pages/service-assurance/monitors/WmiMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from code review
  docs/modules/operation/pages/admin/external-auth.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13574: external auth doc
  docs/modules/operation/pages/admin/external-auth.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14284 Allow underscore and space in host validation, add respective validation errors
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/copy/requisitionTypes.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14284 Format
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14018 Opaque data type
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/DoubleAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/ErrorAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/OpaqueTypeAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/UnsupportedAdapter.java
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/NumericAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/OpaqueAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
  opennms-config-jaxb/src/main/resources/xsds/datacollection-config.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

reduce parallelism (flaky)
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-12410 Topology Provider for CDP,LLDP,OSPF,ISIS,Bridge Topologies
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdge.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdMetaTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdProtocolTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSelectionAware.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyFactory.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdgeStatusProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProviderTestIT.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-LinkdTopologyProviderTestIT.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14315 Fix rendering gap between search box and result list
  ui/src/components/Layout/Search.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-12410 Topology Provider for CDP,LLDP,OSPF,ISIS,Bridge Topologies
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
