Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-14012: Fix device config REST DTO
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Publish OCI-images for all feature-branches
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14144: Review changes
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14156: Review changes
  smoke-test/src/test/resources/device-config/test.dcb
Due: trigger-coverage, trigger-coverage=false, trigger-build

use updatePolicy=never for builds unless snapshots are enabled
  debian/rules
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14121: Added DCB role
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14167: DCB Dao and Rest API, filter on backup status
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14032: do not fail on directories that do not need write
  opennms-bootstrap/src/main/java/org/opennms/bootstrap/FilesystemPermissionValidator.java
  opennms-install/src/test/java/org/opennms/install/InstallerTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14155: Add support for parsing metadata expression in value
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  core/ipc/rpc/utils/pom.xml
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/FallbackScope.java
  core/ipc/rpc/utils/src/test/java/org/opennms/core/rpc/utils/mate/EntityScopeProviderIT.java
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVaultTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14155: Add .readme for device-config folder
  opennms-base-assembly/src/main/filtered/etc/device-config/.readme
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14156: do not require a dot before filename suffix
  docs/modules/operation/pages/device-config-backup/ssh.adoc
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-vsrx-default.dcb
  smoke-test/src/test/resources/device-config/test.dcb
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14144: Unique filename suffix
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

typo :/
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/TlsExperiment.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

OIA-31: fix ThresholdController
  opennms-webapp/src/main/java/org/opennms/web/controller/admin/thresholds/ThresholdController.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

just get rid of bouncycastle here
  features/poller/monitors/core/pom.xml
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/TlsExperiment.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Fix to broken links when linking grafana dashboards in opennms.
  opennms-webapp/src/main/webapp/includes/grafana-box.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

initial commit for a new test
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/NetworkProtocol.java
  smoke-test/src/test/java/org/opennms/smoketest/HttpsIT.java
  smoke-test/src/test/resources/https.properties
  smoke-test/src/test/resources/jetty.keystore
  smoke-test/src/test/resources/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Upgrade to Vaadin 8.14.3
  container/features/src/main/resources/features.xml
  features/vaadin/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

file filtering needs to be disabled
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14098: try fix minion-api-layer missing kv-store
  container/features/src/main/resources/features-minion.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix smoke test to match new wording
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14163: Add tests for empty and retaining previous status
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

empty test body
  smoke-test/src/test/java/org/opennms/smoketest/HttpsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14167: DCB Dao and Rest API, filter on backup status (#4577)
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14163: Add check for service name
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14098: try to fix testProvisioningOfMinions ConcurrentModificationException
  features/minion/heartbeat/consumer/src/test/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumerIT.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/Requisition.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Fix to broken links when linking grafana dashboards in opennms. (#4580)
  opennms-webapp/src/main/webapp/includes/grafana-box.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

Revert "build(deps): bump cxfVersion from 3.4.5 to 3.5.1"
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-215: add back ui spinner
  ui/src/store/spinner/actions.ts
  ui/src/store/spinner/index.ts
  ui/src/store/spinner/mutations.ts
  ui/src/store/spinner/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14098: try to fix testProvisioningOfMinions ConcurrentModificationException
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/Requisition.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14163: Update interval
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14143: Add blocking option on trigger.
  container/features/src/main/resources/features.xml
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/BackupResponseDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
  features/device-config/shell/src/main/java/org/opennms/features/deviceconfig/shell/DeviceConfigTrigger.java
  features/device-config/shell/src/main/java/org/opennms/features/deviceconfig/shell/GetDeviceConfig.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/operation/pages/alarms/alarm-notes.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14182: Clean up Alarmd doc formatting (#4557)
  docs/modules/operation/pages/alarms/alarm-notes.adoc
  docs/modules/operation/pages/alarms/alarm-sound-flash.adoc
  docs/modules/operation/pages/alarms/alarmd.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/alarms/history.adoc
  docs/modules/operation/pages/alarms/ifttt-integration.adoc
  docs/modules/operation/pages/alarms/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14200 wait for roles to load before checking route access
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
  ui/src/store/auth/mutations.ts
  ui/src/store/auth/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-215-smoke Fix FE typescript error on build
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14143: Handle review comment, fix test
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/BackupResponseDTO.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14098: make sure develop master & release will build arm image
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui
