Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

docs: Break up curl and execution for package setup
  docs/modules/deployment/pages/core/deb/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

docs: Fix compatible vs. testing
  docs/modules/deployment/pages/core/system-requirements.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

docs: Remove references to CAP_NET_RAW and pg_hba.conf for authentication
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17732: Resolve Twin gRPC issues (#7701)
  container/features/src/main/resources/features-minion.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  core/grpc/osgi/pom.xml
  core/ipc/grpc/client/src/main/java/org/opennms/core/ipc/grpc/client/MinionGrpcClient.java
  core/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  core/ipc/osgi/src/main/resources/META-INF/opennms/applicationContext-ipc-osgi.xml
  core/ipc/twin/api/pom.xml
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/LocalTwinSubscriber.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinRequest.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinTracker.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinUpdate.java
  core/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinPublisher.java
  core/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinSubscriber.java
  core/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/LocalTwinSubscriberImpl.java
  core/ipc/twin/grpc/itests/src/test/java/org/opennms/core/ipc/twin/grpc/GrpcTwinIT.java
  core/ipc/twin/grpc/publisher/src/main/java/org/opennms/core/ipc/twin/grpc/publisher/GrpcTwinPublisher.java
  core/ipc/twin/grpc/publisher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  core/ipc/twin/grpc/subscriber/src/main/java/org/opennms/core/ipc/twin/grpc/subscriber/GrpcTwinSubscriber.java
  core/ipc/twin/jms/publisher/src/main/java/org/opennms/core/ipc/twin/jms/publisher/JmsTwinPublisher.java
  core/ipc/twin/jms/subscriber/src/main/java/org/opennms/core/ipc/twin/jms/subscriber/JmsTwinSubscriber.java
  core/ipc/twin/kafka/itests/src/test/java/org/opennms/core/ipc/twin/kafka/KafkaTwinIT.java
  core/ipc/twin/kafka/publisher/src/main/java/org/opennms/core/ipc/twin/kafka/publisher/KafkaTwinPublisher.java
  core/ipc/twin/kafka/subscriber/src/main/java/org/opennms/core/ipc/twin/kafka/subscriber/KafkaTwinSubscriber.java
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/minion/TrapWithGrpcIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17875: Review changes
  features/vaadin-surveillance-views/src/main/java/org/opennms/features/vaadin/surveillanceviews/ui/SurveillanceViewTable.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17876: Limit the columns for orderBy clause
  features/status/api/src/main/java/org/opennms/features/status/api/node/strategy/query/Query.java
  features/status/api/src/test/java/org/opennms/features/status/api/node/strategy/DefaultNodeStatusCalculatorIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Remove Java 11 dependencies
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
  opennms-base-assembly/src/main/filtered/bin/runjava
  tools/packages/minion/minion.spec
  tools/packages/opennms/jdk.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the package entry for moved files
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/LocalTwinSubscriber.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinRequest.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinTracker.java
  core/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinUpdate.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update rdns.adoc
  docs/modules/reference/pages/provisioning/adapters/rdns.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update ddns.adoc
  docs/modules/reference/pages/provisioning/adapters/ddns.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17873: Possible fix for Brocade switch which represent IPAddress as octet string
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/IPAddressTableTracker.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
  opennms-provision/opennms-provisiond/src/test/resources/NMS-6452-brocade.properties
  opennms-provision/opennms-provisiond/src/test/resources/NMS-6452-brocade.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code).
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/GrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/SpogInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update SpogGrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code).
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(repush).
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/SpogInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/reference/pages/provisioning/adapters/ddns.adoc
  docs/modules/reference/pages/provisioning/adapters/ddns.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/reference/pages/provisioning/adapters/rdns.adoc
  docs/modules/reference/pages/provisioning/adapters/rdns.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17851: Updates per PR review
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/zenith-connect/persistence/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert downgrades to guava/groovy
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17891: Update docs for Jaeger Tracing
  docs/modules/deployment/pages/opentracing/core.adoc
  docs/modules/deployment/pages/opentracing/minion.adoc
  docs/modules/deployment/pages/opentracing/sentinel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17851: Zenith Connect Persistence and Rest API - foundation-2024
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  features/pom.xml
  features/zenith-connect/persistence/pom.xml
  features/zenith-connect/persistence/src/license/THIRD-PARTY.properties
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectPersistenceException.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectPersistenceService.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectRegistration.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/api/ZenithConnectRegistrations.java
  features/zenith-connect/persistence/src/main/java/org/opennms/features/zenithconnect/persistence/impl/ZenithConnectPersistenceServiceImpl.java
  features/zenith-connect/persistence/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/zenith-connect/persistence/src/test/java/org/opennms/features/zenithconnect/persistence/impl/ZenithConnectPersistenceServiceImplIT.java
  features/zenith-connect/persistence/src/test/resources/META-INF/opennms/applicationContext-zenithconnect-persistence.xml
  features/zenith-connect/pom.xml
  features/zenith-connect/rest/pom.xml
  features/zenith-connect/rest/src/license/THIRD-PARTY.properties
  features/zenith-connect/rest/src/main/java/org/opennms/features/zenithconnect/rest/api/ZenithConnectRestService.java
  features/zenith-connect/rest/src/main/java/org/opennms/features/zenithconnect/rest/impl/DefaultZenithConnectRestService.java
  features/zenith-connect/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/zenith-connect/rest/src/test/java/org/opennms/features/zenithconnect/rest/impl/DefaultZenithConnectRestServiceIT.java
  features/zenith-connect/rest/src/test/resources/META-INF/opennms/applicationContext-zenithconnect-rest.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17886 Modified the regex and added new testcases to check (#7712)
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17875: Fixed XSS issues
  features/vaadin-surveillance-views/src/main/java/org/opennms/features/vaadin/surveillanceviews/ui/SurveillanceViewTable.java
  opennms-webapp/src/main/java/org/opennms/web/controller/notification/NotificationFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/nodelabel/NodeLabelChangeServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/admin/nodelabel.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

refactor: Use the GitHub SHA as OCI snapshot reference
  .github/workflows/opennms-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

docs: Work on Minion and Sentinel migrating to Cloudsmith and JDK 17
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/core/admin-password-reset.adoc
  docs/modules/deployment/pages/core/containers.adoc
  docs/modules/deployment/pages/core/deb/install-core.adoc
  docs/modules/deployment/pages/core/deb/postgresql.adoc
  docs/modules/deployment/pages/core/docker/core.adoc
  docs/modules/deployment/pages/core/docker/initialize.adoc
  docs/modules/deployment/pages/core/docker/postgresql.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/rpm/install-core.adoc
  docs/modules/deployment/pages/core/rpm/postgresql.adoc
  docs/modules/deployment/pages/minion/deb/install-minion.adoc
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/minion/docker/secure-karaf.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/minion/rpm/install-minion.adoc
  docs/modules/deployment/pages/sentinel/introduction.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel7/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/deb/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/deb/secure-karaf.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
  docs/modules/deployment/pages/sentinel/runtime/rpm/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/rpm/secure-karaf.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/deployment/pages/upgrade/restore/debian-ubuntu/restore-debian-ubuntu.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  docs/modules/troubleshooting/pages/startup-issues.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke
