Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-18277 review changes
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
Due: trigger-coverage, trigger-build

new changes for download
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/MaskElements.vue
  ui/src/components/EventConfigEventCreate/MaskVarbinds.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/services/eventConfigService.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Update docs for minion and sentinel
  docs/modules/deployment/pages/minion/debian/install-minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/deployment/pages/minion/ubuntu/install-minion.adoc
  docs/modules/deployment/pages/opentracing/minion.adoc
  docs/modules/deployment/pages/opentracing/sentinel.adoc
  docs/modules/deployment/pages/prometheus-monitoring.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian-ubuntu/secure-karaf.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/ubuntu/install-sentinel.adoc
  docs/modules/operation/pages/deep-dive/flows/sentinel/sentinel.adoc
Due: trigger-coverage, trigger-docs

update install location for minion and sentinel for minion
  features/container/sentinel/src/main/filtered-resources/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.lintian-overrides
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.postinst
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.postrm
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.preinst
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.lintian-overrides
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.postinst
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.postrm
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.preinst
  opennms-base-assembly/src/main/filtered/bin/support_pack.sh
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-build

download button placement chanegs and test fixes
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19031: Reverse the order for loading of events
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp/src/main/java/org/opennms/web/services/EventConfProgrammaticService.java
Due: trigger-coverage, trigger-build

NMS-19056: additional relative time period selections
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/RelativeTimePeriod.java
  ui/src/components/Resources/TimeControls.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19031: Also fix ordering for a given source
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
Due: trigger-coverage, trigger-build

NMS-19056: additional relative time period selections (#8083)
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/RelativeTimePeriod.java
  ui/src/components/Resources/TimeControls.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19031: Fix tests
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18531: Set environment variables for opennms-datasource by default
  opennms-base-assembly/src/main/filtered/etc/opennms-datasources.xml
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tmpl
  pom.xml
Due: trigger-coverage, trigger-build

NMS-18531: Remove opennms-datasource.xml from smoke tests
  smoke-test/src/main/resources/opennms-overlay/etc/opennms-datasources.xml
Due: trigger-coverage, trigger-build

NMS-19016: Allow users to configure logging as JSON output
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Due: trigger-coverage, trigger-build

Add Karaf shell documentation and link to it in appropriate places in other docs sections.
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  docs/modules/operation/pages/deep-dive/karaf-shell/karaf-shell.adoc
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/adhoc-collection.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/collectd-schedule.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/measurements.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/stress-testing.adoc
  docs/modules/operation/pages/deep-dive/provisioning/snmp-profile.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/prometheus.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Due: trigger-coverage, trigger-docs

NMS-19031: Update the order for loading of events (#8082)
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/services/EventConfProgrammaticService.java
Due: trigger-coverage, trigger-build

revert change to Dockerfile for Sentinel
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-build

add option to upload folder of xml files
  ui/src/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
Due: trigger-coverage, trigger-build, trigger-ui

Add Karaf shell documentation (#8084)
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  docs/modules/operation/pages/deep-dive/karaf-shell/karaf-shell.adoc
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/adhoc-collection.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/collectd-schedule.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/measurements.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/stress-testing.adoc
  docs/modules/operation/pages/deep-dive/provisioning/snmp-profile.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/prometheus.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Due: trigger-coverage, trigger-docs

remove almost all references to usr/share refrences
  features/container/sentinel/src/main/filtered-resources/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/bin/support_pack.sh
  opennms-base-assembly/src/main/filtered/bin/support_pack.sh
  opennms-container/core/container-fs/confd/conf.d/mattermost.properties.toml
  opennms-container/core/container-fs/confd/conf.d/newts.properties.toml
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/conf.d/org.apache.karaf.shell.cfg.toml
  opennms-container/core/container-fs/confd/conf.d/slack.properties.toml
  opennms-container/core/container-fs/confd/conf.d/timeseries.properties.toml
  opennms-container/core/container-fs/confd/conf.d/trapd-configuration.xml.toml
  opennms-container/core/container-fs/confd/templates/org.apache.karaf.shell.cfg.tmpl
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/sentinel/plugins.sh
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-build

NMS-19060: Add Centos 10 installation docs
  docs/modules/deployment/pages/core/centos/adoptium.adoc
  docs/modules/deployment/pages/core/centos10/install-core.adoc
  docs/modules/deployment/pages/core/centos10/postgresql.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel10.adoc
Due: trigger-coverage, trigger-docs

docs: Move Karaf Shell commands to reference section
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/adhoc-collection.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/collectd-schedule.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/measurements.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/stress-testing.adoc
  docs/modules/operation/pages/deep-dive/provisioning/snmp-profile.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/shell/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/shell/introduction.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
  docs/modules/reference/pages/karaf-shell/karaf-shell.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/prometheus.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Due: trigger-coverage, trigger-docs

docs: Fix build warning and reference errors
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/system-requirements.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/reference/pages/karaf-shell/karaf-shell.adoc
Due: trigger-coverage, trigger-docs

NMS-19050: Comparing uploaded file events with downloaded file events.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

move opennms folder to opt directory; advantures awaits
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-build

move sentinel into opt folder
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-build

NMS-18073: Add opennms events for reference
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.ackd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.alarm.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.bmp.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.bsm.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.capsd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.catch-all.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.collectd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.config.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.correlation.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.default.threshold.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.discovery.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.internal.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.linkd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.mib.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.minion.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.perspective.poller.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.pollerd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.provisioning.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.reportd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.snmp.trap.translator.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.syslogd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.ticketd.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events-defaults/opennms.tl1d.events.xml
Due: trigger-coverage, trigger-build

NMS-19050: Comparing uploaded file events with downloaded file events.
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

initial support for varbind decodes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/MaskElements.vue
  ui/src/components/EventConfigEventCreate/MaskVarbinds.vue
  ui/src/components/EventConfigEventCreate/VarbindsDecode.vue
  ui/src/components/EventConfigEventCreate/eventValidator.ts
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

docs update
  docs/modules/deployment/pages/minion/debian/install-minion.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/deployment/pages/minion/ubuntu/install-minion.adoc
  docs/modules/deployment/pages/opentracing/minion.adoc
  docs/modules/deployment/pages/opentracing/sentinel.adoc
  docs/modules/deployment/pages/prometheus-monitoring.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian-ubuntu/secure-karaf.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/ubuntu/install-sentinel.adoc
  docs/modules/operation/pages/deep-dive/flows/sentinel/sentinel.adoc
Due: trigger-coverage, trigger-docs

containers
  opennms-container/core/Dockerfile
  opennms-container/core/container-fs/confd/conf.d/mattermost.properties.toml
  opennms-container/core/container-fs/confd/conf.d/newts.properties.toml
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/conf.d/org.apache.karaf.shell.cfg.toml
  opennms-container/core/container-fs/confd/conf.d/slack.properties.toml
  opennms-container/core/container-fs/confd/conf.d/timeseries.properties.toml
  opennms-container/core/container-fs/confd/conf.d/trapd-configuration.xml.toml
  opennms-container/core/container-fs/confd/templates/org.apache.karaf.shell.cfg.tmpl
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/plugins.sh
Due: trigger-coverage, trigger-build

rpm and debian packages
  debian/opennms-common.postinst
  features/container/sentinel/src/main/filtered-resources/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/bin/support_pack.sh
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.postinst
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.postrm
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion.preinst
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.postinst
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.postrm
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.preinst
  opennms-base-assembly/src/main/filtered/bin/support_pack.sh
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-build

update url of customize events
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
Due: trigger-coverage, trigger-build

Add "Next" to fixVersion when creating new issues
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

Add "Next" to fixVersion when creating new issues (#8091)
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

NMS-19053: Expose service to Get EventConfSource by sourceID
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19050: Support downloading of events
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19068: Strip folder names when uploading through folder
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

Only enable automatic re-run for develop branch
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

NMS-19068: Handle review comments
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
