Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fixing a bug and removing reliance on magic strings
  ui/src/components/Configuration/ConfigurationGeneratedUrl.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Configuration/configuration.types.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

fixing two small bugs. ready for pr.
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ProvisionDForm.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13783: Systemd startup uses legacy SysV init script (#4209)
  debian/rules
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-base-assembly/src/main/filtered/etc/opennms.service
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-coverage=false, trigger-build

change configType to string; relate configType with upload filenames
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/ConfigType.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/sink/consumer/src/main/java/org/opennms/features/deviceconfig/sink/consumer/DeviceConfigConsumer.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/TftpServer.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13831: Fix test compilation for foundation-2019
  features/system-report/src/test/java/org/opennms/systemreport/system/ConfigurationSanitizerTest.java
  features/system-report/src/test/java/org/opennms/systemreport/system/UsersPropertiesFileSanitizerTest.java
  features/system-report/src/test/java/org/opennms/systemreport/system/XmlFileSanitizerTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13831: Remove wildcard imports
  features/system-report/src/main/java/org/opennms/systemreport/formatters/AbstractSystemReportFormatter.java
  features/system-report/src/main/java/org/opennms/systemreport/formatters/ZipSystemReportFormatter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13831: Fix InputStream not being closed, log FileSanitizationException
  features/system-report/src/main/java/org/opennms/systemreport/sanitizer/ConfigurationSanitizer.java
  features/system-report/src/main/java/org/opennms/systemreport/sanitizer/PropertiesFileSanitizer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13831: Fix PropertiesFileSanitizerTest compilation in foundation-2019
  features/system-report/src/test/java/org/opennms/systemreport/system/PropertiesFileSanitizerTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

make sure replacement jasper repositories are inherited
  opennms-assemblies/minion/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13847: Enable browser-based autocomplete on main login page, disable password field autocomplete elsewhere
  opennms-webapp/src/main/webapp/WEB-INF/jsp/support/index.jsp
  opennms-webapp/src/main/webapp/account/selfService/newPassword.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/newPassword.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/newUser.jsp
  opennms-webapp/src/main/webapp/asset/modify.jsp
  opennms-webapp/src/main/webapp/login.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13847: Disable password autocomplete for support login
  opennms-webapp/src/main/webapp/WEB-INF/jsp/support/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

provide configType as script variable; omit .cfg extension from configType
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/ConfigType.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13737: fix divide by zero (#4219)
  opennms-base-assembly/src/main/filtered/etc/thresholds.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

add to opennms-base-assembly as well
  opennms-base-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fixinig issues with darkmode and a linting issue
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

ignore @types/lodash and @types/node in dependabot updates
  .github/dependabot.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build

removing unneeded computed
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/Configuration/ConfigurationToast.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

attempt to backport coverage trigger to 2022
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

removing bad reference in demo file that is preventing this from building
  ui/src/components/Common/Demo/EditNode.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

updated token for poweredby-2022
  index.html
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-151: address to PR comments
  core/snmp/profile-mapper/src/test/java/org/opennms/core/snmp/profile/mapper/SnmpProfileMapperIT.java
  integrations/opennms-snmp-asset-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/SnmpAssetProvisioningAdapterIT.java
  opennms-alarms/jms-northbounder/src/test/resources/applicationContext-mockJmsNorthDao.xml
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Range.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/Snmpv3User.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeLocationChangeIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Removing unused java files
  features/distributed/core/impl/src/main/java/org/opennms/distributed/core/impl/RestConnectionHealthCheck.java
  features/distributed/core/impl/src/main/java/org/opennms/distributed/core/impl/ScvEnabledRestClientImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13830: Update Classification Engine chapter in flows section
  docs/modules/operation/pages/flows/classification-engine.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13936: Remove unused service
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13801: Add poller configuration for device-config
  container/features/src/main/resources/features.xml
  features/device-config/monitor/src/main/resources/META-INF/opennms/component-dao.xml
  features/minion/repository/pom.xml
  features/minion/repository/src/main/resources/features.boot
  opennms-base-assembly/pom.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13268: do not refresh bundles when features get installed
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/container/sentinel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  src/assembly/source.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

removing broken line
  ui/src/services/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13768: Remove RestClient related components form Minion/Sentinel (#4217)
  docs/modules/operation/pages/flows/sentinel/message-broker/activemq.adoc
  docs/modules/operation/pages/flows/sentinel/message-broker/kafka.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
  docs/modules/reference/pages/configuration/minion-docker.adoc
  docs/modules/reference/pages/configuration/sentinel-features.adoc
  features/distributed/core/impl/src/main/java/org/opennms/distributed/core/impl/RestConnectionHealthCheck.java
  features/distributed/core/impl/src/main/java/org/opennms/distributed/core/impl/ScvEnabledRestClientImpl.java
  features/minion/core/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/sentinel/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-container/minion/CONFD_README.md
  opennms-container/minion/Dockerfile
  opennms-container/minion/container-fs/confd/conf.d/org.opennms.minion.controller.cfg.toml
  opennms-container/minion/container-fs/confd/templates/org.opennms.minion.controller.cfg.tmpl
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/minion/minion-config-schema.yml.in
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/assets/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/MinionStartupIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-13835: Fix XSS vulnerability on outages list
  opennms-web-api/src/main/java/org/opennms/web/api/Util.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/ConfigUpdateInfo.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphMLContainerProviderServiceFactory.java
  features/graphml/service/src/main/java/org/opennms/features/graphml/service/impl/GraphmlRepositoryImpl.java
  features/graphml/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graphml/service/src/test/java/org/opennms/features/graphml/service/impl/GraphmlRepositoryImplTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CallbackManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/util/Substring.java
  features/config/service/api/src/test/java/org/opennms/features/config/service/util/SubstringTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurations.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/JsonConfigStoreDaoImpl.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/MigratedServices.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmPersistenceManager.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-174: Support multiple instances of the same service in OSGI: implement graphml
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
