Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-20393: Move the Topology tool icons into onms-ui, and make Save an icon (#8919)
  ui/packages/onms-ui/src/icons/action/Pointer.vue
  ui/packages/onms-ui/src/icons/action/Rectangle.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/components/Topology/toolIcons.ts
  ui/src/containers/Topology.vue
  ui/tests/containers/Topology.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20383: Fix SQL injection in alarm and outage filters
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/CriteriaBehaviorsSqlInjectionTest.java
  opennms-webapp/src/main/java/org/opennms/web/asset/AssetModel.java
  opennms-webapp/src/main/java/org/opennms/web/outage/OutageUtil.java
  opennms-webapp/src/main/java/org/opennms/web/outage/filter/AssetFilter.java
  opennms-webapp/src/test/java/org/opennms/web/outage/OutageUtilTest.java
  opennms-webapp/src/test/java/org/opennms/web/outage/filter/AssetFilterTest.java
Due: trigger-coverage, trigger-build

NMS-20303: Add REST endpoint for active scheduled outages of a node
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/ScheduledOutagesRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/ScheduledOutagesRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20303: REST endpoint for scheduled outages affecting a node
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/ScheduledOutagesRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/ScheduledOutagesRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20303: Add scheduled outages banner and outage stores
  ui/src/components/Dashboard/panels/OutagesPanel.vue
  ui/src/components/Nodes/NodeDetailsBanner.vue
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/components/Nodes/NodeScheduledOutagesBox.vue
  ui/src/components/Nodes/NodeStatusBox.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/nodeStatus.ts
  ui/src/composables/useVisiblePolling.ts
  ui/src/services/index.ts
  ui/src/services/nodeService.ts
  ui/src/services/outageService.ts
  ui/src/services/scheduledOutagesService.ts
  ui/src/stores/nodeStore.ts
  ui/src/stores/outageStore.ts
  ui/src/stores/scheduledOutageStore.ts
  ui/tests/components/Nodes/NodeDetailsBanner.test.ts
  ui/tests/components/Nodes/NodeScheduledOutagesBox.test.ts
  ui/tests/components/Nodes/NodeStatusBox.test.ts
  ui/tests/components/Nodes/OutagesTable.test.ts
  ui/tests/components/Nodes/nodeStatus.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/outageService.test.ts
  ui/tests/services/scheduledOutagesService.test.ts
  ui/tests/stores/nodeStore.test.ts
  ui/tests/stores/outageStore.test.ts
  ui/tests/stores/scheduledOutageStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Vue Node Details - scheduled outages banner, outage stores
  ui/src/components/Dashboard/panels/OutagesPanel.vue
  ui/src/components/Nodes/NodeDetailsBanner.vue
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/components/Nodes/NodeScheduledOutagesBox.vue
  ui/src/components/Nodes/NodeStatusBox.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/nodeStatus.ts
  ui/src/composables/useVisiblePolling.ts
  ui/src/services/index.ts
  ui/src/services/nodeService.ts
  ui/src/services/outageService.ts
  ui/src/services/scheduledOutagesService.ts
  ui/src/stores/nodeStore.ts
  ui/src/stores/outageStore.ts
  ui/src/stores/scheduledOutageStore.ts
  ui/tests/components/Nodes/NodeDetailsBanner.test.ts
  ui/tests/components/Nodes/NodeScheduledOutagesBox.test.ts
  ui/tests/components/Nodes/NodeStatusBox.test.ts
  ui/tests/components/Nodes/OutagesTable.test.ts
  ui/tests/components/Nodes/nodeStatus.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/outageService.test.ts
  ui/tests/services/scheduledOutagesService.test.ts
  ui/tests/stores/nodeStore.test.ts
  ui/tests/stores/outageStore.test.ts
  ui/tests/stores/scheduledOutageStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Address the PR comments
  docs/modules/reference/pages/configuration/sentinel-features.adoc
  opennms-container/sentinel/container-fs/entrypoint.sh
  opennms-container/sentinel/container-fs/etc/featuresBoot.d/templates/sentinel-ipc-jms.boot
  opennms-container/sentinel/container-fs/etc/featuresBoot.d/templates/sentinel-ipc-kafka.boot
  opennms-container/sentinel/container-fs/prom-jmx-default-config.yaml
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20348: Deny REST requests that match no authorization rule
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build

Address few issues found during testing
  docs/modules/reference/pages/configuration/core-docker.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-container/core/ENVIRONMENT_VARIABLES.md
  opennms-container/core/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20398: Disable DOCTYPE and external entities when unmarshalling IPC XML messages
  core/xml/src/main/java/org/opennms/core/xml/XmlHandler.java
  core/xml/src/test/java/org/opennms/core/xml/XmlHandlerXxeTest.java
Due: trigger-coverage, trigger-build

NMS-20353: Fixed KafkaProducerIT
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-build

NMS-20397: Declare the opennms-core-camel feature dependency
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-build

Docs: Add a whatsnew for new Karaf commands
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20383: Limit asset filter columns to text columns and normalize them with Locale.ROOT
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/CriteriaBehaviorsSqlInjectionTest.java
  opennms-webapp/src/main/java/org/opennms/web/asset/AssetModel.java
  opennms-webapp/src/main/java/org/opennms/web/outage/filter/AssetFilter.java
  opennms-webapp/src/test/java/org/opennms/web/outage/OutageUtilTest.java
  opennms-webapp/src/test/java/org/opennms/web/outage/filter/AssetFilterTest.java
Due: trigger-coverage, trigger-build

NMS-20397: Make the opennms-core-camel feature resolvable on its own
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20303: Add FS:FID and flow data badges to node header
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/src/components/Nodes/utils.ts
  ui/tests/components/Nodes/NodeDetailsHeader.test.ts
  ui/tests/components/Nodes/utils.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Add Edit in Requisition node action
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/src/composables/useRole.ts
  ui/src/containers/NodeDetails.vue
  ui/src/services/index.ts
  ui/src/services/requisitionService.ts
  ui/src/stores/nodeStore.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/nodeActionLinks.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/requisitionService.test.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20407: Hide credentials in debug logs and asset REST access
  core/web-assets/src/main/assets/js/apps/onms-assets/config.json
  core/web-assets/src/main/assets/js/apps/onms-assets/index.js
  docs/modules/development/pages/rest/nodes.adoc
  docs/modules/development/pages/rest/requisitions.adoc
  docs/modules/development/pages/rest/rest-api.adoc
  docs/modules/operation/pages/deep-dive/search.adoc
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/node/NodeAssetSearchProvider.java
  opennms-ackd/src/main/java/org/opennms/netmgt/ackd/readers/MailAckProcessor.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AssetRecordDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAssetRecord.java
  opennms-model/src/main/java/org/opennms/netmgt/model/WriteOnlyAdapter.java
  opennms-provision/opennms-detector-jdbc/src/main/java/org/opennms/netmgt/provision/detector/jdbc/client/JDBCClient.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBuilderSearchVisitor.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/WriteOnlyPropertyGuard.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AssetSuggestionsRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/README.adoc
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/WriteOnlyPropertyGuardTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AssetSuggestionsRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/asset/AssetModel.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/asset/modify.jsp
  protocols/radius/src/main/java/org/opennms/protocols/radius/detector/RadiusAuthDetector.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/RequisitionRestAccessIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20303: Add asset comments to node info dialog
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/tests/components/Nodes/NodeDetailsDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20409: Escape stored values in web UI pages to prevent XSS
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcGraphController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcReportController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customGraphEditDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customReport.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customView.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/element/linkednode.jsp
  opennms-webapp/src/main/webapp/element/service-metadata.jsp
  opennms-webapp/src/main/webapp/element/snmpinterface.jsp
  opennms-webapp/src/main/webapp/hardware/list.jsp
Due: trigger-coverage, trigger-build

NMS-20397: Ship the JMS header filter in its own bundle
  container/features/pom.xml
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features.xml
  core/camel-headers/pom.xml
  core/camel-headers/src/main/java/org/opennms/core/camel/headers/InboundCamelHeaderFilterStrategy.java
  core/camel-headers/src/test/java/org/opennms/core/camel/headers/InboundCamelHeaderFilterStrategyTest.java
  core/daemon/pom.xml
  core/daemon/src/main/resources/META-INF/opennms/applicationContext-daemon.xml
  core/pom.xml
  features/activemq/component/pom.xml
  features/activemq/component/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/amqp/event-receiver/pom.xml
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/distributed/core/jms/pom.xml
  features/distributed/core/jms/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20272: Improve the event-conf REST API and redesign the upload page (#8921)
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
  smoke-test/src/test/java/org/opennms/smoketest/EventConfRestIT.java
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
  ui/src/components/EventConfiguration/fileDropTraversal.ts
  ui/src/containers/EventConfiguration.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigUploadFilesTab.test.ts
  ui/tests/components/EventConfiguration/eventConfigXmlValidator.test.ts
  ui/tests/components/EventConfiguration/fileDropTraversal.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/services/eventConfigService.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20303: Add v2 REST endpoint for the critical path of a node
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/NodeCriticalPathDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20303: Add critical path panel to Vue Node Details
  ui/src/components/Nodes/NodeCriticalPathPanel.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/components/Notifications/NotificationsConfigTabs.vue
  ui/src/containers/NodeDetails.vue
  ui/src/services/index.ts
  ui/src/services/nodeService.ts
  ui/src/stores/nodeStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/NodeCriticalPathPanel.test.ts
  ui/tests/components/Notifications/NotificationsConfigTabs.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/nodeService.test.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Let tooltips near a viewport edge change side
  ui/src/styles/primevue-overrides.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Add Network tab for Enlinkd elements
  ui/src/components/Nodes/NodeDetailsFieldList.vue
  ui/src/components/Nodes/NodeDetailsNetworkTab.vue
  ui/src/components/Nodes/nodeEnlinkdFields.ts
  ui/src/containers/NodeDetails.vue
  ui/src/services/enlinkdService.ts
  ui/src/services/index.ts
  ui/src/stores/enlinkdStore.ts
  ui/src/stores/nodeStore.ts
  ui/src/types/enlinkd.ts
  ui/tests/components/Nodes/NodeDetailsNetworkTab.test.ts
  ui/tests/components/Nodes/nodeEnlinkdFields.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/enlinkdService.test.ts
  ui/tests/stores/enlinkdStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Add links row with OnmsMenubar
  ui/eslint.config.js
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/src/components/OnmsMenubar.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Nodes/NodeDetailsLinks.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/src/containers/NodeDetails.vue
  ui/tests/components/Nodes/NodeDetailsLinks.test.ts
  ui/tests/components/Nodes/nodeActionLinks.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/onms-ui/OnmsMenubar.test.ts
  ui/tests/onms-ui/exports.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20383: Use the allow-list column name in asset filter SQL and keep request text out of the log
  opennms-webapp/src/main/java/org/opennms/web/outage/filter/AssetFilter.java
  opennms-webapp/src/test/java/org/opennms/web/outage/filter/AssetFilterTest.java
Due: trigger-coverage, trigger-build

NMS-20303: Add Services menu and remove title-row actions menu
  ui/src/components/Nodes/NodeDetailsLinks.vue
  ui/src/components/Nodes/nodeServiceLinks.ts
  ui/src/containers/NodeDetails.vue
  ui/src/services/ifService.ts
  ui/src/services/index.ts
  ui/src/stores/nodeStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/NodeDetailsLinks.test.ts
  ui/tests/components/Nodes/nodeServiceLinks.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/ifService.test.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Explain where node.jsp navEntries come from
  ui/src/components/Nodes/nodeActionLinks.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20398: Use a hardened StAX parser in XmlHandler
  core/xml/pom.xml
  core/xml/src/main/java/org/opennms/core/xml/XmlHandler.java
  core/xml/src/test/java/org/opennms/core/xml/XmlHandlerXxeTest.java
Due: trigger-coverage, trigger-build

NMS-20403: Ignore CVE-2026-77422
  .circleci/trivy-config/trivyignore
Due: trigger-coverage, trigger-build

NMS-20400: Updated Jackson 2 version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20401: Fixed remaining org.bouncycastle:bcprov-jdk18on items
  .circleci/trivy-config/trivyignore
  container/features/src/main/resources/features.xml
  dependencies/jcifs-shaded/pom.xml
  dependencies/jradius-extended/pom.xml
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20397: Add the header filter feature to minion-jms
  features/minion/core/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-build

NMS-20395: Upgrade Kafka to 3.9.1 and block SASL/OAUTHBEARER URLs by default
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/JUnitKafkaServer.java
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/container/minion/src/main/filtered-resources/etc/system.properties
  features/container/sentinel/src/main/filtered-resources/etc/system.properties
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/NoOpProducer.java
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  pom.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20303: Confirm before asset edit for a requisitioned node
  ui/src/components/Nodes/AssetEditConfirmDialog.vue
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeDetailsLinks.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/tests/components/Nodes/AssetEditConfirmDialog.test.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/NodeDetailsLinks.test.ts
  ui/tests/components/Nodes/nodeActionLinks.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Page the availability panel and add View Availability button
  ui/eslint.config.js
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/src/components/OnmsPaginator.vue
  ui/packages/onms-ui/src/index.ts
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/services/nodeService.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/NodeAvailabilityGraph.test.ts
  ui/tests/onms-ui/OnmsPaginator.test.ts
  ui/tests/onms-ui/exports.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Page the interfaces of GET /rest/availability/nodes/{id}
  opennms-web-api/src/main/java/org/opennms/web/category/AvailabilityNode.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AvailabilityRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AvailabilityRestServiceIT.java
  opennms-webapp-rest/src/test/resources/v1/availability_node.json
Due: trigger-coverage, trigger-build
