Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Update docs/modules/operation/pages/topology/enlinkd/introduction.adoc
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update glossary.adoc with changes from review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14325 Enlinkd Topology Map Layers Documentation
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

clean up build step and enable save-artifacts for horizon oci
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from code review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

check to see if artifacts folder exists
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14344 Refactor step1 - dynamic topology graphs
  ui/src/components/Topology/CtrlLayers.vue
  ui/src/components/Topology/SideControls.vue
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.constants.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/getters.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
  ui/src/types/topology.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

create a testarea pyscript
  .circleci/config.yml
  .circleci/pyscripts/generate_mainyml.py
  .circleci/pyscripts/library/tests.py
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

add a debug statement to save-artifacts
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

let UI extensions tap into state mngment, update all pckgs
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/containers/Plugin.vue
  ui/src/main.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14344 Using constants
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.constants.ts
  ui/src/services/index.ts
  ui/src/services/topologyService.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/getters.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

build rpms if branch has "rpm" in it
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fix the url in store-artifacts
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14344 Refact...
  ui/src/components/Topology/NetworkGraph.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

test auto detection of flaky,integration and smoke tests
  .circleci/pyscripts/library/tests.py
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

test modifying parameters json file dynamically
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Add tests for tags in comments #tests-flak
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

add a message indicating a keyword is detected
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

test interaction with git and cleanup variable name in tests #tests-flaky
  .circleci/pyscripts/library/__init__.py
  .circleci/pyscripts/library/libgit.py
  .circleci/pyscripts/library/tests.py
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14372: clean up old logo references
  features/reporting/jasper-reports/src/test/resources/etc/report-templates/assets/images/company-logo.png
  opennms-base-assembly/src/main/filtered/bin/generate-report
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-base-assembly/src/main/filtered/etc/report-templates/assets/images/company-logo.png
  opennms-base-assembly/src/main/filtered/etc/report-templates/assets/images/logo_flat.png
  opennms-base-assembly/src/main/resources/contrib/downOpenNMS
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms/web.xml
  opennms-base-assembly/src/main/resources/etc/reports/logo.gif
  opennms-webapp/src/main/webapp/images/opennms-logo-dark.svg
  opennms-webapp/src/main/webapp/images/opennms-logo.png
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-12753: Add encryption option for snmp config (#3054)
  container/features/src/main/resources/features.xml
  core/api/src/main/java/org/opennms/core/config/api/TextEncryptor.java
  core/encrypt-util/pom.xml
  core/encrypt-util/src/main/java/org/opennms/core/text/encryptor/TextEncryptorImpl.java
  core/encrypt-util/src/main/resources/META-INF/opennms/applicationContext-encrypt-util.xml
  core/encrypt-util/src/main/resources/META-INF/opennms/component-dao.xml
  core/encrypt-util/src/test/java/org/opennms/core/text/encryptor/TextEncryptorTest.java
  core/pom.xml
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/SyncSnmpConfigCommand.java
  dependencies/jasypt/pom.xml
  features/jmx-config-generator/src/test/java/org/opennms/features/jmxconfiggenerator/jmxconfig/JmxDatacollectionConfiggeneratorTest.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  opennms-base-assembly/pom.xml
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
  opennms-config/pom.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEncryptionIT.java
  opennms-config/src/test/resources/snmp-config.xml
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14161:Event/Alarm advanced search not passing search terms (#4722)
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/event/DaoWebEventRepository.java
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
  opennms-webapp/src/test/java/org/opennms/web/event/EventControllerTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14243: Fixed Heatmap
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/HibernateUtils.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OutageDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/HeatMapRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

DC-126: Deduplicate the metric on the query results
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/resource/TimeseriesSearcher.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/sampleread/TimeseriesFetchStrategy.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/sampleread/aggregation/NewtsConverterUtils.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/sampleread/aggregation/NewtsLikeSampleAggregator.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14344 Render Views list with v-for
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.constants.ts
  ui/src/store/topology/mutations.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13834: Modified opennms.spec and debian/rules to also create spring-security-pristine
  debian/rules
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-coverage=false, trigger-build

disable caching of oci for minion, sentinel
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14216: making the scvcli utility available in core
  opennms-base-assembly/pom.xml
  opennms-base-assembly/src/assembly/daemon.xml
  opennms-base-assembly/src/main/filtered/bin/scvcli
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14216: moving aroung modules
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/DatabaseChecker.java
  core/db-install/src/main/java/org/opennms/core/db/install/SimpleDataSource.java
  core/db/pom.xml
  core/db/src/main/java/org/opennms/core/db/C3P0ConnectionFactory.java
  core/db/src/main/java/org/opennms/core/db/HikariCPConnectionFactory.java
  core/db/src/main/java/org/opennms/core/db/XADataSourceFactory.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/test/java/org/opennms/core/db/PasswordEncryptionTest.java
  core/ipc/rpc/pom.xml
  core/ipc/rpc/scope-provider/pom.xml
  core/ipc/rpc/scope-provider/src/main/java/org/opennms/core/rpc/utils/mate/scope/EntityScopeProviderImpl.java
  core/ipc/rpc/scope-provider/src/main/resources/META-INF/opennms/applicationContext-rpc-scope-provider.xml
  core/ipc/rpc/scope-provider/src/main/resources/META-INF/opennms/component-dao.xml
  core/ipc/rpc/scope-provider/src/test/java/org/opennms/core/rpc/utils/mate/scope/EntityScopeProviderIT.java
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/EntityScopeProviderImpl.java
  features/collection/thresholding/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/newts-repository-converter/src/main/java/org/opennms/features/newts/converter/SimpleDataSource.java
  features/reporting/jasper-reports/src/main/java/org/opennms/reporting/jasperreports/compiler/ReportCompiler.java
  features/search/providers/pom.xml
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/SearchResultItemBuilder.java
  features/timeseries/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/timeseries/src/test/resources/META-INF/opennms/applicationContext-timeseries-test.xml
  opennms-services/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
