Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

inform user why epoch is ignored
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-build

force a build
  .circleci/epoch
Due: trigger-coverage, trigger-build

Use medium+ for debian and rpm jobs
  .circleci/main/jobs/build/build-debian.yml
  .circleci/main/jobs/build/build-rpm.yml
Due: trigger-coverage, trigger-build

inform user why epoch is ignored
  .circleci/epoch
Due: trigger-coverage, trigger-build

use medium+ for tarball
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-build

NMS-19261: Fixed reviews
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
Due: trigger-coverage, trigger-build

changes for system defs
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

expanded rows
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

column rename
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

Adding maintenance script to handle the case THIRD-PARTY exists in etc folder
  debian/opennms-common.maintscript
Due: trigger-coverage, trigger-build

fix a typo
  debian/opennms-common.maintscript
Due: trigger-coverage, trigger-build

stop building arm64 images
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

NMS-19398: Save SNMP Profiles
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigEditDefinition.vue
  ui/src/components/SnmpConfiguration/SnmpConfigEditProfile.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigPairedFieldInputs.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfileBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/containers/SnmpConfiguration.vue
  ui/src/lib/constants.ts
  ui/src/lib/snmpValidator.ts
  ui/src/lib/sorting.ts
  ui/src/main/router/index.ts
  ui/src/services/snmpConfigService.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
  ui/tests/components/Nodes/hooks/useNodeExport.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
  ui/tests/components/Nodes/hooks/utils.ts
  ui/tests/lib/snmpValidator.test.ts
  ui/tests/lib/sorting.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

clean up etc folder in rpm post install.
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-build

NMS-19267: Add updated install docs for Debian 13
  docs/modules/deployment/pages/core/debian-ubuntu/initialize-core.adoc
  docs/modules/deployment/pages/core/debian/adoptium.adoc
  docs/modules/deployment/pages/core/debian/install-core.adoc
Due: trigger-coverage, trigger-docs

run !oci-arm64
  .circleci/example-build-triggers.override.json
  .circleci/main/workflows/workflows_v2.json
  .circleci/pyscripts/generate_main.py
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-build

improve the libgit to detect !oci-arm64
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-build

add back extended regex
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-build

random update !oci-arm64
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

undo changes !debs
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

NMS-19404 twin-subscribe missing on minion issue fix
  core/ipc/twin/shell/src/main/java/org/opennms/core/ipc/twin/shell/TwinPublisherCommand.java
Due: trigger-coverage, trigger-build

NMS-19404 review changes
  core/ipc/twin/shell/src/main/java/org/opennms/core/ipc/twin/shell/TwinPublisherCommand.java
Due: trigger-coverage, trigger-build

expand the logic
  .circleci/example-build-triggers.override.json
  .circleci/main/workflows/workflows_v2.json
  .circleci/pyscripts/generate_main.py
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-build

NMS-19479: Integrate rest endpoint for system defs with pagination, searching and sorting (#8255)
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19453: Apis for add mib groups, resource types and system defs
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionMibGroupDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceTypeDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDefDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
Due: trigger-coverage, trigger-build

Add OIA 2.x
  index.html
Due: trigger-coverage, trigger-build

new changes
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

Add serviceNow
  index.html
Due: trigger-coverage, trigger-build

Update index.html
  index.html
Due: trigger-coverage, trigger-build

Update Integration api to 2.0.0
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19402: Include InstanceId in events/alarms related logging
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/DefaultEventHandlerImpl.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/StandardExpandableParameterResolvers.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/processor/EventIpcBroadcastProcessor.java
  features/events/sink/dispatcher/src/main/java/org/opennms/features/events/sink/dispatcher/EventDispatcherImpl.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/AlarmPersisterImpl.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DefaultAlarmService.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DefaultAlarmTicketerService.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/scriptd/helper/SyslogEventForwarder.java
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BroadcastEventProcessor.java
Due: trigger-coverage, trigger-build

NMS-19483: Add SCV get all Rest API and karaf/cli
  docs/modules/development/pages/rest/scv.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/scv-configuration.adoc
  docs/modules/reference/pages/karaf-shell/karaf-shell.adoc
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdIT.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/Credentials.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/dominion-grpc-impl/src/main/java/org/opennms/features/scv/dominion/grpc/DominionSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVaultTest.java
  features/scv/jceks-impl/src/test/java/org/opennms/features/scv/jceks/PKCS12SecureCredentialVaultTest.java
  features/scv/rest/src/main/java/org/opennms/features/scv/rest/CredentialsDTO.java
  features/scv/rest/src/main/java/org/opennms/features/scv/rest/DefaultScvRestService.java
  features/scv/rest/src/main/java/org/opennms/features/scv/rest/ScvRestService.java
  features/scv/rest/src/test/java/org/opennms/features/scv/rest/ScvRestServiceIT.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/ScvCli.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/commands/GetAllCommand.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/commands/GetCommand.java
  features/scv/scvcli/src/main/java/org/opennms/features/scv/cli/commands/SetCommand.java
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvGetAllCommand.java
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvListCommand.java
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvSetCommand.java
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvValidateCommand.java
  ui/src/components/SCV/SCVForm.vue
  ui/src/stores/scvStore.ts
  ui/tests/scv.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui
