Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-15695: Added missing configuration files for Sentinel
  features/container/sentinel/src/main/filtered-resources/etc/datacollection-config.xml
  features/container/sentinel/src/main/filtered-resources/etc/resource-types.d/flows-resource.xml
  opennms-config-jaxb/src/main/resources/xsds/datacollection-config.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15765: Metadata for nsclient-config.xml and wmi-config.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/WmiPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/WmiPeerFactoryTest.java
  protocols/nsclient/src/main/java/org/opennms/protocols/nsclient/config/NSClientPeerFactory.java
  protocols/nsclient/src/test/java/org/opennms/protocols/nsclient/collector/NsclientCollectorTest.java
  protocols/nsclient/src/test/java/org/opennms/protocols/nsclient/config/NSClientPeerFactoryTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DP-82: Add meta descriptions to each page in the reference guide.
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karaf.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karafstartupmonitor.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ticketer.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/vacuumd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15603: Find a different way to render the .titles in our docs as titles
  docs/modules/development/pages/rest/situation-feedback.adoc
  docs/modules/operation/pages/deep-dive/events/event-definition.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16136: Remove vuex node and events stores
  ui/src/components/Nodes/EventsTable.vue
  ui/src/store/events/actions.ts
  ui/src/store/events/index.ts
  ui/src/store/events/mutations.ts
  ui/src/store/events/state.ts
  ui/src/store/index.ts
  ui/src/store/nodes/actions.ts
  ui/src/store/nodes/index.ts
  ui/src/store/nodes/mutations.ts
  ui/src/store/nodes/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16136: Convert node store to pinia
  ui/src/components/Common/Pagination.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/IpInterfacesTable.vue
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/src/composables/useQueryParams.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16119: Fixed poll command to also display effective parameter values
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Poll.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15766: Allow metadata evaluation in Drools rules
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContext.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContextIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16142: Update UI README for dev workflow, pinia, etc.
  ui/README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16141: Fix confd for database config
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

(WIP) NMS-15734: Add logging
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContext.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update ui/README.md
  ui/README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14078: Fix AdminPasswordGateIT smoke test
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16141: Update trapd-configuration.xml.tpl
  opennms-container/core/container-fs/confd/templates/trapd-configuration.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16144: Convert app, help, info stores to pinia
  ui/src/App.vue
  ui/src/components/Device/DCBDiff.vue
  ui/src/components/FileEditor/Editor.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Logs/Editor.vue
  ui/src/containers/OpenAPI.vue
  ui/src/directives/v-date.ts
  ui/src/main.ts
  ui/src/store/app/actions.ts
  ui/src/store/app/index.ts
  ui/src/store/app/mutations.ts
  ui/src/store/app/state.ts
  ui/src/store/help/actions.ts
  ui/src/store/help/index.ts
  ui/src/store/help/mutations.ts
  ui/src/store/help/state.ts
  ui/src/store/index.ts
  ui/src/store/info/actions.ts
  ui/src/store/info/index.ts
  ui/src/store/info/mutations.ts
  ui/src/store/info/state.ts
  ui/src/stores/helpStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16146: Persist detector parameters as meta data
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/IpInterfaceScan.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/ProvisionService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16147: Add Kafka/Elastic confd templates for Core
  opennms-container/core/container-fs/confd/conf.d/elastic-credentials.toml
  opennms-container/core/container-fs/confd/conf.d/elastic-flows.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-broker.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-consumer-feature.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-consumer-topic.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-consumer.toml
  opennms-container/core/container-fs/confd/templates/elastic-credentials.xml.tpl
  opennms-container/core/container-fs/confd/templates/elastic-flows.tpl
  opennms-container/core/container-fs/confd/templates/kafka-broker.tpl
  opennms-container/core/container-fs/confd/templates/kafka-consumer-feature.tpl
  opennms-container/core/container-fs/confd/templates/kafka-consumer-topic.tpl
  opennms-container/core/container-fs/confd/templates/kafka-consumer.tpl
  opennms-container/core/container-fs/confd/templates/newts.properties.tpl
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16147: fix typo
  opennms-container/core/container-fs/confd/templates/kafka-broker.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16016: Use metadata in poller and collector config default
  opennms-base-assembly/src/main/filtered/etc/collectd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15096: Add location to snmp info response
  docs/modules/development/pages/rest/snmp_configuration.adoc
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/SnmpInfo.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/SnmpConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/SnmpConfigRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/admin/nodeManagement/SnmpConfigServlet.java
  opennms-webapp/src/main/resources/xsds/snmp-info.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16067: Fixed handling of empty restriction list in NodeAlarmSearchProvider
  features/search/providers/pom.xml
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/node/NodeAlarmSearchProvider.java
  features/search/providers/src/test/java/org/opennms/netmgt/search/providers/node/NodeAlarmSearchProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15096: Fixed tests
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/SnmpConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16150: Add docs on TL1d
  docs/modules/operation/pages/deep-dive/events/sources/tl1.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/tl1d.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16064: Node structure CSV and Json export
  ui/src/components/Nodes/NodeDownloadDropdown.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/events/sources/tl1.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/tl1d.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  opennms-container/core/container-fs/confd/conf.d/kafka-broker.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-consumer-feature.toml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16143: Allow per connection pool config and split out monitoring connection
  core/db/src/main/java/org/opennms/core/db/DataSourceFactory.java
  core/db/src/main/java/org/opennms/core/db/XADataSourceFactory.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/ConnectionPool.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/main/resources/xsds/opennms-datasources.xsd
  opennms-base-assembly/src/main/filtered/etc/collectd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/opennms-datasources.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16126: Node structure, add management IP or best IP address
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/services/index.ts
  ui/src/services/ipInterfaceService.ts
  ui/src/stores/nodeStore.ts
  ui/src/stores/nodeStructureStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16126: IP cell tooltip, default to 20 nodes per page
  ui/src/components/Nodes/ManagementIPTooltipCell.vue
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/stores/nodeStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-13893: Add Sentinel featuresBoot for BMP
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16154: Convert auth store to pinia
  ui/src/App.vue
  ui/src/composables/useRole.ts
  ui/src/store/auth/actions.ts
  ui/src/store/auth/getters.ts
  ui/src/store/auth/index.ts
  ui/src/store/auth/mutations.ts
  ui/src/store/auth/state.ts
  ui/src/store/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16154: Convert pluginStore to pinia, fix useRole test
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/store/index.ts
  ui/src/store/plugin/actions.ts
  ui/src/store/plugin/index.ts
  ui/src/store/plugin/mutations.ts
  ui/src/store/plugin/state.ts
  ui/tests/useRole.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
