Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-15775: Document change in login password behaviour
  docs/modules/deployment/pages/core/admin-password-reset.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/admin-password-reset.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16034: fix validation triggered by karaf jar(s) in newer JDKs
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-container/horizon/container-fs/entrypoint.sh
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/sentinel/assets/entrypoint.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DP 64: Add meta descriptions to each page in the operation guide
  docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/bridge-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/cdp-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2/lldp-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/graphml-asset-topology-provider.adoc
  docs/modules/operation/pages/deep-dive/topology/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/topology.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15853: Improve logging for node lookups in BMP message processing.
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpPeerStatusAdapter.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpTelemetryAdapter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15853: More BMP docs related to distributed processing.
  docs/modules/reference/pages/telemetryd/protocols/bmp/bmp.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15345: normalize bouncycastle dependencies
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

skip vim droppings :)
  container/features/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: rebuild feature dependencies to ease testing
  features/minion/runInPlace.sh
  features/sentinel/runInPlace.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: normalize karaf-maven-plugin version/usage
  container/features/pom.xml
  container/karaf/pom.xml
  container/shared/pom.xml
  core/test-api/karaf/pom.xml
  features/container/pom.xml
  features/minion/core/repository/pom.xml
  features/minion/pom.xml
  features/minion/repository/pom.xml
  features/sentinel/pom.xml
  features/sentinel/repository/pom.xml
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: start some features early to ensure they are ready as soon as possible
  container/features/pom.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/karaf-extensions.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: bson -> features-core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move commons configuration, csv, digester, exec, and io to core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move commons-net, commons-pool2, and jackson1 to core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move javax.mail, javax.servlet, and javax.validation to core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/spring-legacy.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move commons-jexl, commons-jxpath, and commons-lang to core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move some commons-* dependencies to features-core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/spring-legacy.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move dropwizard-metrics and fst to core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/wsman/pom.xml
  opennms-services/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: more validation, clean up some failed dependencies
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: define some common start levels, and normalize start-level= overrides to use them
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: introduce validation, clean up some dependencies as a result
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/newts/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: move jna to the core
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: update spifly, get rid of jaspi
  container/features/src/main/resources/features-core.xml
  container/karaf/src/main/filtered-resources/etc/blacklisted.properties
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/blacklisted.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: avoid a race condition in websocket extensions we do not use
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/noop-jetty-extension/pom.xml
  container/noop-jetty-extension/src/main/java/org/opennms/container/jetty/extensions/noop/NoopExtension.java
  container/noop-jetty-extension/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  container/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: add symbolic names and versions for all wrapped bundles
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/spring-legacy.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: update asm to 9.5
  container/features/src/main/resources/features-core.xml
  container/karaf/src/main/filtered-resources/etc/blacklisted.properties
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/blacklisted.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  features/ticketing/otrs-integration-31/pom.xml
  pom.xml
  protocols/selenium-monitor/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16034: make sure minion/sentinel init also get the zip64 option
  container/shared/src/main/resources/etc/container.init
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/retention.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15345: fix double-build in sentinel runInPlace
  features/sentinel/runInPlace.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: fix double-build in sentinel runInPlace
  features/newts/pom.xml
  features/sentinel/runInPlace.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15842: Add `IsSnmpPrimary` to filter docs
  docs/modules/reference/pages/configuration/filters/parameters.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16034: add zip validation option to the compile too
  .circleci/config.yml
  bin/functions.pl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/retention.adoc
  docs/modules/operation/pages/deep-dive/retention.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15345: add some missing prerequisite features to runInPlace
  features/sentinel/runInPlace.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15345: fix cassandra 4 dependency chain
  container/features/src/main/resources/features-core.xml
  dependencies/newts/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16017: update minion docker docs
  docs/modules/deployment/pages/minion/docker/minion.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16029: Make metadata expression the default in opennms-datasources.xml
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15756: Allow metadata expressions for jmx-config.xml
  core/mate/api/src/main/java/org/opennms/core/mate/api/Interpolator.java
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/service-assurance/monitors/JmxMonitor.adoc
  features/collection/collectors/src/main/java/org/opennms/netmgt/collectd/JMXCollector.java
  features/collection/collectors/src/test/java/org/opennms/netmgt/collectd/JMXCollectorTest.java
  features/collection/collectors/src/test/java/org/opennms/netmgt/collectd/NMS15756IT.java
  features/poller/monitors/core/pom.xml
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/JMXMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/NMS15756IT.java
  features/poller/monitors/core/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15761: Allow metadata expressions in trapd-configuration.xml
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpV3User.java
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/Trapd.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapdConfigBean.java
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
  features/events/traps/src/main/resources/beanRefContext.xml
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapHandlerITCase.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapListenerConfigTest.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdConfigConfigUpdater.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdConfigReloadIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdInformIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdReloadDaemonIT.java
  opennms-config/src/main/java/org/opennms/netmgt/config/TrapdConfigFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
