Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-14805: changed redirect logic in HttpsRewriteFilter
  opennms-webapp/src/main/java/org/opennms/web/filter/HttpsRewriteFilter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14548: Update readme
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/README.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14548: default limit always 10
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14839: Fix more tests
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmdIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DC-315: add doc for offheap queue (#5384)
  docs/modules/deployment/pages/time-series-storage/timeseries/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14180 trying to resolve sync node to cache
  smoke-test/src/test/java/org/opennms/smoketest/dcb/DcbMultipleNodesIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14612: Quick Start - Overview
  docs/modules/operation/pages/quick-start/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14839: Attempt to fix extension issue
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  core/schema/src/main/liquibase/31.0.0/changelog.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14839: Is this needed if Migrator installs extension?
  core/schema/src/main/liquibase/31.0.0/changelog.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14791 Topology-Map Layer broken
  features/enlinkd/adapters/common/src/main/java/org/opennms/netmgt/enlinkd/common/TopologyUpdater.java
  features/enlinkd/adapters/updaters/nodes/src/main/java/org/opennms/netmgt/enlinkd/NodesOnmsTopologyUpdater.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyFactory.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdMockDataPopulator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-LinkdTopologyProviderTestIT.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14839: Install pgcrypto similar to timeseriesdb extension
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14784: fixed issue when Panel type row from older versions is passed (this generally has a datasource value of null)
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/PanelDeserializer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14791 Topology-Map Layer broken
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/IpLikeSearchProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14610 make opennmsApiVersion smaller
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

jira/NMS-14548 Test case changes as requested
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14839: Try doing both installs as root
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  core/schema/src/main/liquibase/31.0.0/changelog.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

jira/NMS-13864 docs
  tools/packages/minion/minion.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

UI: Add font-awesome, needed to add 'old' icons to Vue UI
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

UI: Updates to auto-imports
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Initial hacky, hard-coded version of Vue menubar with all links
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

UI: Initial store and service for main menu
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
  ui/src/services/index.ts
  ui/src/services/menubarService.ts
  ui/src/store/index.ts
  ui/src/store/menu/actions.ts
  ui/src/store/menu/index.ts
  ui/src/store/menu/mutations.ts
  ui/src/store/menu/state.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Notices and Admin link updates
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
  ui/src/store/menu/actions.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

UI: Make Menubar items data-driven
  ui/.env
  ui/.env.development
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/Search.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

UI: Menubar and data updates
  ui/src/components/Layout/Menubar.vue
  ui/src/store/menu/actions.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

UI: Wire up to MenubarRestService API
  ui/src/services/menubarService.ts
  ui/src/store/menu/actions.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Add initial MenubarRestService
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenubarRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fixes to dispatcher-servlet parsing
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/MenuXml.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

UI foldin: Initial version of parsing dispatcher-servlet.xml file
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/TopMenuEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/MenuXml.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/package-info.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

MenubarRestService: Fix data class names
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenubarRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix dispatcher-servlet.xml resource path issues for prod and test
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

UI: Fix naming of Menubar data
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/services/menubarService.ts
  ui/src/store/menu/actions.ts
  ui/src/store/menu/mutations.ts
  ui/src/store/menu/state.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Support for parsing beans and refs
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/MenuXml.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

UI Preview: Fixes to model, move all processing to MenuProvider, add MenuRequestContext
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/HttpMenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/Notices.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix typo
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update UI to use new data model
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
  ui/src/services/index.ts
  ui/src/services/menuService.ts
  ui/src/store/menu/actions.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Add initial Notifications; add styling to make Menubar like much more like original one
  ui/src/components/Layout/Menubar.vue
  ui/src/main.ts
  ui/src/store/menu/actions.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Partial wireup of notification summary
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/services/index.ts
  ui/src/services/menuService.ts
  ui/src/store/menu/actions.ts
  ui/src/store/menu/mutations.ts
  ui/src/store/menu/state.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

User notification UI updates
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14791 Topology-Map Layer broken
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSelectionAware.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
