Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-19396: Allow compilation with JDK21
  .circleci/epoch
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/executors.yml
  .circleci/pyscripts/create_jira_issues.py
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
  bin/functions.pl
  core/spring/pom.xml
  core/test-api/lib/src/main/java/org/opennms/test/LocaleProviderUtils.java
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
  docs/modules/deployment/pages/minion/centos-rhel9/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  features/events/api/src/test/java/org/opennms/netmgt/events/api/LegacyDatetimeFormatterTest.java
  features/ifttt/pom.xml
  features/jmx-config-generator/src/test/java/org/opennms/features/jmxconfiggenerator/jmxconfig/JmxDatacollectionConfiggeneratorTest.java
  features/measurements/api/pom.xml
  features/newts-repository-converter/pom.xml
  features/newts-repository-converter/src/main/java/org/opennms/features/newts/converter/NewtsConverter.java
  features/newts-repository-converter/src/test/java/org/opennms/features/newts/converter/NewtsConverterIT.java
  features/springframework-security/pom.xml
  integrations/opennms-geoip-provisioning-adapter/pom.xml
  opennms-install/pom.xml
  opennms-model/src/test/java/org/opennms/netmgt/model/events/EventConstantsTest.java
  opennms-web-api/src/test/java/org/opennms/web/api/UtilTest.java
  pom.xml
  tools/packages/minion/minion.spec
  tools/packages/opennms/jdk.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-build, trigger-docs

new changes
  ui/src/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypeForm.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19506: Fix issue where monitoring locations dropdown was not populating correctly
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigMonitoringLocationsDropdown.vue
Due: trigger-coverage, trigger-build, trigger-ui

Reset state when SnmpConfig mounted or remounted.
  ui/src/containers/SnmpConfiguration.vue
  ui/src/stores/snmpConfigStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

test coverage
  ui/tests/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Update opennms.conf to append file descriptors (#8227)
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
Due: trigger-coverage, trigger-docs

docs: Refactor to Core instead of OpenNMS Horizon
  docs/modules/deployment/pages/core/installing-jdbc-driver.adoc
  docs/modules/deployment/pages/core/introduction.adoc
Due: trigger-coverage, trigger-docs

docs: Convert Air-Gap install to Asciidoc
  docs/modules/deployment/pages/core/install.adoc
Due: trigger-coverage, trigger-docs

NMS-19147: Introduced JsonPropertyExtender (#8202)
  container/features/src/main/resources/features-sentinel.xml
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-property-extenders/json-property.adoc
  features/collection/snmp-collector/pom.xml
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/JsonPropertyExtender.java
  opennms-services/pom.xml
  opennms-services/src/test/java/org/opennms/netmgt/collectd/AbstractSnmpCollectorIT.java
  opennms-services/src/test/resources/org/opennms/netmgt/config/datacollection-config-json-mapping.xml
  opennms-services/src/test/resources/org/opennms/netmgt/snmp/brocadeTestData1.properties
Due: trigger-coverage, trigger-build, trigger-docs

Revert "reduce resource"
  .circleci/main/jobs/rpms/horizon-rpm-build.yml
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-build

docs: Unify JDBC driver installation for Minion and Core
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/core/installing-jdbc-driver.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
Due: trigger-coverage, trigger-docs

docs: Reorganize install section
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/upgrade/backup/introduction.adoc
  docs/modules/deployment/pages/upgrade/restore/introduction.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/reference/pages/configuration/receive-snmp-traps.adoc
  docs/modules/reference/pages/glossary.adoc
  docs/modules/troubleshooting/pages/startup-issues.adoc
Due: trigger-coverage, trigger-docs

docs: Fix typos
  docs/modules/deployment/pages/core/installing-jdbc-driver.adoc
Due: trigger-coverage, trigger-docs

NMS-19489 review
  features/nrtg/web/src/main/java/org/opennms/nrtg/web/internal/NrtController.java
Due: trigger-coverage, trigger-build

reduce resource
  .circleci/main/jobs/rpms/horizon-rpm-build.yml
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-build

NMS-19368: Enable users to use env variables to clear karaf cache (#8231)
  container/karaf/src/main/filtered-resources/etc/system.properties
  features/container/minion/src/main/filtered-resources/etc/system.properties
  features/container/sentinel/src/main/filtered-resources/etc/system.properties
Due: trigger-coverage, trigger-build

NMS-8099: Make the MailTransportMonitor subjects more unique (#8212)
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/MailTransportMonitor.java
Due: trigger-coverage, trigger-build

NMS-19117: Improve logging and add karaf command to list IPC kafka topics (#8226)
  core/ipc/common/kafka-shell/pom.xml
  core/ipc/common/kafka-shell/src/main/java/org/opennms/core/ipc/common/kafka/shell/KafkaIpcTopics.java
  core/ipc/common/kafka/src/main/java/org/opennms/core/ipc/common/kafka/Utils.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcClientFactory.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
  core/ipc/twin/kafka/publisher/src/main/java/org/opennms/core/ipc/twin/kafka/publisher/KafkaTwinPublisher.java
  core/ipc/twin/kafka/subscriber/src/main/java/org/opennms/core/ipc/twin/kafka/subscriber/KafkaTwinSubscriber.java
  docs/modules/deployment/pages/core/message-broker/kafka-topics.adoc
  docs/modules/deployment/pages/core/message-broker/kafka.adoc
  features/minion/runInPlace.sh
Due: trigger-coverage, trigger-build, trigger-docs

OpenNMS Horizon 35.0.2
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Due: trigger-coverage, trigger-build

35.0.2 -> 35.0.3-SNAPSHOT
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Due: trigger-coverage, trigger-build

NMS-19489 fix realtime graphing issue
  features/nrtg/web/src/main/java/org/opennms/nrtg/web/internal/NrtController.java
Due: trigger-coverage, trigger-build

docs: Masquarade placeholder to avoid Antora variable lookup
  docs/modules/deployment/pages/core/message-broker/kafka-topics.adoc
Due: trigger-coverage, trigger-docs

NMS-19486: fixed reviews
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
Due: trigger-coverage, trigger-build

More test coverage
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

test coverage
  ui/src/components/SnmpDataCollection/DIalog/DeleteSnmpDataCollectionSource.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.vue
  ui/tests/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19502: Initial code for download functionality.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
Due: trigger-coverage, trigger-build

commented code removed
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

Event config warning fix
  ui/src/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfigurationDetail/Dialog/ChangeEventConfigEventStatusDialog.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/tests/components/EventConfigEventCreate/BasicInformation.test.ts
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigTabContainer.test.ts
  ui/tests/components/EventConfiguration/EventConfigUploadFilesTab.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/ChangeEventConfigEventStatusDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/ChangeEventConfigSourceStatusDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigEventDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19486: fixed integration test cases issues
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19514: Delete sources, systemdefs, resource types and mib groups (#8292)
  ui/src/components/SnmpDataCollection/DIalog/DeleteSnmpDataCollectionSource.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypeForm.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/services/snmpDataCollectionService.ts
  ui/tests/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19516: Snmp Config Rest API, add a complete definition
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Range.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpConfigInfoDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.invalid.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.valid.json
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfileBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/services/snmpConfigService.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.ts
  ui/tests/stores/snmpConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19448: Review changes
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdConfigReloadIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdReloadDaemonIT.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/Snmpv3User.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/TrapdConfiguration.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TrapdConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/callback/ConfigurationReloadEventCallback.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
Due: trigger-coverage, trigger-build

DOCS: Document lots of sysprops used throughout OpenNMS and their default values
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/system-properties.adoc
Due: trigger-coverage, trigger-docs

NMS-19251: Make OSGiBasedTicketerPlugin the default TicketerPlugin
  core/upgrade/src/test/resources/etc2/opennms.properties
  docs/modules/development/pages/ticketing/inmemory-plugin.adoc
  docs/modules/operation/pages/deep-dive/ticketing/introduction.adoc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
  docs/modules/reference/pages/ticketing/ticketer/tsrm.adoc
  features/ticketing/daemon/pom.xml
  features/ticketing/daemon/src/main/java/org/opennms/netmgt/ticketd/ConditionalOSGiTicketerPluginContext.java
  features/ticketing/daemon/src/main/java/org/opennms/netmgt/ticketd/NullTicketerPlugin.java
  features/ticketing/daemon/src/main/java/org/opennms/netmgt/ticketd/OSGiBasedTicketerPlugin.java
  features/ticketing/daemon/src/main/resources/META-INF/opennms/applicationContext-troubleTicketer.xml
  features/ticketing/daemon/src/main/resources/META-INF/opennms/component-osgi-ticketer-plugin.xml
  features/ticketing/inmemory/src/main/java/org/opennms/features/ticketing/inmemory/InMemoryTicketerPlugin.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DefaultAlarmTicketerService.java
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
  opennms-webapp-rest/src/test/resources/META-INF/opennms/component-dao.xml
  opennms-webapp/src/test/resources/WEB-INF/configuration.properties
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19502: Download xml and json for snmp collection source
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DatacollectionJsonHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

new changes for autocomplete
  ui/src/components/SnmpDataCollectionDetail/ResourceTypeForm.vue
  ui/src/lib/constants.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypeForm.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19396: Upgraded Karaf version to 4.4.9
  container/features/src/main/resources/features.xml
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/config.properties
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/startup.properties
  features/config/osgi/del/pom.xml
  features/vaadin-components/extender-service/pom.xml
  integrations/opennms-jasper-extensions/src/test/java/org/opennms/netmgt/jasper/helper/TimezoneHelperTest.java
  opennms-config-dao/poll-outages/itests/src/test/java/org/opennms/netmgt/config/dao/outages/impl/OverrideablePollOutagesDaoImplTest.java
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19451: Allow execution with JDK21
  container/karaf/src/main/filtered-resources/etc/blacklisted.properties
  dependencies/drools/pom.xml
  features/minion/repository/src/main/resources/features.boot
  opennms-base-assembly/src/main/filtered/bin/runjava
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
