Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-14397 EnhancedLinkd Collection priority Scheduling
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/NodeTopologyService.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/SubNetwork.java
  features/enlinkd/service/api/src/test/java/org/opennms/netmgt/enlinkd/service/api/SubNetworkTest.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/NodeTopologyServiceImpl.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/NodeTopologyServiceIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms0002NetworkBuilder.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms7563NetworkBuilder.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14617: Quick Start: Set up a Threshold
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/deep-dive/thresholds/metadata.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14667: Official docs readiness for Cortex TSS plugin release
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14623: fix typo
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14626: minion and sentinel fixes
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14626: normalize some path/variable usage
  opennms-container/horizon/container-fs/entrypoint.sh
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/sentinel/assets/entrypoint.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14617: Quick Start: Set up a Threshold
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-group.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-service.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresholding.adoc
  docs/modules/operation/pages/deep-dive/thresholds/troubleshoot.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

undo changes
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
  .circleci/main/jobs/debian packages/sentinel-deb-build.yml
  .circleci/main/jobs/tarball-assembly-only.yml
  .circleci/main/jobs/tests/integration/integration-test.yml
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-flaky.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/development/pages/rest/config_management.adoc
  docs/modules/development/pages/rest/config_management.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Tweak
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/jobs/rpms/horizon-rpm-build.yml
  .circleci/main/jobs/rpms/sentinel-rpm-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Sonar: a few early fixes to test changes to the default profile
  core/api/src/main/java/org/opennms/core/network/IPAddress.java
  core/api/src/main/java/org/opennms/core/network/IpListFromUrl.java
  core/camel/src/main/java/org/opennms/core/camel/JaxbUtilsUnmarshalProcessor.java
  core/camel/src/main/java/org/opennms/core/camel/RandomPartitionKeyGenerator.java
  core/daemon/pom.xml
  core/daemon/src/main/java/org/opennms/netmgt/activemq/auth/OpenNMSJaasAuthenticationBroker.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyScheduler.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Schedule.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix accidental full build when using experimental bundle
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/quick-start/performance-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix to not do integration if coverage happens
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14670 changed DeviceConfigServiceImpl blueprint to make a reference for pollerConfig to avoid creation of the second instance of it.
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
  features/device-config/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Delete THIRD-PARTY.properties
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Delete pom.xml
  features/themes/onms-default-theme/bin/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Delete styles.css
  features/themes/onms-default-theme/bin/src/main/resources/VAADIN/themes/opennms/styles.css
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14397 EnhancedLinkd Collection priority Scheduling
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms0123EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/NodeTopologyServiceIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms0002NetworkBuilder.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms0123NetworkBuilder.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/NmsNetworkBuilder.java
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0111.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0112.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0113.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0114.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0121.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0123.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0201.txt
  features/enlinkd/tests/src/test/resources/linkd/nms0123/ITPN0202.txt
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Sonar: fix up synchronization, make current expiration final
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyScheduler.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Schedule.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Tests a pre-build trigger
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 30.0.3
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

show diff results
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

print changed file names
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Sonar: updates to core/daemon
  core/daemon/src/main/java/org/opennms/netmgt/activemq/auth/OpenNMSJaasAuthenticationBroker.java
  core/daemon/src/main/java/org/opennms/netmgt/daemon/AbstractServiceDaemon.java
  core/daemon/src/main/java/org/opennms/netmgt/daemon/AbstractSpringContextJmxServiceDaemon.java
  core/daemon/src/main/java/org/opennms/netmgt/daemon/ConditionalActiveMQContext.java
  core/daemon/src/main/java/org/opennms/netmgt/daemon/DaemonTools.java
  core/daemon/src/main/java/org/opennms/netmgt/daemon/ServiceDaemonException.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyScheduler.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Controller.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/DatabaseChecker.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/InvalidDataSourceException.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/InvocationException.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Invoker.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/InvokerService.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Manager.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Starter.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/StatusGetter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

code clean up
  .circleci/config.yml
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-group.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-service.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresholding.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
  docs/modules/operation/pages/quick-start/users.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Sonar: put the service daemon start() back, too many issues, do some cleanup from fallout anyway
  core/daemon/src/main/java/org/opennms/netmgt/daemon/ServiceDaemonException.java
  features/ticketing/daemon/src/main/java/org/opennms/netmgt/ticketd/TroubleTicketer.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-services/src/main/java/org/opennms/netmgt/statsd/ReportException.java
  opennms-services/src/main/java/org/opennms/netmgt/statsd/Statsd.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14670 removed method of ReadOnlyPollerConfig
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14397 EnhancedLinkd Collection priority Scheduling
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms4930EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/NodeTopologyServiceIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms4930NetworkBuilder.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
