Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-20311: Look up the auth store on each read in useRole
  ui/src/composables/useRole.ts
  ui/tests/components/TrapdConfiguration/TrapdAdvancedConfiguration.test.ts
  ui/tests/router/guards.test.ts
  ui/tests/useRole.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19771: Rename the KSC report classes to Graph Collections (#8937)
  container/karaf/src/main/filtered-resources/etc/custom.properties
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/KscReportsMigrator.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/KscReportsMigratorTest.java
  docs/modules/operation/pages/deep-dive/visualizations/ksc-reports.adoc
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/action/GraphCollectionSearchProvider.java
  features/search/providers/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/graphcollections/Graph.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/graphcollections/GraphCollection.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/graphcollections/GraphCollectionList.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/graphcollections/package-info.java
  opennms-config-model/src/test/java/org/opennms/netmgt/config/graphcollections/GraphCollectionListTest.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/GraphCollectionConfigFactory.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/api/GraphCollectionService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultGraphCollectionService.java
  opennms-web-api/src/test/java/org/opennms/web/svclayer/support/ResourceIdDecodeTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/KscRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-svclayer.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/KscRestServiceIT.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/CustomGraphEditDetailsController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/CustomReportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/CustomViewController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcGraphController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcMainController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcReportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcViewController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/IndexController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/KscReportEditor.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20422: remove the legacy Minion and Location JSP pages
  opennms-webapp/src/main/webapp/locations/index.jsp
  opennms-webapp/src/main/webapp/minion/index.jsp
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  ui/src/main/router/index.ts
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20311: Read roles and menu state when a guarded navigation runs
  ui/src/main/router/guards.ts
  ui/src/main/router/index.ts
  ui/tests/router/guards.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20158: Fix review findings in the MIB compiler API and UI
  features/mib-compiler/parser/src/main/java/org/opennms/features/mibcompiler/api/MibParser.java
  features/mib-compiler/parser/src/main/java/org/opennms/features/mibcompiler/services/JsmiMibParser.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MibFileService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MibRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MibFileServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MibRestServiceTest.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/MibCompiler/Dialog/CompileErrorsDialog.vue
  ui/src/components/MibCompiler/Dialog/GenerateDataCollectionDialog.vue
  ui/src/components/MibCompiler/Dialog/GenerateEventsDialog.vue
  ui/src/components/MibCompiler/Dialog/GenerateGraphsDialog.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/containers/MibCompiler.vue
  ui/tests/components/MibCompiler/Dialog/GenerateGraphsDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20424: Removed reload button
  docs/modules/development/pages/rest/thresholds-rest-api.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ThreshdConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ThresholdingConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/ThreshdConfigRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/ThresholdingConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ThreshdConfigRestServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ThresholdingConfigRestServiceTest.java
  ui/src/components/ThresholdConfiguration/ThresholdGroupsTab.vue
  ui/src/components/ThresholdConfiguration/ThresholdPackagesTab.vue
  ui/src/services/index.ts
  ui/src/services/thresholdConfigurationService.ts
  ui/src/stores/threshdConfigurationStore.ts
  ui/src/stores/thresholdGroupStore.ts
  ui/tests/services/thresholdConfigurationService.test.ts
  ui/tests/stores/threshdConfigurationStore.test.ts
  ui/tests/stores/thresholdGroupStore.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20424: Removed drawers
  ui/src/components/ThresholdConfiguration/Common/ThresholdEditPage.vue
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionDrawer.vue
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionTable.vue
  ui/src/components/ThresholdConfiguration/Package/PackageServiceDrawer.vue
  ui/src/components/ThresholdConfiguration/Package/PackageServicesTable.vue
  ui/src/components/ThresholdConfiguration/ThresholdGroupDrawer.vue
  ui/src/components/ThresholdConfiguration/ThresholdGroupsTable.vue
  ui/src/components/ThresholdConfiguration/ThresholdPackageDrawer.vue
  ui/src/components/ThresholdConfiguration/ThresholdPackagesTable.vue
  ui/src/containers/ThresholdDefinitionEdit.vue
  ui/src/containers/ThresholdGroupDetail.vue
  ui/src/containers/ThresholdGroupEdit.vue
  ui/src/containers/ThresholdPackageCreate.vue
  ui/src/containers/ThresholdPackageDetail.vue
  ui/src/containers/ThresholdServiceEdit.vue
  ui/src/lib/thresholdRoutes.ts
  ui/src/main/router/index.ts
  ui/src/stores/threshdConfigurationStore.ts
  ui/src/stores/thresholdGroupStore.ts
  ui/tests/components/ThresholdConfiguration/ThresholdDefinitionTable.test.ts
  ui/tests/components/ThresholdConfiguration/ThresholdEditPage.test.ts
  ui/tests/containers/ThresholdDefinitionEdit.test.ts
  ui/tests/containers/ThresholdGroupDetail.test.ts
  ui/tests/containers/ThresholdGroupEdit.test.ts
  ui/tests/containers/ThresholdPackageCreate.test.ts
  ui/tests/containers/ThresholdServiceEdit.test.ts
  ui/tests/stores/thresholdGroupStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20422: tolerate Locations table re-renders in testNMS16443
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
Due: trigger-coverage, trigger-build

NMS-20424: Removed datasource columns
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionTable.vue
  ui/tests/components/ThresholdConfiguration/ThresholdDefinitionTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20424: Use info icons for help text
  ui/src/components/Common/FormField.vue
  ui/src/components/Common/InfoIconButton.vue
  ui/src/components/ThresholdConfiguration/Common/ThresholdEditPage.vue
  ui/src/components/ThresholdConfiguration/Group/ResourceFilterEditor.vue
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionForm.vue
  ui/src/components/ThresholdConfiguration/Group/ThresholdGroupHeader.vue
  ui/src/components/ThresholdConfiguration/Package/PackageBasicsForm.vue
  ui/src/components/ThresholdConfiguration/ThresholdGroupsTab.vue
  ui/src/components/ThresholdConfiguration/ThresholdPackagesTab.vue
  ui/src/containers/ThresholdDefinitionEdit.vue
  ui/src/containers/ThresholdGroupEdit.vue
  ui/src/containers/ThresholdPackageCreate.vue
  ui/src/containers/ThresholdServiceEdit.vue
  ui/tests/components/Common/FormField.test.ts
  ui/tests/components/Common/InfoIconButton.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20408: Fixed regression (swapped node info)
  features/flows/processing/src/main/java/org/opennms/netmgt/flows/processing/impl/DocumentEnricherImpl.java
  features/flows/processing/src/test/java/org/opennms/netmgt/flows/processing/enrichment/DocumentEnricherTest.java
Due: trigger-coverage, trigger-build

NMS-20425: Manage Applications in the Vue UI
  opennms-base-assembly/src/main/filtered/etc/search-actions.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ApplicationRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ApplicationMembersDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ApplicationMembersUpdate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ApplicationServiceDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ApplicationServicePage.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ApplicationSummaryDto.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ApplicationRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ApplicationRestServiceTest.java
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/src/components/ManageApplications/AboutDialog.vue
  ui/src/components/ManageApplications/ApplicationCreateDialog.vue
  ui/src/components/ManageApplications/ApplicationDeleteDialog.vue
  ui/src/components/ManageApplications/ApplicationEditorDialog.vue
  ui/src/components/ManageApplications/ApplicationsTable.vue
  ui/src/components/ManageMonitoringLocations/LocationDeleteDialog.vue
  ui/src/containers/ManageApplications.vue
  ui/src/main/router/index.ts
  ui/src/services/applicationAdminService.ts
  ui/src/services/index.ts
  ui/src/stores/applicationAdminStore.ts
  ui/src/types/applicationAdmin.ts
  ui/tests/components/ManageApplications/AboutDialog.test.ts
  ui/tests/components/ManageApplications/ApplicationCreateDialog.test.ts
  ui/tests/components/ManageApplications/ApplicationDeleteDialog.test.ts
  ui/tests/components/ManageApplications/ApplicationEditorDialog.test.ts
  ui/tests/components/ManageApplications/ApplicationsTable.test.ts
  ui/tests/components/ManageMonitoringLocations/LocationDeleteDialog.test.ts
  ui/tests/services/applicationAdminService.test.ts
  ui/tests/stores/applicationAdminStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20424: Using GO BACK instead of arrow
  ui/src/components/ThresholdConfiguration/Group/ThresholdGroupHeader.vue
  ui/src/containers/ThresholdPackageDetail.vue
  ui/tests/components/ThresholdConfiguration/ThresholdGroupHeader.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20424: Fixing table spacing and frame
  .circleci/epoch
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionTable.vue
  ui/src/components/ThresholdConfiguration/Package/PackageAddressEditor.vue
  ui/src/components/ThresholdConfiguration/Package/PackageBasicsForm.vue
  ui/src/components/ThresholdConfiguration/Package/PackageServicesTable.vue
  ui/src/components/ThresholdConfiguration/ThresholdConfigTransferTab.vue
  ui/src/components/ThresholdConfiguration/ThresholdGroupsTable.vue
  ui/src/components/ThresholdConfiguration/ThresholdPackagesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20363: Add the database schema, entities and DAOs for users and groups
  core/schema/src/main/liquibase/37.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/OnCallRoleDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SecurityRoleDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/UserAccountDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/UserGroupDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OnCallRoleDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SecurityRoleDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/UserAccountDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/UserGroupDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/OnCallRoleDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/SecurityRoleDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserAccountDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserMgmtSql.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/ContactType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallRole.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallSchedule.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallScheduleTime.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/SecurityRole.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/SecurityRoles.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserAccount.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserContact.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserGroup.java
  opennms-model/src/test/java/org/opennms/netmgt/model/usermgmt/SecurityRolesTest.java
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
Due: trigger-coverage, trigger-build

NMS-20311: Look up the auth store on each read in useRole (#8943)
  ui/src/composables/useRole.ts
  ui/src/main/router/guards.ts
  ui/src/main/router/index.ts
  ui/src/stores/authStore.ts
  ui/src/stores/menuStore.ts
  ui/tests/components/TrapdConfiguration/TrapdAdvancedConfiguration.test.ts
  ui/tests/router/guards.test.ts
  ui/tests/stores/menuStore.test.ts
  ui/tests/useRole.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20426: Keep a failed outage insert from unscheduling the service
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Schedule.java
  core/daemon/src/test/java/org/opennms/netmgt/scheduler/ScheduleTest.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/DefaultPollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManagerDaoImpl.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/DefaultPollContextTest.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/QueryManagerDaoImplTest.java
Due: trigger-coverage, trigger-build

NMS-20311: Give the node panel tests a fresh pinia per test
  ui/src/main/router/index.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/NodeNotificationsPanel.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20409: Escape stored values in web UI pages to prevent XSS (#8926)
  opennms-config/src/main/java/org/opennms/netmgt/config/KSC_PerformanceReportFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/KSC_PerformanceReportFactoryTest.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcGraphController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ksc/FormProcReportController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customGraphEditDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customReport.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customView.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/element/linkednode.jsp
  opennms-webapp/src/main/webapp/element/service-metadata.jsp
  opennms-webapp/src/main/webapp/element/snmpinterface.jsp
  opennms-webapp/src/main/webapp/hardware/list.jsp
Due: trigger-coverage, trigger-build

NMS-20314: Require POST and a CSRF token for alarm, event, notification and SNMP interface actions (#8939)
  opennms-webapp/src/main/java/org/opennms/web/controller/RedirectRestricter.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AcknowledgeAlarmByFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AcknowledgeAlarmController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmSeverityChangeController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/notification/AcknowledgeNotificationController.java
  opennms-webapp/src/main/java/org/opennms/web/element/ManageSnmpIntfServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
  opennms-webapp/src/main/webapp/includes/eventlist.jsp
  opennms-webapp/src/main/webapp/notification/detail.jsp
  opennms-webapp/src/test/java/org/opennms/web/controller/ActionControllerPostOnlyTest.java
  opennms-webapp/src/test/java/org/opennms/web/controller/RedirectRestricterTest.java
  opennms-webapp/src/test/java/org/opennms/web/event/EventControllerTest.java
Due: trigger-coverage, trigger-build

NMS-20397: Allow-list inbound JMS properties and drop refused payloads
  container/features/pom.xml
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features.xml
  core/camel-hardening/pom.xml
  core/camel-hardening/src/main/java/org/opennms/core/camel/hardening/DiscardUnreadableBodies.java
  core/camel-hardening/src/main/java/org/opennms/core/camel/hardening/InboundHeaderAllowList.java
  core/camel-hardening/src/test/java/org/opennms/core/camel/hardening/DiscardUnreadableBodiesTest.java
  core/camel-hardening/src/test/java/org/opennms/core/camel/hardening/InboundHeaderAllowListTest.java
  core/camel-hardening/src/test/java/org/opennms/core/camel/hardening/JmsBindingInboundFilterTest.java
  core/camel-headers/src/main/java/org/opennms/core/camel/headers/InboundCamelHeaderFilterStrategy.java
  core/camel-headers/src/test/java/org/opennms/core/camel/headers/InboundCamelHeaderFilterStrategyTest.java
  core/daemon/pom.xml
  core/daemon/src/main/resources/META-INF/opennms/applicationContext-daemon.xml
  core/daemon/src/test/java/org/opennms/netmgt/daemon/DaemonContextIT.java
  core/ipc/rpc/jms-impl/pom.xml
  core/ipc/rpc/jms-impl/src/main/java/org/opennms/core/rpc/jms/JmsRpcServerRouteManager.java
  core/ipc/sink/camel/server/pom.xml
  core/ipc/sink/camel/server/src/main/java/org/opennms/core/ipc/sink/camel/server/CamelMessageConsumerManager.java
  core/ipc/twin/jms/publisher/pom.xml
  core/ipc/twin/jms/publisher/src/main/java/org/opennms/core/ipc/twin/jms/publisher/JmsTwinPublisher.java
  core/ipc/twin/jms/subscriber/pom.xml
  core/ipc/twin/jms/subscriber/src/main/java/org/opennms/core/ipc/twin/jms/subscriber/JmsTwinSubscriber.java
  core/pom.xml
  core/test-api/camel/pom.xml
  core/test-api/camel/src/main/resources/META-INF/opennms/applicationContext-queuingservice-mq-vm.xml
  features/activemq/component/pom.xml
  features/activemq/component/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/amqp/event-receiver/pom.xml
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/distributed/core/jms/pom.xml
  features/distributed/core/jms/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/minion/core/features/src/main/resources/features.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20311: Give the node panel tests a fresh pinia per test (#8948)
  ui/src/main/router/index.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/NodeNotificationsPanel.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20158: Confirm overwrites, report failed loads and reject empty uploads in the MIB compile
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MibFileService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MibRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/MibRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MibFileServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MibRestServiceTest.java
  ui/src/components/MibCompiler/Dialog/GenerateDataCollectionDialog.vue
  ui/src/components/MibCompiler/Dialog/GenerateEventsDialog.vue
  ui/src/components/MibCompiler/Dialog/GenerateGraphsDialog.vue
  ui/src/services/mibCompilerService.ts
  ui/src/stores/mibCompilerStore.ts
  ui/tests/components/MibCompiler/Dialog/GenerateEventsDialog.test.ts
  ui/tests/components/MibCompiler/Dialog/GenerateGraphsDialog.test.ts
  ui/tests/services/mibCompilerService.test.ts
  ui/tests/stores/mibCompilerStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20423: Resize Provisiond threadpools on reload (#8941)
  core/tasks/src/main/java/org/opennms/core/tasks/DefaultTaskCoordinator.java
  core/tasks/src/test/java/org/opennms/core/tasks/TaskCoordinatorTest.java
  docs/modules/development/pages/rest/config_management.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-provision/opennms-provisiond/src/main/resources/META-INF/opennms/applicationContext-provisiond.xml
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerThreadPoolResizeTest.java
  ui/src/components/Configuration/ConfigurationThreadPools.vue
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20354: Test the interface metrics summary against a real database and RRD files
  features/measurements/rest/pom.xml
  features/measurements/rest/src/test/java/org/opennms/web/rest/v2/SnmpInterfaceMetricsRestServiceIT.java
  features/measurements/rest/src/test/resources/META-INF/opennms/applicationContext-measurements-rest-test.xml
Due: trigger-coverage, trigger-build

NMS-20397: Leave the AMQP event receiver as it was
  container/features/src/main/resources/features.xml
  features/amqp/event-receiver/pom.xml
  features/amqp/event-receiver/src/main/java/org/opennms/features/amqp/eventreceiver/internal/AmqpConnectionFactories.java
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/amqp/event-receiver/src/test/java/org/opennms/features/amqp/eventreceiver/AMQPEventReceiverBlueprintTest.java
  features/amqp/event-receiver/src/test/java/org/opennms/features/amqp/eventreceiver/internal/AmqpConnectionFactoriesTest.java
Due: trigger-coverage, trigger-build

Docs: Add a whatsnew for new Karaf commands (#8923)
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20363: Import the usermgmt model package in the Sentinel DAO bundles
  features/distributed/dao/api/pom.xml
  features/distributed/dao/impl/pom.xml
Due: trigger-coverage, trigger-build

NMS-20420: Add the Graph Collections REST API under /api/v2
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/graph_collections.adoc
  docs/modules/development/pages/rest/ksc_reports.adoc
  opennms-config/src/main/java/org/opennms/netmgt/config/GraphCollectionConfigFactory.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/KscRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/GraphCollectionRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/GraphCollectionRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionGraphDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionResolvedDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionResolvedGraphDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionResourceDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/GraphCollectionTimespanDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/GraphCollectionRestServiceIT.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20428: Resize LegacyScheduler thread pools on reloadDaemonConfig
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyPriorityExecutor.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyScheduler.java
  core/daemon/src/test/java/org/opennms/netmgt/scheduler/LegacyPriorityExecutorTest.java
  core/daemon/src/test/java/org/opennms/netmgt/scheduler/LegacySchedulerTest.java
  core/lib/src/main/java/org/opennms/core/daemon/DaemonReloadEnum.java
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  features/enlinkd/daemon/src/main/java/org/opennms/netmgt/enlinkd/EnhancedLinkd.java
  features/enlinkd/daemon/src/test/java/org/opennms/netmgt/enlinkd/EnhancedLinkdResizeTest.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/PollerEventProcessor.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectdReloadTest.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerSchedulerResizeTest.java
  opennms-services/src/test/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerReloadTest.java
  opennms-util/src/main/java/org/opennms/core/concurrent/FixedThreadPools.java
  opennms-util/src/main/java/org/opennms/core/concurrent/LogPreservingThreadFactory.java
  opennms-util/src/test/java/org/opennms/core/concurrent/FixedThreadPoolsTest.java
  opennms-util/src/test/java/org/opennms/core/concurrent/LogPreservingThreadFactoryTest.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20363: Add the database schema, entities and DAOs for users and groups (#8946)
  core/schema/src/main/liquibase/37.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  features/distributed/dao/api/pom.xml
  features/distributed/dao/impl/pom.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/OnCallRoleDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SecurityRoleDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/UserAccountDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/UserGroupDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OnCallRoleDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SecurityRoleDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/UserAccountDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/UserGroupDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/OnCallRoleDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/SecurityRoleDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserAccountDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/usermgmt/UserMgmtSql.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/ContactType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallRole.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallSchedule.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/OnCallScheduleTime.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/SecurityRole.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/SecurityRoles.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserAccount.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserContact.java
  opennms-model/src/main/java/org/opennms/netmgt/model/usermgmt/UserGroup.java
  opennms-model/src/test/java/org/opennms/netmgt/model/usermgmt/SecurityRolesTest.java
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
Due: trigger-coverage, trigger-build

NMS-20430: Reject DOCTYPE in requisition and foreign-source XML
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/RequisitionsMigratorOffline.java
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
  core/xml/src/test/java/org/opennms/core/xml/JaxbUtilsEntityExpansionTest.java
  docs/modules/releasenotes/pages/whatsnew.adoc
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/provision/service/vmware/RequisitionXmlAdapter.java
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/provision/service/vmware/VmwareRequisitionTool.java
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms_fault_config/inventory/ossj_test_db.xml
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/AbstractForeignSourceRepository.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/RequisitionFileUtils.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/RequisitionFileUtilsTest.java
  opennms-provision/opennms-provisiond/src/test/resources/dw/import/dw_test_import.xml
  opennms-provision/opennms-provisiond/src/test/resources/tec_dump.xml
  opennms-provision/opennms-provisiond/src/test/resources/tec_dumpIpAddrChanged.xml
  opennms-provision/opennms-requisition-service/src/main/java/org/opennms/netmgt/provision/service/requisition/FileRequisitionProvider.java
  opennms-provision/opennms-requisition-service/src/main/java/org/opennms/netmgt/provision/service/requisition/HttpRequisitionProvider.java
  opennms-webapp/src/test/resources/tec_dump.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20158: Use the requireRole guard for the MIB compiler routes
  ui/src/main/router/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20348: Deny REST requests that match no authorization rule (#8934)
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  smoke-test/src/test/java/org/opennms/smoketest/rest/AbstractRestIT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/ConfigRestAccessIT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/RequisitionRestAccessIT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/RestMethodAccessIT.java
Due: trigger-coverage, trigger-build

NMS-20430: Address review comments, add tests
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/RequisitionFileUtilsTest.java
Due: trigger-coverage, trigger-build
