Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

test items !build-deploy
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

!build-deploy
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

new change
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
Due: trigger-coverage, trigger-build, trigger-ui

test fixes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/tests/components/EventConfigEventCreate/BasicInformation.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

initial changes
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollectionDetail/utils.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes per PR review
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/stores/scvStore.ts
  ui/tests/stores/scvStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/utils.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

update the logic for detecting duplicates
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

Fix another bug
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

NMS-19488: Test coverage for sources, system defs, resource types and mib groups (#8265)
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionSourceImport/snmpDataCollectionSourceXmlValidator.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/Dialog/DataCollectionFilesUploadReportDialog.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/Dialog/UploadedFileRenameDialog.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/SnmpDataCollectionSourceImport.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/snmpDataCollectionSourceXmlValidator.test.ts
  ui/tests/containers/SnmpDataCollection.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/containers/SnmpDataCollectionSourceImport.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
  ui/tests/stores/snmpDataCollectionStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

test coverage
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

new fixes
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/constants.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19443: Add SCV UI component and SNMP Config support (#8269)
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/SCV/SCVForm.vue
  ui/src/components/SCV/ScvInputIcon.vue
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigPairedFieldInputs.vue
  ui/src/containers/SecureCredentialsVault.vue
  ui/src/containers/SnmpConfiguration.vue
  ui/src/lib/constants.ts
  ui/src/services/index.ts
  ui/src/services/scvService.ts
  ui/src/stores/scvStore.ts
  ui/src/types/scv.d.ts
  ui/src/types/snmpConfig.ts
  ui/tests/deviceConfigBackup.test.ts
  ui/tests/scv.test.ts
  ui/tests/stores/scvStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Improve the logic
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

undo changes
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

NMS-19403: Add device specific metrics for Traps
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapListener.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapListenerMetrics.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapSinkConsumer.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceConsumerTrapMetrics.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceConsumerTrapMetricsMBean.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceTrapMetrics.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceTrapMetricsMBean.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceTrapMetricsRegistry.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/Trapd.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/TrapdInstrumentation.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/TrapdMBean.java
  features/events/traps/src/main/resources/OSGI-INF/blueprint/blueprint-trapd-listener.xml
Due: trigger-coverage, trigger-build

NMS-19403: Expose relevant jmx metrics through prometheus
  opennms-container/core/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
  opennms-container/minion/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
  opennms-container/minion/container-fs/prom-jmx-default-config.yaml
Due: trigger-coverage, trigger-build

NMS-19397: SnmpConfigRestService integration tests
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/applicationContext-rest-test.xml
  opennms-webapp-rest/src/test/resources/snmp-config.xml
Due: trigger-coverage, trigger-build

NMS-19403: Handle review comments
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapListenerMetrics.java
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/jmx/DeviceTrapMetricsRegistry.java
Due: trigger-coverage, trigger-build

NMS-19397: SnmpConfigRestService integration tests (#8272)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/applicationContext-rest-test.xml
  opennms-webapp-rest/src/test/resources/snmp-config.xml
Due: trigger-coverage, trigger-build

NMS-19403: Add docs
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-docs

test the new changes
  .circleci/main/commands/oci/trivy-analyze.yml
  .circleci/pyscripts/analyze_trivy_report.py
  .circleci/pyscripts/combine_trivy_reports.py
  .circleci/pyscripts/create_jira_issues.py
  .circleci/trivy-config/blocked_list.json
Due: trigger-coverage, trigger-build

NMS-19453: Fixed reviews comments
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionMibGroupDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceTypeDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDefDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
Due: trigger-coverage, trigger-build

make sure files are there
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

fix the path
  .circleci/main/commands/oci/trivy-analyze.yml
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

NMS-19403: Update docs
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-docs

search for the files
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

another test
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

scanning works
  .circleci/main/commands/oci/trivy-analyze.yml
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

Update features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/CollectionResourceWrapperIT.java
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/CollectionResourceWrapperIT.java
Due: trigger-coverage, trigger-build

Update features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventUtilIT.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventUtilIT.java
Due: trigger-coverage, trigger-build

Enable creation of Jira issues
  .circleci/example-build-triggers.override.json
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

remove unused jobs
  .circleci/main/commands/oci/scan-image-trivy.yml
Due: trigger-coverage, trigger-build

more clean up
  .circleci/main/jobs/oci/minion-image-single-arch-linux-amd64-trivy.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch-linux-amd64-trivy.yml
Due: trigger-coverage, trigger-build

remove extra commans
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

improve the logic to handle if Products entry is a string
  .circleci/main/commands/oci/trivy-analyze.yml
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

Update .circleci/pyscripts/combine_trivy_reports.py
  .circleci/pyscripts/combine_trivy_reports.py
Due: trigger-coverage, trigger-build

NMS-19453: Expose Rest End points to add/update mib groups, resource types and system definations for a specific snmp data collection ID (#8256)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionMibGroupDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceTypeDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDefDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

mapping changes and test changes
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui
