Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-14018 Opaque data type - fix review issues
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/UnsupportedAdapter.java
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/OpaqueAttributeType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-12981: populate ackTime field when clearing an alarm
  opennms-ackd/src/test/java/org/opennms/netmgt/ackd/AckdIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix issue with storing double as int
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

test impact of reducing parallelism for smoke-test-core step
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-10634: change information type from node to category
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

increase the parallelism for smoke-test-core
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

create keywords for different types of tests #test-flaky
  .circleci/pyscripts/generate_mainyml.py
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

filter number sign in the keywords #test-flaky
  .circleci/pyscripts/testarea.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Formatted and added new terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

reset parallelism to 8 for smoke-test-core
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-11810: Report documentation (#4860)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

also allow matching branch name = .*flaky.*
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

also allow matching branch name = .*flaky.*
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from code review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update glossary.adoc formatting
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14411: Add .dcb file extension in FileSystemEditor Rest API
  opennms-base-assembly/src/main/filtered/etc/device-config/.readme
  opennms-base-assembly/src/main/filtered/etc/device-config/sample-script.dcb
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14215: fix tests, update headers
  core/api/src/main/java/org/opennms/core/config/api/TextEncryptor.java
  core/encrypt-util/src/main/java/org/opennms/core/text/encryptor/TextEncryptorImpl.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEncryptionIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14412: SNMP Interface Poller doc updates
  docs/modules/operation/pages/notifications/getting-started.adoc
  docs/modules/operation/pages/snmp-poller/concepts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14344 set View dropdown list of 8 items
  ui/src/components/Topology/ViewSelect.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

revert back to xlarge resource for building rpms
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

increase minion rpm resource to xlarge
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

use maven-enforcer-plugin rather than 99.99.* version masking
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix duplicate dependencies
  features/flows/itests/pom.xml
  features/telemetry/protocols/openconfig/itests/pom.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14344 Fix array with value undefined
  ui/src/components/Topology/NoFocusMsg.vue
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

fix merge error
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14411: Add .dcb file extension in FileSystemEditor Rest API (#4894)
  opennms-base-assembly/src/main/filtered/etc/device-config/.readme
  opennms-base-assembly/src/main/filtered/etc/device-config/sample-script.dcb
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

debug test OCI before downloading them
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

adding the missing spaces
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

combine RPM and OCI image creation into a single step
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

update everything to gson 2.8.9 together
  features/distributed/core/impl/pom.xml
  features/sentinel/core/pom.xml
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from code review
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14216: Review changes
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

adding debug statements
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14344 Hack checkbox to behave as radio
  ui/src/components/Topology/ViewSelect.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

expand debugging
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui
