Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-13943 Set always ifindex for enlinkd links
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpLinkDaoHibernate.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms7563EnIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14382 Add documentation for OPAQUE data type support
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14344 Remove all related specifically to powergrid
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/NoFocusMsg.vue
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/containers/Topology.vue
  ui/src/services/index.ts
  ui/src/services/topologyService.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14393: Added link to Secure Credentials Vault
  opennms-webapp/src/main/webapp/admin/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

DC-126: Deduplicate the metric on the query results
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpLinkDaoHibernate.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/LldpTopologyServiceImpl.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/LldpTopologyServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdTestHelper.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdTestHelper.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14382 Add documentation for OPAQUE data type support
  docs/modules/operation/pages/performance-data-collection/data-types.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14344 Add topology.helpers unit tests
  ui/src/components/Topology/topology.helpers.test.ts
  ui/src/components/Topology/topology.helpers.ts
  ui/src/types/topology.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Executing flaky tests for minion heart beat
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Adding test result xml to smoke-test-flaky for further check
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14344 Fix for inconsistent api responses
  ui/src/types/topology.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Adding test result xml to smoke-test-flaky for further check
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

merge version and duplicate dependency fixes
  core/mate/api/pom.xml
  core/mate/model/pom.xml
  core/mate/pom.xml
  core/mate/shell-commands/pom.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/pom.xml
  opennms-dao/pom.xml
  opennms-services/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix build issues with newer snmp4j changes
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/Snmp4jTrapReceiverIT.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockProxy.java
  tests/mock-snmp-agent/src/main/java/org/opennms/mock/snmp/MockSnmpAgent.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14415: Send the full event list after the parsing loop
  features/kafka/consumer/src/main/java/org/opennms/features/kafka/consumer/OpenNMSKafkaConsumer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply suggestions from code review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

bump to latest 2.x SNMP4J
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14344 Fix build ui
  ui/src/components/Topology/CtrlLayers.vue
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.helpers.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

fix removal of snmp4j log4j logger
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/Snmp4jTrapReceiverIT.java
  tests/mock-snmp-agent/src/main/java/org/opennms/mock/snmp/MockSnmpAgent.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14382 Add documentation for OPAQUE data type support
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

overzealous removal :D
  opennms-services/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

hack hack hack
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Flow.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/Direction.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/SearchQueryProvider.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/thresholding/FlowThresholding.java
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/filter_snmp_interface.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_missing.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_others.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_terms.ftl
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/TestFlow.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowBuilder.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14215: Add encrypt/decrypt snmp config commands
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/DecryptSnmpConfigCommand.java
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/EncryptSnmpConfigCommand.java
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14432 enlinkd tests clean compile warnings
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/BroadcastDomainTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14432 enlinkd tests clean compile warnings
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdBuilderITCase.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
