Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-13770: Inline Converter with adapters
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Converter.java
  features/telemetry/protocols/flows/src/main/java/org/opennms/netmgt/telemetry/protocols/flows/AbstractFlowAdapter.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/common/NetflowAdapter.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/common/NetflowConverter.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/Utils.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/IpFixProtobufValidationTest.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow5/Netflow5ConverterTest.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9ConverterTest.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9ProtobufValidationTest.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowAdapter.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowConverter.java
  features/telemetry/protocols/sflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowConverterTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test changes to docs config
  .circleci/main/jobs/build/build-docs.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

reset build-triggers
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14346: Document SNMP oid varbind pattern matching and varbind expansion
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

DC-167: expose MessageDispatcherFactory for cloud plugin
  features/minion/repository/pom.xml
  features/telemetry/api/src/main/java/org/opennms/netmgt/telemetry/api/TelemetryListenerManager.java
  features/telemetry/distributed/minion/src/main/java/org/opennms/netmgt/telemetry/distributed/minion/ListenerManager.java
  features/telemetry/distributed/minion/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Code clean up and improvements
  .circleci/build-triggers.override.json
  .circleci/config.yml
  .circleci/main/workflows/workflows_v2.json
  .circleci/pyscripts/generate_main.py
  .circleci/pyscripts/library/cci.py
  .circleci/pyscripts/library/cci_components/workflow.py
  .circleci/pyscripts/library/common.py
  .circleci/pyscripts/library/libprocess.py
  .circleci/pyscripts/library/libyaml_v2.py
  .circleci/pyscripts/old_process_mapping.py
  .circleci/pyscripts/process_generate.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test minion oci
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

undo changes to build-triggers #oci
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

tweak minion-image
  .circleci/build-triggers.override.json
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix the persist_to_workspace issue
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/pages/admin/webui/mib.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

test horizon-image
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14455: Install JDBC Driver on Core
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14476: Fixing query param issue with advanced search (#5109)
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
  opennms-webapp/src/main/java/org/opennms/web/tags/filters/AbstractFilterCallback.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

tweak the job yaml file for horizon-deb
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update nav.adoc
  docs/modules/deployment/nav.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

tweak horizon deb
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14544: fix reading panels from Grafana 8 API
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImpl.java
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/PanelDeserializer.java
  features/endpoints/grafana/client/src/test/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImplIT.java
  features/endpoints/grafana/client/src/test/resources/__files/dashboard8.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14571: Fix outdated MySQL / MariaDB JDBC collection config
  opennms-base-assembly/src/main/filtered/etc/jdbc-datacollection-config.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Spacing
  opennms-base-assembly/src/main/filtered/etc/jdbc-datacollection-config.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14455: Install JDBC driver on Core
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update to the instruction
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

disable fetching-artifacts
  .circleci/main/jobs/oci/horizon-image.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14571: Fix outdated MySQL / MariaDB JDBC collection (#5116)
  opennms-base-assembly/src/main/filtered/etc/jdbc-datacollection-config.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14455: Install JDBC driver on core
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14346: Document SNMP oid varbind pattern matching (#5041)
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/webui/mib.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14447: Update Jira Ticketing Plugin doc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14447: Update Jira ticketing plugin doc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

store and fetch horizon-debs
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
  .circleci/main/jobs/oci/horizon-image.yml
  .circleci/pyscripts/library/libfile.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix spaces
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

s/COUNTER/counter/g && s/GAUGE/gauge/g to make the tests happy
  opennms-base-assembly/src/main/filtered/etc/jdbc-datacollection-config.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test sentinel-image
  .circleci/build-triggers.override.json
  .circleci/main/jobs/debian packages/sentinel-deb-build.yml
  .circleci/main/jobs/oci/sentinel-image.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add sentinel image to index file
  .circleci/main/jobs/oci/oci.index
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update workflow path
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
