Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

fix spacing
  opennms-container/minion/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

test useAddressFromVarbind in trapd
  opennms-container/minion/container-fs/etc/org.opennms.netmgt.trapd.cfg
Due: trigger-coverage, trigger-build

Allowu se of MINION_TRAPD_USE_ADDRESS_FROM_VARBIND environment variable.
  opennms-container/minion/container-fs/etc/org.opennms.netmgt.trapd.cfg
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/MinionProfile.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/TrapIT.java
Due: trigger-coverage, trigger-build

NMS-16118: Fix category intersection, SNMP wildcard query filter handling
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-16118: Vue UI Node List: handle query params
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/components/Nodes/utils.ts
  ui/src/containers/Nodes.vue
  ui/src/types/index.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-16118: Fix category/monitoring location fetch wait condition
  ui/src/containers/Nodes.vue
  ui/src/stores/nodeStructureStore.ts
  ui/tests/stores/nodeStructureStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

small tweak to the comment
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

NMS-16118: Add grouped category support for surveillance-view URL params
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
  ui/tests/stores/nodeStructureStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-16118: Fix missing setSkipPropertyByDefault(true) on SNMP string behaviors
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
Due: trigger-coverage, trigger-build

implement the missing trapd configuration.
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/core/container-fs/etc/templates/trapd-configuration.xml.tmpl
Due: trigger-coverage, trigger-build

tweak the docs
  opennms-container/core/ENVIRONMENT_VARIABLES.md
Due: trigger-coverage, trigger-build

align the entrypoint entry for newts
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

Attempt to use a locale-stable conversion
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-build

Don't forget the imports
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-build

NMS-16118: add Node Service Type filter support
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/containers/Nodes.vue
  ui/src/main/App.vue
  ui/src/services/index.ts
  ui/src/services/serviceTypes.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/hooks/queryStringParser.test.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
  ui/tests/components/Nodes/hooks/utils.ts
  ui/tests/stores/nodeStructureStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-16118: use ilike for SNMP string subqueries to fix case-insensitive search
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
Due: trigger-coverage, trigger-build, trigger-ui

more fixes
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/hooks/queryStringParser.ts
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/stores/nodeStructureStore.ts
  ui/tests/components/Nodes/hooks/useNodeQuery.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-15863: Update dependencies and config for Hibernate 5 / Spring 4.3
  container/features/pom.xml
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/spring-legacy.xml
  container/shared/pom.xml
  core/test-api/db/src/main/resources/META-INF/opennms/applicationContext-testDao.xml
  dependencies/hibernate/pom.xml
  features/bsm/vaadin-adminpage/pom.xml
  features/container/sentinel/pom.xml
  features/distributed/dao/impl/pom.xml
  features/events/api/pom.xml
  features/poller/api/pom.xml
  features/topology-map/org.opennms.features.topology.app/pom.xml
  features/vaadin-components/widgetset/pom.xml
  features/vaadin-dashboard/pom.xml
  features/vaadin-jmxconfiggenerator/pom.xml
  features/vaadin-snmp-events-and-metrics/pom.xml
  features/vaadin-surveillance-views/pom.xml
  opennms-dao/pom.xml
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-full-assembly/pom.xml
  opennms-jetty/src/main/resources/beanRefContext.xml
  opennms-rrd/opennms-rrd-api/pom.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/pom.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  pom.xml
  protocols/selenium-monitor/pom.xml
Due: trigger-coverage, trigger-build

NMS-15863: Fix tests for Hibernate 5 / Spring 4.3 migration
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/enlinkd/tests/src/test/resources/META-INF/opennms/applicationContext-enhancedLinkdTest.xml
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventdIT.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/nms16978/EventUtilHibernateIT.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/nms16978/EventdIT.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/nms16978/HibernateEventWriterIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapHandlerITCase.java
  features/status/api/src/test/java/org/opennms/features/status/api/node/strategy/DefaultNodeStatusCalculatorIT.java
  features/telemetry/protocols/bmp/persistence/impl/src/test/java/org/opennms/netmgt/telemetry/protocols/bmp/persistence/impl/BmpDaoIT.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.asset/src/test/java/org/opennms/features/topology/plugins/topo/asset/PersistenceNodeProviderIT.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-LinkdTopologyProviderTestIT.xml
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmLifecycleListenerManagerIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmPersisterExtensionIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmdIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContextIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/examples/DroolsExampleIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/config/NotificationManagerIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AuthorizationIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/MinionDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/OutageDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/AnnotationIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/HibernateTemplateBeanPostProcessor.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/JdbcFilterDaoIT.java
  opennms-dao/src/test/resources/META-INF/opennms/applicationContext-hibernateTemplate-test.xml
  opennms-model/src/test/java/org/opennms/netmgt/model/InetAddressUserTypeTest.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsEventTest.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/HttpCollectorIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/NotificationsITCase.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollContextIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/LatencyStoringServiceMonitorAdaptorIT.java
  opennms-services/src/test/java/org/opennms/netmgt/rtc/AvailabilityServiceIT.java
  opennms-services/src/test/java/org/opennms/netmgt/snmpinterfacepoller/pollable/PollContextIT.java
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-snmpPollerTest.xml
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-test-sessionFactory.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/MinionRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MinionRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-15863: few more fixes
  container/features/src/main/resources/spring-legacy.xml
  features/endpoints/grafana/persistence/impl/src/main/java/org/opennms/netmgt/endpoints/grafana/persistence/impl/GrafanaEndpointDaoImpl.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/BridgeBridgeLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/BridgeElementDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/BridgeMacLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/BridgeStpLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/CdpElementDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/CdpLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/IsIsElementDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/IsIsLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpElementDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpLinkDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfAreaDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfElementDaoHibernate.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfLinkDaoHibernate.java
  features/graph/dao/impl/src/main/java/org/opennms/netmgt/graph/dao/hibernate/GraphContainerDaoImpl.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AbstractDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/DefaultSessionUtils.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionProfileDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
Due: trigger-coverage, trigger-build

fix integration test
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
Due: trigger-coverage, trigger-build

Add VmwareDatastoreCollector for vCenter datastore capacity
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/vmware-datastore.adoc
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/collectd/VmwareDatastoreCollector.java
  integrations/opennms-vmware/src/main/resources/META-INF/services/org.opennms.netmgt.collection.api.ServiceCollector
  integrations/opennms-vmware/src/test/java/org/opennms/netmgt/collectd/VmwareDatastoreCollectorCollectTest.java
  integrations/opennms-vmware/src/test/java/org/opennms/netmgt/collectd/VmwareDatastoreCollectorComplianceTest.java
  integrations/opennms-vmware/src/test/java/org/opennms/netmgt/collectd/VmwareDatastoreCollectorExtractorTest.java
  opennms-base-assembly/src/main/filtered/etc/collectd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/vmware-datastore.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/vmware-datastore-graph.properties
  opennms-base-assembly/src/main/filtered/etc/vmware-datacollection-config.xml
Due: trigger-coverage, trigger-build, trigger-docs

MPLUG_96: Update plugins with new repo name
  opennms-container/core/plugins.sh
Due: trigger-coverage, trigger-build

Move vmwareDatastoreCapacity resource type to resource-types.d
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/vmware-datastore-resource.xml
Due: trigger-coverage, trigger-build

MPLUG-96: Update docs for cortex - prometheus plugin name change
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/prometheus-remotewrite.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/ts-integration-layer.adoc
Due: trigger-coverage, trigger-docs

MPLUG-96: Rename cfg file as well
  docs/modules/deployment/pages/time-series-storage/timeseries/prometheus-remotewrite.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-15863: More fixes to upgrade to Hibernate 5
  features/bsm/daemon/src/test/java/org/opennms/netmgt/bsm/daemon/BsmdIT.java
  features/bsm/persistence/impl/src/test/java/org/opennms/netmgt/bsm/persistence/IPServiceEdgeDaoIT.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorTest.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdBuilderITCase.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms0001EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms0002EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms18541EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms4930EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms6802EnIT.java
  features/flows/classification/persistence/impl/src/test/java/org/opennms/netmgt/flows/classification/persistence/impl/ClassificationGroupDaoIT.java
  features/minion/heartbeat/consumer/src/test/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumerIT.java
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/BmpAdapterIT.java
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/JtiIT.java
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
  features/vaadin-surveillance-views/pom.xml
  integrations/opennms-snmp-hardware-inventory-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpHardwareInventoryProvisioningAdapter.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/WsManAssetProvisioningAdapterIT.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AssetRecordDaoHibernate.java
  opennms-provision/opennms-provision-geolocation/src/test/java/org/opennms/netmgt/provision/GeolocationProvisioningAdapterIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19704: Update legacy UI JS dependencies and remediate CVEs
  core/web-assets/package.json
  core/web-assets/pnpm-lock.yaml
Due: trigger-coverage, trigger-build

NMS-19704: restore yargs@^16.2.0
  core/web-assets/package.json
  core/web-assets/pnpm-lock.yaml
Due: trigger-coverage, trigger-build

NMS-15863: Some more fixes in tests
  features/measurements/rest/src/test/java/org/opennms/web/rest/v1/MeasurementRestServiceIT.java
  features/perspectivepoller/src/test/java/org/opennms/netmgt/perspectivepoller/PerspectivePollerdIT.java
  integrations/opennms-snmp-hardware-inventory-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/AbstractSingleHardwareAdapterTest.java
  integrations/opennms-snmp-hardware-inventory-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/HwEntityAliasIT.java
  integrations/opennms-snmp-hardware-inventory-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/SnmpHardwareInventoryProvisioningAdapterIT.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/WsManAssetProvisioningAdapterIT.java
Due: trigger-coverage, trigger-build

NMS-16117: Update pathOutage nodeList link to Vue node list
  opennms-webapp/src/main/webapp/pathOutage/index.jsp
Due: trigger-coverage, trigger-build

NMS-16117: Fix IPv6 example and escape service name display text
  opennms-webapp/src/main/webapp/element/index.jsp
Due: trigger-coverage, trigger-build

NMS-16117: Fix IPv6 placeholder in iplike input (9 groups → 8)
  opennms-webapp/src/main/webapp/element/index.jsp
Due: trigger-coverage, trigger-build

NMS-16117: Update quicksearch-box forms to target Vue node list
  opennms-webapp/src/main/webapp/includes/quicksearch-box.jsp
Due: trigger-coverage, trigger-build

NMS-16117: Update element/index.jsp node search forms to target Vue node list
  opennms-webapp/src/main/webapp/element/index.jsp
Due: trigger-coverage, trigger-build

NMS-16117: Update search providers to link to Vue node list
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/action/CategorySearchProvider.java
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/action/LocationSearchProvider.java
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/action/ServiceSearchProvider.java
Due: trigger-coverage, trigger-build

put the telemetry features behind a flag, they are not enabled by default
  opennms-container/minion/README.md
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/minion/container-fs/etc/telemetry-templates/org.opennms.features.telemetry.listeners-single-port-flows.cfg
  opennms-container/minion/container-fs/etc/telemetry-templates/org.opennms.features.telemetry.listeners-udp-50001-jti.cfg
  opennms-container/minion/container-fs/etc/telemetry-templates/org.opennms.features.telemetry.listeners-udp-50002-nxos.cfg
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
Due: trigger-coverage, trigger-build

Clean up Minion Container Configuration file
  opennms-container/minion/README.md
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
