Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-17751: MonitoringSystem Rest API
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/monitoring_systems.adoc
  features/bsm/rest/impl/src/test/java/org/opennms/web/rest/v2/bsm/AbstractBusinessServiceRestServiceIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/BusinessServiceManagerImplIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/DefaultBusinessServiceStateMachineIT.java
  features/bsm/test-util/src/main/java/org/opennms/netmgt/bsm/test/BsmDatabasePopulator.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoringSystemDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoringSystemDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernateIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MonitoringSystemsRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringSystemsRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17733 : Fixation of issues in Integration Test.
  features/flows/elastic/pom.xml
  opennms-base-assembly/src/main/filtered/etc/elastic-templates/netflow-template.json
  opennms-base-assembly/src/main/filtered/etc/elastic-templates/netflow_agg-template.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17733 : Fixation of issues in Integration Test.
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/AggregatedFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code).
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/GrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/NmsInventoryGrpcClient.java
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(resolved conflicts after latest).
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: Make requirements for open file limits visible
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17732: Changed maven-shade-plugin config
  container/features/src/main/resources/features-minion.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  core/grpc/osgi/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15676: Detect whether OpenNMS is running inside container
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17855
  docs/modules/reference/pages/service-assurance/monitors/IcmpMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15396: Update wording
  container/features/src/main/resources/features-core.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17751: Monitoring System Rest API
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/monitoring_systems.adoc
  features/bsm/rest/impl/src/test/java/org/opennms/web/rest/v2/bsm/AbstractBusinessServiceRestServiceIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/BusinessServiceManagerImplIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/DefaultBusinessServiceStateMachineIT.java
  features/bsm/test-util/src/main/java/org/opennms/netmgt/bsm/test/BsmDatabasePopulator.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoringSystemDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoringSystemDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernateIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MonitoringSystemsRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringSystemsRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17855 (#7682)
  docs/modules/reference/pages/service-assurance/monitors/IcmpMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17751: Monitoring System Rest API (#7683)
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/monitoring_systems.adoc
  features/bsm/rest/impl/src/test/java/org/opennms/web/rest/v2/bsm/AbstractBusinessServiceRestServiceIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/BusinessServiceManagerImplIT.java
  features/bsm/service/impl/src/test/java/org/opennms/netmgt/bsm/service/internal/DefaultBusinessServiceStateMachineIT.java
  features/bsm/test-util/src/main/java/org/opennms/netmgt/bsm/test/BsmDatabasePopulator.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoringSystemDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoringSystemDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernateIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MonitoringSystemsRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringSystemsRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Remove obsolete R-core install notes
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Debian family too
  docs/modules/deployment/pages/core/debian/install-core.adoc
  docs/modules/deployment/pages/core/ubuntu/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17318 Entertaining json response as well as xml. Also reverted changes I did to reqisition provider
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-requisition-service/src/main/java/org/opennms/netmgt/provision/service/requisition/HttpRequisitionProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17318 Changed the regex
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17767: Use systemId in Zenith Connect UI
  ui/src/App.vue
  ui/src/components/ZenithConnect/ZenithConnectRegister.vue
  ui/src/services/index.ts
  ui/src/services/monitoringSystemService.ts
  ui/src/stores/monitoringSystemStore.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17854: Updated cxf-core version
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code).
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15676: Review changes
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15396: Fix apache curator bundle loading (#7680)
  container/features/src/main/resources/features-core.xml
  features/distributed/coordination/zookeeper/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17856: Remove obsolete R-core install notes (#7684)
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
  docs/modules/deployment/pages/core/debian/install-core.adoc
  docs/modules/deployment/pages/core/ubuntu/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15676: Fixed Dockerfile
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17733 : Support Modifications to Elasticsearch Templates at Runtime.
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/AggregateIndexInitializer.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/RawIndexInitializer.java
  opennms-base-assembly/src/main/filtered/etc/netflow-template.json
  opennms-base-assembly/src/main/filtered/etc/netflow_agg-template.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Allow PostgreSQL 17.x versions
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code).
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15676: Detect whether OpenNMS is running inside container
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17755 (#7665)
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17857: Fix new nodes not being sent
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/bsm/BsmInventoryExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/InventoryExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogInventoryService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17733 : Handle PR Review changes.
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/AggregateIndexInitializer.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/RawIndexInitializer.java
  opennms-base-assembly/src/main/filtered/etc/flows/templates/netflow-template.json
  opennms-base-assembly/src/main/filtered/etc/flows/templates/netflow_agg-template.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(renaming and refracting).
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/SpogInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17767: Use systemId in Zenith Connect UI (#7689)
  ui/src/App.vue
  ui/src/components/ZenithConnect/ZenithConnectRegister.vue
  ui/src/services/index.ts
  ui/src/services/monitoringSystemService.ts
  ui/src/stores/monitoringSystemStore.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17733 : Support Modifications to Elasticsearch Templates at Runtime.
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/AggregateIndexInitializer.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/RawIndexInitializer.java
  opennms-base-assembly/src/main/filtered/etc/flows/templates/netflow-template.json
  opennms-base-assembly/src/main/filtered/etc/flows/templates/netflow_agg-template.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17733: Handle PR Review Changes.
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/RawIndexInitializer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17756: Modified entrypoint.sh and disabled ActiveMQ in Kafka Smoke Tests
  opennms-container/minion/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
