Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19667: Use plexus-utils 3.6.1
  container/pax-url-aether-patch/pom.xml
  container/plexus-utils-relocated/pom.xml
  container/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19667: Fixed build
  container/karaf/pom.xml
  container/pax-url-aether-patch/pom.xml
  container/shared/pom.xml
Due: trigger-coverage, trigger-build

NMS-20199: Pin Netty 4.1 for the modules that embed Cassandra (#8766)
  features/distributed/kv-store/blob/blob-itests/pom.xml
  features/newts-repository-converter/pom.xml
  features/newts/pom.xml
Due: trigger-coverage, trigger-build

NMS-20177: Updated log4j version
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20201: Make top menubar more responsive at narrow window widths (#8771)
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/Search.vue
Due: trigger-coverage, trigger-build, trigger-ui

Update the URL to docs and remove API Documentation from Help menu (#8768)
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
Due: trigger-coverage, trigger-build

NMS-20183: Ignoring CVE-2024-47554
  .circleci/trivy-config/trivyignore
Due: trigger-coverage, trigger-build

NMS-20186: Ignoring CVE-2023-5072
  .circleci/trivy-config/trivyignore
Due: trigger-coverage, trigger-build

NMS-20081: declare inputId/fluid on OnmsMultiSelect and dropdownMode on OnmsAutoComplete
  ui/packages/onms-ui/src/components/OnmsAutoComplete.vue
  ui/packages/onms-ui/src/components/OnmsMultiSelect.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: point the notification bell at the notifications page
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  ui/src/components/AdminNotifications/NotificationQueriesCard.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/containers/Notifications.vue
  ui/src/services/noticesService.ts
  ui/src/stores/noticesStore.ts
  ui/src/types/notices.ts
  ui/tests/stores/noticesStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: Destination Paths tab
  opennms-config/src/main/java/org/opennms/netmgt/config/GroupManager.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/DestinationPathEditorDialog.vue
  ui/src/components/AdminNotifications/DestinationPathsTable.vue
  ui/src/components/AdminNotifications/TargetRowEditor.vue
  ui/src/services/index.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: Event Notifications tab
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/EventNotificationEditorDialog.vue
  ui/src/components/AdminNotifications/EventNotificationsTable.vue
  ui/src/services/index.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20118: only materialize the rule match preview on request; map infra errors correctly
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  ui/src/components/AdminNotifications/EventNotificationEditorDialog.vue
  ui/src/services/notificationConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Load config env via loadEnv so gates match import.meta.env
  ui/package.json
  ui/pnpm-lock.yaml
  ui/vite.config.menu.ts
  ui/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20119: use inputId so form controls associate with their labels
  ui/src/components/AdminNotifications/TargetRowEditor.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20118: address review findings on the event notification editor
  ui/src/components/AdminNotifications/EventNotificationEditorDialog.vue
  ui/src/components/AdminNotifications/EventNotificationsTable.vue
  ui/src/types/notificationConfig.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20163: Open the OpenAPI page on the first operation
  opennms-openapi-docs/src/main/java/org/opennms/openapi/OpenApiDocGenerator.java
  ui/src/containers/OpenAPI.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Assert the built plugin artifact honors the externals contract
  ui/eslint.config.js
  ui/package.json
  ui/packages/onms-ui-example-plugin/README.md
  ui/packages/onms-ui-example-plugin/package.json
  ui/packages/onms-ui-example-plugin/scripts/verify-dist.mjs
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Document why the redundant rollupOptions.external is kept
  ui/packages/onms-ui-example-plugin/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Use primevue/** so the plugin PrimeVue ban crosses path levels
  ui/eslint.config.js
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Declare rollup devDependency in the example plugin package
  ui/packages/onms-ui-example-plugin/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Gitignore ui/*.local Vite env overrides
  .gitignore
Due: trigger-coverage, trigger-build

NMS-20150: Run unit tests before the example-plugin contract check in CI
  .circleci/main/jobs/build/build-ui.yml
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20150: Fix plugin UI issues (#8772)
  .circleci/main/jobs/build/build-ui.yml
  .gitignore
  ui/eslint.config.js
  ui/package.json
  ui/packages/onms-ui-example-plugin/README.md
  ui/packages/onms-ui-example-plugin/package.json
  ui/packages/onms-ui-example-plugin/scripts/verify-dist.mjs
  ui/packages/onms-ui-example-plugin/src/main.ts
  ui/packages/onms-ui-example-plugin/vite.config.ts
  ui/packages/onms-ui/README.md
  ui/pnpm-lock.yaml
  ui/tests/onms-ui/OnmsTooltip.test.ts
  ui/tests/onms-ui/exports.test.ts
  ui/vite.config.menu.ts
  ui/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20118: IT coverage for the service list and rule validation endpoints
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-20163: Redirect api-docs to api-docs/
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/openapi/AbstractSwaggerUiResource.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/openapi/SwaggerUiResourceTest.java
Due: trigger-coverage, trigger-build

NMS-20163: Cover the OpenAPI endpoints with a smoke test
  smoke-test/src/test/java/org/opennms/smoketest/rest/OpenApiRestIT.java
Due: trigger-coverage, trigger-build

NMS-20163: Keep the generator off the Windows command line limit
  opennms-openapi-docs/pom.xml
Due: trigger-coverage

NMS-20204: Reduce per-event overhead in the event translator
  opennms-config/src/main/java/org/opennms/netmgt/config/EventTranslatorConfigFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventTranslatorCloneEventTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventTranslatorSqlValueTest.java
Due: trigger-coverage, trigger-build

NMS-20203: track the Kafka sink consumer that was actually started
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/HeartbeatSinkIT.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
Due: trigger-coverage, trigger-build

NMS-20163: Generate the OpenAPI documents at build time (#8743)
  opennms-assemblies/webapp-full/pom.xml
  opennms-openapi-docs/README.adoc
  opennms-openapi-docs/pom.xml
  opennms-openapi-docs/src/main/java/org/opennms/openapi/OpenApiDocGenerator.java
  opennms-openapi-docs/src/main/java/org/opennms/openapi/OpenApiDocWriter.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiDocsContentTest.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiResourceCoverageTest.java
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/openapi/AbstractStaticOpenApiResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/openapi/AbstractSwaggerUiResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OpenApiResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/SwaggerUiResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/OpenApiResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SwaggerUiResource.java
  opennms-webapp-rest/src/main/resources/openapi/swagger-ui.properties
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v1.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/openapi/StaticOpenApiResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/openapi/SwaggerUiResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/OpenApiIT.java
  opennms-webapp-rest/src/test/resources/openapi/openapi-stub.json
  opennms-webapp/src/main/webapp/includes/help-documentation.jsp
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/OpenApiRestIT.java
  ui/src/containers/OpenAPI.vue
  ui/tests/containers/OpenAPI.test.ts
  ui/tests/containers/OpenAPIFetch.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Release notes for 36.0.3
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-build, trigger-docs

remove duplicate entry
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20203: stop the sink consumers when the manager shuts down
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
Due: trigger-coverage, trigger-build

fix parameters
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-build

NMS-20203: drain the starter threads before stopping the sink consumers
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/HeartbeatSinkIT.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
Due: trigger-coverage, trigger-build

NMS-20205: Bump Apache CXF
  pom.xml
Due: trigger-coverage, trigger-build
