Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20376: Wait for the unsaved state rather than sleeping past its debounce
  ui/tests/containers/Topology.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Switch between viewing and editing from the rail
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/containers/Topology.vue
  ui/tests/components/Topology/TopologyToolStrip.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Lead the search field with a glass, and let the placeholder name the targets
  ui/src/containers/Topology.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Satisfy the linter: an unused import, arrow parentheses, brace spacing
  ui/src/components/Topology/TopologyInspector.vue
  ui/src/containers/Topology.vue
  ui/tests/onms-ui/OnmsIconButton.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Show the background controls only while the Background tool is on
  ui/src/components/Topology/TopologyInspector.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/stores/topologyStore.ts
  ui/tests/components/Topology/TopologyToolStrip.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Put the tools and the one side panel on a rail at the left
  ui/src/components/Topology/TopologyInspector.vue
  ui/src/components/Topology/TopologyPalette.vue
  ui/src/components/Topology/TopologySidePanel.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/components/Topology/toolIcons.ts
  ui/src/containers/Topology.vue
  ui/src/stores/topologyStore.ts
  ui/tests/components/Topology/TopologyInspector.test.ts
  ui/tests/components/Topology/TopologyToolStrip.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Toggle the counts overlay from the rail
  ui/src/components/Topology/TopologyInspector.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/tests/components/Topology/TopologyToolStrip.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18978: Remove transparent edge from login/password gate wallpaper
  opennms-webapp/src/main/webapp/images/wallpapers/background_dark.png
Due: trigger-coverage, trigger-build

NMS-20365: choose the features to start, show hand-loaded plugins
  docs/modules/operation/pages/deep-dive/admin/plugin-management.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/plugin-catalog.json
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/FeatureSelection.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/InstallRequest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/KarInspection.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/KarInspector.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/KarafBridge.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/OsgiKarafBridge.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginCatalog.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginManagementRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginRegistry.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/FakeKarafBridge.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/KarInspectorTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/PluginCatalogTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/PluginManagementRestServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/PluginRegistryTest.java
  ui/src/components/PluginManagement/PluginCheckResult.vue
  ui/src/components/PluginManagement/PluginManagementAbout.vue
  ui/src/components/PluginManagement/PluginUnloadDialog.vue
  ui/src/components/PluginManagement/PluginsTable.vue
  ui/src/components/PluginManagement/pluginDisplay.ts
  ui/src/services/pluginManagementService.ts
  ui/src/types/pluginManagement.ts
  ui/tests/components/PluginManagement/PluginCheckResult.test.ts
  ui/tests/components/PluginManagement/PluginLoadCard.test.ts
  ui/tests/components/PluginManagement/PluginManagementAbout.test.ts
  ui/tests/components/PluginManagement/PluginRepositoryLoad.test.ts
  ui/tests/components/PluginManagement/PluginUnloadDialog.test.ts
  ui/tests/components/PluginManagement/PluginsTable.test.ts
  ui/tests/components/PluginManagement/pluginDisplay.test.ts
  ui/tests/containers/PluginManagement.test.ts
  ui/tests/services/pluginManagementService.test.ts
  ui/tests/stores/pluginManagementStore.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20365: unload without typing the name
  ui/src/components/PluginManagement/PluginUnloadDialog.vue
  ui/tests/components/PluginManagement/PluginUnloadDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20382: Require ROLE_ADMIN to write configuration via /rest/config
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20382: Evaluate northbounder filter rules in a restricted SpEL context
  opennms-alarms/bsf-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/bsf/BSFEngineHandler.java
  opennms-alarms/drools-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsEngine.java
  opennms-alarms/email-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/email/EmailFilter.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMapping.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMappingGroup.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/VarbindMapping.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilter.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/scriptd/helper/SyslogEventForwarder.java
  opennms-alarms/syslog-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilterSandboxTest.java
Due: trigger-coverage, trigger-build

NMS-20365: bound container operations, verify plugin health, refresh on restart
  docs/modules/operation/pages/deep-dive/admin/plugin-management.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/ContainerGate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/KarafBridge.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/OsgiKarafBridge.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginActionResult.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginHealth.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginManagementRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginManagementStatus.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/PluginRegistry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/plugins/StartOutcome.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/FakeKarafBridge.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/PluginManagementRestServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/plugins/PluginRegistryTest.java
  ui/src/components/PluginManagement/PluginLoadedDialog.vue
  ui/src/components/PluginManagement/PluginRestartDialog.vue
  ui/src/components/PluginManagement/PluginUnloadDialog.vue
  ui/src/components/PluginManagement/PluginsTable.vue
  ui/src/components/PluginManagement/pluginDisplay.ts
  ui/src/containers/PluginManagement.vue
  ui/src/services/pluginManagementService.ts
  ui/src/types/pluginManagement.ts
  ui/tests/components/PluginManagement/PluginLoadedDialog.test.ts
  ui/tests/components/PluginManagement/PluginRestartDialog.test.ts
  ui/tests/components/PluginManagement/PluginUnloadDialog.test.ts
  ui/tests/components/PluginManagement/PluginsTable.test.ts
  ui/tests/components/PluginManagement/pluginDisplay.test.ts
  ui/tests/containers/PluginManagement.test.ts
  ui/tests/services/pluginManagementService.test.ts
  ui/tests/stores/pluginManagementStore.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20364: About modal, one toolbar row, and status-based Minion deletion
  ui/src/components/DistributedMonitoring/AboutDialog.vue
  ui/src/components/DistributedMonitoring/AboutPanel.vue
  ui/src/components/ManageMinions/MinionDeleteDialog.vue
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/src/components/ManageMonitoringLocations/LocationDeleteDialog.vue
  ui/src/components/ManageMonitoringLocations/LocationsTable.vue
  ui/src/containers/DistributedMonitoring.vue
  ui/tests/components/DistributedMonitoring/AboutDialog.test.ts
  ui/tests/components/DistributedMonitoring/AboutPanel.test.ts
  ui/tests/components/ManageMinions/MinionDeleteDialog.test.ts
  ui/tests/components/ManageMonitoringLocations/LocationDeleteDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: one search box on the filter row that also filters by location
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/src/components/ManageMonitoringLocations/LocationsTable.vue
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: the Minions search box reads "Minions, Locations" when empty
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: the Minions search box also offers matching Minions
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: one-line status message in the Minion delete dialog
  ui/src/components/ManageMinions/MinionDeleteDialog.vue
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/tests/components/ManageMinions/MinionDeleteDialog.test.ts
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

build(grpc): pin gRPC codegen plugin to 1.76.0 for Apple Silicon
  features/grpc/exporter/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20352: Handle review comments
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisherImpl.java
  features/telemetry/daemon/src/test/java/org/opennms/netmgt/telemetry/daemon/ConnectorManagerTest.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherTest.java
Due: trigger-coverage, trigger-build

NMS-20357: Cap XML entity expansion in JaxbUtils (#8898)
  core/xml/pom.xml
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
  core/xml/src/test/java/org/opennms/core/xml/JaxbUtilsEntityExpansionTest.java
Due: trigger-coverage, trigger-build

NMS-20382: Evaluate northbounder filter rules in a restricted SpEL context
  opennms-alarms/bsf-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/bsf/BSFEngineHandler.java
  opennms-alarms/drools-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsEngine.java
  opennms-alarms/email-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/email/EmailFilter.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMapping.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMappingGroup.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/VarbindMapping.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilter.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/scriptd/helper/SyslogEventForwarder.java
  opennms-alarms/syslog-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilterBehaviorPreservedTest.java
  opennms-alarms/syslog-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilterSandboxTest.java
Due: trigger-coverage, trigger-build

NMS-20341: Improve files we store under evidence folder for flaky tests (#8882)
  .circleci/epoch
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/commands/executions/run-smoke-tests.yml
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-build

NMS-20378: Updated freemarker version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19836: Move thresh-configuration.xml and thresholds.xml to DB
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/ThresholdingConfigPersistenceIT.java
  features/config/service/impl/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/util/ConfigConvertUtil.java
  features/config/upgrade/src/main/resources/changelog-cm/36.0.1/changelog-cm.xml
  features/config/upgrade/src/main/resources/changelog-cm/changelog-cm.xml
  opennms-config-dao/thresholding/impl/pom.xml
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThreshdDao.java
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThresholdingDao.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/Filter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ResourceFilter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ThreshdConfiguration.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ThresholdingConfig.java
  opennms-config-model/src/main/resources/xsds/thresholding.xsd
Due: trigger-coverage, trigger-build

NMS-19837: Fixing tests...
  docs/modules/operation/pages/deep-dive/flows/thresholding.adoc
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/ScheduledOutagesRestServiceIT.java
  opennms-webapp-rest/src/test/resources/applicationContext-rest-test.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19837: Review changes
  features/config/upgrade/src/main/resources/changelog-cm/36.0.1/changelog-cm.xml
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThreshdDao.java
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThresholdingDao.java
  opennms-config-dao/thresholding/impl/src/test/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThresholdingDaosSaveTest.java
  opennms-config-model/src/main/resources/xsds/thresholding.xsd
Due: trigger-coverage, trigger-build

NMS-15209: Added way to set/unset user-specified flag
  core/web-assets/src/main/assets/js/apps/onms-interfaces/onms-interfaces-config/index.js
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.config.html
  smoke-test/src/test/java/org/opennms/smoketest/AdminDataCollectionSnmpInterfacesIT.java
Due: trigger-coverage, trigger-build

NMS-18978: Don't load the ui-components menu JS on login and password gate
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/login.jsp
  smoke-test/src/test/java/org/opennms/smoketest/WebappIT.java
Due: trigger-coverage, trigger-build

NMS-20288: event notification editor as an in-tab panel instead of a dialog
  ui/src/components/Notifications/DestinationPathsTab.vue
  ui/src/components/Notifications/EventNotificationEditorPanel.vue
  ui/src/components/Notifications/EventNotificationsTab.vue
  ui/src/components/Notifications/EventNotificationsTable.vue
  ui/src/components/Notifications/NotificationsConfigTabs.vue
  ui/src/containers/NotificationsConfig.vue
  ui/src/stores/notificationConfigStore.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: grey out Delete for a Minion that is up
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: event notification editor wording tweaks; status label before toggle
  ui/src/components/Notifications/EventNotificationEditorPanel.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20270: Add in-place staged reordering for event configuration sources and events
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfEventOrderPayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/EventConfEventSummaryDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfiguration/ReorderEventConfigSourcesDrawer.vue
  ui/src/components/EventConfigurationDetail/Dialog/MoveEventConfigEventDialog.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/Common/StagedReorderList.test.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/components/EventConfigurationDetail/MoveEventConfigEventDialog.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
  ui/tests/stores/eventConfigDetailStore.test.ts
  ui/tests/stores/eventConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: split the event notification editor into Event / Filter Rules / Advanced tabs
  ui/src/components/Notifications/EventNotificationEditorPanel.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20364: explain a greyed-out Delete button on hover
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/tests/components/ManageMinions/MinionsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: Filter Rules tab intro text; Builder/Raw as an OnmsSelectButton
  ui/src/components/Notifications/EventNotificationEditorPanel.vue
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
