Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-16571 : added rest call for tests [ci ckip].
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16498: some more updates
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/LatencyStoringServiceMonitorAdaptor.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16948: Add essential tags for latency resource
  features/collection/api/src/main/java/org/opennms/netmgt/collection/api/CollectionResource.java
  features/collection/api/src/main/java/org/opennms/netmgt/collection/api/LatencyCollectionResource.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/LatencyStoringServiceMonitorAdaptor.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16498: Add a test case and doc update
  docs/modules/deployment/pages/time-series-storage/timeseries/configuration.adoc
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16571 : dynamic id's,null check [ci skip].
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Moving ShowMinions and ShowLocations to features/minion/status after a conversation with Chandra; reverting changes to core/commands/pom.xml
  features/minion/status/src/main/java/org/opennms/minion/status/ShowLocations.java
  features/minion/status/src/main/java/org/opennms/minion/status/ShowMinions.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

This too
  core/commands/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16549: Exclude proton-j version 0.26.0
  opennms-full-assembly/src/assembly/components/osgi.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16506: Replaced the dnsjava version to use
  container/features/src/main/resources/features.xml
  dependencies/dnsjava/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16948: Add additional tags for latency resource (#7443)
  docs/modules/deployment/pages/time-series-storage/timeseries/configuration.adoc
  features/collection/api/src/main/java/org/opennms/netmgt/collection/api/CollectionResource.java
  features/collection/api/src/main/java/org/opennms/netmgt/collection/api/LatencyCollectionResource.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/LatencyStoringServiceMonitorAdaptor.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16571 : added rest call for parents tests .
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16536, additional logs added to trace the issue, condition updated to avoid frequent reloading
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16570: Bumped CXF version for higher snakeyaml version
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-common.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v1.xml
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add command to delete a node from a requisition
  opennms-provision/opennms-provision-shell/src/main/java/org/opennms/netmgt/provision/requisition/command/AddRequisitionedNode.java
  opennms-provision/opennms-provision-shell/src/main/java/org/opennms/netmgt/provision/requisition/command/DeleteRequisitionedNode.java
  opennms-provision/opennms-provision-shell/src/main/java/org/opennms/netmgt/provision/requisition/command/ShowRequisition.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update pre-authentication.adoc
  docs/modules/operation/pages/deep-dive/user-management/pre-authentication.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16536, added unit test, removed extra logging, added for bug tracing.
  opennms-provision/opennms-provisiond/src/main/resources/beanRefContext.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16536, added unit test, removed extra logging, added for bug tracing.
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/DefaultProvisionServiceTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16536, optimized imports, reverted file permission
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-provisiond/src/main/resources/beanRefContext.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16375: Improve error messages for malformed netflow packets
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/InvalidPacketException.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/proto/DataSet.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/proto/FieldSpecifier.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/DataSet.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/FieldSpecifier.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/ScopeFieldSpecifier.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16530: OpenNMS RESTful API provides incorrect URL in GUI after SSL enablement.
  ui/src/containers/OpenAPI.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16490: added Fix for unresolved variable.
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16571 : Include nodeParentId in Rest API V2 returns for Node (#7459)
  opennms-model/src/main/java/org/opennms/netmgt/model/NetworkBuilder.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/resources/v1/nodes.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16490: tests cases Fix.
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

[skip ci] FE: Dependabot updates for OpenNMS UI September 2024
  ui/package.json
  ui/src/stores/deviceStore.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16591: Fix compatibility with dns library update
  core/test-api/dns/src/main/java/org/opennms/core/test/dns/DNSServer.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16536, reverted files permissions
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/DefaultProvisionServiceTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16591: Fix test
  core/test-api/dns/src/main/java/org/opennms/core/test/dns/DNSServer.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16591: Fix more tests
  integrations/opennms-dns-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/DnsProvisioningAdapter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16591: Fix compatibility with dnsjava update (#7480)
  core/test-api/dns/src/main/java/org/opennms/core/test/dns/DNSServer.java
  integrations/opennms-dns-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/DnsProvisioningAdapter.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16490 : removed == heading .
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16482: Version in about page points to invalid release notes.
  opennms-webapp/src/main/webapp/about/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16537, initial commit with validation changes
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/Requisition.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/requisition/RequisitionTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

trivy scan initial push
  .circleci/build-triggers.json
  .circleci/main/commands/oci/scan-image-trivy.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

trviy scan initial commit
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test
  .circleci/build-triggers.override.json
  .circleci/main/commands/executions/executions.index
  .circleci/main/commands/executions/run-trivy-license.yml
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
