Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

third-party updates
  features/graphml/src/license/THIRD-PARTY.properties
  opennms-assemblies/http-remoting/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14026: Added BS name to dialog
  features/bsm/vaadin-adminpage/src/main/java/org/opennms/netmgt/bsm/vaadin/adminpage/BusinessServiceTreeTable.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13924: DCB scheduling
  features/device-config/monitor/pom.xml
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13924: Review changes
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13924: use constant instead of string
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Revert "log if validation fails"
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/SentinelRestIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14011-temporary disabling sentinel smoke test until resolved issue (#4330)
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/SentinelRestIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-112 - disable cors
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

update OIA version and add key-valure change in sentinel
  features/api-layer/sentinel/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix dependencies introduced by newer jinjava
  container/features/src/main/resources/features.xml
  features/topology-map/org.opennms.features.topology.app/osgi.bnd
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13924: Review changes
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13952: Add manual backup rest api
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/BackupRequestDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14054: Set higher open file limit through ulimit
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-13924: Added feature entry
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14054: Add higher open file limit for smoke tests as well
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-13952: Check for BAD_REQUEST status
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

change base branch to feature/device-config
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/containers/DeviceConfigBackup.vue
  ui/src/hooks/useDownload.ts
  ui/src/router/index.ts
  ui/src/services/deviceService.ts
  ui/src/services/index.ts
  ui/src/store/device/actions.ts
  ui/src/store/device/index.ts
  ui/src/store/device/mutations.ts
  ui/src/store/device/state.ts
  ui/src/store/index.ts
  ui/src/types/index.ts
  ui/tests/queryParameters.test.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14054: Don't use sudo
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14054: Set higher open file limit (#4340)
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

dcb config btns, modal, types
  ui/src/components/Device/DCBModal.vue
  ui/src/components/Device/DCBModalLastBackupContent.vue
  ui/src/components/Device/DCBModalViewHistoryContent.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/services/deviceService.ts
  ui/src/services/index.ts
  ui/src/store/device/actions.ts
  ui/src/store/device/mutations.ts
  ui/src/store/device/state.ts
  ui/src/types/deviceConfig.d.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

updated the sentinel maven bundle plugin version
  features/sentinel/core/pom.xml
  features/sentinel/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

solve the feature dependency issue
  features/sentinel/repository/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13924: DCB scheduling
  container/features/src/main/resources/features.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor/pom.xml
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14054: Set higher open file limit (#4340) (#4342)
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-13691: Create task driven flows documentation
  docs/modules/operation/pages/flows/introduction.adoc
  docs/modules/operation/pages/flows/sentinel/sentinel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

PE-205: Merge CM-Phase2core changes to develop: fix tests
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersistOperationBuilder.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

DC-17: String Properties / External Tags not working properly
  features/collection/api/src/main/java/org/opennms/netmgt/collection/api/AbstractPersister.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersistOperationBuilder.java
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/RrdResourceAttributeUtils.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/GraphResults.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

DC-17: String Properties / External Tags not working properly: add test
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

DC-17: String Properties / External Tags not working properly: add docs
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix version error
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13925: Handle review comments
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigUtil.java
  features/device-config/monitor-adaptor/pom.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
  features/device-config/shell/src/main/java/org/opennms/features/deviceconfig/shell/GetDeviceConfig.java
  features/poller/api/src/main/java/org/opennms/netmgt/poller/DeviceConfig.java
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Poll.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13952: Add manual backup rest api (#4339)
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/BackupRequestDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

add OIA repo for sentinel container
  features/sentinel/repository/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13990: Rest API for downloading device config data
  container/features/src/main/resources/features.xml
  features/device-config/api/pom.xml
  features/device-config/api/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigUtil.java
  features/device-config/api/src/test/java/org/opennms/features/deviceconfig/service/DeviceConfigUtilTest.java
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

update build
  .circleci/main/@main.yml
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14039: determine IP address for TFTP server
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build

increasing ulimit for tests
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

addressed the PR review comments
  features/api-layer/common/pom.xml
  features/api-layer/common/src/main/java/org/opennms/features/apilayer/common/distributed/KeyValueStoreWrapper.java
  features/api-layer/core/pom.xml
  features/api-layer/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/api-layer/sentinel/pom.xml
  features/sentinel/core/pom.xml
  features/sentinel/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

update the sentinel key-value store reference
  features/api-layer/sentinel/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build
