Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

Update docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14716: Fixing tests
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SearchPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fixup! Classifiy flows on minion
  features/distributed/dao/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/classification/service/impl/src/main/java/org/opennms/netmgt/flows/classification/service/internal/DefaultClassificationService.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14771 Move Common Adapter Enlinkd classes to Core
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Schedulable.java
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpGetter.java
  features/enlinkd/adapters/collectors/cdp/src/main/java/org/opennms/netmgt/enlinkd/snmp/CdpInterfacePortNameGetter.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpLocPortGetter.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/TimeTetraLldpLocPortGetter.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfIpAddrTableGetter.java
  features/enlinkd/adapters/common/src/main/java/org/opennms/netmgt/enlinkd/common/NodeCollector.java
  features/enlinkd/adapters/common/src/main/java/org/opennms/netmgt/enlinkd/common/TopologyUpdater.java
  features/enlinkd/adapters/discovers/bridge/src/main/java/org/opennms/netmgt/enlinkd/DiscoveryBridgeDomains.java
  features/enlinkd/daemon/src/main/java/org/opennms/netmgt/enlinkd/EnhancedLinkd.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/TopologyUpdaterIT.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14752 Check names of requsition-def's in provisiond-configuration (#5287)
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultProvisiondConfigurationDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/callback/ProvisiondConfigurationValidationCallback.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/jaxb/callback/ProvisiondConfigurationValidationCallbackTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14763 Add Priority Executor Classes
  core/daemon/src/test/java/org/opennms/netmgt/scheduler/ExecutableTest.java
  core/daemon/src/test/java/org/opennms/netmgt/scheduler/LegacyPriorityExecutorTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Reduce cpu and memory usage for horizon deb build
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14616: Quick Start - Performance Data Gathering
  docs/modules/operation/pages/quick-start/performance-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14763 Add Priority Executor Classes
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Executable.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/LegacyPriorityExecutor.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/PriorityReadyRunnable.java
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/SchedulableExecutableGroup.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-9334 added lines to clear default and previous test from the text fields
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-9334 fixing testCanFilterBusinessServices test
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DC-244: add README for DataBlocksOffHeapQueue
  core/ipc/sink/off-heap/README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-9334 returning test back to smoke tests
  smoke-test/src/test/java/org/opennms/smoketest/BSMAdminIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Run tests against horizon deb
  .circleci/build-triggers.override.json
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14617: Quick Start: Set up a threshold
  docs/modules/operation/pages/quick-start/thresholding.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14774 Add network/netmask tools to InetAddressUtils
  core/lib/src/main/java/org/opennms/core/utils/InetAddressUtils.java
  core/lib/src/test/java/org/opennms/core/utils/InetAddressUtilsTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

reduce resource_class
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update event-tokens.adoc
  docs/modules/operation/pages/events/event-tokens.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14659: GraphiteAdapter, allow groovy script to set the node for the timeseries data (#5307)
  features/collection/api/src/main/java/org/opennms/netmgt/collection/dto/CollectionSetDTO.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpCollectionSet.java
  features/telemetry/protocols/adapters/src/main/java/org/opennms/netmgt/telemetry/protocols/collection/ScriptedCollectionSetBuilder.java
  features/telemetry/protocols/graphite/adapter/pom.xml
  features/telemetry/protocols/graphite/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/graphite/adapter/GraphiteAdapter.java
  features/telemetry/protocols/graphite/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/graphite/adapter/GraphiteAdapterFactory.java
  features/telemetry/protocols/graphite/adapter/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fixup! Classifiy flows on minion
  features/flows/classification/service/impl/src/main/java/org/opennms/netmgt/flows/classification/service/internal/ListeningClassificationEngine.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14729: Add new handling options for the snmp provisioning metadata adapter (#5258)
  docs/modules/reference/pages/provisioning/adapters/snmp-metadata.adoc
  integrations/opennms-snmp-metadata-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpMetadataProvisioningAdapter.java
  opennms-base-assembly/src/main/filtered/etc/snmp-metadata-adapter-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfig.java
  opennms-config-model/src/main/resources/xsds/snmp-metadata-adapter-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfigTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-14713: Fixed XSS issue
  opennms-webapp/src/main/webapp/WEB-INF/jsp/siteStatus.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test minion deb build
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14682: Update Open JDK References
  docs/antora.yml
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/quick-start/performance-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-12629: Trapd is missing in the docs
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  features/themes/onms-default-theme/bin/pom.xml
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
  features/themes/onms-default-theme/bin/src/main/resources/VAADIN/themes/opennms/styles.css
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

fresh cache keys since users have changed
  .circleci/main/commands/cache/cache.yml
  .circleci/main/commands/maven/restore-maven-cache.yml
  .circleci/main/commands/maven/save-maven-cache.yml
  .circleci/main/jobs/create-merge-meridian-branch.yml
  .circleci/main/jobs/merge-poweredby-branch.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

shellcheck fixes for CircleCI scripts
  .circleci/scripts/codecoverage-restore.sh
  .circleci/scripts/itest.sh
  .circleci/scripts/lib-docker.sh
  .circleci/scripts/lib.sh
  .circleci/scripts/makedeb.sh
  .circleci/scripts/makerpm.sh
  .circleci/scripts/publish-azure.sh
  .circleci/scripts/publish-cloudsmith.sh
  .circleci/scripts/publish-dockerhub.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

require docker 19+, use `docker buildx` by default
  opennms-container/horizon/Makefile
  opennms-container/minion/Makefile
  opennms-container/sentinel/Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

generate structure at build time
  .circleci/main/commands/executions/run-build.yml
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Delete pom.xml
  features/themes/onms-default-theme/bin/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Delete THIRD-PARTY.properties
  features/themes/onms-default-theme/bin/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Delete styles.css
  features/themes/onms-default-theme/bin/src/main/resources/VAADIN/themes/opennms/styles.css
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke
