Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-15802 rename preselect to preemptive
  docs/modules/reference/pages/service-assurance/monitors/PageSequenceMonitor.adoc
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitorIT.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Page.java
  opennms-config-jaxb/src/main/resources/xsds/page-sequence.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Correct Typo in CONFD_README.md
  opennms-container/minion/CONFD_README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump up postgres too
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15754: Allow WSMan credentials to be stored in SCV
  docs/modules/reference/pages/performance-data-collection/collectors/wsman.adoc
  features/wsman/src/main/java/org/opennms/netmgt/collectd/WsManCollector.java
  features/wsman/src/main/java/org/opennms/netmgt/poller/monitors/WsManMonitor.java
  opennms-provision/opennms-detectorclient-rpc/src/main/java/org/opennms/netmgt/provision/detector/client/rpc/DetectorRequestBuilderImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15762: Added note to docs
  docs/modules/reference/pages/service-assurance/monitors/JCifsMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

nms-15802 Add preselect auth to page in page sequence (#6384)
  docs/modules/reference/pages/service-assurance/monitors/PageSequenceMonitor.adoc
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitor.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Page.java
  opennms-config-jaxb/src/main/resources/xsds/page-sequence.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

make sure openjdk11 is installed
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "make sure openjdk11 is installed"
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

pin to known working ubuntu
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "pin to known working ubuntu"
  .circleci/main/executors.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15504: Prevent angular expr eval without app
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/schedule-editor.tpl.html
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/admin/snmpInterfaces.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/includes/search-box.jsp
  opennms-webapp/src/main/webapp/locations/index.jsp
  opennms-webapp/src/main/webapp/minion/index.jsp
  opennms-webapp/src/main/webapp/report/index.jsp
  opennms-webapp/src/main/webapp/status/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15859: Inherit basic SSL config props from the producer to the stream client.
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/KafkaAlarmDataSync.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15780: Admin password change prompt
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/AbstractBasePasswordChangeActionServlet.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/PasswordGateActionServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/src/main/webapp/account/selfService/newPassword.jsp
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  opennms-webapp/src/main/webapp/login.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15866: Smoke test for admin password gate
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15757: Added test
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS15757IT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

reruns basically never help, might as well not do the extra work
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

ignore .eslintcache
  .gitignore
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

make sure it runs
  opennms-webapp/src/test/java/org/opennms/web/services/FilterFavoriteServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "reruns basically never help, might as well not do the extra work"
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "Merge pull request #6403 from OpenNMS/dependabot/maven/foundation-2023/ch.qos.logback-logback-classic-1.4.8"
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15866: Add SuppressWarnings to suppress Sonar 'password' alerts
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/AbstractBasePasswordChangeActionServlet.java
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update zookeeper to use the servicemix version, plus a few other small tweaks
  container/features/src/main/resources/features-core.xml
  core/cli/src/main/resources/bin/_module_opts.sh
  core/test-api/kafka/pom.xml
  features/distributed/coordination/zookeeper/pom.xml
  features/flows/itests/pom.xml
  integrations/opennms-jasper-extensions/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

make failsafe and surefire match
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15757: Allow metadata in Xml collector
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  protocols/xml/src/main/java/org/opennms/protocols/xml/collector/XmlCollector.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS15757IT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

add failIfNoSpecifiedTests
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build(deps-dev): minor cleanup of old dependencies
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update zookeeper to use the servicemix version, plus a few other small tweaks
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  core/test-api/kafka/pom.xml
  features/distributed/coordination/zookeeper/pom.xml
  features/flows/itests/pom.xml
  integrations/opennms-jasper-extensions/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Corrected Keystore setup instructions for minion on docker
  docs/modules/deployment/pages/minion/docker/minion.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15752: Allow Elasticsearch credentials to be stored in SCV
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
  features/alarms/history/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/jest/client/pom.xml
  features/jest/client/src/main/java/org/opennms/features/jest/client/RestClientFactory.java
  features/jest/client/src/main/java/org/opennms/features/jest/client/credentials/CredentialsParser.java
  features/jest/client/src/test/java/org/opennms/features/jest/client/credentials/CredentialsParserTest.java
  features/opennms-es-rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/situation-feedback/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15647: Added missing header
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS15757IT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16017: Corrected Keystore setup instructions for minion on docker
  docs/modules/deployment/pages/minion/docker/minion.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15901: Typo in Configuring Minion via confd README
  opennms-container/minion/CONFD_README.md
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

same for surefire
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15867: Admin password gate, updated wording
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
