Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

fix Change Password test
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Comment out specific test, will fix after merge
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

dragable columns on customized column drawer
  ui/package.json
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/stores/nodeStructureStore.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

lint fix
  ui/src/components/Nodes/utils.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18164: Update docs
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-18169: Update service count in test
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18164: Deprecate Reportd service (#7820)
  core/upgrade/src/test/resources/etc/service-configuration.xml
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

tweak packages
  tools/packages/minion/minion.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

FE: Cannot reorder columns (#7830)
  ui/package.json
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/stores/nodeStructureStore.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18169: Fix smoke test
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18169: Remove AsteriskGateway and Tl1d services (#7823)
  core/upgrade/src/test/resources/etc/service-configuration.xml
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Fix MenuHeaderIT smoke test
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

redo the housekeeping page
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

redo the housekeeping page (#7831)
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-18177: Handle other exceptions like ServiceUnavailableException
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: Use logo in the new menubar
  ui/src/components/Menu/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18150 Implement JPA entities and repositories (Update Code).
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfigDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfigSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfigEventsDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvents.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18150 Implement JPA entities and repositories (remove duplicate code).
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfigDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18150 Implement JPA entities and repositories (remove duplicate code).
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfigEventsDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use jdk17
  .circleci/main/executors.yml
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

design fixes
  ui/src/components/Nodes/NodesTable.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18177: Handle other exceptions like ServiceUnavailableException (#7832)
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add Air-Gap Install Page
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

remve featherdropdown and implement custom dropdown
  ui/src/components/Menu/Search.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Fix numbering
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix directories, repo info, and moving plugins section up
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Resolve ambiguous install directory
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-18150 Implement JPA entities and repositories (review changes).
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfigDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfigSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfigEventDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18150 Implement JPA entities and repositories (update code).
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

FE: Node List Redesign (#7819)
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/package.json
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodeStructurePanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
  ui/src/containers/Nodes.vue
  ui/src/services/localStorageService.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/utils.test.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18175: Ensure user is not redirected to an asset file after login
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/LoginModuleUtils.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/PasswordGateActionServlet.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

date/time to right in top menu
  ui/src/components/Menu/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18170 enable static openconfig configuration on minion
  features/telemetry/distributed/common/src/main/java/org/opennms/netmgt/telemetry/distributed/common/MapBasedConnectorDef.java
  features/telemetry/distributed/minion/pom.xml
  features/telemetry/distributed/minion/src/main/java/org/opennms/netmgt/telemetry/distributed/minion/ConnectorManager.java
  features/telemetry/distributed/minion/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryRegistryImpl.java
  features/telemetry/registry/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/shell/src/main/java/org/opennms/netmgt/telemetry/shell/ConnectorCommands.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18153: create an initial structure for uploading single/multiple events files
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfUploadRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfUploadRestApi.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

comments resolved
  ui/src/components/Menu/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-18170 enable/disable connector
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-18175: Reenable AngularLoginRedirectIT
  smoke-test/src/test/java/org/opennms/smoketest/AngularLoginRedirectIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Reenable UIRefreshIT
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Docs: Demo the filter shell command in the filters section
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke
