Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Fixed file name typo
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix: added vue changes to display both version under Help menu
  ui/src/containers/OpenAPI.vue
  ui/src/services/helpService.ts
  ui/src/services/index.ts
  ui/src/store/help/actions.ts
  ui/src/store/help/mutations.ts
  ui/src/store/help/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Update docs/modules/deployment/pages/minion/message-broker/kafka.adoc
  docs/modules/deployment/pages/minion/message-broker/kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

PR feedback
  docs/modules/deployment/pages/minion/message-broker/kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

clean up startup script
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

oops, mistake when merging
  docs/modules/operation/pages/events/sources/syslog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15680: Document async polling settings
  docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

feat: added support for special case and handle CounterBasedGauge64 as gauge
  features/mib-compiler/src/main/java/org/opennms/features/mibcompiler/services/JsmiMibParser.java
  features/mib-compiler/src/test/java/org/opennms/features/mibcompiler/NMS15210Test.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: added required mib for CounterBasedGauge64
  features/mib-compiler/src/test/resources/HCNUM-TC.mib
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: failing unit tests
  features/mib-compiler/src/main/java/org/opennms/features/mibcompiler/services/JsmiMibParser.java
  features/mib-compiler/src/test/java/org/opennms/features/mibcompiler/SPC465Test.java
  features/mib-compiler/src/test/resources/BCN-DNS-MIB.mib
  features/mib-compiler/src/test/resources/BCN-TC-MIB.mib
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15693: XML Doc updates
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15491: Official documentation describes how to uninstall and block "datachoices" feature
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/data-collection.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/usage-statistics.adoc
  docs/modules/operation/pages/quick-start/users.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15634: Docs section about startup configuration and opennms.conf
  docs/modules/operation/pages/deep-dive/admin/configuration/startup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15414: Fixed deep-links
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  smoke-test/src/test/java/org/opennms/smoketest/IndexPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix compilation in 2020
  smoke-test/src/test/java/org/opennms/smoketest/IndexPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15289: Check eventd config files before reload
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/BroadcastEventProcessor.java
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Events.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfDaoReloadTest.java
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/broken/broken.events.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/broken0-eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/broken1-eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/broken2-eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/working-eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/NMS-15289/working/working.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Merging change from another open PR
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15694: DNS provisioning doc update
  docs/modules/reference/pages/provisioning/handlers/dns.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

attempt to collect more/better docker stats during test runs
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/commands/executions/run-smoke-tests.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bump to medium+ based on circleci support feedback
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15262: Footer on Vue UI pages
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  ui/package.json
  ui/src/App.vue
  ui/src/components/Layout/Footer.vue
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15526: Check WebACLs in Status Overview box
  features/status/api/pom.xml
  features/status/api/src/main/java/org/opennms/features/status/api/node/NodeStatusService.java
  opennms-config/src/main/resources/META-INF/opennms/applicationContext-commonConfigs.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

clean up SSH server better, log failures to start with host:port
  core/test-api/ssh/src/main/java/org/opennms/core/test/ssh/JUnitSshServerExecutionListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15491: Official documentation describes how to uninstall and block "datachoices" feature
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/usage-statistics.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix doc replacement token
  docs/modules/operation/pages/deep-dive/flows/sentinel/message-broker/activemq.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Doc fix sentinel replacement tokens
  docs/modules/operation/pages/deep-dive/flows/sentinel/message-broker/kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15634: Docs section about startup configuration and opennms.conf
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/startup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/admin/configuration/startup.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/startup.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/flows/sentinel/message-broker/activemq.adoc
  docs/modules/operation/pages/deep-dive/flows/sentinel/message-broker/kafka.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

try this
  opennms-config/src/main/java/org/opennms/netmgt/filter/JdbcFilterDao.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15696: Remove @Transactional annotation from JdbcFilterDao in order to help avoid database connection related deadlocks.
  opennms-config/src/main/java/org/opennms/netmgt/filter/JdbcFilterDao.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
