Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-18175: Fix DatabaseReportIT
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
Due: trigger-coverage, trigger-build

NMS-18150 Implement JPA entities and repositories (update code).
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-dao/src/test/resources/eventconf-test-1.xml
  opennms-dao/src/test/resources/eventconf-test-2.xml
Due: trigger-coverage, trigger-build

Docs: Demo the filter shell command in the filters section (#7842)
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
Due: trigger-coverage, trigger-docs

Fix incorrect xreference for trap reception
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-docs

Also escape these variable references so they are not treated as attributes
  docs/modules/operation/pages/deep-dive/admin/configuration/newsfeed-configuration.adoc
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-docs

custom input search with keys up and down fucnctionality
  ui/src/components/Menu/Search.vue
Due: trigger-coverage, trigger-build, trigger-ui

comments removed
  ui/src/components/Menu/Search.vue
Due: trigger-coverage, trigger-build, trigger-ui

Docs: Fix incorrect xreference for trap reception (#7843)
  docs/modules/operation/pages/deep-dive/admin/configuration/newsfeed-configuration.adoc
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
Due: trigger-coverage, trigger-docs

hand merging foundation-2022 into foundation-2023
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
Due: trigger-coverage, trigger-docs

NMS-18150 Implement JPA entities and repositories (revert permission).
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
Due: trigger-coverage, trigger-build

NMS-18160: Upgrade snmp4j to 2.8.15
  container/features/src/main/resources/features.xml
  dependencies/snmp4j/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-18160: Add our own logger that uses slf4j
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/system.properties
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Slf4jLogFactory.java
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/Snmp4jTrapReceiverIT.java
  core/upgrade/src/test/resources/etc2/opennms.properties
  dependencies/snmp4j/pom.xml
  features/container/minion/src/main/filtered-resources/etc/system.properties
  features/container/sentinel/pom.xml
  features/container/sentinel/src/main/filtered-resources/etc/system.properties
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  tests/mock-snmp-agent/src/main/java/org/opennms/mock/snmp/MockSnmpAgent.java
Due: trigger-coverage, trigger-build

updted packages
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

yarn changes
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

FE: Fix main Search input - parity with legacy (#7834)
  ui/src/components/Menu/Search.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18181: Updates to QuickAddNode, remove SNMPv3 params
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNodeModal.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-node-standalone.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-node.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-panel-help.html
Due: trigger-coverage, trigger-build

NMS-18175: Ensure user is not redirected to an asset file after login (#7841)
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/LoginModuleUtils.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/account/selfService/PasswordGateActionServlet.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPasswordGateIT.java
  smoke-test/src/test/java/org/opennms/smoketest/AngularLoginRedirectIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18181: Updates to QuickAddNode, remove SNMPv3 params (#7847)
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNodeModal.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-node-standalone.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-node.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/quick-add-panel-help.html
Due: trigger-coverage, trigger-build

NMS-18150 Implement JPA entities and repositories. (#7829)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-dao/src/test/resources/eventconf-test-1.xml
  opennms-dao/src/test/resources/eventconf-test-2.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
Due: trigger-coverage, trigger-build

NMS-18153: Implement API to upload single/multiple eventconf files.(Implementations)
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfSourceMetadataDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/ParsedEventEntry.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfUploadRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfUploadRestApi.java
Due: trigger-coverage, trigger-build

Merge doc changes
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
  docs/modules/operation/pages/deep-dive/admin/configuration/newsfeed-configuration.adoc
  docs/modules/operation/pages/deep-dive/events/sources/snmp-traps.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/filters/filter-shell-cmd.adoc
  docs/modules/reference/pages/telemetryd/protocols/sflow.adoc
Due: trigger-coverage, trigger-docs

replace happydom with js dom
  ui/package.json
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

set parameters for auto-merge
  .circleci/main/parameters.yml
  .nightly
Due: trigger-coverage, trigger-build

Revert "set parameters for auto-merge"
  .circleci/main/parameters.yml
  .nightly
Due: trigger-coverage, trigger-build

Update previous_branch parameter
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-build

foundation-2024 auto-merge to release-34.x
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-build

Add release-34.x references
  index.html
Due: trigger-coverage, trigger-build

NMS-18173: Fix side nav push content; fix Search box navigation and display
  core/web-assets/src/main/assets/style/opennms-theme.scss
  core/web-assets/src/main/assets/style/vaadin-theme.scss
  features/themes/dashboard-theme/src/main/java/VAADIN/themes/dashboard/styles.css
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  ui/package.json
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/Search.vue
  ui/src/components/Menu/SearchResult.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/main/App.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

How to enable syslogd
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
Due: trigger-coverage, trigger-docs

NMS-18160: Upgrade snmp4j to 2.8.15 (#7822)
  container/karaf/src/main/filtered-resources/etc/system.properties
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Slf4jLogFactory.java
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/Snmp4jTrapReceiverIT.java
  core/upgrade/src/test/resources/etc2/opennms.properties
  features/container/minion/src/main/filtered-resources/etc/system.properties
  features/container/sentinel/pom.xml
  features/container/sentinel/src/main/filtered-resources/etc/system.properties
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  pom.xml
  tests/mock-snmp-agent/src/main/java/org/opennms/mock/snmp/MockSnmpAgent.java
Due: trigger-coverage, trigger-build

Font references correction
  ui/src/main/index.html
  ui/src/menu/index.html
  ui/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18173: Ignore smoke test (need to fix separately)
  smoke-test/src/test/java/org/opennms/smoketest/SnmpConfigPageIT.java
Due: trigger-coverage, trigger-build

NMS-18173: Fix side nav push content; fix Search box navigation and display (#7848)
  core/web-assets/src/main/assets/style/opennms-theme.scss
  core/web-assets/src/main/assets/style/vaadin-theme.scss
  features/themes/dashboard-theme/src/main/java/VAADIN/themes/dashboard/styles.css
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SnmpConfigPageIT.java
  ui/package.json
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/Search.vue
  ui/src/components/Menu/SearchResult.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/main/App.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

Font references correction (#7851)
  ui/src/main/index.html
  ui/src/menu/index.html
  ui/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix test cases on that ticket
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/containers/DeviceConfigBackup.vue
Due: trigger-coverage, trigger-build, trigger-ui

resolve test cases
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/containers/DeviceConfigBackup.vue
Due: trigger-coverage, trigger-build, trigger-ui

testcases resolved
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/containers/DeviceConfigBackup.vue
Due: trigger-coverage, trigger-build, trigger-ui
