Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

function change
  ui/src/components/EventConfiguration/Dialog/UploadedFileRenameDialog.vue
Due: trigger-coverage, trigger-build, trigger-ui

removed static file names
  ui/src/stores/eventConfigStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18184: Exclude selfmonitor requisition on Quick Add Node (#7942)
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisition.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisitions.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/services/Requisitions.js
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

NMS-18178: Get protobuf out of shaded version
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/grpc/osgi/pom.xml
Due: trigger-coverage, trigger-build

NMS-18178: Fix messageDispatcherFactory loading
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/ipc/osgi/src/main/resources/META-INF/opennms/applicationContext-ipc-osgi.xml
Due: trigger-coverage, trigger-build

NMS-18032: Changed docs entry
  docs/modules/operation/pages/deep-dive/flows/vendor-specific-ies.adoc
Due: trigger-coverage, trigger-docs

NMS-18225: Updated netty version
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-sentinel.xml
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
Due: trigger-coverage, trigger-build

comments fixed
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
  ui/src/lib/utils.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18322: Get protobuf out of shaded version
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/grpc/osgi/pom.xml
Due: trigger-coverage, trigger-build

NMS-18316: DevOps: Clean up `Some problems were encountered while building the effective model` warnings (#7957)
  container/features/pom.xml
  dependencies/spring-security/pom.xml
  features/bsm/rest/impl/pom.xml
  features/distributed/coordination/zookeeper/pom.xml
  features/events/shell-commands/pom.xml
  features/flows/itests/pom.xml
  features/jest/client/pom.xml
  features/jmx-config-generator/pom.xml
  features/measurements/rest/pom.xml
  features/minion/heartbeat/producer/pom.xml
  features/status/rest/pom.xml
  opennms-services/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-18293: Modify the file upload API to support a new flag that allows replacing an existing file in the database during upload
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfSourceMetadataDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18292: resolve merge conflicts
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

Create symlinks from /etc to /opt/openms
  debian/opennms-common.dirs
  debian/opennms-common.links
  debian/opennms-server.links
Due: trigger-coverage, trigger-build

Event renaming logic update. Added new override functionality.
  ui/src/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.vue
  ui/src/components/EventConfiguration/Dialog/UploadedFileRenameDialog.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

instruction added and some bug fixes
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/stores/eventConfigDetailStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

search label change
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

test fixed
  ui/tests/lib/utils.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

revert symlink for log folder
  debian/opennms-common.links
Due: trigger-coverage, trigger-build

NMS-18058: Prevent old jackson version to be included
  container/shared/src/main/filtered-resources/etc/overrides.properties
  features/minion/repository/src/assembly/repo.xml
Due: trigger-coverage, trigger-build

NMS-18322: Get protobuf out of shaded version (#7959)
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/grpc/osgi/pom.xml
Due: trigger-coverage, trigger-build

Hide enable/disable/delete source and events where vendor is opennms
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfigurationDetails.vue
  ui/src/lib/utils.ts
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  ui/src/components/EventConfigurationDetail/Dialog/DeleteEventConfigSourceDialog.vue
  ui/src/stores/eventConfigDetailStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18308: Expose a REST API to update an event in EventConfSource
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfEventPayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

new changes
  ui/src/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.vue
Due: trigger-coverage, trigger-build, trigger-ui

comments resolved
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18178-h34 review changes
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  features/telemetry/connectors/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherT.java
  features/telemetry/protocols/openconfig/itests/src/test/resources/META-INF/opennms/applicationContext-openconfig-components.xml
  opennms-config-api/src/main/java/org/opennms/netmgt/filter/api/FilterDao.java
  opennms-config-tester/src/main/java/org/opennms/netmgt/config/tester/ConfigTesterFilterDao.java
  opennms-config/src/main/java/org/opennms/netmgt/filter/JdbcFilterDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ServiceRef.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockFilterDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/JdbcFilterDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
Due: trigger-coverage, trigger-build

NMS-18178-h34 Fix messageDispatcherFactory loading
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/ipc/osgi/src/main/resources/META-INF/opennms/applicationContext-ipc-osgi.xml
Due: trigger-coverage, trigger-build

implements null check on close
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
Due: trigger-coverage, trigger-build, trigger-ui

Update opennms-common.postinst remove extra comment
  debian/opennms-common.postinst
Due: trigger-coverage, trigger-build

corrections for 34
  docs/modules/development/pages/build-from-source.adoc
Due: trigger-coverage, trigger-docs

NMS-18178-h34 refactor code
  features/minion/repository/src/main/resources/features.boot
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  opennms-config-api/src/main/java/org/opennms/netmgt/filter/api/FilterDao.java
  opennms-config-tester/src/main/java/org/opennms/netmgt/config/tester/ConfigTesterFilterDao.java
  opennms-config/src/main/java/org/opennms/netmgt/filter/JdbcFilterDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockFilterDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/JdbcFilterDaoIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
Due: trigger-coverage, trigger-build

NMS-18198: Vaadin wallboard format fixes to accomodate menu redesign
  core/web-assets/src/main/assets/js/vaadin/header-component_connector.js
  core/web-assets/src/main/assets/style/vaadin-theme.scss
  features/themes/dashboard-theme/src/main/java/VAADIN/themes/dashboard/styles.css
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/HeaderLayout.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/WallboardUI.java
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  ui/src/components/Menu/Menubar.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18285: Do not display Plugins menu if there are no plugins installed
  ui/src/components/Menu/SideMenu.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix: Typo in constant name
  core/lib/src/main/java/org/opennms/core/utils/TimeSeries.java
Due: trigger-coverage, trigger-build

New changes
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/types/eventConfig.d.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

lint fixes
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

new fixes
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui
