Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-10393: There is no documentation on the instrumentation log reader
  docs/modules/operation/pages/admin/webui/log-reader.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/admin/webui/log-reader.adoc
  docs/modules/operation/pages/admin/webui/log-reader.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14324: DCB UI update to sort by location, backup status handling
  ui/src/components/Device/DCBTableStatusDropdown.vue
  ui/src/store/device/actions.ts
  ui/src/store/device/state.ts
  ui/src/types/deviceConfig.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Cleanup debian_pkg yml file
  .circleci/main/jobs/debian_pkg_build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14207: Add doc for SCV (#4782)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/scv-configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update database.adoc
  docs/modules/operation/pages/database-reports/database.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14203: Update datachoices to include more statistics: * num situations * num locations * num minions * list of karaf features installed
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/pom.xml
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoringSystemDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoringSystemDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockSnmpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoringSystem.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

Update based on actual reports; reformat parameter tables - ready for review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Revisions with actual report info; reformat parameter tables, ready for review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14280: Remove OpenNMS RT integration
  opennms-base-assembly/src/main/filtered/etc/support.properties
  opennms-webapp/src/main/java/org/opennms/web/controller/support/SupportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/support/SupportResults.java
  opennms-webapp/src/main/java/org/opennms/web/controller/support/SupportRtConfigDao.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/support/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/support/index.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SupportPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14324: Remove unused import
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Test combine sentinel and horizon rpms
  .circleci/main/@main.yml
  .circleci/main/jobs/rpm_builds.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

clean up workflow
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from code review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

added new configuration for aruba AOS-CX switches provided by Ken Eshelby
  opennms-base-assembly/src/main/filtered/etc/datacollection/aruba.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Removed comments and some other small changes
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from code review
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Tweak steps to run on foundation,release,develop
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14324: DCB Order by Location and Backup Status (#4790)
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigQueryResult.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  ui/src/components/Device/DCBTableStatusDropdown.vue
  ui/src/store/device/actions.ts
  ui/src/store/device/state.ts
  ui/src/types/deviceConfig.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

bump rate-limited-logger to work around a dependency conflict in karaf
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Disable smoke-test-minimal in normal builds
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Remove smoke-test-minimal as a dependency
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fix a typo
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14154: Documentation for OIA changes
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
  docs/modules/development/nav.adoc
  docs/modules/development/pages/oia/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

enable *-rpm-build jobs to smoke builds
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

enable rpm-builds for smoke builds
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14154: Add steps to generate/build new plugin
  docs/modules/development/pages/oia/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14154: Handle review comments
  docs/modules/development/pages/oia/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14003: make sure Telemetryd shutdown gracefully
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/TcpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14003: fix reload daemon smoke test
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/TcpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14003: make the shutdown monitor by future
  features/telemetry/api/src/main/java/org/opennms/netmgt/telemetry/api/receiver/GracefulShutdownListener.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/Telemetryd.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/TcpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/utils/NettyEventListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14161:Event/Alarm advanced search not passing search terms
  opennms-webapp/src/test/java/org/opennms/web/event/EventControllerIT.java
  opennms-webapp/src/test/java/org/opennms/web/event/EventControllerTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14194: Be able to control label sizes for the stress-metrics command (#4761)
  features/collection/shell-commands/pom.xml
  features/collection/shell-commands/src/main/java/org/opennms/netmgt/collection/commands/StressCommand.java
  features/collection/shell-commands/src/test/java/org/opennms/netmgt/collection/commands/StressCommandTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

reduce xlarge resources to medium
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14003: add comments and null check
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/Telemetryd.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/TcpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14359 Add brackets and colon to validate URL IPv6
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Mem/jira/nms 14124 disable smoke tests and rpm generation on normal builds (#4811)
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14359 Change comment
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui
