Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-18147 review change
  container/features/src/main/resources/features-minion.xml
Due: trigger-coverage, trigger-build

NMS-18147 add openconfig connector to minion
  container/features/src/main/resources/features-minion.xml
  features/minion/repository/pom.xml
  features/telemetry/protocols/openconfig/connector/pom.xml
Due: trigger-coverage, trigger-build

NMS-18147 add openconfig connector to minion
  container/features/src/main/resources/features-minion.xml
  features/minion/repository/pom.xml
Due: trigger-coverage, trigger-build

NMS-18170 enable static openconfig configuration on minion
  features/telemetry/distributed/common/src/main/java/org/opennms/netmgt/telemetry/distributed/common/MapBasedConnectorDef.java
  features/telemetry/distributed/minion/pom.xml
  features/telemetry/distributed/minion/src/main/java/org/opennms/netmgt/telemetry/distributed/minion/ConnectorManager.java
  features/telemetry/distributed/minion/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryRegistryImpl.java
  features/telemetry/registry/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/shell/src/main/java/org/opennms/netmgt/telemetry/shell/ConnectorCommands.java
Due: trigger-coverage, trigger-build

NMS-18170 enable/disable connector
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
Due: trigger-coverage, trigger-build

NMS-18178 minor change
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorTwinConfig.java
Due: trigger-coverage, trigger-build

NMS-18178 add twin api to minion for dynamic parameter for openconfig connection
  container/features/src/main/resources/features-minion.xml
  features/minion/repository/src/main/resources/features.boot
  features/telemetry/daemon/pom.xml
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorStarter.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorState.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorTwinConfig.java
  features/telemetry/daemon/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/distributed/minion/pom.xml
  features/telemetry/distributed/minion/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-build

NMS-18178 add separate classes for location publisher
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisherManager.java
Due: trigger-coverage, trigger-build

NMS-18178 review change
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorStarter.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorState.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorTwinConfig.java
Due: trigger-coverage, trigger-build

upload event config files via rest api
  ui/src/components/EventConfiguration/EventConfigTabContainer.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Add a new tag that contains a comma-separated list of categories.
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
Due: trigger-coverage, trigger-build

Scrub Hyperic from base assembly configs
  opennms-base-assembly/src/main/filtered/etc/ackd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/eventconf.xml
  opennms-base-assembly/src/main/filtered/etc/events/Hyperic.events.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.hyperic.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/README.txt
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/imports-HQ.xml
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/imports-opennms-admin.xml
  opennms-base-assembly/src/main/filtered/etc/examples/poller-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/status.properties
  opennms-base-assembly/src/main/filtered/etc/translator-configuration.xml
Due: trigger-coverage, trigger-build

Remove Hyperic bits from ackd
  opennms-ackd/src/main/java/org/opennms/netmgt/ackd/readers/HypericAckProcessor.java
  opennms-ackd/src/main/resources/META-INF/opennms/applicationContext-ackd.xml
  opennms-ackd/src/test/java/org/opennms/netmgt/ackd/readers/HypericAckProcessorIT.java
  opennms-ackd/src/test/resources/hqu/opennms/alertStatus/list.hqu
Due: trigger-coverage, trigger-build

Fix tests?
  features/api-layer/core/src/test/resources/poller/eventconf.xml
  smoke-test/src/main/resources/opennms-overlay/etc/eventconf.xml
Due: trigger-coverage, trigger-build

NMS-18220: Fix SNMP Poller startup deadlock
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerException.java
  opennms-services/src/test/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerIT.java
Due: trigger-coverage, trigger-build

Fix test
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
Due: trigger-coverage, trigger-build

NMS-18154 : Escape special characters (% , _ , \, ., /) in LIKE queries for uei, vendor, and sourceName filters.
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
Due: trigger-coverage, trigger-build

NMS-18032: Implement Twin-mechanism for IPFix config
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/fileutils/src/main/java/org/opennms/core/fileutils/DotDUpdateWatcher.java
  core/fileutils/src/test/java/org/opennms/core/fileutils/DotDUpdateWatcherTest.java
  core/ipc/twin/jms/publisher/src/main/resources/META-INF/opennms/applicationContext-twin-jms-publisher.xml
  features/telemetry/protocols/netflow/parser/pom.xml
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/InformationElementDatabase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/InformationElementXmlProvider.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/xml/Element.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/xml/IpfixDotD.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/xml/IpfixElements.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/xml/Scope.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/AbstractInformationElementXmlProvider.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/InformationElementXmlProvider.java
  features/telemetry/protocols/netflow/parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/InformationElementXmlProviderTest.java
  features/telemetry/protocols/netflow/parser/src/test/resources/ipfix.d/dummy_ipfix.xml
  features/telemetry/protocols/netflow/pom.xml
  features/telemetry/protocols/netflow/xml-provider/core/pom.xml
  features/telemetry/protocols/netflow/xml-provider/core/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/CoreInformationElementXmlProvider.java
  features/telemetry/protocols/netflow/xml-provider/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/protocols/netflow/xml-provider/core/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/CoreInformationElementXmlProviderTest.java
  features/telemetry/protocols/netflow/xml-provider/minion/pom.xml
  features/telemetry/protocols/netflow/xml-provider/minion/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/MinionInformationElementXmlProvider.java
  features/telemetry/protocols/netflow/xml-provider/minion/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/protocols/netflow/xml-provider/minion/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/MinionInformationElementXmlProviderTest.java
  features/telemetry/protocols/netflow/xml-provider/pom.xml
  opennms-base-assembly/src/main/filtered/etc/ipfix.d/.readme
Due: trigger-coverage, trigger-build

NMS-18238: Also expose categories as a single comma-separated tag in Timeseries (#7886)
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/MetaTagDataLoader.java
  features/timeseries/src/test/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesRoundtripIT.java
Due: trigger-coverage, trigger-build

NMS-18239: Removed outdated references in shipped config (#7888)
  features/api-layer/core/src/test/resources/poller/eventconf.xml
  opennms-ackd/src/main/java/org/opennms/netmgt/ackd/readers/HypericAckProcessor.java
  opennms-ackd/src/main/resources/META-INF/opennms/applicationContext-ackd.xml
  opennms-ackd/src/test/java/org/opennms/netmgt/ackd/readers/HypericAckProcessorIT.java
  opennms-ackd/src/test/resources/hqu/opennms/alertStatus/list.hqu
  opennms-base-assembly/src/main/filtered/etc/ackd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/eventconf.xml
  opennms-base-assembly/src/main/filtered/etc/events/Hyperic.events.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.hyperic.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/README.txt
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/imports-HQ.xml
  opennms-base-assembly/src/main/filtered/etc/examples/hyperic-integration/imports-opennms-admin.xml
  opennms-base-assembly/src/main/filtered/etc/examples/poller-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/status.properties
  opennms-base-assembly/src/main/filtered/etc/translator-configuration.xml
  smoke-test/src/main/resources/opennms-overlay/etc/eventconf.xml
Due: trigger-coverage, trigger-build

show dialog of success/failed uploads
  ui/src/components/EventConfiguration/Modal/EventConfigFilesUploadReportModal.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18220: Fix SNMP Poller startup deadlock (#7885)
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerException.java
  opennms-services/src/test/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPollerIT.java
Due: trigger-coverage, trigger-build

NMS-18154 : Escape special characters (% , _ , \, ., /, [, ]) in LIKE queries for uei, vendor, and sourceName filters.
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
Due: trigger-coverage, trigger-build

Implement Rest API to filter event conf by uei, vendor and source name. (#7872)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AbstractDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEventDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18144: Move menu templates to etc
  core/lib/src/main/java/org/opennms/core/utils/ConfigFileConstants.java
  opennms-base-assembly/src/main/filtered/etc/menu-template.json
  opennms-base-assembly/src/main/filtered/etc/menu-templates/menu-template-alt.json
  opennms-base-assembly/src/main/filtered/etc/menu-templates/menu-template-default.json
  opennms-base-assembly/src/main/filtered/etc/menu-templates/menu-template-legacy.json
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/MenuTemplateConfig.java
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/menu/MainMenu.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/menu/MenuEntry.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/menu/TileProviderItem.java
  opennms-config/src/main/java/org/opennms/netmgt/config/MenuTemplateFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/MenuTemplateManager.java
  opennms-config/src/main/resources/META-INF/opennms/applicationContext-commonConfigs.xml
  opennms-config/src/test/java/org/opennms/netmgt/config/MenuTemplateFactoryIT.java
  opennms-config/src/test/resources/etc/menu-template.json
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProviderLegacy.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/xml/MenuXml.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderLegacyTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
Due: trigger-coverage, trigger-build

Fix WillItUnmarshal
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
Due: trigger-coverage, trigger-build

NMS-18239: Fix failing test
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
Due: trigger-coverage, trigger-build

Ignore AngularLoginRedirectIT
  smoke-test/src/test/java/org/opennms/smoketest/AngularLoginRedirectIT.java
Due: trigger-coverage, trigger-build

NMS-18239: Fix failing test (#7894)
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
Due: trigger-coverage, trigger-build

NMS-18032: Fixed versions
  features/telemetry/protocols/netflow/xml-provider/core/pom.xml
  features/telemetry/protocols/netflow/xml-provider/minion/pom.xml
  features/telemetry/protocols/netflow/xml-provider/pom.xml
Due: trigger-coverage, trigger-build

Note about TCP syslog
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
Due: trigger-coverage, trigger-docs

NMS-18234: Delete one or more sources by ID (also deletes associated events)
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfSourceDeletePayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

xml validations
  ui/src/components/EventConfiguration/EventConfigFileEditor.vue
  ui/src/components/EventConfiguration/Modal/EventConfigFilesUploadReportModal.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Revert "xml validations"
  ui/src/components/EventConfiguration/EventConfigFileEditor.vue
  ui/src/components/EventConfiguration/Modal/EventConfigFilesUploadReportModal.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

xml validations
  ui/src/components/EventConfiguration/Modal/EventConfigFilesUploadReportModal.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

move validator to another file resolved commetns
  ui/src/components/EventConfiguration/EventConfigFileEditor.vue
  ui/src/components/EventConfiguration/UploadFilesTab.vue
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
Due: trigger-coverage, trigger-build, trigger-ui

sync docs changes
  docs/modules/deployment/pages/minion/centos-rhel7/install-minion.adoc
  docs/modules/deployment/pages/minion/centos-rhel8/install-minion.adoc
  docs/modules/deployment/pages/minion/centos-rhel9/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel7/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel8/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/deployment/pages/upgrade/restore/debian-ubuntu/restore-debian-ubuntu.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  docs/modules/operation/pages/deep-dive/events/sources/syslog.adoc
Due: trigger-coverage, trigger-docs

Initial table for events and some some fixes
  ui/src/components/EventConfiguration/EventConfigDetails.vue
  ui/src/components/EventConfiguration/EventConfigFileEditor.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfiguration/EventConfigTabContainer.vue
  ui/src/components/EventConfiguration/data.ts
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfigDetails.vue
  ui/src/main/router/index.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
