Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-13019 Remove code smells
  features/jest/client/src/main/java/org/opennms/features/jest/client/CircuitBreakerProvider.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add the missing then statement
  .circleci/main/commands/oci/oci.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/bsm/operational-status.adoc
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  docs/modules/reference/pages/service-assurance/monitors/VmwareMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13019 Add documentation
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix additional typo
  .circleci/main/commands/oci/oci.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15208: Scan nodes on import at least once
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/NodeScan.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14734: Update Auto Discovery
  docs/modules/operation/pages/deep-dive/provisioning/auto-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Clean up
  .circleci/main/commands/oci/oci.yml
  opennms-container/core/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13019 Refactor JestClientWithCircuitBreaker.executeAsync(...)
  features/jest/client/src/main/java/org/opennms/features/jest/client/JestClientWithCircuitBreaker.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test ALEC and Cortex Plugin
  .circleci/main/commands/oci/oci.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13019 Fix JestClientWithCircuitBreaker.executeAsync(...)
  features/jest/client/src/main/java/org/opennms/features/jest/client/JestClientWithCircuitBreaker.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13019 add CircuitBreaker to ElasticSearch requests (#5600)
  docs/modules/operation/pages/deep-dive/elasticsearch/introduction.adoc
  features/alarms/history/elastic/src/main/java/org/opennms/features/alarms/history/elastic/ElasticAlarmIndexer.java
  features/alarms/history/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/alarms/history/elastic/src/test/java/org/opennms/features/alarms/history/elastic/ElasticAlarmHistoryRepositoryIT.java
  features/alarms/history/elastic/src/test/java/org/opennms/features/alarms/history/elastic/ElasticAlarmIndexerIT.java
  features/alarms/history/elastic/src/test/java/org/opennms/features/alarms/history/elastic/ElasticAlarmIndexerTest.java
  features/alarms/history/elastic/src/test/resources/META-INF/opennms/applicationContext-alarm-driver-ext.xml
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/AggregatedFlowQueryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/BulkingIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/DefaultDirectionIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryRetryIT.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  features/jest/client/pom.xml
  features/jest/client/src/main/java/org/opennms/features/jest/client/CircuitBreakerProvider.java
  features/jest/client/src/main/java/org/opennms/features/jest/client/JestClientWithCircuitBreaker.java
  features/jest/client/src/main/java/org/opennms/features/jest/client/RestClientFactory.java
  features/jest/client/src/main/java/org/opennms/features/jest/client/bulk/BulkRequest.java
  features/opennms-es-rest/pom.xml
  features/opennms-es-rest/src/main/java/org/opennms/plugins/elasticsearch/rest/EventToIndex.java
  features/opennms-es-rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/AbstractEventToIndexITCase.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/EventToIndexTest.java
  features/situation-feedback/elastic/src/main/java/org/opennms/features/situationfeedback/elastic/ElasticFeedbackRepository.java
  features/situation-feedback/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/situation-feedback/elastic/src/test/java/org/opennms/features/situationfeedback/elastic/ElasticFeedbackRepositoryIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

limit the files we put in the deploy folder
  opennms-container/core/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/provisioning/handlers/vmware.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

print the content of plugins folder
  .circleci/main/commands/oci/oci.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update oci
  .circleci/main/commands/oci/oci.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

download and deploy plugins into the containers
  .circleci/main/commands/oci/oci.yml
  opennms-container/core/Dockerfile
  opennms-container/core/plugins/.gitkeep
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/plugins/.gitkeep
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14854: fix XSS vulnerability in status/index.jsp
  opennms-webapp/src/main/webapp/status/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15019: Document External Requisitions config manager
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15324: Prevent workers from processing work when we force shutdown
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/RingBufferTimeseriesWriter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15208: Added doc entry
  docs/modules/operation/pages/deep-dive/provisioning/scalability.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

prune origin before fetching
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

download and deploy plugins into the containers (#5766)
  .circleci/main/commands/oci/oci.yml
  opennms-container/core/Dockerfile
  opennms-container/core/plugins/.gitkeep
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/plugins/.gitkeep
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Clarification on `storeByForeignSource` behavior
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Disable code coverage collection by default in smoke tests
  .circleci/scripts/smoke.sh
  smoke-test/pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Aren't using smoke test coverage yet, so disable for now in CI
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Allow thread dumps on shutdown to be disabled.
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Speedup thread dump collection and store in its own file
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/PostgreSQLContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/DevDebugUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Add "restart-fast" option to opennms script.
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Cleanups, take care of warnings
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Manager.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Cleanup warnings
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Invoker.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

When we fail to startup, exit with a non-zero exit code.
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Manager.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Starter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14959: Document Time Series tags
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fail faster if possible
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/jobs/tests/integration/integration-test-with-coverage.yml
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

DefaultPassiveHealthCheck: optionally allow a Response to never expire
  core/health/api/src/main/java/org/opennms/core/health/api/DefaultPassiveHealthCheck.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Make health-api a feature so it can be used by karaf-extender
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  container/features/src/main/resources/karaf-extensions.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Allow minion runInPlace.sh to be run from anywhere!
  features/minion/runInPlace.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
