Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19092: Handle PR Review Changes.
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

Update core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
Due: trigger-coverage, trigger-build

NMS-19092: Handle PR Review Changes.
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
Due: trigger-coverage, trigger-build

docs: update page-size configuration in newts.adoc
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-docs

missing newline in Kafka producer configuration documentation
  docs/modules/operation/pages/deep-dive/kafka-producer/configure-kafka.adoc
Due: trigger-coverage, trigger-docs

docs: update page-size configuration in newts.adoc (#8213)
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-docs

NMS-19092: Implement JSON-Based Marshalling and Unmarshalling Support for Event Conf (#8120)
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19227: Handle PR Review Changes.
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEvent.java
Due: trigger-coverage, trigger-build

NMS-19134: implement reviews for unique contraints voilations.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

NMS-19134: Revert dependabot changes
  .github/dependabot.yml
Due: trigger-coverage, trigger-build

NMS-19270: Rest API for SNMP Config (get, lookup, add/remove definition)
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpConfigInfoDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/cm/SnmpConfigRestCmJaxbConfigTestDao.java
  opennms-webapp-rest/src/test/resources/applicationContext-rest-test.xml
  opennms-webapp-rest/src/test/resources/mock-cm-dao.xml
  opennms-webapp-rest/src/test/resources/snmp-config.xml
  opennms-webapp/src/main/java/org/opennms/web/admin/nodeManagement/SnmpConfigServlet.java
Due: trigger-coverage, trigger-build

NMS-19257: Add tables for snmp data collection
  core/schema/src/main/liquibase/36.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
Due: trigger-coverage, trigger-build

NMS-19117 create karaf command to list down missing kafka topics
  core/ipc/common/kafka-shell/src/main/java/org/opennms/core/ipc/common/kafka/shell/KafkaMissingTopics.java
  core/ipc/common/kafka/src/main/java/org/opennms/core/ipc/common/kafka/KafkaTopicValidator.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
Due: trigger-coverage, trigger-build

NMS-19117 minor issue
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
Due: trigger-coverage, trigger-build

NMS-19082 review change
  core/ipc/common/kafka/src/main/java/org/opennms/core/ipc/common/kafka/KafkaTopicValidator.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/KafkaProducerManager.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/NoOpProducer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterFactory.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
Due: trigger-coverage, trigger-build

minor issue
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
Due: trigger-coverage, trigger-build

NMS-19258: Create snmp collections entities , daos, impls and its test cases.
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionProfileDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSourceDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionProfileDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionMibGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionProfileDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionResourceTypeDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSystemDefDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionMibGroup.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionProfile.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSource.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDef.java
Due: trigger-coverage, trigger-build

NMS-19117: Improve logging and add docs when kafka topics can't be created
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcClientFactory.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
  core/ipc/twin/kafka/publisher/src/main/java/org/opennms/core/ipc/twin/kafka/publisher/KafkaTwinPublisher.java
  core/ipc/twin/kafka/subscriber/src/main/java/org/opennms/core/ipc/twin/kafka/subscriber/KafkaTwinSubscriber.java
  docs/modules/deployment/pages/core/message-broker/kafka-topics.adoc
  docs/modules/deployment/pages/core/message-broker/kafka.adoc
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19258: Create snmp collections entities , daos, impls and its test cases.
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionMibGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionProfileDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionResourceTypeDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSystemDefDaoIT.java
Due: trigger-coverage, trigger-build

NMS-19270: Updates per PR review
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
Due: trigger-coverage, trigger-build

NMS-17991: Replace Nexus with new Maven CDN server
  .circleci/settings.xml
Due: trigger-coverage, trigger-build

NMS-17991: Fix outdated Maven coordinates for the one-jar plugin
  features/jmx-config-generator/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-17991: Refactor pom to use source instead of Maven Nexus
  .circleci/scripts/structure-settings.xml
  container/bridge/rest/pom.xml
  container/features/pom.xml
  container/shared/pom.xml
  container/spring-extender/pom.xml
  dependencies/hibernate/pom.xml
  dependencies/jackson1/pom.xml
  dependencies/jasper/pom.xml
  dependencies/javamail/pom.xml
  dependencies/jrobin/pom.xml
  dependencies/jrrd/pom.xml
  dependencies/jrrd2/pom.xml
  dependencies/newts/pom.xml
  dependencies/spring-security-core/pom.xml
  dependencies/spring-security/pom.xml
  dependencies/spring-web/pom.xml
  dependencies/spring/pom.xml
  features/minion/repository/pom.xml
  features/opennms-osgi-core-rest/pom.xml
  features/ticketing/jira-client/pom.xml
  features/vaadin-dashboard/pom.xml
  features/vaadin/pom.xml
  integrations/opennms-vmware/pom.xml
  opennms-base-assembly/pom.xml
  opennms-full-assembly/pom.xml
  runtests.sh
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

NSM-17991: Add third-party license
  container/bridge/rest/src/license/THIRD-PARTY.properties
  container/features/src/license/THIRD-PARTY.properties
  core/ipc/twin/api/src/license/THIRD-PARTY.properties
  core/ipc/twin/memory/src/license/THIRD-PARTY.properties
  core/ipc/twin/shell/src/license/THIRD-PARTY.properties
  features/grpc/exporter/src/license/THIRD-PARTY.properties
  features/opennms-osgi-core-rest/src/license/THIRD-PARTY.properties
  features/reporting/jasper-reports-compiler/src/license/THIRD-PARTY.properties
  features/reporting/jasper-reports-filter/src/license/THIRD-PARTY.properties
  features/zenith-connect/persistence/src/license/THIRD-PARTY.properties
  integrations/opennms-jasper-extensions/src/license/THIRD-PARTY.properties
  integrations/opennms-jasperstudio-extension/src/license/THIRD-PARTY.properties
  opennms-assemblies/minion/src/license/THIRD-PARTY.properties
  opennms-base-assembly/src/license/THIRD-PARTY.properties
  opennms-enterprise-reporting/opennms-reportd/src/license/THIRD-PARTY.properties
  opennms-full-assembly/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-build

NMS-17991: Reformatting settings.xml
  .circleci/settings.xml
Due: trigger-coverage, trigger-build

ix pluginRepository
  pom.xml
Due: trigger-coverage, trigger-build

NMS-17991: Force rebuild Maven cache
  .circleci/main/commands/cache/cache.yml
  .circleci/main/commands/maven/restore-maven-cache.yml
  .circleci/main/commands/maven/save-maven-cache.yml
Due: trigger-coverage, trigger-build

NMS-17991: Enable full build in this branch
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-build

NMS-17991: Add documentation working with a Maven cache
  docs/modules/development/pages/build-from-source.adoc
Due: trigger-coverage, trigger-docs

NMS-17991: Use settings.xml for mvn.cdn in CircleCI
  .circleci/main/commands/executions/run-build.yml
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/commands/executions/run-smoke-tests.yml
  .circleci/main/jobs/build/build-debian.yml
  .circleci/main/jobs/build/build-rpm.yml
  .circleci/main/jobs/tarball-assembly-only.yml
Due: trigger-coverage, trigger-build

NMS-17991: Add warmerge plugin for DEB/RPM package build
  opennms-assemblies/webapp-full/pom.xml
Due: trigger-coverage, trigger-build

replace ossrh with central portal
  container/shared/src/main/resources/etc/org.ops4j.pax.url.mvn.cfg
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

initial scaffolding for data collection UI
  ui/src/components/SnmpDataCollection/SourcesTable.vue
  ui/src/components/SnmpDataCollection/data.ts
  ui/src/containers/SnmpDataCollection.vue
  ui/src/main/router/index.ts
  ui/src/stores/snmpDataCollectionStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

bug fix
  .gitignore
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

test fixes
  ui/tests/components/EventConfiguration/BasicInformation.test.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/components/EventConfiguration/eventConfigXmlValidator.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigEventDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigSourceDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

add dark/light mode to make it easier to look at the page
  index.html
Due: trigger-coverage, trigger-build

print where jrrd and lib is installed
  tools/local_development/dependencies.sh
Due: trigger-coverage, trigger-build

NMS-19362: fix swapped foreign identity fields
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/CollectionSetMapperTest.java
Due: trigger-coverage, trigger-build
