Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-17875: Fixed XSS issues
  features/vaadin-surveillance-views/src/main/java/org/opennms/features/vaadin/surveillanceviews/ui/SurveillanceViewTable.java
  opennms-webapp/src/main/java/org/opennms/web/controller/notification/NotificationFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/nodelabel/NodeLabelChangeServlet.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/admin/nodelabel.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
Due: trigger-coverage, trigger-build

NMS-19573: Review changes
  core/mate/model/pom.xml
  core/mate/model/src/main/java/org/opennms/core/mate/model/CachedEntityScopeProviderImpl.java
  core/mate/model/src/main/resources/META-INF/opennms/applicationContext-entity-scope-provider.xml
  core/mate/model/src/test/java/org/opennms/core/mate/model/CachedEntityScopeProviderIT.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/DefaultThresholdingSetPersister.java
  features/collection/thresholding/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/LocationAwarePollerClientImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
Due: trigger-coverage, trigger-build

Update index.html
  index.html
Due: trigger-coverage, trigger-build

Update publish-docker.yml
  .circleci/main/jobs/publish-docker.yml
Due: trigger-coverage, trigger-build

NMS-19723: Fix stale trapd v1.1 XSD hash in changelog and tripwire test
  features/config/upgrade/src/main/resources/changelog-cm/36.0.0/changelog-cm.xml
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/TrapdSchemaHashTest.java
Due: trigger-coverage, trigger-build

NMS-19723: adminRole is a computed value, need to call '.value'
  ui/src/components/TrapdConfiguration/TrapdAdvancedConfiguration.vue
Due: trigger-coverage, trigger-build, trigger-ui

Help updates for Snmpv3User
  ui/src/components/TrapdConfiguration/SnmpV3UserManagement.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19723: Fix tests after adminRole change. !smoke
  ui/tests/components/TrapdConfiguration/TrapdAdvancedConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20044: Refactor context files to move to daoContext
  container/daemon/src/main/resources/beanRefContext.xml
  features/collection/thresholding/impl/src/main/resources/META-INF/opennms/applicationContext-thresholdingConfigDaos.xml
  features/collection/thresholding/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/collection/thresholding/impl/src/test/resources/META-INF/opennms/applicationContext-thresholdingConfigDaos.xml
  features/measurements/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/measurements/impl/src/main/resources/beanRefContext.xml
  features/measurements/rest/src/test/java/org/opennms/web/rest/v1/MeasurementRestServiceIT.java
  features/measurements/rest/src/test/java/org/opennms/web/rest/v1/MeasurementsRestServiceWithRrdIT.java
  features/reporting/availability/src/main/resources/META-INF/opennms/component-dao.xml
  features/reporting/availability/src/main/resources/META-INF/opennms/component-reporting.xml
  features/reporting/availability/src/main/resources/beanRefContext.xml
  features/reporting/core/src/main/resources/META-INF/opennms/applicationContext-reportingCore.xml
  features/reporting/core/src/main/resources/META-INF/opennms/component-dao.xml
  features/reporting/core/src/main/resources/beanRefContext.xml
  features/reporting/jasper-reports/src/main/resources/META-INF/opennms/component-dao.xml
  features/reporting/jasper-reports/src/main/resources/META-INF/opennms/component-measurement.xml
  features/reporting/jasper-reports/src/main/resources/META-INF/opennms/component-reporting.xml
  features/reporting/jasper-reports/src/main/resources/beanRefContext.xml
  features/reporting/repository/src/main/resources/META-INF/opennms/component-dao.xml
  features/reporting/repository/src/main/resources/beanRefContext.xml
  features/timeformat/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/timeformat/impl/src/main/resources/META-INF/opennms/component-timeformat.xml
  features/timeformat/impl/src/main/resources/beanRefContext.xml
  integrations/opennms-jasper-extensions/src/main/resources/META-INF/opennms/component-dao.xml
  integrations/opennms-jasper-extensions/src/main/resources/META-INF/opennms/component-measurement.xml
  opennms-config-model/src/test/java/org/opennms/netmgt/config/service/KarafWebServiceWiringTest.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/PropertiesGraphDao.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/PropertiesGraphDaoIT.java
  opennms-jetty/src/main/resources/beanRefContext.xml
  opennms-services/src/main/resources/META-INF/opennms/applicationContext-pollerConfigDaos.xml
  opennms-services/src/main/resources/META-INF/opennms/component-dao.xml
  opennms-services/src/main/resources/beanRefContext.xml
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/TimelineRestServiceIT.java
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
  opennms-webapp/src/main/webapp/admin/sched-outages/index.jsp
  opennms-webapp/src/main/webapp/element/availability.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultSurveillanceServiceIntegrationIT.java
Due: trigger-coverage, trigger-build

NMS-20027: address review feedback
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ProportionalSumAggregation.java
  features/flows/itests/pom.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ProportionalSumStrategyComparisonIT.java
Due: trigger-coverage, trigger-build

NMS-19723: Mask credentials for Trapd config Rest API and UI (#8511)
  features/config/test/src/test/java/org/opennms/features/config/service/config/FakeXsdForTest.java
  features/config/upgrade/pom.xml
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfill.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
  features/config/upgrade/src/main/resources/changelog-cm/36.0.0/changelog-cm.xml
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/TrapdSchemaHashTest.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/TrapdSnmpv3UserIdBackfillIT.java
  features/scv/api/src/main/java/org/opennms/features/scv/utils/ScvUtils.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/Snmpv3User.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/trapd/TrapdConfiguration.java
  opennms-config-jaxb/src/main/resources/xsds/trapd-configuration-1.1.xsd
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/trapd/TrapdConfigurationTest.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
  opennms-webapp-rest/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/MaskedCredential.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SecurityHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/TrapdRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/TrapdRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/Snmpv3UserDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/SecurityHelperTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/TrapdRestServiceIT.java
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
  ui/src/components/TrapdConfiguration/SnmpV3UserManagement.vue
  ui/src/components/TrapdConfiguration/TrapdAdvancedConfiguration.vue
  ui/src/lib/securityHelper.ts
  ui/src/lib/snmpValidator.ts
  ui/src/lib/trapdValidator.ts
  ui/src/mappers/trapdConfig.mapper.ts
  ui/src/types/trapConfig.d.ts
  ui/tests/components/TrapdConfiguration/CreateSnmpV3User.test.ts
  ui/tests/components/TrapdConfiguration/TrapdAdvancedConfiguration.test.ts
  ui/tests/lib/trapdValidatorForm.test.ts
  ui/tests/mappers/trapdConfig.mapper.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20027: pass SNMP interface id to the direction script as a parameter
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/common.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_missing.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_others.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_terms.ftl
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ProportionalSumQueryTest.java
Due: trigger-coverage, trigger-build

NMS-20033: Add OnmsIconButton seam component
  ui/src/components/Common/OnmsIconButton.vue
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Device/DCBModalConfigDiffContent.vue
  ui/src/components/Device/DCBModalViewHistoryContent.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/components/FileEditor/FileSidebar.vue
  ui/src/components/Logs/Editor.vue
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ColumnSelectionDrawer.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodeDownloadDropdown.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SCV/SCVAttribute.vue
  ui/src/components/SCV/ScvInputIcon.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileSourcesTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
  ui/src/components/TrapdConfiguration/SnmpV3UserManagement.vue
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
  ui/src/components/ZenithConnect/ZenithConnectView.vue
  ui/tests/components/Common/OnmsIconButton.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Remove stale feather references
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/list.jsp
Due: trigger-coverage, trigger-build

NMS-20046: Handle Poller/Collect RPC executor shutdown (#8646)
  features/collection/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-collector.xml
  features/collection/client-rpc/src/test/java/org/opennms/netmgt/collection/client/rpc/CollectorExecutorLifecycleTest.java
  features/poller/client-rpc/src/main/resources/META-INF/opennms/applicationContext-rpc-poller.xml
  features/poller/client-rpc/src/test/java/org/opennms/netmgt/poller/client/rpc/PollerExecutorLifecycleTest.java
Due: trigger-coverage, trigger-build

fix(ui): restore spacing lost with orphaned FeatherDS utility classes (NMS-20033)
  ui/src/components/Configuration/ConfigurationCronSelector.vue
  ui/src/components/Configuration/ConfigurationThreadPools.vue
  ui/src/components/Configuration/ProvisionDForm.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20047: tick pom to newts 3.0.1 to pick up newts fix
  pom.xml
Due: trigger-coverage, trigger-build

fix(ui): resolve Leaflet map popup, overlay, layers, Esc, keep-alive, and resize issues (NMS-20033)
  ui/src/components/Map/LeafletMap.vue
Due: trigger-coverage, trigger-build, trigger-ui

style(ui): reduce map control top inset from 80px to 2em (NMS-20033)
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/SeverityFilter.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20044: Add test to validate OpenNMS running without Karaf
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/java/org/opennms/smoketest/OpenNMSWithoutKarafIT.java
Due: trigger-coverage, trigger-build

Newts 3.0.1 depends on newer Guava, so bump it to 33.3.1 and consolidate the guava*Version tags down
  core/grpc/osgi/pom.xml
  core/ipc/grpc/itests/pom.xml
  core/ipc/twin/grpc/itests/pom.xml
  core/ipc/twin/kafka/itests/pom.xml
  features/scv/dominion-grpc-impl/pom.xml
  features/telemetry/protocols/openconfig/itests/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-19573: More review changes
  core/mate/model/src/main/java/org/opennms/core/mate/model/CachedEntityScopeProviderImpl.java
  core/mate/model/src/main/resources/META-INF/opennms/applicationContext-entity-scope-provider.xml
  core/mate/model/src/test/java/org/opennms/core/mate/model/CachedEntityScopeProviderIT.java
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19961: Prevent old bcprov-jdk18on version from being included
  features/minion/core/repository/src/assembly/repo.xml
  features/minion/repository/src/assembly/repo.xml
Due: trigger-coverage, trigger-build

NMS-20027: run the drift-vs-Painless comparison IT by default
  features/flows/itests/pom.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ProportionalSumStrategyComparisonIT.java
Due: trigger-coverage, trigger-build

NMS-20047: newts delete() fix (#8655)
  core/grpc/osgi/pom.xml
  core/ipc/grpc/itests/pom.xml
  core/ipc/twin/grpc/itests/pom.xml
  core/ipc/twin/kafka/itests/pom.xml
  features/scv/dominion-grpc-impl/pom.xml
  features/telemetry/protocols/openconfig/itests/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

clean up rpm deb package creation
  .circleci/main/jobs/build/build-debian.yml
  .circleci/main/jobs/build/build-package-assemblies.yml
  .circleci/main/jobs/build/build-rpm.yml
  .circleci/main/jobs/build/build.index
  .circleci/main/workflows/workflows_v2.json
  Makefile
  PACKAGING.md
  bin/pkg-common.sh
  makedeb.sh
  makerpm.sh
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-build, trigger-docs

Update trivy logic
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

force a build
  .circleci/epoch
Due: trigger-coverage, trigger-build

Update base images
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
  smoke-test/src/main/java/org/opennms/smoketest/containers/MockCloudContainer.java
Due: trigger-coverage, trigger-build

!debs !rpms
  .circleci/epoch
Due: trigger-coverage, trigger-build

Revert "!debs !rpms"
  .circleci/epoch
Due: trigger-coverage, trigger-build

WIP optimize RPM builds
  makerpm.sh
  tools/packages/minion/minion.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-build

test
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-build

oh fun
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

oh fun round 2
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

NMS-20027: treat NaN as equal in the strategy comparison
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ProportionalSumStrategyComparisonIT.java
Due: trigger-coverage, trigger-build

fix(ui): align and size-normalize DCB action-button icons (NMS-20033)
  ui/src/components/Device/DCBTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
