Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

style changes for card on node table (#8174)
  ui/src/containers/Nodes.vue
Due: trigger-coverage, trigger-build, trigger-ui

Autocomplete for vendors list on release 35.x (#8167)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-webapp/src/main/java/org/opennms/web/controller/SendEventController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/sendevent.jsp
Due: trigger-coverage, trigger-build

reset to 20 as default
  ui/src/stores/nodeStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19092: Handle PR Review Changes.
  features/config/upgrade/src/main/java/liquibase/core/schema/change/EventConfChange.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/EventConfChange.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseEventConfUpgrader.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseUpgrader.java
  features/config/upgrade/src/main/resources/changelog-eventconf/35.0.0/changelog.xml
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
Due: trigger-coverage, trigger-build

smoke test fix
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MetadataPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Due: trigger-coverage, trigger-build

NMS-18532: Add doc for OpenConfig on Minion feature
  docs/modules/reference/pages/telemetryd/protocols/openconfig.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-19099: Sort events by onms severiy order
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

new changes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/containers/EventConfiguration.vue
Due: trigger-coverage, trigger-build, trigger-ui

test fixes
  ui/tests/components/EventConfiguration/BasicInformation.test.ts
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-16237: add support for RFC2348 "TFTP blksize" to the tftp server implementation
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
  pom.xml
Due: trigger-coverage, trigger-build

Fix test
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
Due: trigger-coverage, trigger-build

missing imports
  smoke-test/src/test/java/org/opennms/smoketest/MetadataPageIT.java
Due: trigger-coverage, trigger-build

Update .nightly
  .nightly
Due: trigger-coverage, trigger-build

Update dependabot.yml
  .github/dependabot.yml
Due: trigger-coverage, trigger-build

clean up branch references
  .github/dependabot.yml
Due: trigger-coverage, trigger-build

Update whatsnew.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

fixes
  ui/src/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.vue
  ui/src/containers/EventConfiguration.vue
  ui/tests/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.test.ts
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/containers/EventConfiguration.vue
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

OIA-59: Upgrade integration api
  pom.xml
Due: trigger-coverage, trigger-build

Update features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
Due: trigger-coverage, trigger-build

formatting
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
Due: trigger-coverage, trigger-build

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

Check state of previously opened socket before opening a new socket on the old port
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
Due: trigger-coverage, trigger-build

also remove generated filenamesuffix token
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-build

NMS-19082 add end to end test case
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
Due: trigger-coverage, trigger-build

NMS-19150: Migrate snmp-config.xml to CM
  core/test-api/services/src/main/java/org/opennms/netmgt/config/mock/MockSnmpPeerFactory.java
  core/test-api/services/src/main/resources/META-INF/opennms/applicationContext-mockSnmpPeerFactory.xml
  core/test-api/snmp/src/main/java/org/opennms/core/test/snmp/ProxySnmpAgentConfigFactory.java
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  features/config/test/src/test/java/org/opennms/features/config/convert/SnmpConfigTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/SnmpConfigCmJaxbConfigDaoIT.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/SnmpConfigCmJaxbConfigTestDao.java
  features/config/test/src/test/resources/mock-dao.xml
  features/config/test/src/test/resources/snmp-config.xml
  features/config/upgrade/src/main/resources/changelog-cm/36.0.0/changelog-cm.xml
  opennms-alarms/snmptrap-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapHelperTest.java
  opennms-alarms/snmptrap-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapNorthbounderTest.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Range.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpConfigDao.java
  opennms-dao/pom.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultSnmpConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/callback/SnmpConfigConfigurationValidationCallback.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/DistPollerDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/jaxb/callback/SnmpConfigValidationCallbackTest.java
  opennms-provision/opennms-provisiond/pom.xml
  opennms-provision/opennms-provisiond/src/test/resources/importerServiceTest-snmp-config.xml
  opennms-provision/opennms-provisiond/src/test/resources/importerServiceTest.xml
  opennms-webapp/src/main/java/org/opennms/web/admin/nodeManagement/SnmpConfigServlet.java
Due: trigger-coverage, trigger-build

comments resolved
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MetadataPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Due: trigger-coverage, trigger-build

NMS-19082 review change
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/KafkaProducerManager.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersisterFactory.java
Due: trigger-coverage, trigger-build

NMS-18532: Add doc for OpenConfig on Minion feature (#8183)
  docs/modules/reference/pages/telemetryd/protocols/openconfig.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-19130: Add docs for event conf to DB feature (#8180)
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

change
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

Release notes for 35.0.0
  docs/antora.yml
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Due: trigger-coverage, trigger-build, trigger-docs

update debian changelogs
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-build

new changes for severity and status sorting also their test coverage
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

lint fixes
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19092: Handle PR Review Changes.
  core/schema/pom.xml
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfChange.java
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlGenerator.java
  core/schema/src/main/java/liquibase/ext/opennms/eventconf/EventConfSqlStatement.java
  core/schema/src/main/liquibase/35.0.0/changelog.xml
  core/schema/src/main/resources/META-INF/liquibase-ext.xsd
  core/xml/pom.xml
  core/xml/src/main/java/org/opennms/core/xml/JsonUtils.java
  features/config/upgrade/pom.xml
  features/config/upgrade/src/main/java/liquibase/core/schema/change/EventConfChange.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseEventConfUpgrader.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/UpgradeConfigService.java
  features/config/upgrade/src/main/resources/changelog-eventconf/35.0.0/changelog.xml
  features/config/upgrade/src/main/resources/changelog-eventconf/changelog.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/json/JsonUtilsTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

changes in smoke test of webElement
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Due: trigger-coverage, trigger-build

NMS-19223: add node message to ResponseTimeResource messages
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/model/CollectionSetProtos.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/model/OpennmsModelProtos.java
  features/kafka/producer/src/main/proto/collectionset.proto
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/CollectionSetMapperTest.java
Due: trigger-coverage, trigger-build
