Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19162: Use proper logging and make default as WARN
  features/enlinkd/tests/src/test/resources/log4j2-test.xml
Due: trigger-coverage, trigger-build

NMS-19614: run tests
  .circleci/build-triggers.override.json
  .circleci/main/jobs/tests/integration/integration-test.yml
Due: trigger-coverage, trigger-build

NMS-19614: Rerun failed tests 2 times
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
Due: trigger-coverage, trigger-build

NMS-19614: re run only once and few more updates
  .circleci/build-triggers.override.json
  .circleci/main/jobs/tests/integration/integration-test-with-coverage.yml
  .circleci/main/jobs/tests/integration/integration-test.yml
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
Due: trigger-coverage, trigger-build

NMS-19614: Rerun failed tests in the same workflow
  .circleci/main/commands/executions/run-smoke-tests.yml
  .circleci/main/jobs/tests/integration/integration-test-with-coverage.yml
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-build

NMS-19614: Update script
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-build

adjusted docs stating docker-compose to docker compose
  docs/modules/deployment/pages/core/docker/core.adoc
  docs/modules/deployment/pages/core/docker/initialize.adoc
  docs/modules/deployment/pages/core/docker/postgresql.adoc
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/minion/docker/secure-karaf.adoc
  docs/modules/reference/pages/configuration/minion-confd/test-confd.adoc
Due: trigger-coverage, trigger-docs

parallel tweaks
  .circleci/main/jobs/tarball-assembly-only.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
  .circleci/pyscripts/generate_main.py
Due: trigger-coverage, trigger-build

reduce redundant calls
  .circleci/main/commands/generic/generic.yml
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

test coverage
  ui/src/components/SCV/ScvInputIcon.vue
  ui/src/components/TrapConfiguration/CreateSnmpV3User.vue
  ui/tests/components/TrapConfiguration/CreateSnmpV3User.test.ts
  ui/tests/components/TrapConfiguration/GeneralConfiguration.test.ts
  ui/tests/components/TrapConfiguration/SnmpV3UserManagement.test.ts
  ui/tests/containers/TrapConfiguration.test.ts
  ui/tests/lib/trapdValidator.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

tweak smoke tests
  .circleci/main/commands/executions/run-smoke-tests.yml
Due: trigger-coverage, trigger-build

don't hide flaky test failures, even if they pass on re-run
  .circleci/main/commands/executions/run-integration-tests.yml
  .circleci/main/commands/executions/run-smoke-tests.yml
  .circleci/main/jobs/tests/smoke/smoke-test-flaky.yml
  .circleci/main/jobs/tests/smoke/smoke-test.index
  .circleci/main/workflows/workflows_v2.json
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-build

NMS-19603: Handle review comments
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19644: Expose an SnmpInterfaceDao in GraphML infopanel context
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/info/GenericInfoPanelItemProvider.java
  features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/info/GenericInfoPanelItemProviderTest.java
Due: trigger-coverage, trigger-build

NMS-19644: Also xpose an ResourceDao in GraphML infopanel context
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/info/GenericInfoPanelItemProvider.java
  features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/info/GenericInfoPanelItemProviderTest.java
Due: trigger-coverage, trigger-build

Update features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-build

Fix missing mocks
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/info/GenericInfoPanelItemProviderTest.java
Due: trigger-coverage, trigger-build

feat: add pluggable TSS backend support to smoke test infrastructure
  smoke-test/README.md
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/PrometheusContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/ThanosQueryContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/ThanosReceiveContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/TimeSeriesStrategy.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/CortexTestUtils.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/TimeSeriesValidationUtils.java
  smoke-test/src/main/resources/prometheus.yml
  smoke-test/src/test/java/org/opennms/smoketest/CortexTssPluginIT.java
  smoke-test/src/test/java/org/opennms/smoketest/CortexTssTimeseriesPluginIT.java
Due: trigger-coverage, trigger-build

user updates changes
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TrapdConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/TrapdRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/TrapdRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/TrapdRestServiceIT.java
Due: trigger-coverage, trigger-build

scv changes and test coverage
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/TrapConfiguration/CreateSnmpV3User.vue
  ui/src/components/TrapConfiguration/Dialog/DeleteUserConfirmationDialog.vue
  ui/src/components/TrapConfiguration/GeneralConfiguration.vue
  ui/src/components/TrapConfiguration/SnmpV3UserManagement.vue
  ui/src/services/trapdConfigurationService.ts
  ui/src/stores/trapConfigStore.ts
  ui/src/types/trapConfig.d.ts
  ui/tests/components/TrapConfiguration/CreateSnmpV3User.test.ts
  ui/tests/components/TrapConfiguration/GeneralConfiguration.test.ts
  ui/tests/components/TrapConfiguration/SnmpV3UserManagement.test.ts
  ui/tests/stores/trapConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19176 : generate events rest point exposed.
  features/mib-compiler/rest/src/main/java/org/opennms/features/mibcompiler/rest/MibCompilerRestService.java
  features/mib-compiler/rest/src/main/java/org/opennms/features/mibcompiler/rest/internal/MibCompilerRestServiceImpl.java
  features/mib-compiler/rest/src/main/java/org/opennms/features/mibcompiler/rest/internal/MibCompilerServiceUtil.java
  features/mib-compiler/rest/src/main/java/org/opennms/features/mibcompiler/rest/model/MibCompilerGenerateEventsRequest.java
  features/mib-compiler/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/mib-compiler/rest/src/test/java/org/opennms/features/mibcompiler/rest/internal/MibCompilerRestServiceImplIT.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
Due: trigger-coverage, trigger-build

unused code removed
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultTrapdConfigDao.java
Due: trigger-coverage, trigger-build

test build
  .circleci/build-triggers.override.json
  .circleci/main/commands/executions/run-build.yml
  bin/functions.pl
Due: trigger-coverage, trigger-build

menu item
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
Due: trigger-coverage, trigger-build

route fix
  ui/src/main/router/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

test fixes
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/tests/components/TrapConfiguration/CreateSnmpV3User.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

naming fixes
  ui/src/components/TrapConfiguration/Drawer/SearchExistingCredential.vue
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
  ui/src/components/TrapdConfiguration/Dialog/DeleteUserConfirmationDialog.vue
  ui/src/components/TrapdConfiguration/GeneralConfiguration.vue
  ui/src/components/TrapdConfiguration/SnmpV3UserManagement.vue
  ui/src/containers/TrapdConfiguration.vue
  ui/src/main/router/index.ts
  ui/src/stores/trapdConfigStore.ts
  ui/tests/components/TrapdConfiguration/CreateSnmpV3User.test.ts
  ui/tests/components/TrapdConfiguration/GeneralConfiguration.test.ts
  ui/tests/components/TrapdConfiguration/SnmpV3UserManagement.test.ts
  ui/tests/containers/TrapdConfiguration.test.ts
  ui/tests/stores/trapdConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

unused imports
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/TrapdRestApi.java
Due: trigger-coverage, trigger-build

disable flaky test job for now
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-build

delete build trigger file
  .circleci/example-build-triggers.override.json
Due: trigger-coverage, trigger-build

reduce the parallelism to 8 across smoke tests
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
  .circleci/main/jobs/tests/smoke/smoke-test-sentinel.yml
Due: trigger-coverage, trigger-build

revert core and minion parallelism back to 10 !smoke
  .circleci/main/jobs/tests/smoke/smoke-test-core.yml
  .circleci/main/jobs/tests/smoke/smoke-test-minion.yml
Due: trigger-coverage, trigger-build

NMS-19623: Mask secrets 'toString()' output in SNMP Config model classes
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfigVisitor.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/snmp/SnmpConfigTest.java
Due: trigger-coverage, trigger-build

NMS-19623: Remove 'ValidationException' reference
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
Due: trigger-coverage, trigger-build

NMS-19623: Restrict SNMP Config Rest API to Admin and Provision roles
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build

set implicit wait to 0 and then set it back after we are done.
  smoke-test/src/main/java/org/opennms/smoketest/ui/framework/Element.java
Due: trigger-coverage, trigger-build

more updates
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  ui/src/composables/useRole.ts
  ui/src/main/router/index.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
Due: trigger-coverage, trigger-build

force a build !smoke
  .circleci/epoch
Due: trigger-coverage, trigger-build
