Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-20288: destination path editor layout — buttons below their rows, spacing
  ui/src/components/Notifications/DestinationPathEditorPanel.vue
  ui/src/components/Notifications/TargetRowEditor.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20270: Improve re-ordering UI
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/stores/eventConfigDetailStore.ts
  ui/tests/components/Common/StagedReorderList.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/stores/eventConfigDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20388: Track collectlastgood/collectlastfail on ifservices
  core/schema/src/main/liquibase/36.0.5/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  docs/modules/reference/pages/configuration/filters/parameters.adoc
  features/rest/model/src/main/java/org/opennms/web/rest/model/v2/MonitoredServiceDTO.java
  opennms-config/src/main/resources/database-schema.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoredServiceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoredServiceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/UnimplementedMonitoredServiceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AbstractDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoredServiceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/MonitoredServiceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredService.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectableServiceTest.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectdIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsMonitoredServiceResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IfServiceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeMonitoredServiceRestService.java
  opennms-webapp-rest/src/test/resources/v1/outages.json
  opennms-webapp/src/main/java/org/opennms/web/element/Service.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20288: Path Outages tab — help dialog, buttons below fields, icon row action
  ui/src/components/Notifications/PathOutagesTab.vue
Due: trigger-coverage, trigger-build, trigger-ui

Update sysprop docs
  docs/modules/reference/pages/configuration/system-properties.adoc
Due: trigger-coverage, trigger-docs

NMS-18978: Don't load ui-components menu JS on login and password gate; fix wallpaper edge gap (#8900)
  opennms-webapp/src/main/webapp/account/selfService/passwordGate.jsp
  opennms-webapp/src/main/webapp/images/wallpapers/background_dark.png
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/login.jsp
  smoke-test/src/test/java/org/opennms/smoketest/WebappIT.java
Due: trigger-coverage, trigger-build

NMS-20288: move spinner/snackbar out of notification services and stores
  ui/src/components/Notifications/DestinationPathEditorPanel.vue
  ui/src/components/Notifications/DestinationPathsTable.vue
  ui/src/components/Notifications/EventNotificationEditorPanel.vue
  ui/src/components/Notifications/EventNotificationsTable.vue
  ui/src/components/Notifications/NotificationQueriesCard.vue
  ui/src/components/Notifications/NotificationsConfigTabs.vue
  ui/src/components/Notifications/NotificationsTable.vue
  ui/src/components/Notifications/PathOutagesTab.vue
  ui/src/composables/useActionFeedback.ts
  ui/src/containers/Notifications.vue
  ui/src/services/notificationConfigService.ts
  ui/src/services/notificationService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/stores/notificationsStore.ts
  ui/tests/services/notificationConfigService.test.ts
  ui/tests/stores/notificationConfigStore.test.ts
  ui/tests/stores/notificationsStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: document the useActionFeedback pattern; keep spinners/snackbars out of services and stores
  ui/CLAUDE.md
Due: trigger-coverage, trigger-build, trigger-ui

Addressing the comments
  docs/modules/reference/pages/configuration/core-docker.adoc
  opennms-container/core/ENVIRONMENT_VARIABLES.md
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20288: path outage preview wording; General tab hint at normal size
  ui/src/components/Notifications/NotificationsConfigTabs.vue
  ui/src/components/Notifications/PathOutagesTab.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: add "Notifications Config (Preview)" menu item
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

Fix OnmsOutageTest.testMarshalJson test payload with the collectLastGood/collectLastFail fields
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsOutageTest.java
Due: trigger-coverage, trigger-build

Addressing the comments
  docs/modules/reference/pages/configuration/sentinel-features.adoc
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/container-fs/entrypoint.sh
  opennms-container/sentinel/container-fs/etc/org.opennms.features.flows.persistence.elastic.cfg
  opennms-container/sentinel/container-fs/etc/org.opennms.sentinel.controller.cfg
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20288: tests for useActionFeedback, NotificationQueriesCard and the event notification editor
  ui/tests/components/Notifications/EventNotificationEditorPanel.test.ts
  ui/tests/components/Notifications/NotificationQueriesCard.test.ts
  ui/tests/composables/useActionFeedback.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19837: Review changes #1
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ThreshdConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ThreshdConfigDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/ThreshdPackageDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ThreshdConfigRestServiceTest.java
Due: trigger-coverage, trigger-build

NMS-19837: Review changes #2
  ui/src/components/ThresholdConfiguration/Package/PackageServiceDrawer.vue
  ui/src/components/ThresholdConfiguration/Package/PackageServicesTable.vue
  ui/src/containers/ThresholdPackageDetail.vue
  ui/src/stores/threshdConfigurationStore.ts
  ui/tests/stores/threshdConfigurationStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19837: Review changes #3
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionDrawer.vue
  ui/src/components/ThresholdConfiguration/Group/ThresholdDefinitionTable.vue
  ui/src/services/thresholdConfigurationService.ts
  ui/src/stores/threshdConfigurationStore.ts
  ui/src/stores/thresholdGroupStore.ts
  ui/src/types/validation.ts
  ui/tests/components/ThresholdConfiguration/ThresholdDefinitionTable.test.ts
  ui/tests/services/thresholdConfigurationService.test.ts
  ui/tests/stores/threshdConfigurationStore.test.ts
  ui/tests/stores/thresholdGroupStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19837: Review changes #4
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ThresholdUeiService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ThresholdingConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ThresholdUeiServiceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ThresholdingConfigRestServiceTest.java
Due: trigger-coverage, trigger-build

Map collectlastgood/collectlastfail as non-updatable so entity flushes cannot overwrite collectd's updates
  opennms-dao/src/test/java/org/opennms/netmgt/dao/MonitoredServiceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredService.java
Due: trigger-coverage, trigger-build

drop the DTO copy and protect collectlastgood/collectlastfail on the form update path
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IfServiceRestService.java
Due: trigger-coverage, trigger-build

Retry the collect timestamp write with a fresh key when the cached ifservices row is gone
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectableServiceTest.java
Due: trigger-coverage, trigger-build

Split the ifservices collect timestamp changeset per column
  core/schema/src/main/liquibase/36.0.5/changelog.xml
Due: trigger-coverage, trigger-build

NMS-20375: Stop the footer overflowing the page by 1rem
  ui/src/components/Layout/Footer.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Group the view settings and background, with tips for the details
  ui/src/components/Topology/TopologyInfoTip.vue
  ui/src/components/Topology/TopologyInspector.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Keep the Background tool and a selection from overlapping
  ui/src/stores/topologyStore.ts
  ui/tests/stores/topologyStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20382: Evaluate Kafka producer filter rules in a restricted SpEL context
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
Due: trigger-coverage, trigger-build

NMS-20382: Evaluate collection and shell filter expressions in a restricted SpEL context
  features/collection/api/src/main/java/org/opennms/netmgt/collection/support/PersistRegexSelectorStrategy.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/shell/EvaluateFilter.java
  features/prometheus-collector/src/main/java/org/opennms/netmgt/collectd/prometheus/PrometheusCollector.java
  features/wsman/src/main/java/org/opennms/core/wsman/utils/ResponseHandlingUtils.java
  features/wsman/src/main/java/org/opennms/netmgt/dao/jaxb/WSManDataCollectionConfigDaoJaxb.java
Due: trigger-coverage, trigger-build

NMS-20352: addCallback now sends the cached-results callback through a new notifyCallback
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultFilterWatcherTest.java
Due: trigger-coverage, trigger-build

NMS-20270: Handle review comments
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfStartupLoadBenchmarkIT.java
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/tests/components/Common/StagedReorderList.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: address review — stale loads, bell re-click, query bar highlight
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Notifications/NotificationQueriesCard.vue
  ui/src/containers/Notifications.vue
  ui/src/lib/navigation.ts
  ui/src/stores/notificationsStore.ts
  ui/tests/components/Notifications/NotificationQueriesCard.test.ts
  ui/tests/lib/navigation.test.ts
  ui/tests/stores/notificationsStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20288: "View details for ID:" as a plain label with ID validation
  ui/src/components/Notifications/NotificationQueriesCard.vue
  ui/src/components/Notifications/NotificationsHelpDialog.vue
  ui/tests/components/Notifications/NotificationQueriesCard.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20375: Bug Fixes for new Topology Preview UI (#8899)
  ui/src/components/Layout/Footer.vue
  ui/src/components/Topology/TopologyCanvas.vue
  ui/src/containers/Topology.vue
  ui/src/main/App.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20359: Updated Karaf to version 4.4.11
  container/pax-url-aether-patch/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20378: Updated freemarker version
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20353: Enable compilation with JDK25
  .circleci/pyscripts/create_jira_issues.py
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
  bin/functions.pl
  debian/control
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
  docs/modules/deployment/pages/minion/centos-rhel9/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/deployment/pages/upgrade/restore/debian-ubuntu/restore-debian-ubuntu.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
  opennms-base-assembly/src/main/filtered/bin/runjava
  pom.xml
  tools/packages/minion/minion.spec
  tools/packages/opennms/jdk.spec
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20353: Fixed Sentinel and Minion
  container/karaf-jaas-subject-patch/pom.xml
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/jaas/boot/principal/InheritableSubject.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/jaas/command/WhoamiCommand.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/management/internal/BulkRequestContext.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/impl/console/osgi/secured/SecuredSessionFactoryImpl.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/security/impl/SecuredCommandProcessorImpl.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/support/ShellUtil.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/util/ShellUtil.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/util/jaas/JaasHelper.java
  container/karaf/pom.xml
  container/pom.xml
  container/shared/pom.xml
  features/container/sentinel/pom.xml
Due: trigger-coverage, trigger-build

NMS-20353: Fixed build images
  .circleci/main/executors.yml
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
  smoke-test/src/main/java/org/opennms/smoketest/containers/MockCloudContainer.java
Due: trigger-coverage, trigger-build

NMS-20353: Fixing more smoke-tests
  container/karaf-jaas-subject-patch/pom.xml
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/ssh/ShellCommand.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/ssh/ShellFactoryImpl.java
Due: trigger-coverage, trigger-build

NMS-20353: Updated groovy version
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

NMS-20353: Fixed SSH login to Karaf shell
  container/karaf-jaas-subject-patch/pom.xml
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/ssh/KarafJaasAuthenticator.java
Due: trigger-coverage, trigger-build
