Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-19490: Add/Update system defs and integrate rest endpoint (#8268)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceTypeDto.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDefDto.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollectionDetail/constants.ts
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19451: Fixed docs
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/restore/debian-ubuntu/restore-debian-ubuntu.adoc
  opennms-base-assembly/src/main/filtered/bin/runjava
Due: trigger-coverage, trigger-build, trigger-docs

new changes
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/lib/constants.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19489 fix realtime graphing issue
  features/nrtg/web/src/main/java/org/opennms/nrtg/web/internal/NrtController.java
Due: trigger-coverage, trigger-build

NMS-19456: SNMP Config upload/download Rest API
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/snmp/SnmpConfigTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/SnmpInfo.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19456: Updates as per PR review
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.bad-format.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.bad-format.xml
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.invalid.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.invalid.xml
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.valid.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.valid.xml
Due: trigger-coverage, trigger-build

clean up commented steps
  .circleci/main/commands/cache/cache.yml
  .circleci/main/jobs/create-merge-foundation-branch.yml
  .circleci/main/jobs/create-merge-meridian-branch.yml
  .circleci/main/jobs/merge-foundation-branch.yml
  .circleci/main/jobs/merge-poweredby-branch.yml
Due: trigger-coverage, trigger-build

NMS-19403: Fix prometheus metrics export format
  opennms-container/core/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
  opennms-container/minion/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
  opennms-container/minion/container-fs/prom-jmx-default-config.yaml
Due: trigger-coverage, trigger-build

NMS-19486: Expose rest end points to delete list of snmpCollectionSources | Expose services to delete list of mibgroups,resourcetypes and systemdefs
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSourceDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpDataCollectionMibGroupDeletePayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpDataCollectionResourceTypeDeletePayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpDataCollectionSourceDeletePayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpDataCollectionSystemDefDeletePayload.java
Due: trigger-coverage, trigger-build

changes for add/update mib groups
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupForm.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollectionSourceImport/snmpDataCollectionSourceXmlValidator.ts
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/lib/constants.ts
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes as per Copilot review
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/SnmpInfo.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
Due: trigger-coverage, trigger-build

NMS-19403: Fix device metrics that are not exposed on Core
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapListenerMetrics.java
Due: trigger-coverage, trigger-build

NMS-19489 review
  features/nrtg/web/src/main/java/org/opennms/nrtg/web/internal/NrtController.java
Due: trigger-coverage, trigger-build

NMS-19402: Wire up traplistenermetrics on OpenNMS side
  features/events/traps/src/main/java/org/opennms/netmgt/trapd/TrapListenerMetrics.java
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
Due: trigger-coverage, trigger-build

Remove unneeded event, other fix
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
Due: trigger-coverage, trigger-build

move the creation of vuln_ids to after we filter the list
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

clean up the horizon jobs
  .circleci/main/jobs/oci/horizon-image-single-arch-linux-amd64-trivy.yml
Due: trigger-coverage, trigger-build

apply recommendation
  .circleci/main/commands/oci/trivy-analyze.yml
Due: trigger-coverage, trigger-build

remove unneeded event
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
Due: trigger-coverage, trigger-build

NMS-19456: SNMP Config upload/download Rest API (#8278)
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/snmp/SnmpConfigTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/SnmpInfo.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.bad-format.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.bad-format.xml
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.invalid.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.invalid.xml
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.valid.json
  opennms-webapp-rest/src/test/resources/SNMP-CONF/snmp-config.valid.xml
Due: trigger-coverage, trigger-build

improving the logic for creating jira issues
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

test coverage
  ui/tests/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupForm.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

switch the logic of when we add to existing issues
  .circleci/pyscripts/create_jira_issues.py
Due: trigger-coverage, trigger-build

fix test coverage
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

vendor logic moved to backend
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/tests/components/EventConfigEventCreate/BasicInformation.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

comments resolved.
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.vue
  ui/tests/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19486: integration test cases.
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionMibGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionResourceTypeDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSourceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSystemDefDaoIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpDataCollectionResourceTypeDeletePayload.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19503: Add/Update mib groups and integrate endpoint (#8281)
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupForm.vue
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/components/SnmpDataCollectionDetail/constants.ts
  ui/src/components/SnmpDataCollectionSourceImport/snmpDataCollectionSourceXmlValidator.ts
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/lib/constants.ts
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/SystemDefinitionCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupForm.test.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19245: Update uglify-js in foundation2023
  core/web-assets/src/main/assets/static/legacy/leaflet.markercluster/package.json
  core/web-assets/src/main/assets/static/legacy/leaflet/package.json
Due: trigger-coverage, trigger-build

initial changes
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/ResourceTypeParameterDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypeForm.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/lib/constants.ts
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Test coverage
  ui/src/components/SnmpDataCollectionDetail/Drawer/ResourceTypeParameterDrawer.vue
  ui/tests/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/ResourceTypeParameterDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypeForm.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19511: Bumped jinjava version
  features/topology-map/org.opennms.features.topology.app/pom.xml
Due: trigger-coverage, trigger-build

NMS-19491: Add/Update resource types and integrate rest endpoint (#8283)
  ui/src/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/Drawer/ResourceTypeParameterDrawer.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypeForm.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/lib/constants.ts
  ui/src/mappers/snmpDataCollection.mapper.ts
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/MibObjectCreationDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/Drawer/ResourceTypeParameterDrawer.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypeForm.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
  ui/tests/stores/snmpDataCollectionDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

new change
  ui/src/components/SnmpDataCollectionDetail/Dialog/DeleteConfirmationDialog.vue
  ui/src/services/snmpDataCollectionService.ts
Due: trigger-coverage, trigger-build, trigger-ui

test fixes
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

NMS-19506: SNMP Config UI for upload and download
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpConfigDao.java
  ui/src/components/Common/ConfirmationDialog.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/components/SnmpConfiguration/SnmpConfigUploadDownloadTab.vue
  ui/src/composables/useDownload.ts
  ui/src/services/snmpConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix loadConfig usage
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultSnmpConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/callback/ConfigurationReloadEventCallback.java
Due: trigger-coverage, trigger-build

DOCS: more detailed embedded ActiveMQ tuning
  docs/modules/reference/pages/configuration/tuning-activemq.adoc
Due: trigger-coverage, trigger-docs

stray character
  docs/modules/reference/pages/configuration/tuning-activemq.adoc
Due: trigger-coverage, trigger-docs

NMS-19507: Use dropdowns for some SNMP config items, move SCV icon outside of FeatherInput
  ui/src/components/SCV/ScvInputIcon.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigPairedFieldInputs.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/containers/SnmpConfiguration.vue
  ui/src/lib/snmpValidator.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.ts
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
