Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Test fixes
  ui/tests/containers/EventConfigurationDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/containers/EventConfigurationDetail.vue
  ui/src/mappers/eventConfig.mapper.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/MaskVarbinds.vue
  ui/src/components/EventConfigEventCreate/constants.ts
  ui/src/components/EventConfigEventCreate/eventValidator.ts
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
Due: trigger-coverage, trigger-build, trigger-ui

changes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
Due: trigger-coverage, trigger-build, trigger-ui

test fix
  ui/tests/components/EventConfiguration/BasicInformation.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19060: Add Centos 10 installation docs
  docs/modules/deployment/pages/core/centos/adoptium.adoc
  docs/modules/deployment/pages/core/centos10/install-core.adoc
  docs/modules/deployment/pages/core/centos10/postgresql.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel10.adoc
Due: trigger-coverage, trigger-docs

Added workaround for SHA1 issue
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel10.adoc
Due: trigger-coverage, trigger-docs

Update docs/modules/deployment/pages/core/centos/adoptium.adoc
  docs/modules/deployment/pages/core/centos/adoptium.adoc
Due: trigger-coverage, trigger-docs

Added rhel10 and centos10 into supported OS
  docs/antora.yml
  docs/modules/deployment/pages/core/system-requirements.adoc
Due: trigger-coverage, trigger-docs

Add Prometheus collector XSD dependency to pom.xml
  opennms-assemblies/xsds/pom.xml
Due: trigger-coverage, trigger-build

NMS-19147: Review changes
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/JsonPropertyExtender.java
Due: trigger-coverage, trigger-build

upgrade pkg f vitest from 2 to 4 and resolved test cases
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
  ui/tests/components/EventConfiguration/BasicInformation.test.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/components/EventConfiguration/eventConfigXmlValidator.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigEventDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/DeleteEventConfigSourceDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

mapper changes and test fixes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/tests/components/EventConfiguration/BasicInformation.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Update date-fns to v4 in /ui
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19134: Fixed reviews comments.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19227: Extend JSON-Based EventConf Loading and Processing Across All Functionalities.
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/config/EventConfExtensionManager.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

NMS-19092: Resolved Conflicts.
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfEventDto.java
Due: trigger-coverage, trigger-build

NMS-19092: Resolved dependabot.yml issues.
  .github/dependabot.yml
Due: trigger-coverage, trigger-build

NMS-19134: Fixed dependabot issue
  .github/dependabot.yml
Due: trigger-coverage, trigger-build

Add support for regex matches for vboid field
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Varbind.java
Due: trigger-coverage, trigger-build

NMS-19270: Rest API for SNMP Config
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpConfigInfoDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/admin/nodeManagement/SnmpConfigServlet.java
Due: trigger-coverage, trigger-build

NMS-19134: Add unique constraints for source name to avoid duplicate creating duplicate names of sources in case of concurrent requests.
  core/schema/src/main/liquibase/35.0.0/changelog.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

fixes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19198: Fixed test
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/ipc/common/kafka/pom.xml
  core/test-api/kafka/pom.xml
  features/flows/kafka-persistence/pom.xml
  features/kafka/producer/pom.xml
Due: trigger-coverage, trigger-build

NMS-19092: Fixed Integration Test issues.
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19092: Fixed Integration Test issues.
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19227: Fixed Integration Test issues.
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
Due: trigger-coverage, trigger-build

updates
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  opennms-webapp-rest/src/test/resources/applicationContext-rest-test.xml
Due: trigger-coverage, trigger-build

NMS-19307: Resolvable field always displays the wrong uei
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
Due: trigger-coverage, trigger-build

NMS-19307: Resolvable field always displays the wrong uei (#8211)
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
Due: trigger-coverage, trigger-build

NMS-19280: Add support for regex matches for vboid field (#8210)
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Varbind.java
Due: trigger-coverage, trigger-build

NMS-19092: Added Severity value while preparing eventConfEventList in EventConfTestUtil.
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
Due: trigger-coverage, trigger-build

Snmp Config UI Wireup, initial commit
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookup.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfileBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigTabContainer.vue
  ui/src/containers/SnmpConfiguration.vue
  ui/src/services/snmpConfigService.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Docs: Revise JRobin details and mark as deprecated (#8108)
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
Due: trigger-coverage, trigger-docs

NMS-19276: Fix loading of global config for eventconf
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventconfFactoryIT.java
Due: trigger-coverage, trigger-build

address some ancient history
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/MailTransportMonitor.java
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
