Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Use Docker API 1.44 in Smoke tests
  .circleci/scripts/smoke.sh
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

bump epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

More fixes for PR review.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/SnmpCollectionCreateSourceDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

fix the remaining scripts
  opennms-base-assembly/src/main/filtered/bin/fix-permissions
  opennms-base-assembly/src/main/filtered/bin/update-package-permissions
Due: trigger-coverage, trigger-build

address the feedback
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/sentinel/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
Due: trigger-coverage, trigger-build

use newer testcontainers
  .circleci/scripts/smoke.sh
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

fix small issue
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
Due: trigger-coverage, trigger-build

force using api version of 1.41
  .circleci/main/commands/executions/run-smoke-tests.yml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

Fix RRA and storageFlag allowed values
  ui/src/types/snmpDataCollection.ts
  ui/src/types/timeSeries.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-17037: Bumped camel version
  core/ipc/grpc/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  core/ipc/rpc/jms-impl/src/main/resources/META-INF/opennms/applicationContext-rpc-client-jms.xml
  core/ipc/rpc/jms-impl/src/main/resources/OSGI-INF/blueprint/blueprint-rpc-server.xml
  core/ipc/rpc/kafka/src/main/resources/META-INF/opennms/applicationContext-rpc-client-kafka.xml
  core/ipc/rpc/kafka/src/main/resources/OSGI-INF/blueprint/blueprint-rpc-kafka-server.xml
  core/ipc/sink/camel/client/src/main/resources/OSGI-INF/blueprint/blueprint-ipc-client.xml
  core/ipc/sink/camel/server/src/main/resources/META-INF/opennms/applicationContext-ipc-sink-camel-server.xml
  core/ipc/sink/camel/server/src/main/resources/OSGI-INF/blueprint/blueprint-ipc-server.xml
  core/ipc/twin/jms/itests/src/test/resources/OSGI-INF/blueprint/blueprint-empty.xml
  core/ipc/twin/jms/publisher/src/main/resources/META-INF/opennms/applicationContext-twin-jms-publisher.xml
  core/ipc/twin/jms/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint-twin-subscriber.xml
  core/test-api/camel/src/main/resources/META-INF/opennms/applicationContext-queuingservice-mq-vm.xml
  core/test-api/camel/src/main/resources/blueprint-empty-camel-context.xml
  core/tracing/jaeger-tracer/src/main/resources/META-INF/opennms/applicationContext-tracer-jaeger.xml
  features/activemq/component/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/amqp/alarm-northbounder/src/main/resources/OSGI-INF/blueprint/blueprint-alarm-northbounder.xml
  features/amqp/event-forwarder/src/main/resources/OSGI-INF/blueprint/blueprint-event-forwarder.xml
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/discovery/src/main/resources/META-INF/opennms/applicationContext-discovery.xml
  features/eif-adapter/src/main/resources/OSGI-INF/blueprint/blueprint-eif-adapter.xml
  features/events/daemon/src/main/resources/META-INF/opennms/applicationContext-eventDaemon.xml
  features/events/sink/dispatcher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/events/traps/src/test/resources/OSGI-INF/blueprint/blueprint-empty.xml
  opennms-icmp/opennms-icmp-proxy-rpc-impl/src/test/resources/pinger.xml
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

remove changes to smoke.sh
  .circleci/scripts/smoke.sh
Due: trigger-coverage, trigger-build

set api version
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

fix the logic after updating the OPENNMS_HOME
  opennms-container/common.mk
Due: trigger-coverage, trigger-build

NMS-17037: Fixing smoke tests
  container/features/pom.xml
Due: trigger-coverage, trigger-build

technically, only core needs this check.
  opennms-container/common.mk
Due: trigger-coverage, trigger-build

for 1.41 api
  smoke-test/pom.xml
Due: trigger-coverage, trigger-build

Fix storageFlag
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  ui/src/types/snmpDataCollection.ts
Due: trigger-coverage, trigger-build, trigger-ui

Refactor Profile Details into tabs
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileSourcesTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/types/snmpDataCollection.ts
Due: trigger-coverage, trigger-build, trigger-ui

Various fixes as per developer review
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfilesTable.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/stores/snmpDataCollectionStore.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
  ui/tests/stores/snmpDataCollectionStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixed compilation issues for logging
  features/mib-compiler/rest/pom.xml
Due: trigger-coverage, trigger-build

NMS-19168: MIB Compiler, initial main page (#8436)
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/containers/MibCompiler.vue
  ui/src/main/router/index.ts
  ui/src/services/mibCompilerService.ts
  ui/src/stores/mibCompilerStore.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19174: MIB Compiler UI for deleting files (#8454)
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/Drawer/FileText.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/containers/EditMibFile.vue
  ui/src/containers/MibCompiler.vue
  ui/src/main/router/index.ts
  ui/src/services/mibCompilerService.ts
  ui/src/stores/mibCompilerStore.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19171: MIB Compiler UI for uploading files (#8452)
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/src/components/MibCompiler/PendingMibFiles.vue
  ui/src/components/MibCompiler/UploadMibFiles.vue
  ui/src/components/MibCompiler/mibFilesValidator.ts
  ui/src/services/mibCompilerService.ts
  ui/src/types/mibCompiler.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/components/MibCompiler/CompiledMibFiles.vue
  ui/tests/components/MibCompiler/CompiledMibFiles.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19715: Mib compiler test coverage (#8467)
  ui/tests/components/MibCompiler/CompiledMibFiles.test.ts
  ui/tests/components/MibCompiler/Drawer/FileText.test.ts
  ui/tests/components/MibCompiler/PendingMibFiles.test.ts
  ui/tests/components/MibCompiler/UploadMibFiles.test.ts
  ui/tests/containers/MibCompiler.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

force clean up of tmp folder on start
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

NMS-19827: Bumped activemq version
  pom.xml
Due: trigger-coverage, trigger-build

Minion Docs update, attemp 1
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/deployment/pages/prometheus-monitoring.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/minion-confd/jmx-exporter.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
  docs/modules/reference/pages/configuration/minion-confd/test-confd.adoc
  docs/modules/reference/pages/configuration/minion-docker.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-docs

Revert "force clean up of tmp folder on start"
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

Sentinel Docs update, attemp 1
  docs/modules/deployment/pages/prometheus-monitoring.adoc
  docs/modules/reference/pages/configuration/sentinel-features.adoc
Due: trigger-coverage, trigger-docs

Core Docs update, attemp 1
  docs/modules/deployment/pages/prometheus-monitoring.adoc
  docs/modules/reference/pages/configuration/core-docker.adoc
Due: trigger-coverage, trigger-docs

remove service and trapd templates
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/core/container-fs/etc/templates/service-configuration.xml.tmpl
  opennms-container/core/container-fs/etc/templates/trapd-configuration.xml.tmpl
Due: trigger-coverage, trigger-build

rename confd_readme
  opennms-container/core/ENVIRONMENT_VARIABLES.md
Due: trigger-coverage, trigger-build

rename minion-confd folder and address few issues
  .circleci/epoch
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/minion-docker.adoc
  docs/modules/reference/pages/configuration/minion-monitoring/jmx-exporter.adoc
  opennms-container/minion/container-fs/etc/org.opennms.netmgt.syslog.cfg
  opennms-container/minion/container-fs/etc/org.opennms.netmgt.trapd.cfg
Due: trigger-coverage, trigger-build, trigger-docs

fix a doc issue
  docs/modules/reference/pages/configuration/minion-docker.adoc
Due: trigger-coverage, trigger-docs

force a build
  .circleci/epoch
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
