Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14242: Address PR comments re documentation
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/operation/pages/user-management/security-roles.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14259: Make org.opennms.netmgt.collectd.strictInterval true by default (#4670)
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectableServiceTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fixup! NMS-14237: Document log level impact
  docs/modules/deployment/pages/logging.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14249: Fixed asset search
  opennms-webapp/src/main/java/org/opennms/web/asset/AssetModel.java
  opennms-webapp/src/main/webapp/element/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14242: Add ROLE_CONFIG_EDITOR for editing config files from REST and UI (#4682)
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

create "core" and "shared" feature files
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features-shared.xml
  container/features/src/main/resources/features.xml
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  container/shared/pom.xml
  features/minion/core/features/src/main/resources/features.xml
  features/minion/core/repository/pom.xml
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-8504: Add note to remember to delete the browser's cache when upgrading
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

circleci change to Large resource
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14193:Access given to ROLE_USER user for rest resource service
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: value mapping for XmlCollector and SnmpCollector
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/ValueMappingAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/ValueMappingPropertyExtender.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/collector/AbstractXmlCollectionHandler.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/config/XmlMapping.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/config/XmlObject.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS14193: Fix accessing resource graphs with ROLE_USER (#4658)
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

rm sort for schedule frequency
  ui/src/components/Configuration/ConfigurationTable.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

rm v-on sort
  ui/src/components/Configuration/ConfigurationTable.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14286: Remove schedule frequency sort (#4687)
  ui/src/components/Configuration/ConfigurationTable.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14725: Don't error out early for script file missing
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

take license generation out of run-expensive-tasks
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

enable production build on deb/rpm/minion/sentinel
  debian/get-build-args.sh
  debian/rules
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build

do production (or not) in the appropriate places in circle
  .circleci/config.yml
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Update docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14289: Additional shipped thresholds
  opennms-base-assembly/src/main/filtered/etc/thresholds.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update opennms-base-assembly/src/main/filtered/etc/thresholds.xml
  opennms-base-assembly/src/main/filtered/etc/thresholds.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/database.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
