Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Update docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

update process mapping to print the latest commit message
  .circleci/pyscripts/process_mapping.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14194: Be able to control label sizes for the stress-metrics command (#4761) (#4832)
  features/collection/shell-commands/pom.xml
  features/collection/shell-commands/src/main/java/org/opennms/netmgt/collection/commands/StressCommand.java
  features/collection/shell-commands/src/test/java/org/opennms/netmgt/collection/commands/StressCommandTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Apply Mark M suggestions from code review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/standard.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

use OIA 1.0.0
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-8861: Add information about logging (#4550)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/logging/introduction.adoc
  docs/modules/operation/pages/application-perspective-monitoring/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karaf.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karafstartupmonitor.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ticketer.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

make the DataSourceFactory exception loading db config less obnoxious during tests
  core/db/src/main/java/org/opennms/core/db/DataSourceFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix some strings that got committed interpolated
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/src/main/filtered-resources/etc/startup.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build

somehow these got re-added, even though they do not build
  core/ipc/common/aws-sqs/pom.xml
  core/ipc/sink/aws-sqs/client/pom.xml
  core/ipc/sink/aws-sqs/common/pom.xml
  core/ipc/sink/aws-sqs/itests/pom.xml
  core/ipc/sink/aws-sqs/pom.xml
  core/ipc/sink/aws-sqs/server/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

typo
  core/xml/src/main/java/org/opennms/core/xml/JaxbUtils.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Move content from standard.adoc to introduction; added navigation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from MM code review
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14282: Enable multiline text entry for requisition metadata values
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/MetaData.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/metadata.html
Due: trigger-coverage, trigger-coverage=false, trigger-build

Release Notes for OpenNMS Horizon 30.0.0
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Updating v30 release notes
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update docs/modules/releasenotes/pages/whatsnew.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix review issues 3
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/NumericAttributeType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14321: Only mark alarms as 'outstanding' after successful callback
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14321: Adjust test to account for new behavior
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Backporting NMS-14059
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilter.java
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/header-preauth.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14059: Better input handling
  features/springframework-security/pom.xml
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilter.java
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilterTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Backporting NMS-14059 to foundation-2020
  opennms-doc/guide-admin/src/asciidoc/text/user-management/pre-authentication.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-build

rollback missing change
  opennms-doc/guide-admin/src/asciidoc/text/user-management/pre-authentication.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14255: Update doc on poller thread consumption (#4824)
  docs/modules/operation/pages/device-config-backup/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14378: fix typo in linkdown event reduction
  opennms-base-assembly/src/main/filtered/etc/events/opennms.snmp.trap.translator.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14003: make shutdown timeout able to read property
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/Telemetryd.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
