Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Review feedback
  features/events/shell-commands/src/main/java/org/opennms/netmgt/events/commands/AlarmClearCommand.java
Due: trigger-coverage, trigger-build

Don't mention a hardcoded version
  docs/modules/operation/pages/deep-dive/elasticsearch/features/introduction.adoc
Due: trigger-coverage, trigger-docs

NMS-19556: Fix some issues with eventId being long
  features/alarms/history/elastic/src/main/java/org/opennms/features/alarms/history/elastic/dto/EventDocumentDTO.java
  features/rest/mapper/src/test/java/org/opennms/web/rest/mapper/v2/EventMapperTest.java
  features/rest/model/src/main/java/org/opennms/web/rest/model/v2/EventDTO.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventBuilder.java
  pom.xml
Due: trigger-coverage, trigger-build

Add toggle to disable metadata interpolation
  core/mate/api/src/main/java/org/opennms/core/mate/api/NoOpEntityScopeProvider.java
  core/mate/model/src/main/java/org/opennms/core/mate/model/EntityScopeProviderFactory.java
  core/mate/model/src/main/resources/META-INF/opennms/applicationContext-entity-scope-provider.xml
  core/mate/model/src/test/java/org/opennms/core/mate/model/EntityScopeProviderFactoryTest.java
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Due: trigger-coverage, trigger-build, trigger-docs

NMS-19558: Fixed removal of old CSV entries
  features/system-report/pom.xml
  features/system-report/src/main/java/org/opennms/systemreport/event/CsvUtils.java
  features/system-report/src/test/java/org/opennms/systemreport/event/NMS19558Test.java
Due: trigger-coverage, trigger-build

redesign work
  ui/src/components/SnmpDataCollection/Dialog/DataCollectionFilesUploadReportDialog.vue
  ui/src/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.vue
  ui/src/components/SnmpDataCollection/Dialog/UploadedFileRenameDialog.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.ts
  ui/src/containers/SnmpDataCollection.vue
  ui/src/containers/SnmpDataCollectionSourceImport.vue
  ui/src/main/router/index.ts
  ui/src/stores/snmpDataCollectionStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollection/Dialog/DataCollectionFilesUploadReportDialog.test.ts
  ui/tests/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.test.ts
  ui/tests/components/SnmpDataCollection/Dialog/UploadedFileRenameDialog.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
  ui/tests/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/SnmpDataCollectionSourceImport.test.ts
  ui/tests/containers/SnmpDataCollection.test.ts
  ui/tests/containers/SnmpDataCollectionSourceImport.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fixes
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19518: SNMP Config definition sorting and pagination
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

downgrade vue to fix build-ui issue
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19517: SNMP Config updates to edit and remove full definitions, handle ipMatch
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Range.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-config/src/main/java/org/opennms/netmgt/config/MergeableDefinition.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpConfigManager.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/lib/snmpValidator.ts
  ui/src/services/snmpConfigService.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.ts
  ui/tests/lib/snmpValidator.test.ts
  ui/tests/services/snmpConfigService.test.ts
  ui/tests/stores/snmpConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Revert "downgrade vue to fix build-ui issue"
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

update vue-tsc
  ui/package.json
  ui/pnpm-lock.yaml
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19560: Pre populate metadata for each service
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/PollerRequestBuilderImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/PollerEventProcessor.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableServiceConfig.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeMonitoredServiceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
Due: trigger-coverage, trigger-build

pagination fix
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Merge pull request #8303 from OpenNMS/jira/NMS-19517-snmp-config-full-definition-ui
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Definition.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Range.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfile.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-config/src/main/java/org/opennms/netmgt/config/MergeableDefinition.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpConfigManager.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpConfigRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/SnmpConfigRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpConfigRestServiceIT.java
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionBasicInformation.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/lib/snmpValidator.ts
  ui/src/services/snmpConfigService.ts
  ui/src/stores/snmpConfigStore.ts
  ui/src/types/snmpConfig.ts
  ui/tests/lib/snmpValidator.test.ts
  ui/tests/services/snmpConfigService.test.ts
  ui/tests/stores/snmpConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

delete service param fix
  ui/src/services/snmpDataCollectionService.ts
Due: trigger-coverage, trigger-build, trigger-ui

css fix
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19562: Fix some UI build errors
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/tests/components/EventConfigEventCreate/BasicInformation.test.ts
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix
  ui/src/components/Nodes/NodeAvailabilityGraph.vue
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19538: Update test
  opennms-dao/src/test/java/org/opennms/netmgt/dao/MonitoredServiceDaoIT.java
Due: trigger-coverage, trigger-build

NMS-19565: Fix opennms startup issues after dropping DB
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ConfigFileUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog-reimport.xml
Due: trigger-coverage, trigger-build

NMS-19560: Extend pre-populating metadata to Collectd/Thresholding
  features/collection/client-rpc/src/main/java/org/opennms/netmgt/collection/client/rpc/CollectorRequestBuilderImpl.java
  features/collection/core/src/main/java/org/opennms/netmgt/collection/core/CollectionSpecification.java
  features/collection/thresholding/api/src/main/java/org/opennms/netmgt/threshd/api/ThresholdingSet.java
  features/collection/thresholding/api/src/main/java/org/opennms/netmgt/threshd/api/ThresholdingSetPersister.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/DefaultThresholdingSetPersister.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdEntity.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingServiceImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSetImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
Due: trigger-coverage, trigger-build

fix
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19502: Resolved conflicts.
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19502: Add ability to download vendor/source specific data collection config files. (#8299)
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DatacollectionJsonHelper.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19553: Data Collection Source page redesign (#8318)
  ui/src/components/SnmpDataCollection/Dialog/DataCollectionFilesUploadReportDialog.vue
  ui/src/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.vue
  ui/src/components/SnmpDataCollection/Dialog/UploadedFileRenameDialog.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/src/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.ts
  ui/src/containers/SnmpDataCollection.vue
  ui/src/containers/SnmpDataCollectionSourceImport.vue
  ui/src/main/router/index.ts
  ui/src/stores/snmpDataCollectionStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollection/Dialog/DataCollectionFilesUploadReportDialog.test.ts
  ui/tests/components/SnmpDataCollection/Dialog/DeleteSnmpDataCollectionSource.test.ts
  ui/tests/components/SnmpDataCollection/Dialog/UploadedFileRenameDialog.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourceImport.test.ts
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
  ui/tests/components/SnmpDataCollection/snmpDataCollectionSourceXmlValidator.test.ts
  ui/tests/components/SnmpDataCollectionSourceImport/SnmpDataCollectionSourceImport.test.ts
  ui/tests/containers/SnmpDataCollection.test.ts
  ui/tests/containers/SnmpDataCollectionSourceImport.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Details UI redesign
  ui/src/components/SnmpDataCollectionDetail/MibGroupsTable.vue
  ui/src/components/SnmpDataCollectionDetail/ResourceTypesTable.vue
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/containers/SnmpDataCollectionDetail.vue
  ui/src/stores/snmpDataCollectionDetailStore.ts
  ui/src/types/snmpDataCollection.d.ts
  ui/tests/components/SnmpDataCollectionDetail/MibGroupsTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/ResourceTypesTable.test.ts
  ui/tests/components/SnmpDataCollectionDetail/SystemDefinitionsTable.test.ts
  ui/tests/containers/SnmpDataCollectionDetail.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

new changes
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.vue
  ui/tests/components/SnmpDataCollection/SnmpDataCollectionSourcesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19563: Provide functinoality to enable/disable status of sources/mibgroups/resourceTypes/systemDefs
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSourceDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSourceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
Due: trigger-coverage, trigger-build

NMS-19534: Fix bugs and rename few things (#8305)
  core/schema/src/main/liquibase/36.0.0/changelog.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionMibGroupDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionResourceTypeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpCollectionSystemDefDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionMibGroupDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionResourceTypeDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/SnmpCollectionSystemDefDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionMibGroup.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionProfile.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionResourceType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSource.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpCollectionSystemDef.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DataCollectionConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DataCollectionConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DataCollectionConfRestServiceIT.java
  ui/src/components/SnmpDataCollectionDetail/SystemDefinitionsTable.vue
  ui/src/services/snmpDataCollectionService.ts
  ui/src/stores/snmpDataCollectionDetailStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

docs: add EventBus redesign design document
  docs/plans/2026-03-02-eventbus-redesign-design.md
Due: trigger-coverage, trigger-docs

docs: add EventBus redesign implementation plan
  docs/plans/2026-03-02-eventbus-redesign-implementation.md
Due: trigger-coverage, trigger-docs

chore: add .worktrees/ to .gitignore
  .gitignore
Due: trigger-coverage, trigger-build

build: add assertj-core 3.24.2 to root dependencyManagement
  pom.xml
Due: trigger-coverage, trigger-build

feat: add Liquibase migration for alarm event denormalization and events table removal
  core/schema/src/main/liquibase/36.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
Due: trigger-coverage, trigger-build

feat: add denormalized event columns to OnmsAlarm, remove lastEvent FK
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
Due: trigger-coverage, trigger-build

feat: add core/tsid module with Snowflake-style TsidFactory
  core/pom.xml
  core/tsid/pom.xml
  core/tsid/src/main/java/org/opennms/core/tsid/TsidFactory.java
  core/tsid/src/test/java/org/opennms/core/tsid/TsidFactoryTest.java
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
