Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Add a dependency to pom file for syslog feature
  features/events/syslog/pom.xml
Due: trigger-coverage, trigger-build

NMS-20099: Add release-note breaking-changes entry for the XMPP removal
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

force a build
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-20100: Event Notifications tab
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/EventNotificationEditorDialog.vue
  ui/src/components/AdminNotifications/EventNotificationsTable.vue
  ui/src/services/index.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: Path Outages tab
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/PathOutagesTab.vue
  ui/src/services/index.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: PrimeVue Notifications page with a General configuration tab
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/NoticesTable.vue
  ui/src/components/AdminNotifications/NotificationExplanationsCard.vue
  ui/src/components/AdminNotifications/NotificationQueriesCard.vue
  ui/src/composables/useBrowserNotifications.ts
  ui/src/containers/AdminNotifications.vue
  ui/src/main/App.vue
  ui/src/main/router/index.ts
  ui/src/services/index.ts
  ui/src/services/noticesService.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/noticesStore.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notices.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/noticesStore.test.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: Destination Paths tab
  opennms-config/src/main/java/org/opennms/netmgt/config/GroupManager.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/DestinationPathEditorDialog.vue
  ui/src/components/AdminNotifications/DestinationPathsTable.vue
  ui/src/components/AdminNotifications/TargetRowEditor.vue
  ui/src/services/index.ts
  ui/src/services/notificationConfigService.ts
  ui/src/stores/notificationConfigStore.ts
  ui/src/types/notificationConfig.ts
  ui/tests/stores/notificationConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20121: remove actiond
  core/lib/src/main/java/org/opennms/core/utils/ConfigFileConstants.java
  docs/modules/development/pages/rest/info.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/Eventd.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-base-assembly/src/main/filtered/etc/actiond-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/examples/service-configuration.xml.default
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/actiond/ActiondConfiguration.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/actiond/package-info.java
  opennms-config-model/src/main/resources/defaults/service-configuration.xml
  opennms-config-model/src/main/resources/xsds/actiond-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/actiond/ActiondConfigurationTest.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/ActiondConfigFactory.java
  opennms-config/src/main/resources/META-INF/opennms/component-dao.xml
  opennms-container/core/container-fs/confd/templates/service-configuration.xml.tmpl
  opennms-services/src/main/java/org/opennms/netmgt/actiond/Actiond.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/BroadcastEventProcessor.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/Executor.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/jmx/Actiond.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/jmx/ActiondMBean.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
Due: trigger-coverage, trigger-build, trigger-docs

small update to force smoke tests !smoke
  ui/packages/onms-ui-example-plugin/README.md
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20100: follow the Notifications menu entry to the new page in MenuHeaderIT
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

NMS-20106: follow the Manage Users menu entry to the new page in MenuHeaderIT
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

NMS-20116: Fix container health.sh (#8704)
  opennms-container/core/container-fs/health.sh
Due: trigger-coverage, trigger-build

NMS-20108: follow the Manage On-call Roles menu entry to the new page in MenuHeaderIT
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

fix smoke
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-build

NMS-20107: follow the Manage Groups menu entry to the new page in MenuHeaderIT
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

Fix more tests
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/EOLServiceConfigMigratorOfflineTest.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/ServiceConfig1701MigratorOfflineTest.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/ServiceConfigMigratorOfflineTest.java
Due: trigger-coverage, trigger-build

NMS-20083: Keep runtests.sh, reconciled with the CircleCI test run
  runtests.sh
Due: trigger-coverage, trigger-build

review feedback
  docs/modules/operation/pages/deep-dive/events/event-tokens.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

Update index.html
  index.html
Due: trigger-coverage, trigger-build

NMS-20083: Remove dead build and release scripts (#8675)
  bin/adoc-to-markdown.sh
  bin/bamboo.pl
  bin/deploy.pl
  bin/nightly-debian.sh
  bin/nightly-jar.sh
  bin/nightly-rpm.sh
  bin/repo.spec
  bin/run-tests.pl
  bin/seriallist.sh
  debian/opennms-contrib.dirs
  pom.xml
  runtests.sh
  src/site/site.xml
Due: trigger-coverage, trigger-build

NMS-20100: address review findings on the Notifications page
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/NoticesTable.vue
  ui/src/stores/authStore.ts
  ui/src/stores/noticesStore.ts
  ui/tests/stores/noticesStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

reduc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20121: remove actiond (#8716)
  core/lib/src/main/java/org/opennms/core/utils/ConfigFileConstants.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/EOLServiceConfigMigratorOfflineTest.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/ServiceConfig1701MigratorOfflineTest.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/ServiceConfigMigratorOfflineTest.java
  docs/modules/development/pages/rest/info.adoc
  docs/modules/operation/pages/deep-dive/events/event-tokens.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/Eventd.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-base-assembly/src/main/filtered/etc/actiond-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/examples/service-configuration.xml.default
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/actiond/ActiondConfiguration.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/actiond/package-info.java
  opennms-config-model/src/main/resources/defaults/service-configuration.xml
  opennms-config-model/src/main/resources/xsds/actiond-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/actiond/ActiondConfigurationTest.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/ActiondConfigFactory.java
  opennms-config/src/main/resources/META-INF/opennms/component-dao.xml
  opennms-container/core/container-fs/confd/templates/service-configuration.xml.tmpl
  opennms-services/src/main/java/org/opennms/netmgt/actiond/Actiond.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/BroadcastEventProcessor.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/Executor.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/jmx/Actiond.java
  opennms-services/src/main/java/org/opennms/netmgt/actiond/jmx/ActiondMBean.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20100: second review pass on the Notifications page
  opennms-webapp-rest/127.0.0.1.tm0.epoch
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NotificationConfigRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NotificationConfigRestServiceIT.java
  opennms-webapp-rest/tmlog0.log
  ui/src/components/AdminNotifications/ConfigureNotificationsDialog.vue
  ui/src/components/AdminNotifications/NoticesTable.vue
  ui/src/containers/Notifications.vue
  ui/src/main/router/index.ts
  ui/src/stores/noticesStore.ts
  ui/tests/composables/useBrowserNotifications.test.ts
  ui/tests/stores/noticesStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20109: Fail closed on HA config errors and harden sync path handling
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Starter.java
  features/ha-management/ha-daemon/src/main/java/org/opennms/netmgt/ha/HaConfigSyncer.java
  features/ha-management/ha-daemon/src/main/java/org/opennms/netmgt/ha/HaStartupCoordinator.java
  features/ha-management/ha-daemon/src/main/java/org/opennms/netmgt/ha/HaSyncFiles.java
  features/ha-management/ha-daemon/src/test/java/org/opennms/netmgt/ha/HaConfigSyncerTest.java
  features/ha-management/ha-daemon/src/test/java/org/opennms/netmgt/ha/HaStartupCoordinatorTest.java
  features/ha-management/ha-rest/src/main/java/org/opennms/netmgt/ha/rest/impl/HaRestServiceImpl.java
  features/ha-management/ha-shell/src/main/java/org/opennms/netmgt/ha/shell/HaConfigCommand.java
  features/ha-management/ha-shell/src/main/java/org/opennms/netmgt/ha/shell/HaFailoverCommand.java
  opennms-base-assembly/src/main/filtered-meridian/etc/ha-configuration.xml
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build

NMS-20105: Close the trouble ticket when the alarm clears
  docs/modules/operation/pages/deep-dive/notifications/strategies/ticket.adoc
  features/notifications/ticket-strategy/src/main/java/org/opennms/netmgt/notifd/TicketNotificationStrategy.java
  features/notifications/ticket-strategy/src/test/java/org/opennms/netmgt/notifd/TicketNotificationStrategyTest.java
  opennms-base-assembly/src/main/filtered/etc/examples/destinationPaths.xml
  opennms-base-assembly/src/main/filtered/etc/examples/notificationCommands.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20125: add nodesWithOutages FIQL search to v2 NodeRestService
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19851: adapt the dashboard to current develop
  ui/src/components/Dashboard/DashboardGrid.vue
  ui/src/components/Dashboard/PanelFrame.vue
  ui/src/components/Dashboard/PanelOptionsDialog.vue
  ui/src/components/Dashboard/panels/AvailabilityPanel.vue
  ui/src/components/Dashboard/panels/HtmlContentPanel.vue
  ui/src/components/Dashboard/panels/KscReportsPanel.vue
  ui/src/components/Dashboard/panels/MetricChartPanel.vue
  ui/src/components/Dashboard/panels/NewsFeedPanel.vue
  ui/src/components/Dashboard/panels/NodesWithAlarmsPanel.vue
  ui/src/components/Dashboard/panels/NotesPanel.vue
  ui/src/components/Dashboard/panels/NotificationsPanel.vue
  ui/src/components/Dashboard/panels/OutagesPanel.vue
  ui/src/components/Dashboard/panels/QuickSearchPanel.vue
  ui/src/components/Dashboard/panels/RegionalMapPanel.vue
  ui/src/components/Dashboard/panels/ResourceGraphsPanel.vue
  ui/src/components/Dashboard/panels/SituationsPanel.vue
  ui/src/components/Dashboard/panels/StatusListPanel.vue
  ui/src/components/Dashboard/panels/StatusOverviewPanel.vue
  ui/src/components/Dashboard/panels/TopnPanel.vue
  ui/src/containers/Dashboard.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20125: add pure interface-listing logic for Vue node list
  ui/src/components/Nodes/hooks/useInterfaceListing.ts
  ui/tests/components/Nodes/hooks/useInterfaceListing.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19851: dashboard test suite and admin-only layout writes
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DashboardRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/DashboardRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DashboardRestServiceIT.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/tests/components/Dashboard/registry.test.ts
  ui/tests/components/Dashboard/severity.test.ts
  ui/tests/components/Dashboard/timeframe.test.ts
  ui/tests/composables/useDashboardRefresh.test.ts
  ui/tests/services/dashboardService.test.ts
  ui/tests/stores/dashboardStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20109: Publish HA state after shutdown completes; lifecycle SPI
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Manager.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/Starter.java
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/StartupLifecycleHook.java
  features/ha-management/ha-daemon/pom.xml
  features/ha-management/ha-daemon/src/main/java/org/opennms/netmgt/ha/HaStartupCoordinator.java
  features/ha-management/ha-daemon/src/main/java/org/opennms/netmgt/ha/HaStartupLifecycleHook.java
  features/ha-management/ha-daemon/src/main/resources/META-INF/services/org.opennms.netmgt.vmmgr.StartupLifecycleHook
  features/ha-management/ha-daemon/src/test/java/org/opennms/netmgt/ha/HaStartupCoordinatorTest.java
  features/ha-management/ha-daemon/src/test/java/org/opennms/netmgt/ha/HaStartupLifecycleHookTest.java
  features/ha-management/ha-rest/src/main/java/org/opennms/netmgt/ha/rest/impl/HaRestServiceImpl.java
  features/ha-management/ha-shell/src/main/java/org/opennms/netmgt/ha/shell/HaFailoverCommand.java
  opennms-base-assembly/src/main/filtered-meridian/etc/ha-configuration.xml
Due: trigger-coverage, trigger-build

NMS-20102: Document mail server TLS certificate verification
  docs/modules/operation/pages/deep-dive/notifications/configuration.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20102: Keep the message body on streamed mail attachments
  opennms-javamail/opennms-javamail-api/src/main/java/org/opennms/javamail/JavaMailer.java
  opennms-javamail/opennms-javamail-api/src/test/java/org/opennms/javamail/JavaMailerWireTest.java
Due: trigger-coverage, trigger-build

Update the readme file to add the new integration option
  .circleci/README.md
Due: trigger-coverage, trigger-build

NMS-20125: add batched SNMP interface fetching for Vue node list
  ui/src/services/index.ts
  ui/src/services/snmpInterfaceService.ts
  ui/src/stores/nodeStore.ts
  ui/src/types/index.ts
  ui/tests/services/snmpInterfaceService.test.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20109: Add docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/high-availability.adoc
Due: trigger-coverage, trigger-docs

NMS-20125: add Show interfaces mode to Vue node list
  ui/src/components/Nodes/NodeInterfacesPanel.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/containers/Nodes.vue
  ui/src/stores/nodeStructureStore.ts
  ui/tests/components/Nodes/NodeInterfacesPanel.test.ts
  ui/tests/components/Nodes/NodesTable.test.ts
  ui/tests/containers/Nodes.test.ts
  ui/tests/stores/nodeStructureStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20109: Add smoke test
  .circleci/build-triggers.override.json
  .circleci/main/jobs/tarball-assembly-only.yml
  smoke-test/src/test/java/org/opennms/smoketest/ha/HighAvailabilityIT.java
  smoke-test/src/test/resources/ha/ha-configuration-primary.xml
  smoke-test/src/test/resources/ha/ha-configuration-secondary.xml
  smoke-test/src/test/resources/ha/ha.boot
Due: trigger-coverage, trigger-build

NMS-20125: fix SNMP-narrowing fetch race and wildcard under-fetch
  ui/src/components/Nodes/NodesTable.vue
  ui/tests/components/Nodes/NodesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
