Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-16154: Convert configuration store to pinia
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Configuration/ConfigurationThreadPools.vue
  ui/src/components/Configuration/hooks/provisionD.ts
  ui/src/containers/ProvisionDConfig.vue
  ui/src/services/configurationService.ts
  ui/src/services/index.ts
  ui/src/store/configuration/actions.ts
  ui/src/store/configuration/index.ts
  ui/src/store/configuration/mutations.ts
  ui/src/store/configuration/state.ts
  ui/src/store/index.ts
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16154: Convert usageStatistics store to pinia
  ui/src/components/UsageStatistics/UsageStatisticsHeader.vue
  ui/src/components/UsageStatistics/UsageStatisticsTable.vue
  ui/src/containers/UsageStatistics.vue
  ui/src/store/index.ts
  ui/src/store/usageStatistics/actions.ts
  ui/src/store/usageStatistics/index.ts
  ui/src/store/usageStatistics/mutations.ts
  ui/src/store/usageStatistics/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16154: Convert log store to pinia
  ui/src/components/Logs/Editor.vue
  ui/src/components/Logs/Logs.vue
  ui/src/components/Logs/Search.vue
  ui/src/containers/Logs.vue
  ui/src/store/index.ts
  ui/src/store/logs/actions.ts
  ui/src/store/logs/getters.ts
  ui/src/store/logs/index.ts
  ui/src/store/logs/mutations.ts
  ui/src/store/logs/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16154: Convert ipInterfaces store to pinia
  ui/src/components/Map/LeafletMap.vue
  ui/src/store/ifServices/actions.ts
  ui/src/store/ifServices/index.ts
  ui/src/store/ifServices/mutations.ts
  ui/src/store/ifServices/state.ts
  ui/src/store/index.ts
  ui/src/store/ipInterfaces/actions.ts
  ui/src/store/ipInterfaces/index.ts
  ui/src/store/ipInterfaces/mutations.ts
  ui/src/store/ipInterfaces/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16154: Convert fileEditor store to pinia
  ui/src/components/FileEditor/ConfirmDialog.vue
  ui/src/components/FileEditor/Console.vue
  ui/src/components/FileEditor/Editor.vue
  ui/src/components/FileEditor/FileSidebar.vue
  ui/src/components/FileEditor/FileTreeItem.vue
  ui/src/components/FileEditor/Help.vue
  ui/src/components/FileEditor/NewFileInput.vue
  ui/src/components/FileEditor/Search.vue
  ui/src/components/FileEditor/TopBar.vue
  ui/src/components/FileEditor/utils.ts
  ui/src/containers/FileEditor.vue
  ui/src/store/fileEditor/actions.ts
  ui/src/store/fileEditor/index.ts
  ui/src/store/fileEditor/mutations.ts
  ui/src/store/fileEditor/state.ts
  ui/src/store/index.ts
  ui/src/stores/fileEditorStore.ts
  ui/tests/fileEditor.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Fix telemetryd doc bug
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14766: Update docs and Web UI for provisiond threads
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  ui/src/components/Configuration/ConfigurationThreadPools.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-16067: Fixed handling of empty restriction list in NodeAlarmSearchProvider
  features/search/providers/pom.xml
  features/search/providers/src/main/java/org/opennms/netmgt/search/providers/node/NodeAlarmSearchProvider.java
  features/search/providers/src/test/java/org/opennms/netmgt/search/providers/node/NodeAlarmSearchProviderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix flow doc typo
  docs/modules/operation/pages/deep-dive/flows/distributed.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Minion docker doc install update
  docs/modules/deployment/pages/minion/docker/minion.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15471: Update event.xsd
  opennms-model/src/main/resources/xsds/event.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15772: added link to SNMP community strings
  opennms-webapp/src/main/webapp/admin/nodemanagement/index.jsp
  opennms-webapp/src/main/webapp/admin/snmpConfig.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16143: Allow per connection pool config and split out monitoring connection
  core/db/src/main/java/org/opennms/core/db/DataSourceFactory.java
  core/db/src/main/java/org/opennms/core/db/XADataSourceFactory.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/ConnectionPool.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/main/resources/xsds/opennms-datasources.xsd
  opennms-base-assembly/src/main/filtered/etc/collectd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/opennms-datasources.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16016: Use metadata in poller and collector config default
  opennms-base-assembly/src/main/filtered/etc/collectd-configuration.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test ubuntu ubuntu-3.0.1.b237-jre-17 base image
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test 2 for ubuntu-3.0.1.b237-jre-17 base image
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

increment the base image
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16156: Convert scvStore to pinia
  ui/src/components/SCV/SCVAttribute.vue
  ui/src/components/SCV/SCVForm.vue
  ui/src/components/SCV/SCVList.vue
  ui/src/containers/SecureCredentialsVault.vue
  ui/src/stores/scvStore.ts
  ui/tests/deviceConfigBackup.test.ts
  ui/tests/scv.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Convert resourceStore to pinia
  ui/src/components/Resources/Graphs.vue
  ui/src/components/Resources/NodeResourceList.vue
  ui/src/components/Resources/ResourceList.vue
  ui/src/components/Resources/Resources.vue
  ui/src/store/index.ts
  ui/src/store/resource/actions.ts
  ui/src/store/resource/getters.ts
  ui/src/store/resource/index.ts
  ui/src/store/resource/mutations.ts
  ui/src/store/resource/state.ts
  ui/src/stores/graphStore.ts
  ui/src/stores/resourceStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Convert graphStore to pinia
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/components/Resources/NodeResourceList.vue
  ui/src/components/Resources/ResourceList.vue
  ui/src/store/graph/actions.ts
  ui/src/store/graph/index.ts
  ui/src/store/graph/mutations.ts
  ui/src/store/graph/state.ts
  ui/src/store/index.ts
  ui/src/stores/graphStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Convert device store to pinia
  ui/src/components/Device/DCBGroupFilters.vue
  ui/src/components/Device/DCBModal.vue
  ui/src/components/Device/DCBModalConfigDiffContent.vue
  ui/src/components/Device/DCBModalLastBackupContent.vue
  ui/src/components/Device/DCBModalViewHistoryContent.vue
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/Device/DCBTable.vue
  ui/src/components/Device/DCBTableStatusDropdown.vue
  ui/src/containers/DeviceConfigBackup.vue
  ui/src/lib/utils.ts
  ui/src/store/device/actions.ts
  ui/src/store/device/index.ts
  ui/src/store/device/mutations.ts
  ui/src/store/device/state.ts
  ui/src/store/index.ts
  ui/src/stores/deviceStore.ts
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

removing scvStore files
  ui/src/store/scv/actions.ts
  ui/src/store/scv/index.ts
  ui/src/store/scv/mutations.ts
  ui/src/store/scv/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Remove vuex
  ui/README.md
  ui/package.json
  ui/src/components/FileEditor/NewFileInput.vue
  ui/src/components/Layout/Search.vue
  ui/src/components/Layout/SearchResult.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/main.ts
  ui/src/store/index.ts
  ui/src/stores/mapStore.ts
  ui/src/stores/searchStore.ts
  ui/src/types/index.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Convert mapStore to pinia
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/MarkerClusterPopupContent.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/containers/Map.vue
  ui/src/store/index.ts
  ui/src/store/map/actions.ts
  ui/src/store/map/getters.ts
  ui/src/store/map/index.ts
  ui/src/store/map/mutations.ts
  ui/src/store/map/state.ts
  ui/src/stores/mapStore.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-16156: Convert searchStore to pinia
  ui/src/components/Layout/Search.vue
  ui/src/components/Layout/SearchResult.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/store/index.ts
  ui/src/store/search/actions.ts
  ui/src/store/search/index.ts
  ui/src/store/search/mutations.ts
  ui/src/store/search/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15865: update bluecat datatypes
  opennms-base-assembly/src/main/filtered/etc/datacollection/bluecat.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix Telemetryd doc typo
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16147: Add system properties confd config
  opennms-container/core/container-fs/confd/conf.d/system-properties.toml
  opennms-container/core/container-fs/confd/templates/system-properties.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16147: update docs for core confd config
  docs/modules/reference/pages/configuration/core-docker.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15774: Brief overview of the metadata changes
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16147: Core container Confd updates - Make Kafka config more like Minion - Option to set RRA - Option to enable/disable select daemons - Update Elastic structure - Docs!
  docs/modules/reference/pages/configuration/core-docker.adoc
  opennms-container/core/container-fs/confd/conf.d/custom.toml
  opennms-container/core/container-fs/confd/conf.d/kafka-broker.toml
  opennms-container/core/container-fs/confd/conf.d/timeseries-rra.toml
  opennms-container/core/container-fs/confd/scripts/custom-script.sh
  opennms-container/core/container-fs/confd/scripts/update-rras.sh
  opennms-container/core/container-fs/confd/templates/custom.tpl
  opennms-container/core/container-fs/confd/templates/elastic-flows copy.tpl
  opennms-container/core/container-fs/confd/templates/elastic-flows-telemetry.tpl
  opennms-container/core/container-fs/confd/templates/kafka-broker.tpl
  opennms-container/core/container-fs/confd/templates/kafka-consumer.tpl
  opennms-container/core/container-fs/confd/templates/system-properties.tpl
  opennms-container/core/container-fs/confd/templates/timeseries-rra.tpl
  opennms-container/core/container-fs/confd/templates/trapd-configuration.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16147: Fix doc typo
  docs/modules/reference/pages/configuration/core-docker.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16163: Update confd for new datasources XML schema
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16163: fix missing class name
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16165: Move Postgres resource type config
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/postgresql-resource.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16163: Update core confd to support Postgres SSL config
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16163: Update default PSQL SSL factory in confd
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16163: Docs update for confd postgres ssl
  docs/modules/reference/pages/configuration/core-docker.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16147: Core confd updates after internal review meeting
  docs/modules/reference/pages/configuration/core-docker.adoc
  opennms-container/core/container-fs/confd/conf.d/mattermost.properties.toml
  opennms-container/core/container-fs/confd/conf.d/newts.properties.toml
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/scripts/custom-script.sh
  opennms-container/core/container-fs/confd/templates/kafka-broker.tpl
  opennms-container/core/container-fs/confd/templates/kafka-consumer-feature.tpl
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
  opennms-container/core/container-fs/confd/templates/system-properties.tpl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke
