Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19976: Smoke test fixes !smoke
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

NMS-19976: fix and speed up PrimeVue side-menu navigation in smoke tests
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-build

NMS-19980: translate iplike match expressions to native-inet SQL predicates
  core/lib/src/main/java/org/opennms/core/utils/IplikeSqlTranslator.java
  core/lib/src/test/java/org/opennms/core/utils/IplikeSqlTranslatorTest.java
  core/lib/src/test/resources/org/opennms/core/utils/iplike-tests.dat
Due: trigger-coverage, trigger-build

NMS-19980: opennms_safe_inet cast, expression indexes, faster PL/pgSQL iplike
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  core/schema/src/main/liquibase/36.0.3/changelog.xml
  core/schema/src/main/resources/org/opennms/core/schema/iplike.sql
  core/test-api/db/src/test/java/org/opennms/core/test/db/IPLikeCoverageIT.java
Due: trigger-coverage, trigger-build

NMS-19980: emit native-inet predicates from the IPLIKE call sites
  opennms-config/src/main/java/org/opennms/netmgt/filter/JdbcFilterDao.java
  opennms-config/src/test/java/org/opennms/netmgt/filter/JdbcFilterDaoNativeInetTest.java
  opennms-config/src/test/java/org/opennms/netmgt/filter/JdbcFilterDaoParenthesizationTest.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/HibernateCriteriaConverter.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/HibernateCriteriaConverterIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/JdbcFilterDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsRestrictions.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsRestrictionsTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp/src/main/java/org/opennms/web/filter/IPLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/filter/NegativeIPLikeFilter.java
  opennms-webapp/src/test/java/org/opennms/web/event/filter/WebEventRepositoryFilterIT.java
Due: trigger-coverage, trigger-build

NMS-19980: document native-inet IPLIKE filtering
  docs/modules/reference/pages/configuration/filters/filters.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-docs

NMS-20008: Honor thresholding-enabled parameter in collectd
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
Due: trigger-coverage, trigger-build

NMS-20007: Make thresholding metadata scope creation lazy and shared per collection set
  core/mate/api/src/main/java/org/opennms/core/mate/api/LazyScope.java
  core/mate/api/src/test/java/org/opennms/core/mate/api/LazyScopeTest.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdEntity.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingSetImpl.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingVisitorImpl.java
Due: trigger-coverage, trigger-build

NMS-20009: Build poller metadata scope once per request instead of twice
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/PollerRequestBuilderImpl.java
Due: trigger-coverage, trigger-build

NMS-20007: Fail with a clear message if a lazy scope supplier returns null
  core/mate/api/src/main/java/org/opennms/core/mate/api/LazyScope.java
Due: trigger-coverage, trigger-build

NMS-20008: Add tests for thresholding-enabled handling, clarify default comment
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectableServiceTest.java
Due: trigger-coverage, trigger-build

NMS-20009: Invalidate the memoized scope when its inputs change
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/PollerRequestBuilderImpl.java
Due: trigger-coverage, trigger-build

Update index.html
  index.html
Due: trigger-coverage, trigger-build

Fix more smoke tests !smoke
  smoke-test/src/test/java/org/opennms/smoketest/ProvisioningNewUIIT.java
  smoke-test/src/test/java/org/opennms/smoketest/QuickAddNodeIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Due: trigger-coverage, trigger-build

Apply suggestions from code review
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/src/main/App.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20006: revert NMS-19951 local RPC TTL bound (PR #8604)
  core/ipc/rpc/camel/src/main/java/org/opennms/core/rpc/camel/CamelRpcClientFactory.java
  core/ipc/rpc/camel/src/test/java/org/opennms/core/rpc/camel/LocalRpcTimeoutTest.java
Due: trigger-coverage, trigger-build

NMS-19976: Primevue migration: Menubar (#8630)
  core/web-assets/src/main/assets/style/opennms-theme.scss
  core/web-assets/src/main/assets/style/vaadin-theme.scss
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/ProvisioningNewUIIT.java
  smoke-test/src/test/java/org/opennms/smoketest/QuickAddNodeIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UIRefreshIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/Search.vue
  ui/src/components/Menu/SearchResult.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/src/components/Menu/utils.ts
  ui/src/main/App.vue
  ui/tests/components/Nodes/InterfacesTabs.test.ts
  ui/tests/containers/SnmpDataCollection.test.ts
  ui/tests/containers/TrapdConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Migrate FeatherDS grid classes to onms-grid
  ui/src/containers/Home.vue
  ui/src/containers/ProvisionDConfig.vue
  ui/src/containers/UsageStatistics.vue
  ui/src/main/App.vue
  ui/src/styles/onms-grid.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Vendor FeatherDS elevation mixin as onms-elevation
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationGeneratedUrl.vue
  ui/src/components/Configuration/ConfigurationHeader.vue
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SCV/SCVForm.vue
  ui/src/containers/FileEditor.vue
  ui/src/containers/Logs.vue
  ui/src/containers/ProvisionDConfig.vue
  ui/src/containers/ResourceGraphs.vue
  ui/src/containers/UsageStatistics.vue
  ui/src/styles/_onms-elevation.scss
  ui/src/styles/_transitionDataTable.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Fix Map table sticky header (CSS position:sticky, drop JS scroll-transform hack)
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Vendor FeatherDS table SCSS as onms-table
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MarkerClusterPopupContent.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Resources/GraphDataTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTab.vue
  ui/src/styles/_onms-table.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Fix Geographical Map overlay controls
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/SeverityFilter.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Make Map Search & Show Severity controls theme-aware (dark mode)
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/SeverityFilter.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Lock Map sticky header immediately (move top gap to scroll container)
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Vendor FeatherDS type/enum shims into @/types
  ui/src/components/Device/DCBTable.vue
  ui/src/components/EventConfigEventCreate/AlarmDataInfo.vue
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/MaskElements.vue
  ui/src/components/EventConfigEventCreate/MaskVarbinds.vue
  ui/src/components/EventConfigEventCreate/constants.ts
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/SortableTh.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefaultsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDetailsPanel.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupPanel.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SystemDefinitionCreationDrawer.vue
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
  ui/src/lib/constants.ts
  ui/src/lib/sorting.ts
  ui/src/lib/trapdValidator.ts
  ui/src/stores/mapStore.ts
  ui/src/stores/nodeStructureStore.ts
  ui/src/types/index.ts
  ui/src/types/snmpConfig.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Repoint var($token) consumers (~30 files) to onms-tokens; add primary-text-on-surface
  ui/src/assets/Backup.vue
  ui/src/assets/Compare.vue
  ui/src/assets/Endpoints.vue
  ui/src/assets/FileEditor.vue
  ui/src/assets/Logs.vue
  ui/src/assets/Speed.vue
  ui/src/components/Configuration/ConfigurationCronSelector.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Logs/Editor.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MarkerClusterPopupContent.vue
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/components/Menu/UserSelfServiceMenuItem.vue
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigLookupTab.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileSourcesTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/containers/Nodes.vue
  ui/src/containers/SnmpDataCollectionSourceDetail.vue
  ui/src/styles/_onms-tokens.scss
  ui/src/styles/onms-theme.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Wire onms- theme into SPA + menu builds; migrate global style files off Feather tokens
  ui/src/main/App.vue
  ui/src/menu/main.ts
  ui/src/styles/_onms-tokens.scss
  ui/src/styles/_severities.scss
  ui/src/styles/onms-theme.scss
  ui/src/styles/opennms-feather-styles.scss
  ui/src/styles/themes.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Convert local feather severity overrides + preset comment to onms
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/UserNotificationsMenuItem.vue
  ui/src/theme/opennms-preset.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Vendor base reset (onms-base); drop Feather theme + @featherds/styles; FeatherDS fully removed from UI
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/main/index.html
  ui/src/main/main.ts
  ui/src/menu/index.html
  ui/src/menu/main.ts
  ui/src/styles/onms-base.scss
  ui/src/styles/themes.scss
  ui/vite.config.menu.ts
  ui/vite.config.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Repoint raw var(--feather-*) literals to var(--onms-*)
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/SideMenu.vue
  ui/src/components/Nodes/AssetFilterPanel.vue
  ui/src/components/Nodes/ExtendedSearchPanel.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileDetailsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileRrdSettingsTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceImport.vue
  ui/src/containers/SnmpDataCollectionSourceDetail.vue
  ui/src/styles/_onms-typography.scss
  ui/src/styles/opennms-feather-styles.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Add owned onms- token layer (tokens, theme, color-utils)
  ui/src/styles/_onms-color-utils.scss
  ui/src/styles/_onms-theme.scss
  ui/src/styles/_onms-tokens.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Update docs for FeatherDS removal (PrimeVue + onms- layer)
  ui/DEVELOPMENT.md
  ui/copilot-instructions.md
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Keep Map popups below top menu on open (menu-aware autoPan), fix double scroll
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MarkerPopup.vue
  ui/src/components/Map/utils.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Remove remaining Feather components; vendor OnmsAppLayout + useOutsideClick; drop 40 @featherds packages
  ui/docs/superpowers/specs/2026-07-13-feather-themes-variables-token-migration-design.md
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/components/Layout/OnmsAppLayout.vue
  ui/src/components/Menu/Menubar.vue
  ui/src/components/Menu/utils.ts
  ui/src/components/PrimeVueTest.vue
  ui/src/composables/useOutsideClick.ts
  ui/src/main/App.vue
  ui/src/main/router/index.ts
  ui/tests/components/Menu/utils.test.ts
  ui/tests/components/Nodes/NodesTable.test.ts
  ui/tests/components/TrapdConfiguration/CreateSnmpV3User.test.ts
  ui/tests/lib/sorting.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Add themes/variables token-migration implementation plan
  ui/docs/superpowers/plans/2026-07-13-feather-themes-variables-token-migration.md
Due: trigger-coverage, trigger-ui

NMS-19981: De-Feather cleanup (comments, class/type renames, dead code, opennms-styles rename) + fix SPA content top-offset below fixed menubar
  ui/MENU_TEMPLATES.md
  ui/src/components/Configuration/ConfigurationCronSelector.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MarkerClusterPopupContent.vue
  ui/src/components/Menu/SearchResult.vue
  ui/src/components/Menu/useMenuIcons.ts
  ui/src/components/Menu/utils.ts
  ui/src/components/Nodes/NodeAdvancedFiltersDrawer.vue
  ui/src/components/Nodes/hooks/useNodeQuery.ts
  ui/src/components/SnmpConfiguration/SnmpConfigPairedFieldInputs.vue
  ui/src/composables/useQueryParams.ts
  ui/src/containers/EventConfigEventCreate.vue
  ui/src/lib/sorting.ts
  ui/src/main/App.vue
  ui/src/menu/main.ts
  ui/src/stores/mapStore.ts
  ui/src/styles/onms-base.scss
  ui/src/styles/opennms-styles.scss
  ui/src/types/index.ts
  ui/tests/lib/sorting.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19981: Lay Alarm Action label + dropdown on one line inline with tabs
  ui/src/components/Map/MapAlarmsGrid.vue
Due: trigger-coverage, trigger-build, trigger-ui
