Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-14323: Migrate Trap configuration wiki to docs
  docs/modules/operation/pages/events/mib.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  docs/modules/operation/pages/events/sources/trap-config.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

run the #experimentalPath
  .circleci/pyscripts/process_mapping.py
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

disable filters for build-with-tarball #experimentalPath
  .circleci/main/workflows/workflows.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14524: Only rebuild the map when services are scheduled after the initial initialization
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14524: Use a Set instead of a List for more efficient lookups
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigManager.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14524: Don't rebuildPackageIpListMap on miss
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfig.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14524: Only flush the cache when rebuilding the package map
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigManager.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Correcting old tests to work with JUnit5 rules
  core/snmp/api/src/test/java/org/opennms/netmgt/snmp/proxy/AggregateTrackerProxyTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14479 Simplify BridgeSimpleConnection Class
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/BridgeSimpleConnection.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/DiscoveryBridgeTopology.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14524: Load outages once to avoid round-trip to DB for each service on startup
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/OutageDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockOutageDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OutageDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/OutageDaoIT.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/BridgeSimpleConnection.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/BridgeSimpleConnection.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14437: Add documentation to describe negate search terms in alarm… (#4971)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/alarms/alarm-advanced-search.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14489: Added list of services to datachoice telemetry
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/ServiceConfigFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14233: Added provisiond config data to datachoice telemetry
  container/features/src/main/resources/features.xml
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ProvisiondConfigurationDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/jaxb/DefaultProvisiondConfigurationDao.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-provision/opennms-provisiond/src/main/resources/META-INF/opennms/applicationContext-provisiond.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14482: Add KPIs for CPU count and memory size to datachoices telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-14233: Fixed tests
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
  opennms-dao/pom.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/HibernateUtilsTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14489: Fixed tests
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14233: Added docs
  docs/modules/operation/pages/user-management/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14489: Added docs
  docs/modules/operation/pages/user-management/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

combine build and tarbar into a single step #experimentalPath
  .circleci/main/commands/executions/executions.index
  .circleci/main/commands/executions/run-build-with-tarballv2.yml
  .circleci/main/workflows/workflows.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Clean up tarball definition #experimentalPath
  .circleci/main/commands/executions/run-build-with-tarballv2.yml
  .circleci/main/workflows/workflows.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add tarball job #experimentalPath
  .circleci/main/jobs/build/build-with-tarball.yml
  .circleci/main/jobs/build/build.index
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix a typo #experimentalPath
  .circleci/main/workflows/workflows.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14478: External Requisition UI, add Requisition Name input for VMware (#5010)
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Configuration/copy/requisitionTypes.ts
  ui/tests/configuration.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14454: Document JDBCStoredProcedureDetector
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors.adoc
  docs/modules/reference/pages/provisioning/detectors/JdbcStoredProcedureDetector.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14489: Review changes
  opennms-config/src/main/java/org/opennms/netmgt/config/ServiceConfigFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14233: Review changes
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Correcting old tests removing vintage
  features/opennms-es-rest/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Correcting o- features many duplicated dependencies
  features/timeseries/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
