Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19007: Add comment for not disabling first 3 services
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
Due: trigger-coverage, trigger-build

correct spelling
  ui/tests/components/EventConfigurationDetail/Dialog/deleteEventConfigEventDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

resolve comments
  ui/tests/components/EventConfigurationDetail/Dialog/deleteEventConfigEventDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

test case for DeleteEventConfigSourceDialog
  ui/tests/components/EventConfigurationDetail/Dialog/deleteEventConfigSourceDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19032 : Move test utility classes from source to test directory for better code organization.
  features/bsm/daemon/pom.xml
  features/bsm/daemon/src/test/java/org/opennms/netmgt/bsm/daemon/BsmdIT.java
  features/discovery/pom.xml
  features/discovery/src/test/java/org/opennms/netmgt/discovery/NewSuspectLocationTest.java
  features/events/collector/pom.xml
  features/events/collector/src/test/java/org/opennms/netmgt/collection/EventMetricsCollectorIT.java
  features/events/traps/pom.xml
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/JoeSnmpTrapHandlerIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/Snmp4JTrapHandlerIT.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdIT.java
  features/vaadin-snmp-events-and-metrics/pom.xml
  features/vaadin-snmp-events-and-metrics/src/test/java/org/opennms/features/vaadin/events/EventFormTest.java
  opennms-config/pom.xml
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfDaoReloadTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfDataTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfMatcherTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfPriorityTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfTestUtil.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventconfFactoryIT.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventconfFactorySaveTest.java
  opennms-services/pom.xml
  opennms-services/src/test/java/org/opennms/netmgt/mock/OpenNMSITCase.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/BroadcastEventProcessorIT.java
Due: trigger-coverage, trigger-build

fix the log levels
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Due: trigger-coverage, trigger-build

NMS-18232 minor change in integration test cases
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigClientIT.java
Due: trigger-coverage, trigger-build

new UI for create events
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/eventValidator.ts
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigEventEditDrawer.vue
  ui/src/components/EventConfigurationDetail/constants.ts
  ui/src/containers/EventConfigEventCreate.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/src/main/router/index.ts
  ui/src/stores/eventModificationStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/EventConfiguration/eventConfigurationDetail.test.ts
  ui/tests/components/EventConfiguration/uploadedFileRenameDialog.test.ts
  ui/tests/components/EventConfigurations/eventConfigSourceTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Apply suggestions from code review
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/postgresql.adoc
Due: trigger-coverage, trigger-docs

Update docs/modules/deployment/pages/core/centos-rhel9/postgresql.adoc
  docs/modules/deployment/pages/core/centos-rhel9/postgresql.adoc
Due: trigger-coverage, trigger-docs

NMS-18547: Added Temurin Java install docs; moved back to official ONMS repos
  docs/antora.yml
  docs/modules/deployment/pages/core/centos-rhel/adoptium.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/postgresql.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel9.adoc
Due: trigger-coverage, trigger-docs

NMS-18547: Renaming core subfolders + references
  docs/modules/deployment/pages/core/centos/adoptium.adoc
  docs/modules/deployment/pages/core/centos/firewall-core.adoc
  docs/modules/deployment/pages/core/centos/initialize-core.adoc
  docs/modules/deployment/pages/core/centos9/install-core.adoc
  docs/modules/deployment/pages/core/centos9/postgresql.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
Due: trigger-coverage, trigger-docs

NMS-18547: Add sudo for Adoptium repo commands
  docs/modules/deployment/pages/core/centos/adoptium.adoc
Due: trigger-coverage, trigger-docs

fix: Resolve build warnings for unmasked variables
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/development/pages/rest/situations.adoc
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
Due: trigger-coverage, trigger-docs

fix: Clarify authentication and max connections
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-docs

docs: Editing the opennms-datasource isn't required
  docs/modules/deployment/pages/core/centos/initialize-core.adoc
  docs/modules/deployment/pages/core/centos9/install-core.adoc
Due: trigger-coverage, trigger-docs

NMS-18201: Always overwrite opennms.properties in upgrade process (#7953)
  debian/opennms-common.postinst
  tools/packages/opennms/opennms.spec
Due: trigger-coverage, trigger-build

docs: Fix inline reference
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
Due: trigger-coverage, trigger-docs

fix invalid entries
  core/web-assets/src/main/assets/static/legacy/leaflet/yarn.lock
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-build, trigger-docs

docs: Add instructions to remove commands with sensitive information from bash history
  docs/modules/deployment/pages/core/centos/initialize-core.adoc
  docs/modules/deployment/pages/core/centos9/postgresql.adoc
Due: trigger-coverage, trigger-docs

test fixes, CSS fixes and lint fixes
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfigEventCreate/constants.ts
  ui/src/components/EventConfigEventCreate/eventValidator.ts
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigEventEditDrawer.vue
  ui/src/components/EventConfigurationDetail/constants.ts
  ui/src/components/EventConfigurationDetail/eventXmlValidator.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/EventConfiguration/eventConfigDetailStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

lint fix
  ui/tests/components/EventConfigurationDetail/Dialog/changeEventConfigSourceStatusDialog.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18963: Make Poller service scheduling asynchronous at startup (#8031)
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/Eventd.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerRpcTimeoutIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-build

missed one file
  .version.txt
Due: trigger-coverage, trigger-build

test structure fixes
  ui/tests/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/UploadedFileRenameDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfiguration/EventConfigTabContainer.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/ChangeEventConfigEventStatusDialog.test.ts
  ui/tests/components/EventConfigurationDetail/Dialog/ChangeEventConfigSourceStatusDialog.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
  ui/tests/stores/eventConfigDetailStore.test.ts
  ui/tests/stores/eventConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19028: Investigate upload failures on eventconf upload page
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
Due: trigger-coverage, trigger-build

NMS-18966: Cleanup code of eventConf.
  opennms-webapp/src/main/java/org/opennms/web/controller/admin/thresholds/ThresholdController.java
  opennms-webapp/src/main/java/org/opennms/web/services/EventConfApiClient.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
Due: trigger-coverage, trigger-build

comments resolved
  ui/src/components/EventConfigEventCreate/constants.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-19032 : Updated CircleCI script to explicitly trigger test cases.
  .circleci/example-build-triggers.json
Due: trigger-coverage, trigger-build

Revert "NMS-19032 : Updated CircleCI script to explicitly trigger test cases."
  .circleci/example-build-triggers.json
Due: trigger-coverage, trigger-build

NMS-19032 : Updated CircleCI script to explicitly trigger test cases.
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-build

Null check on getCookie function
  features/vaadin-snmp-events-and-metrics/src/main/java/org/opennms/features/vaadin/events/EventPanel.java
Due: trigger-coverage, trigger-build

NMS-19007: Specify enabled explicitly even if default is true
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
Due: trigger-coverage, trigger-build

NMS-18547: Remove history command for sensitive information
  docs/modules/deployment/pages/core/centos/initialize-core.adoc
  docs/modules/deployment/pages/core/centos9/postgresql.adoc
Due: trigger-coverage, trigger-docs

NMS-19007: Add some tests
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-base-assembly/src/main/filtered/etc/examples/service-configuration.xml.default
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/test/java/org/opennms/netmgt/config/service/ServiceMergeTest.java
Due: trigger-coverage, trigger-build, trigger-docs
