Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

NMS-13723: fix DatacollectionGroup xsd and add test (#4202)
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/datacollection/DatacollectionGroup.java
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/datacollection/DatacollectionGroupValidationTest.java
Due: trigger-build

NMS-13929: Add a note on consolidate features
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-docs

responding to feedback. updating Requisition to be Requisition Plugin. Moving loose strings to constants file. Cleaning up some areas.
  ui/src/components/Common/Demo/MockupData/advancedDropdown.json
  ui/src/components/Common/Demo/MockupData/nodeData.json
  ui/src/components/Common/Demo/MockupData/schedulePeriod.json
  ui/src/components/Common/Demo/MockupData/tableMock.json
  ui/src/components/Common/Demo/MockupData/types.json
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationGeneratedUrl.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Configuration/ConfigurationService.ts
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Configuration/ConfigurationThreadPools.vue
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Configuration/copy/requisitionTypes.ts
  ui/src/services/configurationService.ts
Due: trigger-build, trigger-ui

do not try to adjust the make file descriptors at build-time
  bin/functions.pl
Due: trigger-build

NMS-13830: Update Classification Engine chapter in flows section
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/ksc.adoc
  docs/modules/operation/pages/flows/classification-engine.adoc
Due: trigger-docs

NMS-13929: Update docs
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-docs

NMS-13929: Add a note on consolidate features (#4204)
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-docs

NMS-13723: fix DatacollectionGroup xsd and add test (#4202) (#4206)
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/datacollection/DatacollectionGroup.java
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/datacollection/DatacollectionGroupValidationTest.java
Due: trigger-build

NMS-13950: Update persistence logic
  core/schema/src/main/liquibase/30.0.0/changelog.xml
  features/device-config/monitor-adaptor/pom.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
Due: trigger-build

NMS-13950: Fix build
  features/device-config/monitor-adaptor/pom.xml
Due: trigger-build

NMS-12863: Fix misspelled message in exception
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Events.java
Due: trigger-build

NMS-13783: change rpm spec init.d > bindir
  tools/packages/opennms/opennms.spec
Due: trigger-build

get rid of extraneous sentinel load, better bounds-checking on failure
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13950: Update test
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

NMS-13936: Handle review comments
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
Due: trigger-build

Release Notes for OpenNMS Meridian 2019.1.30
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-2019.adoc
Due: trigger-build

NMS-13783: make sure init.d exist before ln
  tools/packages/opennms/opennms.spec
Due: trigger-build

Release Notes for OpenNMS Meridian 2020.1.19
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-2020.adoc
Due: trigger-build

Release Notes for OpenNMS Meridian 2021.1.11
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-docs

NMS-12863: Remove wildcard imports
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Events.java
Due: trigger-build

whups, add the codename ;)
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-docs

Release Notes for OpenNMS Horizon 29.0.6
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-build, trigger-docs

add epoch for trigger
  .circleci/epoch
Due: trigger-build, trigger-docs, trigger-ui

add plugin rendering
  ui/src/App.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Plugin/PluginTable.vue
  ui/src/components/Plugin/utils.ts
  ui/src/containers/Plugin.vue
  ui/src/containers/PluginManagement.vue
  ui/src/router/index.ts
  ui/src/services/index.ts
  ui/src/services/pluginService.ts
  ui/src/store/index.ts
  ui/src/store/plugin/actions.ts
  ui/src/store/plugin/index.ts
  ui/src/store/plugin/mutations.ts
  ui/src/store/plugin/state.ts
  ui/src/types/index.ts
Due: trigger-build, trigger-ui

prune and gc to try to reduce the cache size
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13830: Update Classification Engine chapter in flows section
  docs/modules/operation/pages/flows/classification-engine.adoc
Due: trigger-docs

make some resource classes smaller, use shallow checkout in some cases
  .circleci/config.yml
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13880 - Deprecate Blackberry templates
  opennms-base-assembly/src/main/filtered/etc/eventconf.xml
  opennms-base-assembly/src/main/filtered/etc/events/BlackBerryServer-SMIv2.events.xml
  opennms-base-assembly/src/main/filtered/etc/events/BlackBerryServer.events.xml
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms_fault_config/eventconf.xml
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms_fault_config/eventconf_NoOpennmsalarms.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/events/BlackBerryServer-SMIv2.events.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/events/BlackBerryServer.events.xml
Due: trigger-build

NMS-13950: Move persistence to ServiceMonitorAdaptor (#4179)
  core/schema/src/main/liquibase/30.0.0/changelog.xml
  features/device-config/monitor-adaptor/pom.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/monitor-adaptor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptorIT.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/ConfigType.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  features/device-config/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  opennms-base-assembly/pom.xml
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/poller/DefaultPollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManager.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManagerDaoImpl.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableServiceConfig.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockQueryManager.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/DeviceConfigPersistenceIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PathOutageManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollContextIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerRpcTimeoutIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/mock/MockPollContext.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollableServiceConfigIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollablesIT.java
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-test-deviceConfig.xml
Due: trigger-build

NMS-13937: Add device config sink
  features/device-config/pom.xml
  features/device-config/sink/consumer/pom.xml
  features/device-config/sink/consumer/src/main/java/org/opennms/features/deviceconfig/sink/consumer/DeviceConfigConsumer.java
  features/device-config/sink/consumer/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/consumer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/dispatcher/pom.xml
  features/device-config/sink/dispatcher/src/main/java/org/opennms/features/deviceconfig/sink/dispatcher/DeviceConfigDispatcher.java
  features/device-config/sink/dispatcher/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/dispatcher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/module/pom.xml
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigDTO.java
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigSinkModule.java
  features/device-config/sink/module/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/module/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/pom.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/IpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockIpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/IpInterfaceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/IpInterfaceDaoIT.java
Due: trigger-build

split device config bundles into (lots of) features
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigSinkModuleImpl.java
Due: trigger-build

DeviceConfigConsumer registers itself
  features/device-config/sink/consumer/src/main/java/org/opennms/features/deviceconfig/sink/consumer/DeviceConfigConsumer.java
  features/device-config/sink/consumer/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/consumer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/dispatcher/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/module/src/main/resources/META-INF/opennms/component-dao.xml
Due: trigger-build

split device config bundles into (lots of) features
  container/features/src/main/resources/features.xml
  core/ipc/sink/common/src/main/java/org/opennms/core/ipc/sink/common/AsyncDispatcherImpl.java
  features/device-config/sink/consumer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/dispatcher/src/main/java/org/opennms/features/deviceconfig/sink/dispatcher/DeviceConfigDispatcher.java
  features/device-config/sink/dispatcher/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/dispatcher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigSinkModule.java
  features/device-config/sink/module/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/sink/module/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/minion/repository/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-build

add missing component-dao.xml reference to test
  opennms-services/src/test/java/org/opennms/netmgt/poller/DeviceConfigPersistenceIT.java
Due: trigger-build

device config sink dependencies to minion pom
  features/minion/repository/pom.xml
Due: trigger-build

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
