Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2-discovery.adoc
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-2-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14210: Add documentation for SELinux as a requirement to run OpenNMS
  antora-playbook-local.yml
  docs/modules/deployment/pages/core/centos-rhel7/selinux.adoc
  docs/modules/deployment/pages/core/centos-rhel8/selinux.adoc
  docs/modules/deployment/pages/core/debian-ubuntu/selinux.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-14933 Prevent resubmission of editoutage.jsp (#5663)
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/service-assurance/path-outages.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/path-outages.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fixed Return space
  docs/modules/operation/pages/deep-dive/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fixed space return
  docs/modules/operation/pages/deep-dive/topology/enlinkd/layer-3-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/service-assurance/application-perspective-monitoring/introduction.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresholding.adoc
  docs/modules/operation/pages/deep-dive/user-management/pre-authentication.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-13469: fix ReST queries for OnmsIpInterface snmpPrimary
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/IpInterfaceTopologyEntity.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/TopologyEntityDaoHibernate.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/NodeTopologyServiceImpl.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.browsers/src/main/java/org/opennms/features/topology/plugins/browsers/NodeDaoContainer.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/IpInterfaceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoredServiceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/NodeDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/CharacterUserType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/PrimaryType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/PrimaryTypeAdapter.java
  opennms-model/src/main/java/org/opennms/netmgt/model/PrimaryTypeUserType.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/RequisitionInterface.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/DefaultPollContext.java
  opennms-tools/access-point-monitor/src/main/java/org/opennms/netmgt/accesspointmonitor/DefaultPollingContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaValueConverters.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IpInterfaceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/IpInterfaceRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13469: add some tests, cleanup and fix warnings
  opennms-dao/src/test/java/org/opennms/netmgt/dao/IpInterfaceDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/IpInterfaceDaoHibernateIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/CharacterUserType.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13469: feedback: switch constructor to reference other constructor
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/IpInterfaceTopologyEntity.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13469: this needs to be a string after recent model changes
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/IpInterfaceTopologyEntity.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

clean up context issues when mixing branches and releases
  opennms-container/common.mk
  opennms-container/core/Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

only keep 4 days in the circleci maven cache instead of 7
  .circleci/scripts/clean-m2.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

merge failure
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14210: Add documentation for SELinux as a requirement to run OpenNMS
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

one more merge failure
  features/ticketing/jira-client/pom.xml
  opennms-icmp/opennms-icmp-jni/pom.xml
  opennms-icmp/opennms-icmp-jni6/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15040: Misc. cleanup
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 31.0.3
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

make newer shellcheck happy
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Debian release notes for Horizon 31.0.3
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

JMX smoke test hardening
  smoke-test/src/test/java/org/opennms/smoketest/JmxConfigurationGeneratorIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fixed typos in Debian changelog entries for Minion and Sentinel assemblies
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fixed markdown burp in Horizon 31.0.3 release notes
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

tweak debian packages
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
