Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

style(ui): outline all text-variant Cancel buttons (NMS-20033)
  ui/src/components/EventConfigEventCreate/BasicInformation.vue
  ui/src/components/EventConfiguration/Dialog/CreateEventConfigurationDialog.vue
  ui/src/components/EventConfiguration/Dialog/UploadedFileRenameDialog.vue
  ui/src/components/SCV/ScvSearchDrawer.vue
  ui/src/components/SnmpDataCollection/Dialog/UploadedFileRenameDialog.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/MibGroupCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/ResourceTypeCreationDrawer.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/components/TrapdConfiguration/CreateSnmpV3User.vue
Due: trigger-coverage, trigger-build, trigger-ui

dcb fix
  ui/src/containers/DeviceConfigBackup.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix(ui): show border on outlined+text buttons (NMS-20033)
  ui/src/styles/primevue-overrides.scss
Due: trigger-coverage, trigger-build, trigger-ui

add missing variables
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-build

add guava32Version back
  pom.xml
Due: trigger-coverage, trigger-build

fix(ui): normalize search-input icon size to 1.5rem (NMS-20033)
  ui/src/components/Device/DCBSearch.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/FileEditor/Search.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
  ui/src/styles/primevue-overrides.scss
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20051: Fix JEXL sandbox bypass
  opennms-util/src/main/java/org/opennms/core/utils/jexl/OnmsJexlUberspect.java
  opennms-util/src/test/java/org/opennms/core/utils/jexl/OnmsJexlSandboxBypassTest.java
Due: trigger-coverage, trigger-build

add debugging
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-build

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-20030: Fix v2 alarm rest api access issue
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AlarmRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
Due: trigger-coverage, trigger-build

Add Architecture and Deployment Planning docs chapter
  docs/modules/deployment/images/deployment/architecture/dedicated-timeseries.svg
  docs/modules/deployment/images/deployment/architecture/distributed.svg
  docs/modules/deployment/images/deployment/architecture/example-enterprise.svg
  docs/modules/deployment/images/deployment/architecture/example-flow-heavy.svg
  docs/modules/deployment/images/deployment/architecture/external-postgres.svg
  docs/modules/deployment/images/deployment/architecture/fault-management.svg
  docs/modules/deployment/images/deployment/architecture/message-broker.svg
  docs/modules/deployment/images/deployment/architecture/metrics-pipeline.svg
  docs/modules/deployment/images/deployment/architecture/minions.svg
  docs/modules/deployment/images/deployment/architecture/single-host.svg
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/architecture/data-domains.adoc
  docs/modules/deployment/pages/architecture/deployment-scenarios.adoc
  docs/modules/deployment/pages/architecture/deployments-in-practice.adoc
  docs/modules/deployment/pages/architecture/introduction.adoc
Due: trigger-coverage, trigger-docs

add debugging 2
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/sentinel/create-sentinel-assembly.sh
Due: trigger-coverage, trigger-build

fix(ui): destroy Chart.js instances to stop canvas reuse errors on resource graphs (NMS-20033)
  ui/src/components/Resources/Graph.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix(ui): await graph definitions before navigating on Graph All (NMS-20033)
  ui/src/components/Resources/NodeResourceList.vue
Due: trigger-coverage, trigger-build, trigger-ui

wip snmp config add command
  core/snmp/commands/pom.xml
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/SnmpAddConfigCommand.java
Due: trigger-coverage, trigger-build

refactor(ui): seed resource graphs reactively from the store (NMS-20033)
  ui/src/components/Resources/Graphs.vue
Due: trigger-coverage, trigger-build, trigger-ui

style(ui): uppercase resource-graph tabs; fix oversized profiles autocomplete (NMS-20033)
  ui/src/components/Resources/Graph.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
Due: trigger-coverage, trigger-build, trigger-ui

styling tweaks
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/SnmpDataCollectionProfileDetails.vue
  ui/src/containers/SnmpDataCollection.vue
Due: trigger-coverage, trigger-build, trigger-ui

refactor(ui): promote 3rem input height to global; wrap two form autocompletes in FormField (NMS-20033)
  ui/src/components/Common/FormField.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionProfile/ProfileSourcesTab.vue
  ui/src/components/SnmpDataCollection/SnmpDataCollectionSourceDetail/Drawer/SnmpDataCollectionSourceProfilesDrawer.vue
  ui/src/styles/primevue-overrides.scss
Due: trigger-coverage, trigger-build, trigger-ui

fix(ui): give the footer a dark background in dark mode (NMS-20033)
  ui/src/components/Layout/Footer.vue
Due: trigger-coverage, trigger-build, trigger-ui

more tweaks
  ui/src/components/Layout/Footer.vue
Due: trigger-coverage, trigger-build, trigger-ui

Update introduction.adoc
  docs/modules/deployment/pages/architecture/introduction.adoc
Due: trigger-coverage, trigger-docs

refactor(ui): migrate SNMP config table icon buttons to OnmsIconButton (NMS-20033)
  ui/src/components/SnmpConfiguration/SnmpConfigDefinitionsTable.vue
  ui/src/components/SnmpConfiguration/SnmpConfigProfilesTable.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix(ui): reattach map popup Esc listener on keep-alive reactivation (NMS-20033)
  ui/src/components/Map/LeafletMap.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix(ui): share one debounced graph search across keystrokes (NMS-20033) !smoke
  ui/src/components/Resources/Graphs.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20056: Fix discovery Rest to restrict endpoints to Admins
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/DiscoveryRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/DiscoveryRestServiceIT.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
Due: trigger-coverage, trigger-build

NMS-20055: Fix rest endpoints that expose protected fields
  opennms-web-api/src/main/java/org/opennms/web/api/RestUtils.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/CategoryRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/CategoryRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-19980: reject descending ranges and compressed IPv6 (review fixes)
  core/lib/src/main/java/org/opennms/core/utils/IplikeSqlTranslator.java
  core/lib/src/test/java/org/opennms/core/utils/IplikeSqlTranslatorTest.java
  core/schema/src/main/resources/org/opennms/core/schema/iplike.sql
  core/test-api/db/src/test/java/org/opennms/core/test/db/IPLikeCoverageIT.java
Due: trigger-coverage, trigger-build

NMS-19096: Refresh NodeScan scan stamp on each scheduled run
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/NodeScan.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeScanTest.java
Due: trigger-coverage, trigger-build

NMS-20050: Prevent shutdown delays in Provisiond
  opennms-provision/opennms-provisiond/src/main/resources/META-INF/opennms/applicationContext-provisiond.xml
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisiondExecutorLifecycleTest.java
  opennms-provision/opennms-requisition-service/src/main/resources/META-INF/opennms/component-dao.xml
  opennms-provision/opennms-requisition-service/src/test/java/org/opennms/netmgt/provision/persist/rpc/RequisitionExecutorLifecycleTest.java
Due: trigger-coverage, trigger-build

NMS-19096: Replace scan-stamp unit test with a behavioral IT
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeScanTest.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
Due: trigger-coverage, trigger-build

NMS-19096: Strengthen the NodeScan reap IT assertions
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
Due: trigger-coverage, trigger-build

NMS-20055: Address review comments
  opennms-web-api/src/main/java/org/opennms/web/api/RestUtils.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/CategoryRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeRestServiceIT.java
Due: trigger-coverage, trigger-build

bump dropwizardMetricsVersion
  pom.xml
Due: trigger-coverage, trigger-build

docs: Fix malformed system requirements xref on the core install page
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-docs

Roll in write-time aggregation, a la Nephron, into the PostgeSQL flow backend implementation
  container/features/src/main/resources/features-sentinel.xml
  docs/modules/operation/pages/deep-dive/flows/basic.adoc
  docs/modules/operation/pages/deep-dive/flows/sentinel/sentinel.adoc
  features/flows/postgres/pom.xml
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/AggregatedFlow.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/AggregatedFlowQueryService.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/AggregatingFlowRepository.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FixedWindowAggregation.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowAggWriter.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowAggregator.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/FlowInput.java
  features/flows/postgres/src/main/java/org/opennms/netmgt/flows/postgres/PostgresSmartQueryService.java
  features/flows/postgres/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/postgres/src/main/resources/org/opennms/netmgt/flows/postgres/changelog.xml
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FixedWindowAggregationTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FlowAggIT.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/FlowAggregatorTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/PostgresFlowDisabledTest.java
  features/flows/postgres/src/test/java/org/opennms/netmgt/flows/postgres/PostgresSmartQueryServiceTest.java
  opennms-base-assembly/src/main/filtered/etc/vacuumd-configuration.xml
Due: trigger-coverage, trigger-build, trigger-docs

docs: Correct the RHEL 10 installation directions
  docs/modules/deployment/pages/core/centos-rhel10/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel10/postgresql.adoc
  docs/modules/deployment/pages/core/centos/adoptium.adoc
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel10.adoc
Due: trigger-coverage, trigger-docs

docs: Update Java references from 17 to 21
  docs/antora.yml
  docs/modules/deployment/pages/air-gap/air-gap-install.adoc
  docs/modules/deployment/pages/minion/centos-rhel9/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/centos-rhel9/install-sentinel.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  docs/modules/development/pages/build-from-source.adoc
Due: trigger-coverage, trigger-docs
