Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

NMS-16963: Changed log level to trace
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17070 review change
  docs/modules/reference/pages/telemetryd/protocols/jti.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 33.1.4
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17738: Fix bug with spog property
  features/grpc/exporter/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17738: Update package to avoid conflicts
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/AlarmMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/EventsMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/NmsInventoryMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/NmsInventoryGrpcClient.java
  features/grpc/exporter/src/main/proto/nms-inventory.proto
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17738: Add heartbeat service and some more adjustments
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/bsm/BsmGrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/bsm/BsmInventoryService.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/AlarmExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/EventsExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/InventoryExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogInventoryService.java
  features/grpc/exporter/src/main/proto/spog.proto
  features/grpc/exporter/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, initial commit
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReportDTO.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventDaoHibernate.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, added test case in alarm dao
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, used parameterized query, added some more asserts
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, update after testing
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, added test cases for events
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, typo fixes
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17729: Improvements for Trivy Scan Circleci Pipeline (#7654)
  .circleci/main/commands/oci/scan-image-trivy.yml
  .circleci/main/jobs/oci/horizon-image-single-arch-linux-amd64-trivy.yml
  .circleci/main/jobs/oci/horizon-image-single-arch-trivy.yml
  .circleci/main/jobs/oci/minion-image-single-arch-linux-amd64-trivy.yml
  .circleci/main/jobs/oci/minion-image-single-arch-trivy.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch-linux-amd64-trivy.yml
  .circleci/main/jobs/oci/sentinel-image-single-arch-trivy.yml
  .circleci/main/workflows/workflows_v2.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739, code review updates for Alarm dao and test cases
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17738: Some more cleanup
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/AlarmExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/EventsExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogInventoryService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17738: Update docs
  docs/modules/operation/pages/deep-dive/grpc-exporter/grpc-exporter.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17739, updated event dao and test cases
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17738: Add Heartbeat support on spog (#7657)
  docs/modules/operation/pages/deep-dive/grpc-exporter/grpc-exporter.adoc
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/bsm/BsmGrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/bsm/BsmInventoryService.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/AlarmMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/EventsMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/NmsInventoryMapper.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/AlarmExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/EventsExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/InventoryExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogGrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/SpogInventoryService.java
  features/grpc/exporter/src/main/proto/spog.proto
  features/grpc/exporter/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

Zenith Connect Proof of Concept - Meridian side
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/HttpMenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp/src/main/java/org/opennms/web/navigate/LocationBasedNavBarEntry.java
  opennms-webapp/src/main/java/org/opennms/web/navigate/NavBarEntry.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/components/ZenithConnect/ZenithConnectRegister.vue
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
  ui/src/components/ZenithConnect/ZenithConnectView.vue
  ui/src/containers/ZenithConnect.vue
  ui/src/containers/ZenithConnectSuccess.vue
  ui/src/router/index.ts
  ui/src/stores/zenithConnectStore.ts
  ui/src/types/mainMenu.d.ts
  ui/src/types/zenithConnect.d.ts
  ui/tests/configuration.test.ts
  ui/tests/deviceConfigBackup.test.ts
  ui/tests/scv.test.ts
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14199: Change status timestamp if event time is set
  docs/modules/reference/pages/service-assurance/monitors/PassiveStatusMonitor.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  features/poller/api/src/main/java/org/opennms/netmgt/poller/PollStatus.java
  opennms-services/src/main/java/org/opennms/netmgt/passive/PassiveStatusKeeper.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/monitors/PassiveServiceMonitorIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-15517: Use ReST-call to delete scheduled outage
  opennms-webapp/src/main/webapp/admin/sched-outages/index.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17725: Allow JAVA_MIN_MEM and JAVA_MAX_MEM to be set by environment variables
  opennms-container/minion/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17739: Issues in Alarm and Event DAO (Null reference and BigInteger conversion) (#7661)
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReportDTO.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventDaoIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17731: Remove zenith connect flags from opennms.properties
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17755
  docs/modules/operation/pages/deep-dive/device-config-backup/configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-17731: Zenith Connect UI Proof of Concept - Meridian side (#7662)
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/HttpMenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuRequestContext.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/menu/MenuProviderTest.java
  opennms-webapp-rest/src/test/resources/dispatcher-servlet.xml
  opennms-webapp/src/main/java/org/opennms/web/navigate/LocationBasedNavBarEntry.java
  opennms-webapp/src/main/java/org/opennms/web/navigate/NavBarEntry.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/src/components/ZenithConnect/ZenithConnectRegister.vue
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
  ui/src/components/ZenithConnect/ZenithConnectView.vue
  ui/src/containers/ZenithConnect.vue
  ui/src/containers/ZenithConnectSuccess.vue
  ui/src/router/index.ts
  ui/src/stores/zenithConnectStore.ts
  ui/src/types/mainMenu.d.ts
  ui/src/types/zenithConnect.d.ts
  ui/tests/configuration.test.ts
  ui/tests/deviceConfigBackup.test.ts
  ui/tests/scv.test.ts
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-17721: Disable SnmpMetadataProvisioningAdapter by default
  docs/modules/reference/pages/provisioning/adapters/snmp-metadata.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  integrations/opennms-snmp-metadata-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpMetadataProvisioningAdapter.java
  opennms-base-assembly/src/main/filtered/etc/snmp-metadata-adapter-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfig.java
  opennms-config-model/src/main/resources/xsds/snmp-metadata-adapter-configuration.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17737 update OSHI dependency [skip ci]
  container/features/src/main/resources/features.xml
  features/datachoices/pom.xml
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17721: Fixed test
  opennms-config-model/src/test/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfigTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Switch tiles server
  docs/modules/operation/pages/deep-dive/geographical-map/introduction.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-17737 remove skip cli to applu smoke tests
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code)
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/GrpcExporter.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/nmsinventory/NmsInventoryGrpcClient.java
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17721: Disable SnmpMetadataProvisioningAdapter by default
  docs/modules/reference/pages/provisioning/adapters/snmp-metadata.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  integrations/opennms-snmp-metadata-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpMetadataProvisioningAdapter.java
  opennms-base-assembly/src/main/filtered/etc/snmp-metadata-adapter-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfig.java
  opennms-config-model/src/main/resources/xsds/snmp-metadata-adapter-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfigTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

refactor: Remove OpenNMS managed Nexus repositories
  .circleci/main/commands/executions/run-build.yml
  .circleci/scripts/itest.sh
  .circleci/scripts/structure-settings.xml
  .circleci/settings.xml
  container/bridge/rest/pom.xml
  container/features/pom.xml
  container/shared/pom.xml
  container/spring-extender/pom.xml
  core/profiler/pom.xml
  dependencies/cassandra-test/pom.xml
  dependencies/hibernate/pom.xml
  dependencies/jackson1/pom.xml
  dependencies/jasper/pom.xml
  dependencies/javamail/pom.xml
  dependencies/jrobin/pom.xml
  dependencies/jrrd/pom.xml
  dependencies/jrrd2/pom.xml
  dependencies/newts/pom.xml
  dependencies/oia/pom.xml
  dependencies/spring-security-core/pom.xml
  dependencies/spring-security/pom.xml
  dependencies/spring-test/pom.xml
  dependencies/spring-web/pom.xml
  dependencies/spring/pom.xml
  features/jmx-config-generator/pom.xml
  features/minion/repository/pom.xml
  features/opennms-osgi-core-rest/pom.xml
  features/ticketing/jira-client/pom.xml
  features/vaadin-components/graph/pom.xml
  features/vaadin-dashboard/pom.xml
  features/vaadin/pom.xml
  integrations/opennms-vmware/pom.xml
  opennms-assemblies/webapp-full/pom.xml
  opennms-base-assembly/pom.xml
  opennms-full-assembly/pom.xml
  opennms-services/pom.xml
  pom.xml
  runtests.sh
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

build: test build packages
  .circleci/build-triggers.override.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17722 : Create GRPC server Side Tests.(update code)
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/GrpcClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/spog/NmsInventoryGrpcClient.java
  features/grpc/exporter/src/test/java/org/opennms/features/grpc/exporter/NmsInventoryServiceSyncIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-17732: Added protobuf to custom.properties
  container/karaf/src/main/filtered-resources/etc/custom.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
