Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

add sun.security.ssl to the provided karaf startup environment
  container/karaf/src/main/filtered-resources/etc/custom.properties
  features/container/minion/src/main/filtered-resources/etc/custom.properties
  features/container/sentinel/src/main/filtered-resources/etc/custom.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14777: R-Core fails to install following the Horizon 30 Install Docs
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-10133: Missing information in downtime model docs
  docs/modules/operation/pages/deep-dive/service-assurance/downtime-model.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/service-assurance/downtime-model.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

package prefix should be "opennms" in the horizon repo
  docs/antora.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update next branch
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Fix collectd-schedule.adoc typo
  docs/modules/operation/pages/deep-dive/performance-data-collection/shell/collectd-schedule.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16265" Update entrypoint.sh to run `config-tester -a`
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bonnie -> ronny :(
  .github/assign-by-files.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16151: assure that DestinationPathFactory is correctly initialized
  opennms-config/src/main/java/org/opennms/netmgt/config/DestinationPathFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/DestinationPathFactoryTest.java
  opennms-config/src/test/resources/etc/destinationPaths.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16167: Only display data of matching Collectd-package
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix a typo in our config that failed to load versioned shell-compat
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use the same custom.properties contents everywhere
  container/features/src/test/karaf-resources/custom.properties
  container/shared/src/main/filtered-resources/etc/custom.properties
  features/container/sentinel/src/main/filtered-resources/etc/custom.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the karaf extender to also look in system/
  container/extender/pom.xml
  container/extender/src/main/java/org/opennms/karaf/extender/KarafExtender.java
  container/extender/src/test/java/org/opennms/karaf/extender/KarafExtenderTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16162: Deny readonly users to modify alarm sticky and journal memos (
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmDetailController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16253: Fix sampling frequency and origin for gnmi (#6948)
  docs/modules/reference/pages/telemetryd/protocols/openconfig.adoc
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
  features/openconfig/telemetry-client/src/test/java/org/opennms/features/openconfig/telemetry/GnmiPathTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16259: Metadata manipulation via rest
  docs/modules/development/pages/rest/meta-data.adoc
  docs/modules/operation/pages/deep-dive/meta-data.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeMonitoredServiceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MetadataRestIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-13246: Move collectors from Performance Management section to Reference
  docs/modules/operation/pages/deep-dive/performance-data-collection/collectors.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix for merge issue from 2023 backport
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-cxf-rest-v2.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-13268: re-enable auto-refresh
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Create FORMATTER_CUSTOM_LOCALE to test with Locale set to US
  features/events/api/src/main/java/org/opennms/netmgt/events/api/LegacyDatetimeFormatter.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

the docker stuff got shaded in testcontainers
  smoke-test/src/test/resources/logback-test.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

switch karaf features
  features/container/sentinel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  opennms-base-assembly/src/main/filtered/bin/opennms
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

Latest Hawtio to work around startup weirdness; add to Sentinel
  features/sentinel/runInPlace.sh
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "work around a karaf config.core bug at startup"
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/shared/src/main/filtered-resources/etc/startup.properties
  core/cli/src/main/resources/bin/_module_opts.sh
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/sentinel/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/CassandraContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "fix SCV feature inclusion to work with dominion override"
  container/features/pom.xml
  container/features/src/main/resources/features-minion.xml
  container/shared/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  container/shared/src/main/resources/etc/featuresBoot.d/scv.boot
  smoke-test/src/test/java/org/opennms/smoketest/minion/NMS14655_IT.java
  tools/packages/minion/minion.spec
  tools/packages/sentinel/sentinel.spec
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "use the same features cfg for minion and sentinel, use features.uri for sentinel"
  features/container/sentinel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/sentinel/repository/src/main/resources/features.uri
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "validate our SSH as well, since it relies on core karaf dependencies"
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "sentinel doesn't need config.osgi.del"
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/startup.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "made some subtle mistakes in startup ordering for karaf 4.3.10"
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/startup.properties
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "add shell core to startup"
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/src/main/filtered-resources/etc/startup.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "update to Karaf 4.3.10"
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/shared/src/main/filtered-resources/etc/startup.properties
  features/reporting/jasper-reports-compiler/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
