Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

NMS-13638: Removing unrelated test cases
  smoke-test/src/test/java/org/opennms/smoketest/NodeRestIT.java
Due: trigger-build

handle when no matches happen in triggering
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

don't save cache again, this happens during real builds
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

re-add support for code coverage builds
  .circleci/main/@main.yml
  .circleci/main/parameters.yml
  .gitignore
Due: trigger-build, trigger-docs, trigger-ui

bust cache, this got messed up
  .circleci/config.yml
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

refactor a bit to make coverage triggering possible from the top level
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

give pre-build its own cache
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

Added new doc to navigation doc
  docs/modules/development/nav.adoc
Due: trigger-docs

there is no trigger-setup in the main yml
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

do not do other workflows when trigger-coverage is true
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

fix setup phase
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

PE-98 Flag to allowing multiple configurations
  features/config/dao/api/src/main/java/org/opennms/features/config/dao/api/ConfigDefinition.java
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/JsonConfigStoreDaoImpl.java
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/XsdHelper.java
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/AbstractCmJaxbConfigDao.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImpl.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ChangeSchema.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/RegisterSchema.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
Due: trigger-build

PE-98 Fix test issue
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImpl.java
Due: trigger-build

PE-98 Add TODO
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
Due: trigger-build

PE-98 Fix minor comments from pull request
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
Due: trigger-build

PE-98 Remove unnecessary constants
  core/test-api/services/src/main/java/org/opennms/netmgt/config/mock/MockNotifdConfigManager.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ProvisiondCmJaxbConfigTestDao.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfigFactory.java
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/dao/vmware/jaxb/VmwareConfigDaoJaxb.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DiscoveryConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/NotifdConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/TrapdConfigFactory.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/cm/DefaultJmxConfigDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/cm/DefaultProvisiondConfigurationDao.java
  protocols/xmp/src/main/java/org/opennms/netmgt/protocols/xmp/config/XmpConfigFactory.java
Due: trigger-build

NMS-13927: opennms-provisioning-api depends on the model for policies and type adapters
  container/features/src/main/resources/features.xml
Due: trigger-build

Create main.yml
  .github/workflows/main.yml
Due: trigger-build

update the README on current circleci architecture
  .circleci/README.md
Due: trigger-build, trigger-docs, trigger-ui

PE-1: address PR comments
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/JaxbXmlConverter.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/ConfigurationManagerService.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/util/OpenAPIConfigHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/cm/GenericSchemaIT.java
Due: trigger-build

Added new health rest doc to navigation doc (#4125)
  docs/modules/development/nav.adoc
Due: trigger-docs

make sure things are torn down properly before starting the next test(s)
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/KafkaAlarmDataSync.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
Due: trigger-build

graph data table
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphDataTable.vue
Due: trigger-build, trigger-ui

try more things to make sure the modal is gone
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/ProvisioningNewUIIT.java
Due: trigger-build

NMS-13694: Migrate Discourse charts article into main docs
  docs/modules/operation/images/webui/opsboard/03_admin-configure-opsboard.png
  docs/modules/operation/images/webui/opsboard/04_add-dashlet.png
  docs/modules/operation/images/webui/opsboard/05_opsboard-user.png
  docs/modules/operation/pages/admin/webui/opsboard/boosting-behavior.adoc
  docs/modules/operation/pages/admin/webui/opsboard/criteria-builder.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/alarm-detail.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/alarms.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/charts.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/grafana.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/image.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/ksc.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/map.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/rrd.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/rtc.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/summary.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/surveillance.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/topology.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/url.adoc
  docs/modules/operation/pages/admin/webui/opsboard/introduction.adoc
Due: trigger-docs

Fixed to trigger-coverage trigger to fix conflicting parameters pipeline error
  .circleci/config.yml
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

Fixes to trigger-coverage parameter (edited name in main.yml by mistake)
  .circleci/main/@main.yml
Due: trigger-build, trigger-docs, trigger-ui

Added single quotes that seem to be missing from the continuation parameters setting
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

Testing with config.yml params defined in main.yml for when triggers are used
  .circleci/main/parameters.yml
Due: trigger-build, trigger-docs, trigger-ui

add open single graph feat
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphContainer.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/router/index.ts
Due: trigger-build, trigger-ui

rm unused fn
  ui/src/components/Resources/Graph.vue
Due: trigger-build, trigger-ui

add some extra logging to diagnose what is failing here
  smoke-test/src/test/java/org/opennms/smoketest/rest/ReportRestIT.java
Due: trigger-build

more attempts to make this run deterministically
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
Due: trigger-build

stmt format tests
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/utils.ts
  ui/src/types/index.ts
  ui/tests/resourceGraphs.test.ts
Due: trigger-build, trigger-ui

NMS-13213: Updated readme file content
  README.md
Due: trigger-build

fix merge issue
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

Update docs/modules/operation/pages/admin/webui/opsboard/dashlet/ksc.adoc
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/ksc.adoc
Due: trigger-docs

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
