Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

NMS-19836: Move thresh-configuration.xml and thresholds.xml to DB
  features/collection/thresholding/impl/src/test/java/org/opennms/netmgt/threshd/ThresholdingConfigPersistenceIT.java
  features/config/service/impl/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/util/ConfigConvertUtil.java
  features/config/upgrade/src/main/resources/changelog-cm/36.0.1/changelog-cm.xml
  features/config/upgrade/src/main/resources/changelog-cm/changelog-cm.xml
  opennms-config-dao/thresholding/impl/pom.xml
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThreshdDao.java
  opennms-config-dao/thresholding/impl/src/main/java/org/opennms/netmgt/config/dao/thresholding/impl/OnmsThresholdingDao.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/Filter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ResourceFilter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ThreshdConfiguration.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/threshd/ThresholdingConfig.java
  opennms-config-model/src/main/resources/xsds/thresholding.xsd
Due: trigger-coverage, trigger-build

NMS-20327: keep one release-notes page, match the retired boxes without a leading slash
  docs/modules/releasenotes/nav.adoc
  docs/modules/releasenotes/pages/whatsnew-37.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-webapp/src/main/webapp/index.jsp
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20328: date pickers for outage time spans, ghost cancel buttons, dialog spacing !smoke
  ui/src/components/ScheduledOutages/TimeSpanEditor.vue
  ui/src/components/ScheduledOutages/outageTime.ts
  ui/src/containers/ScheduledOutageEditor.vue
  ui/src/containers/ScheduledOutages.vue
  ui/tests/components/ScheduledOutages/outageTime.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: format the SNMP ifSpeed values
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/src/components/Nodes/utils.ts
  ui/tests/components/Nodes/SnmpInterfacesTable.test.ts
  ui/tests/components/Nodes/utils.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20328: pad the Scheduled Outages page like its siblings !smoke
  ui/src/containers/ScheduledOutages.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20328: style the create dialog from outside the page scope !smoke
  ui/src/containers/ScheduledOutages.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20328: keep the editor's buttons under the schedule and explain the form !smoke
  ui/src/containers/ScheduledOutageEditor.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20313: drop Statsd from the 14.0.0 upgrade baseline too !smoke
  core/upgrade/src/main/resources/default/service-configuration-14.0.0.xml
Due: trigger-coverage, trigger-build

NMS-20301: node attributes behind Info..., drop the SNMP Attributes panel
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/NodeDetailsDialog.vue
  ui/src/components/Nodes/NodeSnmpAttributes.vue
  ui/src/containers/NodeDetails.vue
  ui/tests/containers/NodeDetails.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Revert "NMS-20313: drop Statsd from the 14.0.0 upgrade baseline too !smoke"
  core/upgrade/src/main/resources/default/service-configuration-14.0.0.xml
Due: trigger-coverage, trigger-build

NMS-20310: Update xStream to 1.4.21 (#8860)
  container/karaf/src/main/internal/features-processing.xml
  container/shared/src/main/internal/features-processing.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20315: Update Objenesis to 3.5 (#8861)
  container/features/src/main/resources/features-core.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20317: Exclude Guice from the Newts dependencies (#8862)
  dependencies/cassandra-test/pom.xml
  dependencies/newts/pom.xml
  features/measurements/shell/pom.xml
Due: trigger-coverage, trigger-build

NMS-20316: Remove unused spring-dm, Spring 3.1 and messaging features (#8863)
  container/features/src/main/resources/spring-legacy.xml
  core/test-api/karaf/pom.xml
  dependencies/spring/pom.xml
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20318: Drop the Guava 17/21 features and update wsman to 1.3.3 (#8864)
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features.xml
  opennms-full-assembly/pom.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20301: categories onto the header badge, drop the categories panel
  ui/src/components/Nodes/NodeCategoriesPanel.vue
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/src/containers/NodeDetails.vue
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/NodeCategoriesPanel.test.ts
  ui/tests/components/Nodes/NodeDetailsHeader.test.ts
  ui/tests/components/Nodes/nodeActionLinks.test.ts
  ui/tests/containers/NodeDetails.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: drop the comma before the categories ellipsis
  ui/src/components/Nodes/NodeDetailsHeader.vue
  ui/tests/components/Nodes/NodeDetailsHeader.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20321: Document adapted types, Java enum names and usable defaults
  opennms-openapi-docs/src/main/java/org/opennms/openapi/WireFormatModelResolver.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiDocsContentTest.java
Due: trigger-coverage

NMS-20301: gate the admin-only node actions on ROLE_ADMIN
  ui/src/components/Nodes/NodeActionsDropdown.vue
  ui/src/components/Nodes/nodeActionLinks.ts
  ui/tests/components/Nodes/NodeActionsDropdown.test.ts
  ui/tests/components/Nodes/nodeActionLinks.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20312: Project topology overlays correctly while the graph is empty (#8857)
  ui/src/components/Topology/TopologyCanvas.vue
Due: trigger-coverage, trigger-build, trigger-ui

run a full build
  .circleci/epoch
Due: trigger-coverage, trigger-build

Update the core architecture diagram and document daemon dependencies
  docs/modules/deployment/images/deployment/core/opennms-arch.svg
  docs/modules/deployment/pages/core/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/dependencies.adoc
Due: trigger-coverage, trigger-docs

NMS-20128: Manage Minions review follow-ups
  ui/src/components/ManageMinions/MinionEditorDialog.vue
  ui/src/components/ManageMinions/MinionsAbout.vue
  ui/src/components/ManageMinions/MinionsHelpPanel.vue
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/src/containers/ManageMinions.vue
  ui/src/services/minionAdminService.ts
  ui/src/stores/minionAdminStore.ts
  ui/src/types/minionAdmin.ts
  ui/tests/components/ManageMinions/MinionEditorDialog.test.ts
  ui/tests/components/ManageMinions/MinionsAbout.test.ts
  ui/tests/components/ManageMinions/MinionsHelpPanel.test.ts
  ui/tests/components/ManageMinions/MinionsTable.test.ts
  ui/tests/containers/ManageMinions.test.ts
  ui/tests/services/minionAdminService.test.ts
  ui/tests/stores/minionAdminStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20127: stable chart entity, sequential batches, refresh-bound cache
  ui/src/components/Dashboard/PanelOptionsDialog.vue
  ui/src/components/Dashboard/panels/MetricChartPanel.vue
  ui/src/components/Dashboard/panels/TopnPanel.vue
  ui/src/services/metricChartService.ts
  ui/src/services/topnService.ts
  ui/src/stores/dashboardStore.ts
  ui/tests/services/metricChartService.test.ts
  ui/tests/services/topnService.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20328: validate a time span before it is formatted
  ui/src/components/ScheduledOutages/TimeSpanEditor.vue
  ui/src/components/ScheduledOutages/outageTime.ts
  ui/tests/components/ScheduledOutages/TimeSpanEditor.test.ts
  ui/tests/components/ScheduledOutages/outageTime.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20128: harden the minion node lookup
  ui/src/components/ManageMinions/MinionsTable.vue
  ui/src/services/minionAdminService.ts
  ui/tests/services/minionAdminService.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20152: split the forecast page into typed utility modules
  ui/src/components/AdhocGraphs/AdhocChart.vue
  ui/src/components/Resources/ForecastGraph.vue
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphDataTable.vue
  ui/src/components/Resources/types.ts
  ui/src/components/Resources/utils/forecastUtils.ts
  ui/src/components/Resources/utils/legendFormatter.ts
  ui/src/components/Resources/utils/validation.ts
  ui/src/types/index.ts
  ui/tests/components/Resources/forecastUtils.test.ts
  ui/tests/resourceGraphs.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: clear the interface rows before fetching a new node
  ui/src/stores/nodeStore.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: cancel the search debounce when its scope is disposed
  ui/src/components/Nodes/hooks/useDebouncedSearch.ts
  ui/tests/components/Nodes/hooks/useDebouncedSearch.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20131: bring Manage Categories onto the onms-ui seam conventions
  ui/src/components/ManageCategories/CategoriesAbout.vue
  ui/src/components/ManageCategories/CategoriesHelpPanel.vue
  ui/src/components/ManageCategories/CategoriesTable.vue
  ui/src/components/ManageCategories/CategoryEditorDialog.vue
  ui/src/components/ManageCategories/CategoryNodesDialog.vue
  ui/src/containers/ManageCategories.vue
  ui/src/services/categoryAdminService.ts
  ui/src/stores/categoryAdminStore.ts
  ui/src/types/categoryAdmin.ts
  ui/tests/components/ManageCategories/CategoriesAbout.test.ts
  ui/tests/components/ManageCategories/CategoriesHelpPanel.test.ts
  ui/tests/components/ManageCategories/CategoriesTable.test.ts
  ui/tests/components/ManageCategories/CategoryEditorDialog.test.ts
  ui/tests/components/ManageCategories/CategoryNodesDialog.test.ts
  ui/tests/containers/ManageCategories.test.ts
  ui/tests/services/categoryAdminService.test.ts
  ui/tests/stores/categoryAdminStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20332: Updated Karaf to version 4.4.9
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/blacklisted.properties
  container/karaf/src/main/filtered-resources/etc/config.properties
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/karaf/src/main/internal/features-processing.xml
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/startup.properties
  container/shared/src/main/internal/features-processing.xml
  features/config/osgi/del/pom.xml
  features/minion/repository/pom.xml
  features/minion/repository/src/main/resources/features.boot
  features/sentinel/repository/pom.xml
  features/vaadin-components/extender-service/pom.xml
  integrations/opennms-jasper-extensions/src/test/java/org/opennms/netmgt/jasper/helper/TimezoneHelperTest.java
  opennms-config-dao/poll-outages/itests/src/test/java/org/opennms/netmgt/config/dao/outages/impl/OverrideablePollOutagesDaoImplTest.java
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/osgi.xml
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20335: Fix missing chunk for Sink messages with large buffer sizes
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/KafkaLargeBufferSinkIT.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
Due: trigger-coverage, trigger-build

NMS-20321: Resolve OpenAPI schemas from the JSON wire names, not bean property names (#8869)
  opennms-openapi-docs/pom.xml
  opennms-openapi-docs/src/main/java/org/opennms/openapi/OpenApiDocGenerator.java
  opennms-openapi-docs/src/main/java/org/opennms/openapi/WireFormatModelResolver.java
  opennms-openapi-docs/src/test/java/org/opennms/openapi/OpenApiDocsContentTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/config/TrapdConfigurationResource.java
Due: trigger-coverage, trigger-build

resolve duplicate and missing entry, add `order by`
  opennms-base-assembly/src/main/filtered/etc/datacollection/fortinet-fortigate-application-v5.2.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionMibGroupDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionResourceTypeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpCollectionSystemDefDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/SnmpDataCollectionConfigLoaderImpl.java
Due: trigger-coverage, trigger-build

NMS-20301: fill the node's IP interface map from the table's own fetch
  ui/src/containers/NodeDetails.vue
  ui/src/stores/nodeStore.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/stores/nodeStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: fetch each interface table only once its tab is shown
  ui/src/components/Nodes/InterfacesTabs.vue
  ui/src/components/Nodes/IpInterfacesTable.vue
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/tests/components/Nodes/IpInterfacesTable.test.ts
  ui/tests/components/Nodes/SnmpInterfacesTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20301: show a spinner while the interface tables fetch
  ui/src/components/Nodes/IpInterfacesTable.vue
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/src/components/Nodes/hooks/useDelayedLoading.ts
  ui/tests/components/Nodes/IpInterfacesTable.test.ts
  ui/tests/components/Nodes/SnmpInterfacesTable.test.ts
  ui/tests/components/Nodes/hooks/useDelayedLoading.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20081: OnmsTable loading prop
  ui/packages/onms-ui/src/components/OnmsTable.vue
  ui/tests/onms-ui/OnmsTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui
