Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

mockito: remove easymock from protocols
  protocols/cifs/pom.xml
  protocols/cifs/src/main/java/org/opennms/netmgt/poller/monitors/JCifsMonitor.java
  protocols/cifs/src/test/java/org/opennms/netmgt/poller/monitors/JCifsMonitorTest.java
  protocols/nsclient/pom.xml
  protocols/nsclient/src/test/java/org/opennms/protocols/nsclient/collector/NsclientCollectorTest.java
  protocols/xml/pom.xml
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/HttpDataCollectionIT.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS7963IT.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NodeLevelDataOnMultipleNodesTest.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/XmlCollectorITCase.java
Due: trigger-build

mockito: remove easymock from opennms-webapp
  opennms-webapp/pom.xml
  opennms-webapp/src/test/java/org/opennms/web/controller/GraphResultsControllerTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/DefaultDatabaseReportListServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/catstatus/support/DefaultCategoryStatusServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultRrdGraphServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultSiteStatusServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultStatisticsReportServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultSurveillanceServiceTest.java
  opennms-webapp/src/test/resources/org/opennms/web/svclayer/schedulerServiceTest.xml
Due: trigger-build

mockito: remove easymock from opennms-webapp-rest
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/ScheduledOutagesRestServiceIT.java
Due: trigger-build

NMS-13887: Altered Karaf configuration to default to java.rmi.server.hostname
  container/shared/src/main/resources/etc/org.apache.karaf.management.cfg
Due: trigger-build

NMS-13928: remove docker inactive images cr1
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928: remove docker inactive images cr2
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928: remove docker inactive images cr3
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928: remove docker inactive images cr4
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928: remove docker inactive images cr5
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

PE-162: [notifications.xml] - migrate notifications.xml to the new CM (#4185)
  container/features/src/main/resources/features.xml
  core/test-api/services/src/main/java/org/opennms/netmgt/config/mock/MockNotificationManager.java
  features/config/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/util/OpenAPIConfigHelper.java
  features/config/test/src/test/java/org/opennms/features/config/convert/NotificationsTest.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
  features/config/util/pom.xml
  features/config/util/src/main/java/org/opennms/features/config/util/json/YesNoDeserializer.java
  features/config/util/src/test/java/YesNoDeserializerTest.java
  integration-tests/config/pom.xml
  integration-tests/config/src/test/java/org/opennms/netmgt/config/CmWillItUnmarshalIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalCoverageMetaIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/notifications/Header.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/notifications/Notification.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/notifications/Notifications.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/notifications/Parameter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/notifications/Varbind.java
  opennms-config-model/src/main/resources/defaults/notifications.xml
  opennms-config-model/src/main/resources/xsds/notifications.xsd
  opennms-config/src/main/java/org/opennms/netmgt/config/NotificationFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/NotificationManager.java
  opennms-dao/src/test/java/org/opennms/netmgt/config/NotificationManagerIT.java
  opennms-services/pom.xml
Due: trigger-build

Fix merge develop => CM-Phase2
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
Due: trigger-build

Fix merge develop => CM-Phase2
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
Due: trigger-build

Fix merge develop => CM-Phase2
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
Due: trigger-build

PE-174: Support multiple instances of the same service in OSGI
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/Activator.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CallbackManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmPersistenceManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/DictionaryUtil.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/DictionaryUtilTest.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/CmPersistenceManagerDelegator.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/MigratedServices.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/ConfigurationManagerService.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/EventType.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/util/CmProperties.java
  features/config/service/impl/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/AbstractCmJaxbConfigDao.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImpl.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/EventHandlerManager.java
  features/config/service/impl/src/test/java/org/opennms/features/config/service/impl/EventHandlerManagerTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ConfigFileUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurations.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/Substring.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseUpgrader.java
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/SubstringTest.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
  features/graphml/service/pom.xml
Due: trigger-build

Fix merge develop => CM-Phase2: fix PR comments
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
Due: trigger-build

Fix merge develop => CM-Phase2: fix PR comments
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
Due: trigger-build

fix feather versions
  ui/package.json
  ui/yarn.lock
Due: trigger-build, trigger-ui

get rid of maven-3rdparty repos
  container/bridge/rest/pom.xml
  container/features/pom.xml
  features/minion/core/repository/pom.xml
  features/opennms-osgi-core-rest/pom.xml
  features/sentinel/repository/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-build

NMS-13928: automatically prune old feature branches from dockerhub (#4184)
  .circleci/README.md
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13866: Add additional steps running as non-root on old Kernels, e.g. RHEL7
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-docs

PE-204: Merge PE-204 => phase2
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/Activator.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CallbackManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmPersistenceManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/DictionaryUtil.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/DictionaryUtilTest.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/CmPersistenceManagerDelegator.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/MigratedServices.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/ConfigurationManagerService.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/EventType.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/util/CmProperties.java
  features/config/service/impl/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/AbstractCmJaxbConfigDao.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImpl.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/EventHandlerManager.java
  features/config/service/impl/src/test/java/org/opennms/features/config/service/impl/EventHandlerManagerTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ConfigFileUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurations.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/Substring.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseUpgrader.java
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/SubstringTest.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
  features/graphml/service/pom.xml
Due: trigger-build

NMS-13866: Add additional steps running as non-root on old Kernels
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
Due: trigger-docs

PE-151:[snmp-config.xml] - Migrate to new CM
  core/ipc/twin/jms/itests/src/test/java/org/opennms/core/ipc/twin/jms/JmsTwinIT.java
  core/snmp/profile-mapper/src/test/java/org/opennms/core/snmp/profile/mapper/SnmpProfileMapperIT.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/SmtpMonitorIT.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/SnmpDetectorWithProfilesTest.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeInfoScanIT.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeScanIT.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  opennms-alarms/jms-northbounder/src/test/java/org/opennms/netmgmt/alarmd/northbounder/jms/JmsNorthBounderTest.java
  opennms-alarms/jms-northbounder/src/test/resources/applicationContext-mockJmsNorthDao.xml
  opennms-config/src/test/java/org/opennms/netmgt/config/ConfigureSnmpTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  features/rest/mapper/src/test/java/org/opennms/web/rest/mapper/v2/AlarmMapperTest.java
  tests/dao/src/test/java/org/opennms/netmgt/dao/stats/AlarmStatisticsServiceTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  features/eif-adapter/src/test/java/org/opennms/features/eifadapter/EifTranslatorTest.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockSnmpDao.xml
  opennms-provision/opennms-detector-simple/src/test/resources/snmp-config.xml
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEventInfoTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/JUnitSnmpAgentExecutionListenerIT.java
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/SnmpProxyIT.java
  core/snmp/profile-mapper/src/test/java/org/opennms/core/snmp/profile/mapper/SnmpProfileMapperIT.java
  core/test-api/snmp/src/main/java/org/opennms/core/test/snmp/ProxySnmpAgentConfigFactory.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/HashUtilTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/ConfigureSnmpTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEventInfoTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/SnmpDetectorWithProfilesTest.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/operations/ScanManager.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeInfoScanIT.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/NodeScanIT.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectorConfigDaoImplIT.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/OpenNMSITCase.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  core/ipc/sink/kafka/itests/src/test/java/org/opennms/core/ipc/sink/kafka/itests/HeartbeatSinkPerfIT.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventSinkConsumerIT.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  core/test-api/snmp/src/main/java/org/opennms/core/test/snmp/ProxySnmpAgentConfigFactory.java
  core/test-api/snmp/src/main/resources/META-INF/opennms/applicationContext-proxy-snmp.xml
  features/enlinkd/tests/src/test/resources/snmp-config.xml
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpPeerFactoryTest.java
  opennms-config/src/test/resources/etc/mock-dao.xml
  opennms-config/src/test/resources/etc/snmp-config.xml
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  core/ipc/rpc/jms-impl/src/test/java/org/opennms/core/rpc/jms/EchoRpcIT.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/SshMonitorIT.java
Due: trigger-build

PE-151: add comment about the xsd workaround
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpConfig.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEventInfoTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/JUnitSnmpAgentExecutionListenerIT.java
  opennms-config/src/test/resources/etc/mock-dao.xml
Due: trigger-build

PE-151: workaround snmp-config.xsd convertion bug in eclipselink
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  features/config/test/src/test/java/org/opennms/features/config/convert/SnmpConfigTest.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEventInfoTest.java
Due: trigger-build

PE-151:[snmp-config.xml] - Migrate to new CM
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/SnmpProfiles.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEventInfoTest.java
Due: trigger-build

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)
