Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

fix a typo in changelog
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix annoying error during ackd test run
  opennms-ackd/src/main/java/org/opennms/netmgt/ackd/Ackd.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update THIRD-PARTY.properties with latest license changes
  container/features/src/license/THIRD-PARTY.properties
  features/graphml/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update generated licenses
  container/features/src/license/THIRD-PARTY.properties
  core/test-api/kafka/src/license/THIRD-PARTY.properties
  dependencies/jcifs/src/license/THIRD-PARTY.properties
  dependencies/jinterop/src/license/THIRD-PARTY.properties
  features/juniper-tca-collector/src/license/THIRD-PARTY.properties
  features/minion/repository/src/license/THIRD-PARTY.properties
  features/notifications/ticket-strategy/src/license/THIRD-PARTY.properties
  features/poller/monitors/core/src/license/THIRD-PARTY.properties
  features/sentinel/repository/src/license/THIRD-PARTY.properties
  features/telemetry/daemon/src/license/THIRD-PARTY.properties
  features/telemetry/distributed/sentinel/src/license/THIRD-PARTY.properties
  features/telemetry/itests/src/license/THIRD-PARTY.properties
  features/telemetry/protocols/openconfig/itests/src/license/THIRD-PARTY.properties
  features/ticketing/drools-integration/src/license/THIRD-PARTY.properties
  features/wsman/src/license/THIRD-PARTY.properties
  integrations/opennms-wsman-asset-provisioning-adapter/src/license/THIRD-PARTY.properties
  opennms-asterisk/src/license/THIRD-PARTY.properties
  opennms-provision/opennms-detector-simple/src/license/THIRD-PARTY.properties
  opennms-services/src/license/THIRD-PARTY.properties
  opennms-webapp/src/license/THIRD-PARTY.properties
  opennms-wmi/src/license/THIRD-PARTY.properties
  protocols/cifs/src/license/THIRD-PARTY.properties
  protocols/nsclient/src/license/THIRD-PARTY.properties
  protocols/radius/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update generated licenses
  dependencies/cassandra-test/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update generated licenses
  container/features/src/license/THIRD-PARTY.properties
  opennms-assemblies/minion/src/license/THIRD-PARTY.properties
  opennms-assemblies/sentinel/src/license/THIRD-PARTY.properties
  opennms-assemblies/xsds/src/license/THIRD-PARTY.properties
  opennms-base-assembly/src/license/THIRD-PARTY.properties
  opennms-full-assembly/src/license/THIRD-PARTY.properties
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14735: Beyond Quick Start
  docs/modules/operation/pages/deep-dive/performance-data-collection/data-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/resource-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-index.adoc
  docs/modules/operation/pages/deep-dive/provisioning/auto-discovery.adoc
  docs/modules/operation/pages/deep-dive/provisioning/directed-discovery.adoc
  docs/modules/operation/pages/deep-dive/provisioning/foreign-source.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
  docs/modules/operation/pages/deep-dive/thresholds/datasource.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-group.adoc
  docs/modules/operation/pages/deep-dive/thresholds/troubleshoot.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-config.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
  docs/modules/operation/pages/quick-start/notifications.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14735: Beyond Quick Start
  docs/modules/operation/pages/deep-dive/provisioning/directed-discovery.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14996: Ensure multiple plugins work, fix routing issues
  ui/src/components/Plugin/utils.ts
  ui/src/main.ts
  ui/src/router/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15044: Incorrect labels on OpenNMS-JMX collection resource types
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/jmx-resource.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14877: Fixed XSS in display of alarm reduction-key
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

foundation 2018 should only do a minimal build now
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "foundation 2018 should only do a minimal build now"
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

list temp directory
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

download the main tar file
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

bad idea, match the main tar file
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14989: simplify docker tags for H31+
  .circleci/scripts/lib.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

don't publish 'master' -- it should already publish as master-*
  .circleci/scripts/publish-cloudsmith.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14996: Backward compatibility for legacy plugins
  ui/src/components/Plugin/utils.ts
  ui/src/main.ts
  ui/src/router/index.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

tweak the file name
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

hardcode which item to extract
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14992: Update Inventory and Performance Data Collection QS chapters
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/performance-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

find missing jar files
  debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/operation/pages/deep-dive/performance-data-collection/data-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/resource-types.adoc
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-index.adoc
  docs/modules/operation/pages/deep-dive/provisioning/auto-discovery.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
  docs/modules/operation/pages/deep-dive/thresholds/thresh-group.adoc
  docs/modules/operation/pages/deep-dive/thresholds/troubleshoot.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-config.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-groups.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

manually copy over jar and xml files
  debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14750: fix locating generated source to avoid javadoc failures
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

test
  debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Extract to debian folder directly
  .circleci/main/jobs/debian packages/horizon-deb-build.yml
  debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14735: Beyond Quick Start
  docs/modules/operation/pages/deep-dive/performance-data-collection/snmp-index.adoc
  docs/modules/operation/pages/deep-dive/provisioning/auto-discovery.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-config.adoc
  docs/modules/operation/pages/quick-start/beyond-qs.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

don't copy file from tmp directory
  debian/rules
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14992: Update Inventory and Performance Data QS chapters
  docs/modules/operation/pages/quick-start/inventory.adoc
  docs/modules/operation/pages/quick-start/performance-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14735: Beyond Quick Start
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-7775: Add lldpRemLocalPortNum in LldpLink Table
  core/schema/src/main/liquibase/32.0.0/changelog.xml
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpLocPortGetter.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpRemTableTracker.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/TimeTetraLldpLocPortGetter.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/TimeTetraLldpRemTableTracker.java
  features/enlinkd/generator/src/main/java/org/opennms/enlinkd/generator/protocol/LldpProtocol.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/LldpLink.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/LldpLinkDao.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/LldpLinkDaoHibernate.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/LldpTopologyServiceImpl.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms13637EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms17216EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms7563EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms8000EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms13637NetworkBuilder.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix regenerated/upgraded package lock
  core/web-assets/package-lock.json
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-7775: Add lldpRemLocalPortNum in LldpLink Table
  core/schema/src/main/liquibase/changelog.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-7775: Add lldpRemLocalPortNum in LldpLink Table
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdMockDataPopulator.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15029: Update QS Visualize chapter
  docs/modules/operation/pages/deep-dive/admin/webui/opsboard/introduction.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/surveillance-view.adoc
  docs/modules/operation/pages/quick-start/visualize-data.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-7775: Add lldpRemLocalPortNum in LldpLink Table
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/NodeLinkRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Expand methods for running commands in the Karaf shell
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/KarafShell.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*
