Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-14006:Adding multipleAnd provision to criteria builder
  core/criteria/src/main/java/org/opennms/core/criteria/restrictions/Restrictions.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-208 Upgrade packages
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-208 Set option "dayOfWeekStartIndexZero: false" in cronstrue
  ui/src/components/Configuration/ConfigurationCronSelector.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14151: DCB fix backup in Rest API and UI (#4505)
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceScheduleIT.java
  ui/src/components/Device/DCBTable.vue
  ui/src/services/deviceService.ts
  ui/src/store/device/actions.ts
  ui/src/types/deviceConfig.d.ts
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

update all new ui packages to latest
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14153: DCB allow multiple backup via Rest API
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14051: Update existing documentation related to provisiond xml file
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

update auto imports
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14153: DCB Rest API, allow backup of multiple devices
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14153: DCB UI, allow backup of multiple devices
  ui/src/components/Device/DCBTable.vue
  ui/src/services/deviceService.ts
  ui/src/store/device/actions.ts
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14098: try to fix testProvisioningOfMinions ConcurrentModificationException
  features/minion/heartbeat/consumer/src/test/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumerIT.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/Requisition.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: add node type event to time series collector
  features/events/traps/pom.xml
  features/events/traps/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/event.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Event.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: add target, paramValueMap and heartbeat options
  features/events/traps/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: add test
  features/events/traps/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
  features/events/traps/src/test/java/org/opennms/netmgt/collection/EventListenerCollectorTest.java
  features/events/traps/src/test/resources/events/collection.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: move Collector from traps to daemon
  features/events/daemon/pom.xml
  features/events/daemon/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/daemon/src/test/java/org/opennms/netmgt/collection/EventListenerCollectorTest.java
  features/events/daemon/src/test/resources/events/collection.events.xml
  features/events/traps/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: code clean up and add example
  features/events/traps/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/events/collection.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/snmp-graph.properties.d/event-collection.properties
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/event.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-208 Add option "dayOfWeekStartIndexZero" to validation
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14060: move to osgi and also add generic resource type
  container/features/src/main/resources/features.xml
  features/events/collector/pom.xml
  features/events/collector/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/collector/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/events/collector/src/test/java/org/opennms/netmgt/collection/EventListenerCollectorTest.java
  features/events/collector/src/test/resources/META-INF/opennms/applicationContext-eventCollectorMock.xml
  features/events/collector/src/test/resources/events/collection.events.xml
  features/events/daemon/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/pom.xml
  features/events/traps/src/main/resources/META-INF/opennms/applicationContext-trapDaemon.xml
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/events/collection.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/resource-types.d/event-resource.xml
  opennms-base-assembly/src/main/filtered/etc/examples/snmp-graph.properties.d/event-collection.properties
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14153: DCB Allow triggering backup of multiple devices (#4508)
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  ui/src/components/Device/DCBTable.vue
  ui/src/services/deviceService.ts
  ui/src/store/device/actions.ts
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14051: Update existing documentation related to provisiond xml file
  docs/modules/operation/pages/flows/sentinel/message-broker/activemq.adoc
  docs/modules/operation/pages/flows/sentinel/message-broker/kafka.adoc
  docs/modules/reference/pages/provisioning/handlers/dns.adoc
  docs/modules/reference/pages/provisioning/handlers/file.adoc
  docs/modules/reference/pages/provisioning/handlers/http.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
  docs/modules/reference/pages/provisioning/handlers/vmware.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14051: Update existing documentation related to provisiond xml file
  docs/modules/operation/pages/flows/sentinel/message-broker/activemq.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

format, remove dup prop
  ui/src/components/Topology/icons/iconPaths.ts
  ui/src/store/topology/state.ts
  ui/tsconfig.json
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

add initial controls for power grid layers
  ui/src/components/Topology/CtrlLayers.vue
  ui/src/components/Topology/LeftDrawer.vue
  ui/src/components/Topology/NetworkGraph.vue
  ui/src/components/Topology/SideControls.vue
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/components/Topology/ViewSelect.vue
  ui/src/components/Topology/topology.composables.ts
  ui/src/components/Topology/topology.constants.ts
  ui/src/containers/Topology.vue
  ui/src/services/index.ts
  ui/src/services/topologyService.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/getters.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
  ui/src/types/topology.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13802: Some more updates to docs
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/device_config.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfiMonitor.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14060: align rrd schema with others
  features/events/collector/src/main/java/org/opennms/netmgt/collection/EventListenerCollector.java
  features/events/collector/src/test/resources/events/collection.events.xml
  opennms-base-assembly/src/main/filtered/etc/examples/events/collection.events.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14130: Added IEs (252, 253) to NetFlow9
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/InformationElementProvider.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/Netflow9MessageBuilder.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/NMS14130_Test.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/BlackboxTest.java
  features/telemetry/protocols/netflow/parser/src/test/resources/flows/nms-14130.dat
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-208 Missing cronstrue package
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

CM-Phase1 Missing cronstrue package
  ui/package.json
  ui/yarn.lock
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14016: Run as non-privileged user with ambient capabilities
  container/shared/src/main/resources/etc/container.init
  container/shared/src/main/resources/etc/container.service
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14098: try fix minion-api-layer missing kv-store
  container/features/src/main/resources/features-minion.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

initial change of the version
  features/ticketing/jira-client/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14060: fix unmarshall test error
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Collection.java
  opennms-config-model/src/main/resources/xsds/eventconf.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

get graph by namespace
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/services/index.ts
  ui/src/services/topologyService.ts
  ui/src/store/topology/actions.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

PE-208 Sort VMWare advaced options key list - cleanup-work#29
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13443: Fix dependencies for jira-client
  features/ticketing/jira-client/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13972: Document housekeeping tasks before upgrade
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs
