Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20353: Allow execution of OpenNMS
  .circleci/epoch
  .circleci/main/jobs/build/build-debian.yml
  .circleci/main/jobs/build/build-rpm.yml
  container/aries-proxy-patch/pom.xml
  container/aries-proxy-patch/src/main/java/org/apache/aries/proxy/impl/ProxyUtils.java
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.felix.eventadmin.impl.EventAdmin.cfg
  container/pom.xml
  container/shared/pom.xml
  container/shared/src/main/resources/etc/org.apache.felix.eventadmin.impl.EventAdmin.cfg
  debian/control
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  features/container/sentinel/pom.xml
  opennms-base-assembly/src/main/filtered/bin/runjava
  pom.xml
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20353: Fixed core entrypoint script
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

NMS-20353: Adapt Karaf patches to Karaf 4.4.11
  container/karaf-jaas-subject-patch/pom.xml
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/ssh/ShellCommand.java
  container/karaf-jaas-subject-patch/src/main/java/org/apache/karaf/shell/support/ShellUtil.java
Due: trigger-coverage, trigger-build

NMS-20382: Handle review comments
  features/prometheus-collector/src/main/java/org/opennms/netmgt/collectd/prometheus/PrometheusCollector.java
Due: trigger-coverage, trigger-build

NMS-20270: Address review comments
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/tests/stores/eventConfigDetailStore.test.ts
  ui/tests/stores/eventConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20382: Add smoke test
  smoke-test/src/test/java/org/opennms/smoketest/rest/ConfigRestAccessIT.java
Due: trigger-coverage, trigger-build

NMS-19753: Name legacy variable in trapd validation errors
  opennms-container/core/container-fs/entrypoint.sh
Due: trigger-coverage, trigger-build

NMS-19640: Use shipped default for ELASTICSEARCH_URL in Sentinel docs
  docs/modules/reference/pages/configuration/sentinel-features.adoc
Due: trigger-coverage, trigger-docs

NMS-20388: Track collectlastgood/collectlastfail on ifservices (#8909)
  core/schema/src/main/liquibase/36.0.5/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  docs/modules/reference/pages/configuration/filters/parameters.adoc
  docs/modules/reference/pages/configuration/system-properties.adoc
  features/rest/model/src/main/java/org/opennms/web/rest/model/v2/MonitoredServiceDTO.java
  opennms-config/src/main/resources/database-schema.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoredServiceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoredServiceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/UnimplementedMonitoredServiceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AbstractDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoredServiceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/MonitoredServiceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredService.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsOutageTest.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/CollectableService.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectableServiceTest.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectdIT.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/CriteriaBehaviors.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/OnmsMonitoredServiceResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IfServiceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeMonitoredServiceRestService.java
  opennms-webapp-rest/src/test/resources/v1/outages.json
  opennms-webapp/src/main/java/org/opennms/web/element/Service.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20376: Keep a saved node size when a view is reopened
  ui/src/components/Topology/TopologyCanvas.vue
  ui/src/stores/topologyStore.ts
  ui/tests/stores/topologyStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Give the rail, side panel and appearance components their license header
  ui/src/components/Topology/TopologyAppearance.vue
  ui/src/components/Topology/TopologySidePanel.vue
  ui/src/components/Topology/TopologyToolStrip.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20376: Improvements and changes to the Topology Preview UI (#8902)
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/src/components/OnmsIconButton.vue
  ui/src/components/Topology/TopologyAppearance.vue
  ui/src/components/Topology/TopologyCanvas.vue
  ui/src/components/Topology/TopologyInfoTip.vue
  ui/src/components/Topology/TopologyInspector.vue
  ui/src/components/Topology/TopologyPalette.vue
  ui/src/components/Topology/TopologySidePanel.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/components/Topology/toolIcons.ts
  ui/src/containers/Topology.vue
  ui/src/stores/topologyStore.ts
  ui/src/types/topology.ts
  ui/tests/components/Topology/TopologyAppearance.test.ts
  ui/tests/components/Topology/TopologyInspector.test.ts
  ui/tests/components/Topology/TopologyToolStrip.test.ts
  ui/tests/containers/Topology.test.ts
  ui/tests/onms-ui/OnmsIconButton.test.ts
  ui/tests/stores/topologyStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20394: Add Save icon, add ridgelines to Delete icon
  ui/packages/onms-ui/src/icons/account/Save.vue
  ui/packages/onms-ui/src/icons/action/Delete.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20394: Add Key icon
  ui/packages/onms-ui/src/icons/network/Key.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20394: Update ViewDetails icon to use magnifying glass
  ui/packages/onms-ui/src/icons/action/ViewDetails.vue
Due: trigger-coverage, trigger-build, trigger-ui

Fix spelling and grammar errors in monitor, telemetryd, and ticketer docs
  docs/modules/reference/pages/provisioning/detectors/WsmanWqlDetector.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
  docs/modules/reference/pages/service-assurance/monitors/ActiveMQMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/CiscoIpSlaMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/DNSResolutionMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/FtpMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/HostResourceSwRunMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/HttpsMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/IcmpMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/ImapMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/JmxMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/JolokiaBeanMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/MailTransportMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/NetScalerGroupHealthMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/NrpeMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/OmsaStorageMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/OpenManageChassisMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/PageSequenceMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/PtpMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/SSLCertMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/SnmpMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/TrivialTimeMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/VmwareCimMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/_template-monitors.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/peer-status.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/setup.adoc
  docs/modules/reference/pages/telemetryd/protocols/jti.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow5.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow9.adoc
  docs/modules/reference/pages/telemetryd/protocols/openconfig.adoc
  docs/modules/reference/pages/telemetryd/protocols/sflow.adoc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Due: trigger-coverage, trigger-docs

NMS-20390: add requireRole route guard helper
  ui/src/main/router/guards.ts
  ui/tests/router/guards.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20390: convert all guarded routes to requireRole/requireCondition
  ui/src/main/router/guards.ts
  ui/src/main/router/index.ts
  ui/src/stores/menuStore.ts
  ui/tests/router/guards.test.ts
  ui/tests/stores/menuStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Update epoch
  .circleci/epoch
Due: trigger-coverage, trigger-build

NMS-20394: Address review comments
  ui/CLAUDE.md
  ui/THIRD-PARTY-LICENSE.md
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/src/icons/action/Save.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20394: Add Save and Key icons, update Delete and ViewDetails icons (#8915)
  ui/CLAUDE.md
  ui/THIRD-PARTY-LICENSE.md
  ui/packages/onms-ui/README.md
  ui/packages/onms-ui/src/icons/action/Delete.vue
  ui/packages/onms-ui/src/icons/action/Save.vue
  ui/packages/onms-ui/src/icons/action/ViewDetails.vue
  ui/packages/onms-ui/src/icons/network/Key.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20382: Require ROLE_ADMIN to write configuration via /rest/config (#8904)
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  smoke-test/src/test/java/org/opennms/smoketest/rest/ConfigRestAccessIT.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20382: Evaluate configured filter expressions in a restricted SpEL context (#8911)
  features/collection/api/src/main/java/org/opennms/netmgt/collection/support/PersistRegexSelectorStrategy.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/KafkaPersister.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/shell/EvaluateFilter.java
  features/prometheus-collector/src/main/java/org/opennms/netmgt/collectd/prometheus/PrometheusCollector.java
  features/wsman/src/main/java/org/opennms/core/wsman/utils/ResponseHandlingUtils.java
  features/wsman/src/main/java/org/opennms/netmgt/dao/jaxb/WSManDataCollectionConfigDaoJaxb.java
  opennms-alarms/bsf-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/bsf/BSFEngineHandler.java
  opennms-alarms/drools-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsEngine.java
  opennms-alarms/email-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/email/EmailFilter.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMapping.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapMappingGroup.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/VarbindMapping.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilter.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/scriptd/helper/SyslogEventForwarder.java
  opennms-alarms/syslog-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilterBehaviorPreservedTest.java
  opennms-alarms/syslog-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogFilterSandboxTest.java
Due: trigger-coverage, trigger-build

NMS-20352: Publish telemetryd connector configs once per location (#8895)
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisherManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisherImpl.java
  features/telemetry/daemon/src/test/java/org/opennms/netmgt/telemetry/daemon/ConnectorManagerTest.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherTest.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ServiceTracker.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultServiceTracker.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultFilterWatcherTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultServiceTrackerTest.java
Due: trigger-coverage, trigger-build

NMS-20270 : Support re-ordering event conf (#8908)
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/config/EventConfExtensionManager.java
  features/api-layer/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/EventConfServiceHelper.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/EventConfServiceHelperReloadTest.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfEventOrderPayload.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventConfSourceOrderPayload.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/EventConfEventMoveRequest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/EventConfEventSummaryDto.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/services/EventConfProgrammaticService.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/EventConfigSourceTable.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfiguration.vue
  ui/src/containers/EventConfigurationDetail.vue
  ui/src/lib/utils.ts
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/Common/StagedReorderList.test.ts
  ui/tests/components/EventConfiguration/Dialog/DeleteEventConfigSourceDialog.test.ts
  ui/tests/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigSourceTable.test.ts
  ui/tests/components/EventConfigurationDetail/EventConfigEventTable.test.ts
  ui/tests/containers/EventConfiguration.test.ts
  ui/tests/containers/EventConfigurationDetail.test.ts
  ui/tests/stores/eventConfigDetailStore.test.ts
  ui/tests/stores/eventConfigStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20272: Improve the event-conf REST API and redesign the upload page
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfEventDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/EventConfSourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfSourceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfEventDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventConfSourceDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/EventConfSource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
  smoke-test/src/test/java/org/opennms/smoketest/EventConfRestIT.java
  ui/src/components/Common/StagedReorderList.vue
  ui/src/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.vue
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/src/components/EventConfiguration/eventConfigXmlValidator.ts
  ui/src/components/EventConfiguration/fileDropTraversal.ts
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/stores/eventConfigStore.ts
  ui/src/types/eventConfig.d.ts
  ui/tests/components/EventConfiguration/Dialog/EventConfigFilesUploadReportDialog.test.ts
  ui/tests/components/EventConfiguration/EventConfigUploadFilesTab.test.ts
  ui/tests/components/EventConfiguration/eventConfigXmlValidator.test.ts
  ui/tests/components/EventConfiguration/fileDropTraversal.test.ts
  ui/tests/services/eventConfigService.test.ts
Due: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-20272: Open ReOrder sources on upload page
  ui/src/containers/EventConfiguration.vue
  ui/tests/containers/EventConfiguration.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20390: Wait for roles before deciding role-guarded routes (#8917)
  ui/src/main/router/guards.ts
  ui/src/main/router/index.ts
  ui/src/stores/menuStore.ts
  ui/tests/router/guards.test.ts
  ui/tests/stores/menuStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20393: Move the Topology tool icons into onms-ui, and make Save an icon
  ui/packages/onms-ui/src/icons/action/Pointer.vue
  ui/packages/onms-ui/src/icons/action/Rectangle.vue
  ui/src/components/Topology/TopologyToolStrip.vue
  ui/src/components/Topology/toolIcons.ts
  ui/src/containers/Topology.vue
  ui/tests/containers/Topology.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20395: Upgrade Kafka to 3.9.1 to address CVE-2025-27817
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/JUnitKafkaServer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/NoOpProducer.java
  pom.xml
Due: trigger-coverage, trigger-build

NMS-20272: Doc update
  docs/modules/operation/pages/deep-dive/events/event-configuration.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-20303: Vue Node Details - Main and Additional tabs
  ui/src/components/Nodes/NodeDetailsAdditionalTab.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/containers/NodeDetails.vue
  ui/src/stores/nodeStore.ts
  ui/tests/containers/NodeDetails.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Add Main and Additional tabs to Vue Node Details
  ui/src/components/Nodes/NodeDetailsAdditionalTab.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/containers/NodeDetails.vue
  ui/src/stores/nodeStore.ts
  ui/tests/containers/NodeDetails.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20397: Harden Camel JMS
  core/camel/src/main/java/org/opennms/core/camel/InboundCamelHeaderFilterStrategy.java
  core/camel/src/test/java/org/opennms/core/camel/InboundCamelHeaderFilterStrategyTest.java
  core/daemon/pom.xml
  core/daemon/src/main/resources/META-INF/opennms/applicationContext-daemon.xml
  core/daemon/src/test/java/org/opennms/netmgt/daemon/DaemonContextIT.java
  features/activemq/component/pom.xml
  features/activemq/component/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/amqp/event-receiver/src/main/resources/OSGI-INF/blueprint/blueprint-event-receiver.xml
  features/distributed/core/jms/pom.xml
  features/distributed/core/jms/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-build

NMS-20272: Specify upload limits in the UI
  ui/src/components/EventConfiguration/EventConfigUploadFilesTab.vue
  ui/tests/components/EventConfiguration/EventConfigUploadFilesTab.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Vue Node Details - node status banner
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/components/Nodes/NodeStatusBox.vue
  ui/src/components/Nodes/nodeStatus.ts
  ui/src/containers/NodeDetails.vue
  ui/src/services/serviceHelpers.ts
  ui/src/stores/alarmStore.ts
  ui/src/stores/eventStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/EventsTable.test.ts
  ui/tests/components/Nodes/NodeStatusBox.test.ts
  ui/tests/components/Nodes/nodeStatus.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/serviceHelpers.test.ts
  ui/tests/stores/alarmStore.test.ts
  ui/tests/stores/eventStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-20303: Add node status banner to Vue Node Details
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/NodeDetailsMainTab.vue
  ui/src/components/Nodes/NodeStatusBox.vue
  ui/src/components/Nodes/nodeStatus.ts
  ui/src/containers/NodeDetails.vue
  ui/src/services/serviceHelpers.ts
  ui/src/stores/alarmStore.ts
  ui/src/stores/eventStore.ts
  ui/src/types/index.ts
  ui/tests/components/Nodes/EventsTable.test.ts
  ui/tests/components/Nodes/NodeStatusBox.test.ts
  ui/tests/components/Nodes/nodeStatus.test.ts
  ui/tests/containers/NodeDetails.test.ts
  ui/tests/services/serviceHelpers.test.ts
  ui/tests/stores/alarmStore.test.ts
  ui/tests/stores/eventStore.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
