Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

NMS-18285: Do not display Plugins menu if there are no plugins installed (#7964)
  ui/src/components/Menu/SideMenu.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18287: Add hover mode to menu
  ui/package.json
  ui/src/components/Menu/SideMenu.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

optionally add query and results to message
  docs/modules/reference/pages/service-assurance/monitors/JDBCQueryMonitor.adoc
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/JDBCMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/JDBCQueryMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/JDBCQueryMonitorTest.java
Due: trigger-coverage, trigger-build, trigger-docs

NMS-18324: Expose a REST API to add an event to EventConfSource.
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/model/EventConfEventRequest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18178-h34 fix smoke test case merge issues
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
Due: trigger-coverage, trigger-build

NMS-18287: Add hover mode to menu (#7966)
  ui/package.json
  ui/src/components/Menu/SideMenu.vue
  ui/yarn.lock
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18178-h34 fix integration test case issue
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultFilterWatcherTest.java
Due: trigger-coverage, trigger-build

NMS-18532 add openconfig docs
  docs/modules/reference/pages/telemetryd/protocols/openconfig.adoc
Due: trigger-coverage, trigger-docs

NMS-18325: Restrict SCV Rest to admin, fix role check in UI
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
  ui/src/stores/authStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18325: Restrict SCV Rest to admin, fix role check in UI (#7971)
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
  ui/src/stores/authStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18308: fixed reviews
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/EventConfEventDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfEventEditRequest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18535: Fix SCV security and UI role routing guards
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
  ui/src/store/auth/actions.ts
Due: trigger-coverage, trigger-build, trigger-ui

test cases for eventConfigSource
  ui/tests/components/EventConfigurations/eventConfigSourceTable.test.ts
Due: trigger-coverage, trigger-build, trigger-ui

Revert "Merge branch 'features/openconfig-minion' into jira/NMS-18178-h34"
  container/features/pom.xml
  container/features/src/main/resources/features-core.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/shared/src/main/filtered-resources/etc/overrides.properties
  core/grpc/osgi/pom.xml
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisition.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisitions.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/services/Requisitions.js
  dependencies/spring-security/pom.xml
  features/bsm/rest/impl/pom.xml
  features/distributed/coordination/zookeeper/pom.xml
  features/events/shell-commands/pom.xml
  features/flows/itests/pom.xml
  features/jest/client/pom.xml
  features/jmx-config-generator/pom.xml
  features/measurements/rest/pom.xml
  features/minion/heartbeat/producer/pom.xml
  features/minion/repository/pom.xml
  features/minion/repository/src/assembly/repo.xml
  features/status/rest/pom.xml
  opennms-services/pom.xml
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-build

Revert "Merge remote-tracking branch 'origin/release-34.x' into develop"
  container/shared/src/main/filtered-resources/etc/overrides.properties
Due: trigger-coverage, trigger-build

NMS-18324: fixed reviews
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
Due: trigger-coverage, trigger-build

NMS-18541 Cannot Walk LLDP Remote Link Table for MICROSENS G6 Industrial Switch PLM
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/NodeDiscoveryLldp.java
  features/enlinkd/adapters/collectors/lldp/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpRemTableTracker.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms0000EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms10115EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/nb/Nms10115NetworkBuilder.java
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.1-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.2-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.3-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.4-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.8-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.115.180.9-walk.txt
  features/enlinkd/tests/src/test/resources/linkd/nms10115/10.59.228.201-walk.txt
Due: trigger-coverage, trigger-build

Fixing License header
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms10115EnIT.java
Due: trigger-coverage, trigger-build

NMS-18535: Fix SCV security and UI role routing guards (#7974)
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
  ui/src/store/auth/actions.ts
Due: trigger-coverage, trigger-build, trigger-ui

create an event
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
  ui/src/components/EventConfigurationDetail/EventConfigEventTable.vue
  ui/src/containers/EventConfigurationDetails.vue
  ui/src/mappers/eventConfig.mapper.ts
  ui/src/services/eventConfigService.ts
  ui/src/stores/eventConfigDetailStore.ts
  ui/src/types/eventConfig.d.ts
Due: trigger-coverage, trigger-build, trigger-ui

Revert "NMS-18535: Fix SCV security and UI role routing guards (#7974)"
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18542: Add Hikari database pool to defaults
  opennms-container/core/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
Due: trigger-coverage, trigger-build

NMS-18542: Add java lang metrics
  opennms-container/core/container-fs/confd/templates/prom-jmx-exporter.yaml.tmpl
Due: trigger-coverage, trigger-build

NMS-18542: Add default metric rules to Sentinel and Minion
  opennms-container/minion/container-fs/prom-jmx-default-config.yaml
  opennms-container/sentinel/container-fs/prom-jmx-default-config.yaml
Due: trigger-coverage, trigger-build

new changes
  ui/src/components/EventConfigurationDetail/Drawer/EventConfigDetailsDrawer.vue
  ui/src/containers/EventConfigurationDetails.vue
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

function description
  ui/src/services/eventConfigService.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18547: Update RHEL/CentOS/Rocky9 install docs
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel9/postgresql.adoc
  docs/modules/deployment/pages/repos/rhel-centos/horizon-rhel9.adoc
Due: trigger-coverage, trigger-docs

NMS-18532 Manage OpenConfig Connections via TwinAPI Dynamically
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features.xml
  core/ipc/osgi/src/main/resources/META-INF/opennms/applicationContext-ipc-osgi.xml
  features/minion/repository/pom.xml
  features/openconfig/telemetry-client/src/main/java/org/opennms/features/openconfig/telemetry/OpenConfigClientImpl.java
  features/telemetry/config/jaxb/src/main/java/org/opennms/netmgt/telemetry/config/model/ConnectorTwinConfig.java
  features/telemetry/connectors/pom.xml
  features/telemetry/connectors/src/main/java/org/opennms/netmgt/telemetry/connectors/ConnectorStarter.java
  features/telemetry/connectors/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/daemon/pom.xml
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/ConnectorManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/LocationPublisherManager.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisher.java
  features/telemetry/daemon/src/main/java/org/opennms/netmgt/telemetry/daemon/OpenConfigTwinPublisherImpl.java
  features/telemetry/daemon/src/main/resources/META-INF/opennms/applicationContext-telemetryDaemon.xml
  features/telemetry/daemon/src/test/java/org/opennms/netmgt/telemetry/daemon/ConnectorManagerTest.java
  features/telemetry/distributed/common/src/main/java/org/opennms/netmgt/telemetry/distributed/common/MapBasedConnectorDef.java
  features/telemetry/itests/pom.xml
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/JtiIT.java
  features/telemetry/itests/src/test/resources/META-INF/opennms/applicationContext-openconfig-components.xml
  features/telemetry/pom.xml
  features/telemetry/protocols/openconfig/itests/pom.xml
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigIT.java
  features/telemetry/protocols/openconfig/itests/src/test/java/org/opennms/features/telemetry/protocols/openconfig/OpenConfigLocationPublisherT.java
  features/telemetry/protocols/openconfig/itests/src/test/resources/META-INF/opennms/applicationContext-openconfig-components.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryRegistryImpl.java
  features/telemetry/registry/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-base-assembly/src/main/filtered/etc/telemetryd-configuration.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ServiceRef.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultFilterWatcher.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultFilterWatcherTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultServiceTrackerTest.java
Due: trigger-coverage, trigger-build

NMS-18548: Restrict SCV Rest to admin, fix role check in UI, foundation-2024
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/services/whoAmIService.ts
  ui/src/stores/authStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18195: Update menu icons, update ui README
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-alt.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-default.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template-legacy.json
  opennms-webapp-rest/src/main/webapp/WEB-INF/menu/menu-template.json
  ui/README.md
  ui/package.json
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Menu/useMenuIcons.ts
  ui/src/components/ZenithConnect/ZenithConnectRegisterResult.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18549: Fix CSP issue with tile providers
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-build

NMS-18267: Fix whitespace in Wallboard after menu redesign; fix CSP for tile server
  core/web-assets/src/main/assets/js/vaadin/header-component_connector.js
  core/web-assets/src/main/assets/style/vaadin-theme.scss
  features/themes/dashboard-theme/src/main/java/VAADIN/themes/dashboard/styles.css
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/HeaderLayout.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/WallboardUI.java
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  ui/src/components/Menu/Menubar.vue
Due: trigger-coverage, trigger-build, trigger-ui

NMS-18308: fixed reviews
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfEventEditRequest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventConfPersistenceService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/EventConfRestApi.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfPersistenceServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/EventConfRestServiceIT.java
Due: trigger-coverage, trigger-build

NMS-18542: Add consumer
  opennms-container/sentinel/container-fs/prom-jmx-default-config.yaml
Due: trigger-coverage, trigger-build

NMS-18532 integration test fix
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/ThresholdingIT.java
Due: trigger-coverage, trigger-build

NMS-18549: Fix CSP issue with tile providers (#7982)
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-build

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)
