Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-14374 Fix Smoke Test for GraphMLTopologyIT
  smoke-test/src/test/java/org/opennms/smoketest/TopologyIT.java
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14343 Fix d3 layout tooltip display position when drag
  ui/src/components/Topology/NetworkGraph.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14119: Add support for setting shell
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14377 Fix contextmenu display next and not under mouse
  ui/src/components/Topology/NetworkGraph.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

set minion-rpm-build, sentinel-rpm-build to large
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

reduce max memory for minion and sentinel rpm builds
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

bump node to the latest 16 LTS
  core/web-assets/.tool-versions
  pom.xml
  ui/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Clean up scv docs (#4847)
  docs/modules/operation/pages/admin/scv-configuration.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

upgrade fontawesome to version 6
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/angular-status/templates/filter.html
  core/web-assets/src/main/assets/js/apps/geomap-js/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/config.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/group.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/minion-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/monitoringLocation-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-endpoints/grafana/grafana.html
  core/web-assets/src/main/assets/js/apps/onms-geoservice/views/config/nominatim.html
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.main.html-e
  core/web-assets/src/main/assets/js/apps/onms-reports/details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/report-details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/schedules.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/policy-param.editable.html-e
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/policy-param.fixed.html-e
  core/web-assets/src/main/assets/js/apps/search/template.ksc.html-e
  core/web-assets/src/main/assets/js/apps/search/template.nodes.html-e
  core/web-assets/src/main/assets/style/font-awesome.scss
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/applications.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/categories.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/list.jsp
  opennms-webapp/src/main/webapp/includes/search-constraints-box.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix dependabot and feature branch failures
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Update database.adoc
  docs/modules/operation/pages/database-reports/database.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from BR code review
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Update glossary.adoc - add new terms
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Apply suggestions from BR code review
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14161:Event/Alarm advanced search not passing search terms
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14322 Bridge Topology Discovery Mismatch
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/BridgeSimpleConnection.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/BroadcastDomainTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update docs/modules/reference/pages/glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14347: Update formatting & add terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14209: clean up newts/cassandra test dependencies
  dependencies/cassandra-test/pom.xml
  dependencies/cassandra-test/src/license/THIRD-PARTY.properties
  dependencies/pom.xml
  features/distributed/kv-store/blob/blob-itests/pom.xml
  features/newts-repository-converter/pom.xml
  features/newts/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

help asdf find the right JDK
  .tool-versions
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14209: clean up zookeeper, curator, cassandra-driver dependencies
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
  core/test-api/kafka/pom.xml
  dependencies/cassandra-test/pom.xml
  dependencies/newts/pom.xml
  features/distributed/coordination/shell/src/license/THIRD-PARTY.properties
  features/distributed/coordination/zookeeper/pom.xml
  features/distributed/coordination/zookeeper/src/license/THIRD-PARTY.properties
  features/distributed/coordination/zookeeper/src/main/java/org/opennms/features/distributed/coordination/zookeeper/ZookeeperDomainManager.java
  features/distributed/dao/distributed/pom.xml
  features/sentinel/repository/pom.xml
  features/sentinel/repository/src/license/THIRD-PARTY.properties
  opennms-assemblies/sentinel/src/license/THIRD-PARTY.properties
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

get rid of range on pax-logging because it could _downgrade_ if karaf is updated
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/src/main/filtered-resources/etc/overrides.properties
Due: trigger-coverage, trigger-coverage=false, trigger-build
