Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-14937: Set SameSite to Strict for JSESSIONID
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  smoke-test/src/test/java/org/opennms/smoketest/WebappIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14934: Disable autocompletion
  opennms-webapp/src/main/webapp/admin/notification/noticeWizard/buildPathOutage.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfIfTableTracker.java
  features/enlinkd/api/src/main/java/org/opennms/netmgt/enlinkd/api/ReloadableTopologyDaemon.java
  features/enlinkd/daemon/src/main/java/org/opennms/netmgt/enlinkd/EnhancedLinkd.java
  features/enlinkd/shell/pom.xml
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15011: Fixed scvcli commands
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

DC-407 Updates after Comments
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClientUtil.java
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestHealthClient.java
  smoke-test/src/test/java/org/opennms/smoketest/OpenNMSCloudPluginIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/CiscoVtpTracker.java
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/CiscoVtpVlanTableTracker.java
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/Dot1dBasePortTableTracker.java
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/Dot1dBaseTracker.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/VlanStatus.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/VlanType.java
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: fixed admin manage minions issue. fixed change log to avoid run when table exists.
  core/schema/src/main/liquibase/31.0.2/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-elementList/minion-elementList/main.html
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/Dot1dStpPortTableTracker.java
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/Dot1dTpFdbTableTracker.java
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/snmp/Dot1qTpFdbTableTracker.java
  features/enlinkd/adapters/collectors/cdp/src/main/java/org/opennms/netmgt/enlinkd/snmp/CdpCacheTableTracker.java
  features/enlinkd/adapters/collectors/cdp/src/main/java/org/opennms/netmgt/enlinkd/snmp/CdpGlobalGroupTracker.java
  features/enlinkd/shell/pom.xml
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: fixed based on feedback. Text seem more appropriate than varchar
  core/schema/src/main/liquibase/31.0.2/changelog.xml
  features/minion/heartbeat/producer/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

use HtmlCleaner for sanitizing before (or instead of) Jsoup
  container/features/src/main/resources/features.xml
  features/vaadin/pom.xml
  protocols/xml/pom.xml
  protocols/xml/src/main/java/org/opennms/protocols/http/collector/HttpCollectionHandler.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/collector/AbstractXmlCollectionHandler.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

do the sleep first (fixes "PID file was missing" on startup)
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

add OpenNMS.js
  index.html
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

use final version of OPA 1.3.0
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/ipnettomedia/src/main/java/org/opennms/netmgt/enlinkd/snmp/IpNetToMediaTableTracker.java
  features/enlinkd/shell/pom.xml
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/isis/src/main/java/org/opennms/netmgt/enlinkd/snmp/IsisCircTableTracker.java
  features/enlinkd/adapters/collectors/isis/src/main/java/org/opennms/netmgt/enlinkd/snmp/IsisISAdjTableTracker.java
  features/enlinkd/adapters/collectors/isis/src/main/java/org/opennms/netmgt/enlinkd/snmp/IsisSysObjectGroupTracker.java
  features/enlinkd/shell/pom.xml
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14909 Provide a method to verify topology capability
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfAreaTableTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfGeneralGroupTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfIfTableTracker.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfNbrTableTracker.java
  features/enlinkd/shell/pom.xml
  features/enlinkd/shell/src/main/java/org/opennms/features/enlinkd/shell/CollectorCommand.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14493: Include Minion version on "Manage Minions" page (#5597)
  core/schema/src/main/liquibase/31.0.2/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-elementList/minion-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/minion-elementList/main.html
  features/minion/heartbeat/common/src/main/java/org/opennms/minion/heartbeat/common/MinionIdentityDTO.java
  features/minion/heartbeat/consumer/src/main/java/org/opennms/minion/heartbeat/consumer/HeartbeatConsumer.java
  features/minion/heartbeat/producer/pom.xml
  features/minion/heartbeat/producer/src/main/java/org/opennms/minion/heartbeat/producer/HeartbeatProducer.java
  opennms-model/src/main/java/org/opennms/netmgt/model/minion/OnmsMinion.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

no do the do
  opennms-base-assembly/src/main/filtered/bin/opennms
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Release Notes for OpenNMS Horizon 31.0.2
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Debian release notes for OpenNMS Horizon 31.0.2
  debian/changelog
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15119: Fix Vue Menubar logout
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-15119: Fix null reference issue on login.jsp
  opennms-webapp/src/main/webapp/login.jsp
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix debian package names
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix(doc): Remove <pre /> tag around trapd configuration
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Fix copy/paste error in trapd daemon docs
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-15151: add support for PostgreSQL 15
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  docs/antora.yml
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

fix indentation
  docs/modules/releasenotes/pages/changelog.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

fix errors triggered by moving to antora 3
  docs/modules/development/pages/topology/graphml.adoc
  docs/modules/reference/images/performance-management/collectors/01_snmp-datacollection-configuration.png
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14910: Add smoke test going to new UI page
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-15149: Fix Vue menubar items obscured by GeoMap
  ui/src/components/Map/SeverityFilter.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

CLOUD-2581: Doc: Basic Integration of Appliance in OpenNMS Classic
  docs/modules/deployment/pages/minion/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

bump everything to 2.14.1, update jackson1 dep
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/pom.xml
  container/karaf/src/main/filtered-resources/etc/overrides.properties
  container/shared/pom.xml
  container/shared/src/main/filtered-resources/etc/overrides.properties
  pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

exclude drools from opennms container agent too
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

switch integration tests to split by file
  .circleci/scripts/find-tests/find-tests.py
  .circleci/scripts/itest.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix restlet repository to one without an SSL error
  dependencies/rancid/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
