Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

Update docs/modules/reference/pages/glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14347: Update formatting, URLs, & wording in glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

test impact of using artifacts for saving oci images
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

parameterize flaky smoke tests
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

breakdown build step and add debug statement to store_artifact
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

experiement, detect flaky tests
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

code cleanup
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from MM code review
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-11810: Database Reports documentation (#4663)
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14348: Add terms to glossary.adoc & update formatting
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

extra debugging
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

disable save-artifact
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Apply suggestions from code review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

Fixed xref errors
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14243: Fixed Heatmap
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/HibernateUtils.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OutageDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/HeatMapRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14161:Event/Alarm advanced search not passing search terms
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmFilterController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14325 Enlinkd Topology Map Layers Documentation
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14119: Implement support for SSH host key authentication
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-14119: Add support for setting shell
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

parameterize flaky smoke tests
  .circleci/config.yml
  .circleci/main/@main.yml
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

clean up the run-build steps
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

increase the vcpu for tarball-assembly
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

bump node to the latest 16 LTS
  core/web-assets/.tool-versions
  pom.xml
  ui/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Update docs/modules/operation/pages/topology/enlinkd/introduction.adoc
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs
