Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

Update features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

review: fix dependency versions
  features/device-config/monitor/pom.xml
  features/device-config/sink/consumer/pom.xml
  features/device-config/sink/dispatcher/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

review: rename "Remote Poller" feature into "Monitor"
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13936: Use name from ConfigType
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13801: "Default" -> "default"
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13937: Add device config sink (#4205)
  container/features/src/main/resources/features.xml
  core/ipc/sink/common/src/main/java/org/opennms/core/ipc/sink/common/AsyncDispatcherImpl.java
  core/schema/src/main/liquibase/30.0.0/changelog.xml
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor/pom.xml
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/ConfigType.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/pom.xml
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/sink/consumer/pom.xml
  features/device-config/sink/consumer/src/main/java/org/opennms/features/deviceconfig/sink/consumer/DeviceConfigConsumer.java
  features/device-config/sink/consumer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/dispatcher/pom.xml
  features/device-config/sink/dispatcher/src/main/java/org/opennms/features/deviceconfig/sink/dispatcher/DeviceConfigDispatcher.java
  features/device-config/sink/dispatcher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/module/pom.xml
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigDTO.java
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigSinkModule.java
  features/device-config/sink/module/src/main/java/org/opennms/features/deviceconfig/sink/module/DeviceConfigSinkModuleImpl.java
  features/device-config/sink/module/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/sink/pom.xml
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/TftpServer.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
  features/minion/repository/pom.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/IpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockIpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/IpInterfaceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/IpInterfaceDaoIT.java
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix compilation
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

bump to latest build-env images
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

container images too
  opennms-container/horizon/Dockerfile
  opennms-container/minion/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13936: Handle review comments
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix DeviceConfigRestService (default sort order and produced media type)
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13801: Update poller config
  container/features/src/main/resources/features.xml
  features/minion/repository/src/main/resources/features.boot
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

PowerTools -> powertools
  opennms-container/horizon/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix transient dependencies in selenium monitor
  protocols/selenium-monitor/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14003: fix graceful shutdown of telemetryd
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/TcpListener.java
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

port https fix to the foundation-2022
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthFailureHandler.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSLoginUrlAuthEntryPoint.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSlLogoutSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/filter/HttpsRewriteFilter.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

fix plugin rendering
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Plugin/PluginTable.vue
  ui/src/components/Plugin/utils.ts
  ui/src/containers/Plugin.vue
  ui/src/router/index.ts
  ui/src/services/pluginService.ts
  ui/src/types/index.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-13822: Remove unnecessary getNode method
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/TimelineRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14011: Fix flaky smoke-test testRestHealthServiceOnSentinel
  features/sentinel/runInPlace.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update source type markup for Measurements API docs
  docs/modules/development/pages/rest/measurements.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-13936: Add service to trigger device backup manually (#4207)
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/pom.xml
  features/device-config/service/pom.xml
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigService.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
  features/device-config/service/src/main/resources/META-INF/opennms/component-dao.xml
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Poll.java
  opennms-config/src/main/java/org/opennms/netmgt/config/ReadOnlyPollerConfigManager.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13951: Add events for device-config retrieval
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/DeviceConfigServiceImpl.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
  opennms-services/src/test/java/org/opennms/netmgt/statsd/StatsdValuesIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Added one missing cipher to exclude
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13845: TLS: Diffie-Hellman Key Exchange Insufficient DH Group Strength Vulnerability Excluding weak DHE keys ciphers < 2048
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Backport ssh cipher configuration
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13845: TLS: Diffie-Hellman Key Exchange Insufficient DH Group Strength Vulnerability
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Rollback root instruction
  docs/modules/releasenotes/pages/whatsnew.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

port https fix to the foundation-2022 (#4210)
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthFailureHandler.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSLoginUrlAuthEntryPoint.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSlLogoutSuccessHandler.java
  opennms-webapp/src/main/java/org/opennms/web/filter/HttpsRewriteFilter.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

PE-205: Merge CM-Phase2core changes to develop: fix tests
  opennms-provision/opennms-provisiond/src/test/resources/importerServiceTest.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-13845: TLS: Diffie-Hellman Key Exchange Insufficient DH Group Strength Vulnerability (#4265)
  opennms-jetty/src/main/resources/org/opennms/netmgt/jetty/jetty.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

Stop example link from being a hyperlink
  docs/modules/reference/pages/configuration/performance-data-collection/collectors/prometheus.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

fix plugin conflict, async rendering, css priority
  ui/src/components/Plugin/Container.vue
  ui/src/components/Plugin/utils.ts
  ui/src/containers/Plugin.vue
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14003: mark filewatcher as closed _before_ shutting down the thread
  core/lib/src/main/java/org/opennms/core/fileutils/FileUpdateWatcher.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Add Azure Context test 5
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Azure notary
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

CLOUD-475: Add Azure Context r1
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui
