Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: Makefile)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)

docs: implementation plan for Minion-mandatory near-term items
  docs/plans/2026-03-09-minion-mandatory-near-term-implementation.md
Due: trigger-coverage, trigger-docs

feat: add native Docker Compose profiles to delta-v services
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

feat: add Default Minion container to delta-v compose
  opennms-container/delta-v/deploy.sh
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

refactor: deploy.sh uses native Docker Compose profiles
  opennms-container/delta-v/deploy.sh
Due: trigger-coverage, trigger-build

fix: add opennms-core-messagebus-api dependency to features that import it
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-build

fix: resolve Karaf feature failures in webapp and minion containers
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/webapp-jetty-webinf-overlay/dispatcher-servlet.xml
  opennms-container/delta-v/webapp-overlay/system/org/opennms/karaf/opennms/36.0.0-SNAPSHOT/opennms-36.0.0-SNAPSHOT-features.xml
Due: trigger-coverage, trigger-build

refactor: delete Queued daemon (RRD write optimization no longer needed)
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/usagestatistics/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/web/datachoicesMetadata.json
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/examples/jvm-datacollection/jmx-datacollection-mbeans/OpenNMS/1.10/OpenNMSBasic0.xml
  opennms-base-assembly/src/main/filtered/etc/examples/jvm-datacollection/jmx-datacollection-mbeans/OpenNMS/1.10/OpenNMSLegacy.xml
  opennms-base-assembly/src/main/filtered/etc/examples/service-configuration.xml.default
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/main/resources/defaults/service-configuration.xml
  opennms-container/core/container-fs/confd/templates/service-configuration.xml.tmpl
  opennms-services/src/main/java/org/opennms/netmgt/queued/Queued.java
  opennms-services/src/main/java/org/opennms/netmgt/queued/jmx/Queued.java
  opennms-services/src/main/java/org/opennms/netmgt/queued/jmx/QueuedMBean.java
  opennms-services/src/main/resources/META-INF/opennms/applicationContext-queued.xml
  opennms-services/src/main/resources/beanRefContext.xml
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultGraphResultsService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultResourceService.java
  opennms-webapp-rest/src/main/webapp/WEB-INF/applicationContext-svclayer.xml
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/resources/service-configuration-no-alarmd.xml
Due: trigger-coverage, trigger-build

feat: create daemon-loader-provisiond for standalone container
  core/daemon-loader-provisiond/pom.xml
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/LocalDetectorClient.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/LocalDnsLookupClient.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/LocalSnmpClient.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/NoOpSnmpProfileMapper.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/NoOpTracerRegistry.java
  core/daemon-loader-provisiond/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-provisiond.xml
  core/pom.xml
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

fix: daemon-loader-provisiond deployment integration and quality fixes
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  core/daemon-loader-provisiond/pom.xml
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/LocalDnsLookupClient.java
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/provisiond-overlay/etc/featuresBoot.d/provisiond.boot
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.features.kafka.producer.client.cfg
Due: trigger-coverage, trigger-build

feat: create daemon-loader-bsmd for standalone container
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  core/daemon-loader-bsmd/pom.xml
  core/daemon-loader-bsmd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-bsmd.xml
  core/pom.xml
  opennms-container/delta-v/bsmd-overlay/etc/featuresBoot.d/bsmd.boot
  opennms-container/delta-v/bsmd-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

fix: add EventConfInitializer to daemon-loader-bsmd
  core/daemon-loader-bsmd/src/main/java/org/opennms/core/daemon/loader/EventConfInitializer.java
  core/daemon-loader-bsmd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-bsmd.xml
Due: trigger-coverage, trigger-build

refactor: migrate alarmd from opennms/alarmd to opennms/daemon image
  opennms-container/delta-v/deploy.sh
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

refactor: merge PassiveStatusKeeper into Pollerd daemon-loader
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  core/daemon-loader-passivestatusd/pom.xml
  core/daemon-loader-passivestatusd/src/main/java/org/opennms/core/daemon/loader/DaemonLifecycleManager.java
  core/daemon-loader-passivestatusd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-passivestatusd.xml
  core/daemon-loader-pollerd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-pollerd.xml
  core/pom.xml
  opennms-container/delta-v/README.md
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/passivestatusd-overlay/etc/featuresBoot.d/passivestatusd.boot
  opennms-container/delta-v/passivestatusd-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/passivestatusd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/passivestatusd-overlay/etc/org.opennms.features.kafka.producer.client.cfg
Due: trigger-coverage, trigger-build

fix: PassiveStatusKeeper depends-on cycle and core disable env var
  core/daemon-loader-pollerd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-pollerd.xml
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

feat: eliminate ActiveMQ from Delta-V architecture
  opennms-container/delta-v/core-overlay/etc/opennms-activemq.xml
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

feat: eliminate core container from Delta-V architecture
  opennms-container/delta-v/core-overlay/etc/discovery-configuration.xml
  opennms-container/delta-v/core-overlay/etc/featuresBoot.d/delta-v.boot
  opennms-container/delta-v/core-overlay/etc/opennms.properties.d/delta-v.properties
  opennms-container/delta-v/core-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/core-overlay/etc/org.opennms.features.kafka.producer.client.cfg
  opennms-container/delta-v/deploy.sh
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

docs: e2e integration test design for Delta-V trap-to-alarm pipeline
  docs/plans/2026-03-10-e2e-integration-test-design.md
Due: trigger-coverage, trigger-docs

docs: implementation plan for e2e integration test
  docs/plans/2026-03-10-e2e-integration-test-implementation.md
Due: trigger-coverage, trigger-docs

docs: Delta-V / Strike Fighter project status analysis
  docs/plans/2026-03-10-project-status-analysis.md
Due: trigger-coverage, trigger-docs

feat: add eventtranslator and provisiond to passive profile
  opennms-container/delta-v/deploy.sh
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

feat: add e2e integration test for trap-to-alarm pipeline
  opennms-container/delta-v/test-e2e.sh
Due: trigger-coverage, trigger-build

fix: address code quality issues in test-e2e.sh
  opennms-container/delta-v/test-e2e.sh
Due: trigger-coverage, trigger-build

feat: wire test-e2e command into deploy.sh
  opennms-container/delta-v/deploy.sh
Due: trigger-coverage, trigger-build

general configuration ui
  ui/src/components/TrapConfiguration/GeneralConfiguration.vue
Due: trigger-coverage, trigger-build, trigger-ui

fix: clean up overlays, fix daemon-loader-provisiond classloader issues, update docs
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/InlineProvisiondConfigDao.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/SnmpPeerFactoryInitializer.java
  core/daemon-loader-provisiond/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-provisiond.xml
  opennms-container/delta-v/README.md
  opennms-container/delta-v/bsmd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/bsmd-overlay/etc/org.opennms.features.kafka.producer.client.cfg
  opennms-container/delta-v/build.sh
  opennms-container/delta-v/collectd-overlay/etc/featuresBoot.d/delta-v.boot
  opennms-container/delta-v/collectd-overlay/etc/opennms.properties.d/delta-v.properties
  opennms-container/delta-v/collectd-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/collectd-overlay/etc/org.opennms.features.kafka.producer.client.cfg
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/pollerd-overlay/etc/featuresBoot.d/delta-v.boot
  opennms-container/delta-v/pollerd-overlay/etc/opennms.properties.d/delta-v.properties
  opennms-container/delta-v/pollerd-overlay/etc/org.opennms.core.event.forwarder.kafka.cfg
  opennms-container/delta-v/pollerd-overlay/etc/org.opennms.features.kafka.producer.client.cfg
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/provisiond-overlay/etc/provisiond-configuration.xml
  opennms-container/delta-v/provisiond-overlay/etc/snmp-config.xml
  opennms-provision/opennms-provision-persistence/pom.xml
  opennms-provision/opennms-provisiond/pom.xml
Due: trigger-coverage, trigger-build

docs: design for adding provisiond/bsmd to daemon image
  docs/plans/2026-03-09-phase-a-core-elimination.md
  docs/plans/2026-03-10-provisiond-bsmd-daemon-image-design.md
Due: trigger-coverage, trigger-docs

feat: add provisiond and bsmd features to daemon image assembly
  features/container/sentinel/pom.xml
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

fix: add core.tasks and quartz bundles to provisiond feature
  container/features/src/main/resources/features.xml
Due: trigger-coverage, trigger-build

fix: resolve bsmd OSGi issues (wrap persistence.impl, optional imports)
  container/features/src/main/resources/features.xml
  features/bsm/daemon/pom.xml
Due: trigger-coverage, trigger-build

fix: resolve EventTranslator consumer death and e2e test failures
  core/daemon-loader-bsmd/src/main/java/org/opennms/core/daemon/loader/SpringDaemonLifecycleManager.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/QualifiedEventForwarder.java
  core/daemon-loader-provisiond/src/main/java/org/opennms/core/daemon/loader/SpringDaemonLifecycleManager.java
  core/daemon-loader-provisiond/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-provisiond.xml
  core/event-forwarder-kafka/src/main/java/org/opennms/core/event/forwarder/kafka/KafkaEventSubscriptionService.java
  opennms-config/pom.xml
  opennms-container/delta-v/docker-compose.yml
  opennms-util/pom.xml
Due: trigger-coverage, trigger-build

perf: reduce JVM memory footprint for daemon containers
  opennms-container/delta-v/docker-compose.yml
Due: trigger-coverage, trigger-build

changes
  ui/src/components/TrapConfiguration/GeneralConfiguration.vue
  ui/src/components/TrapConfiguration/SnmpV3UserManagement.vue
Due: trigger-coverage, trigger-build, trigger-ui

Changes
  ui/src/stores/trapConfigStore.ts
Due: trigger-coverage, trigger-build, trigger-ui

fix: resolve event-forwarder-kafka Blueprint startup failure and health check issues
  core/event-forwarder-kafka/src/main/java/org/opennms/core/event/forwarder/kafka/EventConfInitializer.java
  core/event-forwarder-kafka/src/main/resources/OSGI-INF/blueprint/blueprint-event-forwarder-kafka.xml
  opennms-container/delta-v/alarmd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/bsmd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/collectd-daemon-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/discovery-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/docker-compose.yml
  opennms-container/delta-v/enlinkd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/eventtranslator-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/notifd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/pollerd-daemon-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/provisiond-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/rtcd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/scriptd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/syslogd-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/ticketer-overlay/etc/org.opennms.core.health.cfg.cfg
  opennms-container/delta-v/trapd-overlay/etc/org.opennms.core.health.cfg.cfg
Due: trigger-coverage, trigger-build

refactor: remove dead promoteQueueData UEI event definition
  core/schema/src/main/resources/sql/eventconf_events.sql
  core/test-api/services/src/main/resources/minimal-eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-wildcard/eventconf.xml
  opennms-dao-mock/src/main/resources/minimal-eventconf.xml
  opennms-services/src/test/resources/org/opennms/netmgt/mock/eventconf.xml
Due: trigger-coverage, trigger-build

refactor: remove MessageBus JMS implementation module
  container/features/pom.xml
  core/daemon-loader-discovery/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-discovery.xml
  core/daemon-loader-eventtranslator/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-eventtranslator.xml
  core/daemon-loader-rtcd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-rtcd.xml
  core/daemon-loader-syslogd/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-syslogd.xml
  core/daemon-loader-ticketer/src/main/resources/META-INF/opennms/applicationContext-daemon-loader-ticketer.xml
  core/daemon-loader-trapd/pom.xml
  core/messagebus-jms/pom.xml
  core/messagebus-jms/src/main/java/org/opennms/core/messagebus/jms/JmsMessageBus.java
  core/messagebus-jms/src/main/resources/OSGI-INF/blueprint/blueprint-messagebus-jms.xml
  core/messagebus-jms/src/test/java/org/opennms/core/messagebus/jms/JmsMessageBusTest.java
  core/pom.xml
  opennms-container/delta-v/webapp-overlay/system/org/opennms/karaf/opennms/36.0.0-SNAPSHOT/opennms-36.0.0-SNAPSHOT-features.xml
Due: trigger-coverage, trigger-build

refactor: remove orphaned references to deleted daemons
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/vacuumd.adoc
  opennms-base-assembly/src/main/filtered/etc/examples/service-configuration.xml.default
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/main/resources/defaults/service-configuration.xml
  opennms-config-model/src/main/resources/xsds/ackd-configuration.xsd
  opennms-container/core/container-fs/confd/templates/service-configuration.xml.tmpl
  opennms-services/src/main/java/org/opennms/netmgt/passive/jmx/PassiveStatusd.java
  opennms-services/src/main/java/org/opennms/netmgt/passive/jmx/PassiveStatusdMBean.java
  smoke-test/src/main/resources/opennms-overlay/etc/service-configuration.xml
  smoke-test/src/test/resources/service-configuration-no-alarmd.xml
Due: trigger-coverage, trigger-build, trigger-docs

set SINK and RPC Servers
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
Due: trigger-coverage, trigger-build

fix: remove stale LocalMessageBus argument from PerspectivePollerdIT
  features/perspectivepoller/src/test/java/org/opennms/netmgt/perspectivepoller/PerspectivePollerdIT.java
Due: trigger-coverage, trigger-build

fix: remove stale slf4j-jdk14 exclusion from assembly descriptor
  opennms-base-assembly/src/assembly/daemon.xml
Due: trigger-coverage, trigger-build
