Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

Update docs/modules/operation/pages/admin/webui/opsboard/introduction.adoc
  docs/modules/operation/pages/admin/webui/opsboard/introduction.adoc
Due: trigger-docs

NMS-13805: Adding test for invalid IP
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/RequisitionRestServiceIT.java
Due: trigger-build

NMS-13805: Catch null addresses before dereferencing
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/requisition/RequisitionNode.java
Due: trigger-build

custom time controls
  ui/src/components/Resources/TimeControls.vue
  ui/src/components/Resources/utils/LegendFormatter.ts
Due: trigger-build, trigger-ui

NMS-13926: preserve option values in case of an option template update
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/UdpSessionManager.java
Due: trigger-build

NMS-13926: support setting templateTimeout on netflow parsers
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
  features/telemetry/registry/pom.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryServiceRegistryImpl.java
  opennms-util/pom.xml
  opennms-util/src/main/java/org/opennms/core/utils/properties/DurationPropertyEditor.java
Due: trigger-build

Update README.md
  README.md
Due: trigger-build

remove dup class after merge
  features/config/service/api/src/main/java/org/opennms/features/config/exception/ConfigConversionException.java
Due: trigger-build

NMS-13926: Fix Netflow option template handling (#4147)
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/UdpSessionManager.java
  features/telemetry/registry/pom.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryServiceRegistryImpl.java
  opennms-util/pom.xml
  opennms-util/src/main/java/org/opennms/core/utils/properties/DurationPropertyEditor.java
Due: trigger-build

Fixed regression bug with coverage trigger not working... refactored vs last version after some further discussion with Ben.
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

custom html legend
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/GraphDataTable.vue
  ui/src/components/Resources/TimeControls.vue
  ui/src/components/Resources/plugins/HtmlLegendPlugin.ts
  ui/src/components/Resources/utils/LegendFormatter.ts
  ui/tests/resourceGraphs.test.ts
Due: trigger-build, trigger-ui

fix test
  ui/src/components/Resources/utils/LegendFormatter.ts
  ui/tests/resourceGraphs.test.ts
Due: trigger-build, trigger-ui

PE-202: code change due to sync with CM phase1 backend
  features/config/test/src/test/java/org/opennms/features/config/convert/TrapdConfigurationTest.java
  features/config/test/src/test/java/org/opennms/features/config/dao/impl/ConfigStoreDaoImplTest.java
  features/config/test/src/test/java/org/opennms/features/config/dao/impl/XsdModelConverterTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/AbstractCmJaxbConfigDaoTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/util/DiscoveryConfigurationConvertionTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ChangeSchema.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/RegisterSchema.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/UpgradeSchema.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DiscoveryConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/NotifdConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/TrapdConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/WmiPeerFactory.java
Due: trigger-build

NMS-13777: Handle review comments
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfigDao.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/QueryManagerDaoImpl.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/DeviceConfigPersistenceIT.java
Due: trigger-build

PE-202: fix compile error
  features/discovery/src/main/java/org/opennms/netmgt/discovery/Discovery.java
  features/events/traps/src/test/java/org/opennms/netmgt/trapd/TrapdConfigConfigUpdater.java
Due: trigger-build

PE-202: fix features.config.test
  features/config/test/pom.xml
Due: trigger-build

NMS-13707: Added docs for Flow Thresholding
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/setup.adoc
  docs/modules/operation/pages/flows/thresholding.adoc
  docs/modules/reference/pages/telemetryd/protocols/ipfix.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow5.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow9.adoc
  docs/modules/reference/pages/telemetryd/protocols/sflow.adoc
  opennms-base-assembly/src/main/filtered/etc/telemetryd-configuration.xml
Due: trigger-build, trigger-docs

Added required explicit parameters for empty_check/action per call to trigger-path-filtering.
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

Missing required type.
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

Reverting to original method to exclude empty trigger config when coverage enabled.
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13713: Make persistence optional
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-build

NMS-13777: Handle review comments
  opennms-services/src/test/java/org/opennms/netmgt/poller/DeviceConfigPersistenceIT.java
Due: trigger-build

PE-202: add back merge missing logic
  features/config/dao/impl/src/main/java/org/opennms/features/config/dao/impl/util/XsdHelper.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ChangeSchema.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/RegisterSchema.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/UpgradeSchema.java
  features/config/upgrade/src/main/resources/changelog-cm/30.0.0/changelog-cm.xml
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
  features/enlinkd/adapters/common/src/main/java/org/opennms/netmgt/enlinkd/common/Discovery.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfigFactory.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfigManager.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
  opennms-config/src/main/java/org/opennms/netmgt/config/WmiPeerFactory.java
Due: trigger-build

respect user defined legend linebreaks
  ui/src/components/Resources/plugins/HtmlLegendPlugin.ts
  ui/src/components/Resources/utils/LegendFormatter.ts
Due: trigger-build, trigger-ui

NMS-13926: Fix Netflow option template handling (#4147) (#4158)
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  features/minion/repository/pom.xml
  features/sentinel/repository/pom.xml
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/UdpSessionManager.java
  features/telemetry/registry/pom.xml
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryServiceRegistryImpl.java
  opennms-util/pom.xml
  opennms-util/src/main/java/org/opennms/core/utils/properties/DurationPropertyEditor.java
Due: trigger-build

Update docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/data-collection.adoc
Due: trigger-docs

Apply suggestions from code review
  docs/modules/operation/pages/flows/data-collection.adoc
  docs/modules/operation/pages/flows/thresholding.adoc
  docs/modules/reference/pages/telemetryd/protocols/ipfix.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow5.adoc
  docs/modules/reference/pages/telemetryd/protocols/netflow9.adoc
  docs/modules/reference/pages/telemetryd/protocols/sflow.adoc
Due: trigger-docs

NMS-13707: More changes
  docs/modules/operation/pages/flows/thresholding.adoc
  docs/modules/reference/pages/telemetryd/protocols/ipfix.adoc
Due: trigger-docs

PE-202: make sure ui sync with develop
  opennms-config/pom.xml
  ui/devConfig.ts
  ui/src/Validators/CustomValidators.ts
  ui/src/assets/LightDark.svg
  ui/src/assets/LightDark.vue
  ui/src/components/Common/Button.vue
  ui/src/components/Common/DataTable.vue
  ui/src/components/Common/Demo/DataTableDemo.vue
  ui/src/components/Common/Demo/Demo.vue
  ui/src/components/Common/Demo/EditNode.vue
  ui/src/components/Common/Demo/MockupData/advancedDropdown.json
  ui/src/components/Common/Demo/MockupData/nodeData.json
  ui/src/components/Common/Demo/MockupData/schedulePeriod.json
  ui/src/components/Common/Demo/MockupData/tableMock.json
  ui/src/components/Common/Demo/MockupData/types.json
  ui/src/components/Common/Demo/apiInterceptor.ts
  ui/src/components/Common/DropDown.vue
  ui/src/components/Common/FieldSet.vue
  ui/src/components/Common/InputNumber.vue
  ui/src/components/Common/InputText.vue
  ui/src/components/Common/RadioButton.vue
  ui/src/components/Common/RadioButtonFieldSet.vue
  ui/src/components/Common/TimePicker.vue
  ui/src/components/Common/ValidationMessage.vue
  ui/src/components/Common/common.scss
  ui/src/components/Configuration/ProvisionDConfig.vue
  ui/src/components/Configuration/ReqDefinitionForm.vue
  ui/src/components/Configuration/ReqDefinitionFormModel.ts
  ui/src/components/Configuration/RequisitionDefinitionsLayout.vue
  ui/src/components/Configuration/ThreadPoolForm.vue
  ui/src/components/Configuration/ThreadpoolModel.ts
  ui/src/components/Configuration/formState/index.ts
  ui/src/components/Layout/Link.vue
  ui/src/components/Layout/Sidebar.vue
  ui/src/components/Nodes/Pagination.vue
  ui/src/services/configurationService.ts
  ui/src/store/configuration/actions.ts
  ui/src/store/configuration/index.ts
  ui/src/store/configuration/mutations.ts
  ui/src/store/configuration/state.ts
Due: trigger-build, trigger-ui

give more time for this to pass
  smoke-test/src/test/java/org/opennms/smoketest/rest/ReportRestIT.java
Due: trigger-build

erp, typo
  smoke-test/src/test/java/org/opennms/smoketest/rest/ReportRestIT.java
Due: trigger-build

PE-202: fix tests
  core/test-api/xml/pom.xml
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfiguration.java
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
  integrations/opennms-vmware/src/main/resources/META-INF/opennms/component-dao.xml
Due: trigger-build

PE-202: fix "Configure Provisioning Requisitions" in AdminPageIT
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
Due: trigger-build

PE-202: minior clean up
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ProvisiondCmJaxbConfigTestDao.java
Due: trigger-build

NMS-13797: Address review comments
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-build

CLOUD-1698: Feature Profile: Hide kafka bootstrap, Karaf, AWS, grpc, Web (#3971)
  opennms-container/minion/minion-config-schema.yml.in
Due: trigger-build

fix stack, search input
  ui/package.json
  ui/src/components/Resources/Graph.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/components/Resources/utils/Consolidator.ts
  ui/yarn.lock
Due: trigger-build, trigger-ui
