Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

tweak how variables work
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the logo.gif https://issues.opennms.org/browse/NMS-14058
  opennms-base-assembly/src/main/resources/etc/reports/logo.gif
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-7784: added so tests for review
  core/schema/src/main/liquibase/30.0.4/changelog.xml
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/NodeDiscoveryOspf.java
  features/enlinkd/adapters/collectors/ospf/src/main/java/org/opennms/netmgt/enlinkd/snmp/OspfAreaTableTracker.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/ImportAsExternUserType.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfArea.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfAreaTopologyEntity.java
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/persistence/api/OspfAreaDao.java
  features/enlinkd/persistence/impl/src/main/java/org/opennms/netmgt/enlinkd/persistence/impl/OspfAreaDaoHibernate.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/OspfTopologyServiceImpl.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdBuilderITCase.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms10205bEnIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14754: added changes so metadata-test command shows in karaf shell (#5415)
  container/features/src/main/resources/features.xml
  core/mate/shell-commands/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Apply suggestions from code review
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

undo changes
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

change how we tag images
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14839: Move update to an OnmsUpgrade
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/SystemIDMigratorOffline.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Tweak how we tag docker images
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

new approach for docker tagging
  .circleci/config.yml
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/build_container_image.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14678: Enhanced Linkd supports Network-Routers Map
  features/enlinkd/adapters/updaters/nodes/src/main/java/org/opennms/netmgt/enlinkd/NetworkRouterTopologyUpdater.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/NodeTopologyService.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/SubNetwork.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/Topology.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/NodeTopologyServiceImpl.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms0001EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms17216EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms7918EnIT.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/NodeTopologyServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

updating menubar further to line up 1:1 with vue vs normal js versions
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-14900: Ensure dispatcher servlet resource works
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MenuRestService.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14900: Add breadcrumbs to all new UI pages
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MainMenu.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/menu/MenuProvider.java
  ui/src/components/FileEditor/ConfirmDialog.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Resources/Graphs.vue
  ui/src/components/Resources/Resources.vue
  ui/src/containers/DeviceConfigBackup.vue
  ui/src/containers/FileEditor.vue
  ui/src/containers/Logs.vue
  ui/src/containers/NodeDetails.vue
  ui/src/containers/OpenAPI.vue
  ui/src/containers/ProvisionDConfig.vue
  ui/src/containers/SecureCredentialsVault.vue
  ui/src/store/menu/actions.ts
  ui/src/types/index.ts
  ui/src/types/mainMenu.d.ts
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-13493: added some openapi documentation for ipinterfaces
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IpInterfaceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/api/IpInterfaceRestApi.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14844: Documentation for Appliance Cloud Connect
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-14913: Enlink daemon doc restructure (#5416)
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update the logo.gif add transparent background https://issues.opennms.org/browse/NMS-14058
  opennms-base-assembly/src/main/resources/etc/reports/logo.gif
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

update the logo.gif - increase quality https://issues.opennms.org/browse/NMS-14058
  opennms-base-assembly/src/main/resources/etc/reports/logo.gif
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

jira/NMS-14818: log4j version bump
  core/ipc/grpc/itests/pom.xml
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

further adjusting menu. As close as can be without spending a full day on pixels
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-10469 Provisiond import errors don't appear as event reason
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/operations/RequisitionImport.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix(oci): Remove deprecated apt-key method in container build
  opennms-container/horizon/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

docs: Describe how to create a OpenNMS keyring for the Debian repository
  docs/modules/deployment/pages/core/debian/install-core.adoc
  docs/modules/deployment/pages/core/ubuntu/install-core.adoc
  docs/modules/deployment/pages/minion/debian/install-minion.adoc
  docs/modules/deployment/pages/minion/ubuntu/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/ubuntu/install-sentinel.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

styling breadcrumbs.
  ui/src/components/Layout/BreadCrumbs.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

NMS-7784: fixed persistance issue
  features/enlinkd/persistence/api/src/main/java/org/opennms/netmgt/enlinkd/model/OspfArea.java
  features/enlinkd/service/impl/src/main/java/org/opennms/netmgt/enlinkd/service/impl/OspfTopologyServiceImpl.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

list existing images
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/build_container_image.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update header dates
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/SystemIDMigratorOffline.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Revert "NMS-10469 Provisiond import errors don't appear as event reason"
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/operations/RequisitionImport.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

jira/NMS-14548 Changes requested by fooker on test case
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MonitoringLocationRestServiceIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14678: Enhanced Linkd supports Network-Routers Map
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/ProtocolSupported.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyFactory.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-LinkdTopologyProviderTestIT.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

adding double shift keyboard functionality to vue side of the project. Also performed a linting action in MenuBar.vue
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

removing console logs and adding comment
  ui/src/components/Layout/Menubar.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

remove all images before building horizon image
  .circleci/config.yml
  opennms-container/horizon/build_container_image.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

clean up
  .circleci/config.yml
  opennms-container/horizon/build_container_image.sh
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14853: Reset flags before scans are run
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/NodeScan.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14853: Add unit test
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
  opennms-provision/opennms-provisiond/src/test/resources/single_node.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-14653: Add 'I' option to poll flag
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/DefaultPollContext.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-webapp/src/main/java/org/opennms/web/element/ElementUtil.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
