Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-build: (any of: ((?!docs/).)*) or (any of: .circleci/.*)
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

NMS-14216: Trying to fix intergration tests
  core/ipc/rpc/utils/pom.xml
  core/ipc/rpc/utils/src/main/resources/META-INF/opennms/applicationContext-rpc-utils.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

store the images folders instead of just the oci file
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

NMS-14216: Working on tests
  .gitignore
  container/features/src/main/resources/features.xml
  core/db/pom.xml
  core/ipc/rpc/utils/pom.xml
  core/mate/api/pom.xml
  core/mate/model/pom.xml
  core/mate/model/src/main/java/org/opennms/core/mate/model/EntityScopeProviderImpl.java
  core/mate/model/src/main/resources/META-INF/opennms/applicationContext-entity-scope-provider.xml
  core/mate/model/src/main/resources/META-INF/opennms/component-dao.xml
  core/mate/model/src/test/java/org/opennms/core/mate/model/EntityScopeProviderIT.java
  core/mate/pom.xml
  core/mate/shell-commands/pom.xml
  features/collection/thresholding/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/search/providers/pom.xml
  features/timeseries/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/timeseries/src/test/resources/META-INF/opennms/applicationContext-timeseries-test.xml
  opennms-services/pom.xml
  pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

test conditions #tests-flak
  .circleci/main/@main.yml
  .circleci/pyscripts/library/libgit.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

clean up extra characters
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

expand the parameters #tests-flak
  .circleci/main/parameters.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

create a new workflow
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

spacing #tests-flak
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

add additional steps to build-deploy-flaky #tests-flak
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

add integration-test #tests-flak
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

disable filter for smoke-test-flaky
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

remove the extra comments #tests-flak
  .circleci/main/@main.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Update glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

create modify how we import oci files for smoke test
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

update the load Sentinel OCI image location
  .circleci/config.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

extract workflows into their own files
  .circleci/main/@main.yml
  .circleci/main/workflows/build_deploy.yml
  .circleci/main/workflows/build_deploy_flaky.yml
  .circleci/main/workflows/build_minimal.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Add new terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

rename yml file
  .circleci/main/@main.yml
  .circleci/main/workflows/build_deployFlaky.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Add a debug check to ensure tokens are same size
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

change workflows name
  .circleci/main/workflows/build_deployFlaky.yml
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

code cleanup
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

add debugging to token processing
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

fix debug statements
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

additional changes to token
  .circleci/pyscripts/generate_mainyml.py
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs, trigger-ui

Disable backup for single selected config w/o service name
  ui/src/components/Device/DCBTable.vue
  ui/tests/deviceConfigBackup.test.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

Apply suggestions from code review
  docs/modules/reference/pages/glossary.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-docs

NMS-14344 Add helpers and decouple powergrid code specifics
  ui/src/components/Topology/TopologyRightDrawer.vue
  ui/src/components/Topology/topology.helpers.ts
  ui/src/store/topology/actions.ts
  ui/src/store/topology/getters.ts
  ui/src/store/topology/mutations.ts
  ui/src/store/topology/state.ts
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-ui

NMS-14216: Added docs and fixed Installer
  docs/modules/deployment/pages/core/getting-started.adoc
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build, trigger-docs

NMS-10634: change description of nodeCategoryMembershipChanged
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14216: Review changes
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/DatabaseChecker.java
  core/db-install/src/main/java/org/opennms/core/db/install/SimpleDataSource.java
  core/db/src/main/java/org/opennms/core/db/C3P0ConnectionFactory.java
  core/db/src/main/java/org/opennms/core/db/HikariCPConnectionFactory.java
  core/db/src/main/java/org/opennms/core/db/XADataSourceFactory.java
  core/db/src/main/java/org/opennms/netmgt/config/opennmsDataSources/JdbcDataSource.java
  core/db/src/test/java/org/opennms/core/db/PasswordEncryptionTest.java
  core/mate/api/src/test/java/org/opennms/core/mate/api/MetaDataUtilsTest.java
  core/mate/model/src/main/java/org/opennms/core/mate/model/EntityScopeProviderImpl.java
  core/mate/model/src/test/java/org/opennms/core/mate/model/EntityScopeProviderIT.java
  features/newts-repository-converter/src/main/java/org/opennms/features/newts/converter/SimpleDataSource.java
  features/reporting/jasper-reports/src/main/java/org/opennms/reporting/jasperreports/compiler/ReportCompiler.java
  opennms-install/src/main/java/org/opennms/install/Installer.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix review issues 2
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix review issues 3
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/NumericAttributeType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - remove accidental changes
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/samplewrite/TimeseriesPersister.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/DoubleAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/ErrorAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/OpaqueTypeAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/StringWithNumberCheckAdapter.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/opaqueadapter/UnsupportedAdapter.java
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/NumericAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/OpaqueAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
  opennms-config-jaxb/src/main/resources/xsds/datacollection-config.xsd
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - bugfix
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpAttribute.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

NMS-14018 Opaque data type - fix test
  core/snmp/impl-snmp4j/src/test/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExtTest.java
Due: trigger-coverage, trigger-coverage=false, trigger-build

Update core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueValueType.java
Due: trigger-coverage, trigger-coverage=false, trigger-build
