Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-ui, trigger-flaky-smoke

Path conditions:
  trigger-coverage: any of: .*
  trigger-coverage=false: any of: .*
  trigger-flaky-smoke=false: any of: .*
  trigger-build: (((any of: ((?!docs/).)*) or (any of: .circleci/.*)) or (any of: ((?!docs/).)*)) or (any of: .circleci/.*)
  trigger-docs: (((((any of: docs/.*) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)) or (any of: docs/.*)) or (any of: .circleci/main/jobs/build/build-docs.yml)) or (any of: antora-playbook-local.yml)
  trigger-ui: (((any of: ui/.*) or (any of: .circleci/main/jobs/build/build-ui.yml)) or (any of: ui/.*)) or (any of: .circleci/main/jobs/build/build-ui.yml)
  trigger-flaky-smoke: any of: .*

NMS-16592 Added plugin in poms and also added check in ServletRequestHandler
  container/bridge/proxy/src/main/java/org/opennms/container/web/bridge/proxy/handlers/ServletRequestHandler.java
  features/topology-map/org.opennms.features.topology.app/pom.xml
  features/vaadin-components/widgetset/pom.xml
  features/vaadin-dashboard/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16997: Fix system report merge issue
  smoke-test/src/test/java/org/opennms/smoketest/SystemReportPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16418: Update Newts docs
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16997: Fix system report merge issue (#7583)
  smoke-test/src/test/java/org/opennms/smoketest/SystemReportPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Missed a section
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16991: Add grpc exporter that sends monitored service status (#7568)
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/grpc-exporter/grpc-exporter.adoc
  features/grpc/exporter/pom.xml
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/Callback.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/GrpcExporterClient.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/InventoryService.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/NamedThreadFactory.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/StateService.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/commands/InventorySnapshot.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/commands/State.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/common/MonitoredServiceWithMetadata.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/events/EventConstants.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/events/InventoryEventHandler.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/events/StateEventHandler.java
  features/grpc/exporter/src/main/java/org/opennms/features/grpc/exporter/mapper/MonitoredServiceMapper.java
  features/grpc/exporter/src/main/proto/monitored-services.proto
  features/grpc/exporter/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/grpc/pom.xml
  features/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16418: formatting?
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

Update grpc-exporter version
  features/grpc/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update the pom file for grpc-exporter
  features/grpc/exporter/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16940: minor docs updates
  docs/modules/deployment/pages/minion/message-broker/kafka.adoc
  docs/modules/deployment/pages/minion/system-requirements.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

update grpc-exporter version
  features/grpc/exporter/pom.xml
  features/grpc/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16418: Update NewTS docs (#7585)
  docs/modules/deployment/pages/time-series-storage/newts/newts.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16986 : Added missing items as required in ticket.
  features/system-report/src/main/java/org/opennms/systemreport/opennms/OpenNMSReportPlugin.java
  features/system-report/src/main/java/org/opennms/systemreport/system/OSReportPlugin.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16943: Try to limit file watcher to Spring/Karaf
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

33.1.2 release notes
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

NMS-16943: Use file watcher only on Spring/Karaf
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16940: minor docs updates (#7586)
  docs/modules/deployment/pages/minion/message-broker/kafka.adoc
  docs/modules/deployment/pages/minion/system-requirements.adoc
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-docs, trigger-flaky-smoke

NMS-16987, added csv logger to keep login logs
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/CsvLogger.java
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/OpenNMSAuthSuccessHandler.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16987, updated related test to fix build failure
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16986 : Updated related test to fix build issues.
  features/system-report/src/test/java/org/opennms/systemreport/system/SystemReportPluginIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

fix: Bump Karaf version in smoke tests to the same version as in the project
  smoke-test/pom.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: Add support for PostgreSQL 16,17
  .cicd-assets/postgres/compose.yaml
  Makefile
  debian/control
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: Publish Core, Minion and Sentinel Debian packages to Cloudsmith
  .github/workflows/opennms-build.yml
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: Move to a community driven map tile server
  docs/modules/operation/pages/deep-dive/geographical-map/introduction.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-docs, trigger-flaky-smoke

chg: Disable SNMP pased simple detector tests
  .cicd-assets/_skipTests.txt
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Use own Trivy java db and disable the scanner for now
  .github/workflows/opennms-build.yml
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: Simplify the container build from tarball
  .github/workflows/opennms-build.yml
  Makefile
  opennms-container/Makefile
  opennms-container/README.md
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/core/Makefile
  opennms-container/core/container-fs/confd/conf.d/mattermost.properties.toml
  opennms-container/core/container-fs/confd/conf.d/newts.properties.toml
  opennms-container/core/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/core/container-fs/confd/conf.d/org.apache.karaf.shell.cfg.toml
  opennms-container/core/container-fs/confd/conf.d/slack.properties.toml
  opennms-container/core/container-fs/confd/conf.d/timeseries.properties.toml
  opennms-container/core/container-fs/confd/conf.d/trapd-configuration.xml.toml
  opennms-container/core/container-fs/confd/templates/org.apache.karaf.shell.cfg.tpl
  opennms-container/core/container-fs/entrypoint.sh
  opennms-container/core/plugins.sh
  opennms-container/core/plugins/.gitkeep
  opennms-container/core/rpms/.gitkeep
  opennms-container/minion/Dockerfile
  opennms-container/minion/Makefile
  opennms-container/minion/container-fs/entrypoint.sh
  opennms-container/minion/plugins.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/Makefile
  opennms-container/sentinel/container-fs/entrypoint.sh
  opennms-container/sentinel/plugins.sh
  opennms-container/sentinel/plugins/.gitkeep
  opennms-container/sentinel/rpms/.gitkeep
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/test/java/org/opennms/smoketest/ChooseResourcesPageIT.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Change copyright in the webapp #25
  LICENSE.md
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-webapp/src/main/webapp/about/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AboutPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/FooterIT.java
  ui/src/components/Layout/Footer.vue
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-ui, trigger-flaky-smoke

chore: Formatting template so can make changes
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

feat: Add quick-build short cut and add 32GB RAM build for Sentinel e2e tests
  .github/workflows/opennms-build.yml
  Makefile
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

chore: Update copyright year
  LICENSE.md
  core/web-assets/src/main/assets/style/opennms-theme.scss
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

Update to latest base image
  opennms-container/common.mk
  opennms-container/core/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
  smoke-test/src/main/java/org/opennms/smoketest/containers/MockCloudContainer.java
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke

NMS-16943: Fix sync issue between OpenNMS and scvcli
  container/features/src/main/resources/features-core.xml
  core/lib/src/main/java/org/opennms/core/fileutils/FileUpdateWatcher.java
  features/scv/api/src/main/java/org/opennms/features/scv/api/SecureCredentialsVault.java
  features/scv/jceks-impl/pom.xml
  features/scv/jceks-impl/src/main/java/org/opennms/features/scv/jceks/JCEKSSecureCredentialsVault.java
  features/scv/jceks-impl/src/main/resources/META-INF/opennms/applicationContext-jceks-scv.xml
  features/scv/jceks-impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-coverage, trigger-coverage=false, trigger-flaky-smoke=false, trigger-build, trigger-flaky-smoke
