Repository OpenNMS/opennms: changes, and which CircleCI parameters are due for each by the changed paths.
All: trigger-build, trigger-docs, trigger-ui

Path conditions:
  trigger-build: any of: ((?!docs/).)*
  trigger-docs: (any of: docs/.*) or (any of: .circleci/.*)
  trigger-ui: (any of: ui/.*) or (any of: .circleci/.*)

define opennms-deviceconfig-rest feature
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  features/device-config/rest/impl/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/minion/repository/pom.xml
  opennms-full-assembly/pom.xml
Due: trigger-build

add application-path to service configuration; add / to @Path
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Due: trigger-build

still not there
  container/features/src/main/resources/features.xml
  features/device-config/rest/api/pom.xml
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
Due: trigger-build

add more dependencies to bundle; still not bound to http!
  container/features/src/main/resources/features.xml
Due: trigger-build

still not there
  features/device-config/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/rest/api/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDto.java
  features/device-config/rest/impl/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
Due: trigger-build

review - may not finished
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  features/device-config/rest/api/pom.xml
  features/device-config/rest/impl/pom.xml
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDto.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  features/minion/repository/pom.xml
Due: trigger-build

finally it works - thanks Jesse
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
Due: trigger-build

fix dependency
  container/features/src/main/resources/features.xml
Due: trigger-build

fix dependency
  container/features/pom.xml
Due: trigger-build

review
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

next try
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

there is no applicationContext-commonConfigs.xml
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

NMS-13914: Add rest endpoint for device config retrieval (#4155)
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  features/device-config/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/pom.xml
  features/device-config/rest/pom.xml
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigDTO.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/api/DeviceConfigRestService.java
  features/device-config/rest/src/main/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestService.java
  features/device-config/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
  opennms-full-assembly/pom.xml
Due: trigger-build

NMS-13797: Add Device Config Monitor (#4139)
  features/device-config/monitor/pom.xml
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/monitor/src/main/resources/META-INF/services/org.opennms.netmgt.poller.ServiceMonitor
  features/device-config/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorIT.java
  features/device-config/pom.xml
  features/device-config/ssh-scripting/src/main/resources/META-INF/opennms/component-dao.xml
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/TftpServer.java
  features/device-config/tftp/src/main/java/org/opennms/features/deviceconfig/tftp/impl/TftpServerImpl.java
  features/device-config/tftp/src/main/resources/META-INF/opennms/component-dao.xml
Due: trigger-build

update pckgs, fix build, fix color/typography importing
  ui/package.json
  ui/src/App.vue
  ui/src/assets/Logo.vue
  ui/src/components/Common/Notification.vue
  ui/src/components/Common/Pagination.vue
  ui/src/components/FileEditor/ConfimDialog.vue
  ui/src/components/FileEditor/Console.vue
  ui/src/components/FileEditor/Editor.vue
  ui/src/components/FileEditor/FileSidebar.vue
  ui/src/components/FileEditor/FileTreeItem.vue
  ui/src/components/FileEditor/Help.vue
  ui/src/components/Layout/BreadCrumbs.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/components/Layout/Search.vue
  ui/src/components/Logs/Editor.vue
  ui/src/components/Logs/Logs.vue
  ui/src/components/Map/GridTabs.vue
  ui/src/components/Map/LeafletMap.vue
  ui/src/components/Map/MapAlarmsGrid.vue
  ui/src/components/Map/MapNodesGrid.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/components/Nodes/EventsTable.vue
  ui/src/components/Nodes/IpInterfacesTable.vue
  ui/src/components/Nodes/NodesTable.vue
  ui/src/components/Nodes/OutagesTable.vue
  ui/src/components/Nodes/SnmpInterfacesTable.vue
  ui/src/containers/FileEditor.vue
  ui/src/containers/Logs.vue
  ui/src/containers/Map.vue
  ui/vite.config.ts
  ui/yarn.lock
Due: trigger-build, trigger-ui

update build-env and JDK docker images
  .circleci/config.yml
  opennms-container/horizon/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-build, trigger-docs, trigger-ui

latest antora 2.3.4
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

supporting the new information from jeff. properly supports dns,vmware, and file requisition types.
  ui/src/components/Common/Demo/MockupData/types.json
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationGeneratedUrl.vue
  ui/src/components/Configuration/ConfigurationService.ts
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Configuration/configuration.types.d.ts
  ui/src/components/Configuration/copy/advancedKeys.ts
  ui/src/components/Configuration/copy/requisitionTypes.ts
  ui/src/components/Configuration/hooks/provisionD.ts
Due: trigger-build, trigger-ui

update temurin deps for debian, use newer jdk images
  .circleci/config.yml
  debian/control
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
  opennms-container/horizon/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/sentinel/Dockerfile
Due: trigger-build, trigger-docs, trigger-ui

NMS-13950: Update RestIT
  features/device-config/rest/src/test/java/org/opennms/features/deviceconfig/rest/impl/DefaultDeviceConfigRestServiceIT.java
Due: trigger-build

allow 11 at runtime too
  debian/control
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
Due: trigger-build

helps to use the right version :/
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13950: Make ConfigType as Enum
  features/device-config/monitor-adaptor/src/main/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigMonitorAdaptor.java
  features/device-config/monitor-adaptor/src/test/java/org/opennms/features/deviceconfig/monitor/adaptor/DeviceConfigIT.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/ConfigType.java
  features/device-config/persistence/api/src/main/java/org/opennms/features/deviceconfig/persistence/api/DeviceConfig.java
  features/device-config/persistence/impl/src/main/java/org/opennms/features/deviceconfig/persistence/impl/DeviceConfigDaoImpl.java
  features/device-config/persistence/impl/src/test/java/org/opennms/features/deviceconfig/persistence/DeviceConfigDaoIT.java
Due: trigger-build

it's 'powertools' on centos stream :|
  opennms-container/horizon/Dockerfile
Due: trigger-build

NMS-13928 remove docker inactive images
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r1
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r2
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r3
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r4
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r5
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r6
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r7
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r8
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

NMS-13928 remove docker inactive images r9
  .circleci/config.yml
Due: trigger-build, trigger-docs, trigger-ui

PE-174: Support multiple instances of the same service in OSGI:fix test
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/EventHandlerManager.java
Due: trigger-build

PE-174: Support multiple instances of the same service in OSGI: fix tests
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/SubstringTest.java
Due: trigger-build

PE-174: Support multiple instances of the same service in OSGI: fix pr comments
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CallbackManager.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ConfigFileUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/Substring.java
  features/config/upgrade/src/test/java/liquibase/ext2/cm/change/SubstringTest.java
Due: trigger-build

PE-174: Support multiple instances of the same service in OSGI: fix spaces
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/MigratedServices.java
Due: trigger-build

PE-174: Support multiple instances of the same service in OSGI
  features/config/mock/src/main/java/org/opennms/netmgt/dao/mock/ConfigurationManagerServiceMock.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/Activator.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CallbackManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmIdentifierUtil.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/CmPersistenceManager.java
  features/config/osgi/cm/src/main/java/org/opennms/features/config/osgi/cm/DictionaryUtil.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/CmIdentifierUtilTest.java
  features/config/osgi/cm/src/test/java/org/opennms/features/config/osgi/cm/DictionaryUtilTest.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/CmPersistenceManagerDelegator.java
  features/config/osgi/del/src/main/java/org/opennms/features/config/osgi/del/MigratedServices.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/ConfigurationManagerService.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/api/EventType.java
  features/config/service/api/src/main/java/org/opennms/features/config/service/util/CmProperties.java
  features/config/service/impl/pom.xml
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/AbstractCmJaxbConfigDao.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImpl.java
  features/config/service/impl/src/main/java/org/opennms/features/config/service/impl/EventHandlerManager.java
  features/config/service/impl/src/test/java/org/opennms/features/config/service/impl/EventHandlerManagerTest.java
  features/config/test/src/test/java/org/opennms/features/config/service/impl/ConfigurationManagerServiceImplTest.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ConfigFileUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurationUtil.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/ImportConfigurations.java
  features/config/upgrade/src/main/java/liquibase/ext2/cm/change/Substring.java
  features/config/upgrade/src/main/java/org/opennms/config/upgrade/LiquibaseUpgrader.java
  features/config/upgrade/src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd
  features/config/upgrade/src/test/java/org/opennms/config/upgrade/LiquibaseUpgraderIT.java
  features/config/upgrade/src/test/resources/org/opennms/config/upgrade/LiquibaseUpgraderIT-changelog.xml
  features/graphml/service/pom.xml
Due: trigger-build

NMS-13945: Use current string attrs for threshold filters
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/CollectionResourceWrapper.java
  features/collection/thresholding/impl/src/main/java/org/opennms/netmgt/threshd/ThresholdingVisitorImpl.java
Due: trigger-build
